<% if @taxones.present? && @taxones.length > 0 %>
    <% if @despliega_o_contrae %>
        <ul>
          <% @taxones.each do |taxon| %>
              <%= hojasDelArbol(taxon, :arbol_inicial => 1).html_safe %>
          <% end %>
        </ul>
    <% else %>
        <% if @arbol_inicial %>
            <ul class="nodo_mayor">
              <% @taxones.each do |taxon| %>
                  <ul>
                    <%= hojasDelArbol(taxon, :arbol_inicial => 1).html_safe %>
                  </ul>
              <% end %>
            </ul>
        <% else %>
            <ul class="nodo_mayor">

              <% @taxones.each_with_index do |taxon, index| %>
                  <%= '<ul>'.html_safe if index != 0 %>
                  <%= hojasDelArbol(taxon, :arbol_inicial => 0).html_safe %>
              <% end %>

              <% @taxones.length.times do %>
                  <%= '</li></ul>'.html_safe %>
              <% end %>
            </ul>

        <% end %>
    <% end %>
<% end %>