<%
  # Si existen registros
  if @registros_fichas_janium != '0'
%>
  <div class="container">

    <%
      # En el caso en el que existan más más páginas con registros
      if @registros_fichas_janium.to_i > @registros_x_pagina_janium.to_i
        # Calcular las páginas paa mostrar resultados
        t_paginas = @registros_fichas_janium / @registros_x_pagina_janium.round
    %>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <% for pagina in (1..t_paginas) %>
              <li class="page-item" id="button-janium_records-<%= pagina %>"><a class="page-link" onclick="biotecaLoadPage('<%= pagina %>')"><%= pagina %></a></li>
            <% end %>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

      <% for pagina in (2..t_paginas) %>
        <div id="janium_records-page-<%= pagina %>" class="row janium_records janium_records-not-show">
          <h1>HOLA <%= pagina %></h1>
        </div>
      <% end %>

    <%
      end
    %>

    <!-- Div qu contendrá todos los articulos que devuolverá el servicio Janium -->
    <div id="janium_records-page-1" class="row janium_records">
        <h4 class="text-primary text-right"><%= @registros_fichas_janium %> resultado(s) encontrados</h4>
        <%
          @registros_janium.count.times do |num|
        %>

        <!-- Div por cada articulo -->
        <div id="record_id_<%= @registros_janium[num].xpath("//ficha").text %>" class="col-sm-12 col-md-12 record">

          <div class="record-header">
            <div class="row">
              <div class="col-md-6">
                <%
                  clasificaciones = @registros_janium[num].xpath("//clasificaciones/clasificacion")
                  # Siempre hay clasificaciones, considerando que siempre existirá la etiqueta: </clasificaciones> (si, aun que esté vacía)
                  if clasificaciones[0].text != ""
                %>
                  <h5>
                    <% clasificaciones.each do |clasificacion| %>
                      <i class='glyphicon glyphicon-pushpin'> </i> <%= clasificacion.text %></li>
                    <% end %>
                  </h5>
                <% end %>
              </div>
              <div class="col-md-6 text-right">
                <h5><i class='glyphicon glyphicon-calendar'></i> <%= @registros_janium[num].xpath("//fecha").text %></h5>
              </div>
            </div>
          </div>

          <div class="record-info">
            <div class="row">
              <div class="col-md-3 text-center portada">
                <img src="<%= @registros_janium[num].xpath("//portada/url").text %>" alt="">
                <br><br> <a href="<%= @registros_janium[num].xpath("//portada/url_asociada").text %>" target="blank"><i class='glyphicon glyphicon-eye-open'></i> Ver en línea</a>
              </div>
              <div class="col-md-9 titulo">
                <h4 class="text-justify"><%= @registros_janium[num].xpath("//titulo").text %></h4>
                <br>
                <div class="autores text-left text-secondary">
                  <%
                    autores = @registros_janium[num].xpath("//autores/autor")

                    # Siempre hay autores, considerando que siempre existirá la etiqueta: </autor> (si, aun que esté vacía)
                    if autores[0].text != ""
                  %>
                    <h5 class="autor">Autores:</h5>
                    <ul>
                      <%
                        autores.each do |autor|
                      %>
                        <li><%= autor.text %></li>
                      <%  end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- Invocación al servicio Janium para recatar más información -->
          <div class="record-more-info" id="detalle_<%= @registros_janium[num].xpath("//ficha").text %>"></div>
          <div class="record-footer">
            <div class="row">
              <div class="col-sm-6 text-left">
              </div>
              <div class="col-sm-6 text-right">
                <a type="button" id="ficha_<%= @registros_janium[num].xpath("//ficha").text %>" class="btn btn-outline-secondary"><i class='glyphicon glyphicon-plus-sign'></i> Ver más detalles</a>
              </div>
            </div>
          </div>
        </div>
      <%
        end
      %>
    </div>
  </div>
<%
  else
%>
  <h4> Hubo un error, intentalo más tarde </h4>
<%
  end
%>


<%= javascript_include_tag 'especies/fichas/fichas_extra', 'data-turbolinks-track' => true %>