<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    $(window).ready(function(){
        <% if !@especie.is_root? && !@especie.new_record? %>
        muestraArbol($.parseHTML("<%= "#{@especie.id}" %>")[0].textContent);
        <% elsif params[:parent_id].present? && @especie.new_record? %>
        muestraArbol($.parseHTML("<%= "#{params[:parent_id]}" %>")[0].textContent);
        <% end %>
    });
</script>

<%= form_for(@especie) do |f| %>
    <% if @especie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@especie.errors.count, 'error') %> La especie no pudo ser guardada o actualizada:</h2>

          <ul>
            <% @especie.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table width="1000" class="tabla_formato"><tr>
      <td valign="top">
        <table><tr>
          <td valign="top">
            <%= f.hidden_field :parent_id %>

            <fieldset>
              <legend class="leyenda">Datos Básicos</legend>
              <div class="field">
                <%= f.label :nombre, 'Nombre científico' %><br>
                <%= f.text_field :nombre, :maxlength => 255, :size => 45, :placeholder => 'Escribe el nombre científico', :class => 'typeahead' %>
              </div>
              <div class="field">
                <%= f.label :categoria_taxonomica_id, 'Categoria taxonómica: ' %>
                <% if @especie.new_record? %>
                    <%= f.select :categoria_taxonomica_id, CategoriaTaxonomica.all.collect { |r|
                      [ if r.nivel2 == 0 && r.nivel1 != 1 && r.nivel1 != 2
                          "división ✓ #{r.nombre_categoria_taxonomica}"
                        elsif r.nivel2 == 1 && r.nivel1 != 1 && r.nivel1 != 2
                          "phylum ✓ #{r.nombre_categoria_taxonomica}"
                        else
                          "✓ #{r.nombre_categoria_taxonomica}"
                        end,
                        r.id ]
                    }, :include_blank => '---Selecciona---' %>
                <% else %>
                    <%= f.select :categoria_taxonomica_id, CategoriaTaxonomica.where(:nivel2 => @especie.categoria_taxonomica.nivel2).collect { |r|
                      [ if r.nivel2 == 0 && r.nivel1 != 1 && r.nivel1 != 2
                          "división ✓ #{r.nombre_categoria_taxonomica}"
                        elsif r.nivel2 == 1 && r.nivel1 != 1 && r.nivel1 != 2
                          "phylum ✓ #{r.nombre_categoria_taxonomica}"
                        else
                          "✓ #{r.nombre_categoria_taxonomica}"
                        end,
                        r.id ]
                    }, :include_blank => '---Selecciona---' %>
                <% end %>
              </div>
              <div class="field">
                <%= f.label :estatus, 'Estatus del nombre cient&iacute;fico: '.html_safe %>
                <%= f.select :estatus, Especie::ESTATUSES.map{|k,v| [v, k]}, :include_blank => '---Selecciona---' %>
              </div>
              <div class="field">
                <%= f.label :nombre_autoridad, 'Nombre de la autoridad' %><br>
                <%= f.text_field :nombre_autoridad, :maxlength => 255, :size => 45, :placeholder => 'Nombre de la autoridad' %>
              </div>
              <div class="field">
                <%= f.label :cita_nomenclatural, 'Cita nomenclatural' %><br>
                <%= f.text_area :cita_nomenclatural, :rows => 6, :cols => 35, :placeholder => 'Cita nomenclatural' %>
              </div>
              <div class="field">
                <%= f.label :sis_clas_cat_dicc, 'Fuente de la informaci&oacute;n'.html_safe %><br>
                <%= f.text_field :sis_clas_cat_dicc, :maxlength => 255, :size => 45, :placeholder => 'Sistema de Clasificación del catalogo' %>
              </div>
              <div class="field">
                <%= f.label :anotacion, 'Anotaci&oacute;n'.html_safe %><br>
                <%= f.text_field :anotacion, :maxlength => 255, :size => 45, :placeholder => 'Anotación' %>
              </div>
            </fieldset>

            <fieldset>
              <legend class="leyenda">Caracter&iacute;stica del tax&oacute;n</legend>
              <div class="field">
                <%= f.fields_for :especies_catalogos do |ec| %>
                    <%= render 'especie_catalogos_fields', :f => ec %>
                <% end -%>
                <div class="aniade">
                  <%= link_to_add_association image_tag('app/32x32/add_page.png'), f, :especies_catalogos %>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend class="leyenda">&Aacute;rbol taxon&oacute;mico</legend>
              <div id='vista_arbol'>
                <% if @especie.is_root? %>
                    <%= arbolTaxonomico.html_safe %>
                <% end %>
              </div>
            </fieldset>
          </td>
        </tr></table>
      </td>

      <td valign="top">
        <table id="tabla_editar"><tr>
          <td valign="top">
            <fieldset class="fieldset_regiones">
              <legend class="leyenda">Distribuciones</legend>
              <div class="field">
                <%= f.fields_for :especies_regiones do |er| %>
                    <% @region=er.text_field(:region_id).to_param.split(' ')[4].split('=').last.delete('"') %>
                    <%= render 'especie_region_fields', :f => er %>

                    <fieldset class="fieldset_nombres">
                      <legend class="leyenda">Nombres comunes en la regi&oacute;n</legend>
                      <div class="field">

                        <%= f.fields_for :nombres_regiones do |nr| %>
                            <% @nombre_comun=nr.text_field(:nombre_comun_id).to_param.split(' ')[4].split('=').last.delete('"') %>
                            <% if nr.text_field(:region_id).to_param.split(' ')[4].split('=').last.delete('"') == @region %>
                                <%= render('nombr_regione_fields', :f => nr) %>

                                <fieldset class="fieldset_bibliografias">
                                  <legend class="leyenda">Bibliografía del nombre común</legend>
                                  <div class="field">
                                    <%= f.fields_for :nombres_regiones_bibliografias do |nrb| %>
                                        <% if nrb.text_field(:nombre_comun_id).to_param.split(' ')[4].split('=').last.delete('"') == @nombre_comun %>
                                            <%= render('nombres_region_bibliografia_fields', :f => nrb) %>
                                        <% end %>
                                    <% end -%>
                                    <div class="aniade">
                                      <%= link_to_add_association image_tag('app/32x32/add_page.png'), f, :nombres_regiones_bibliografias %>Bibliografía
                                    </div>
                                  </div>
                                </fieldset>

                            <% end %>
                        <% end -%>
                        <div class="aniade">
                          <%= link_to_add_association image_tag('app/32x32/add_page.png'), f, :nombres_regiones %>Nombre común
                        </div>
                      </div>
                    </fieldset>

                <% end -%>
                <div class="aniade">
                  <%= link_to_add_association image_tag('app/32x32/add_page.png'), f, :especies_regiones %>Región
                </div>
              </div>
            </fieldset>
          </td>
        </tr>
        </table>
      </td>
    </tr></table>

    <br>
    <div class="pie">
      <div class="actions">
        <% if @especie.new_record? %>
            <%= f.submit('Crear', :disable_with => 'Creando ...') %>
            <%= f.submit('Crear y seguir editando', :disable_with => 'Creando ...') %>
        <% else %>
            <%= f.submit('Guardar', :disable_with => 'Actualizando ...') %>
            <%= f.submit('Guardar y seguir editando', :disable_with => 'Actualizando ...') %>
        <% end %>
      </div>
    </div>
<% end %>
