    <% content_for(:extrajs_carrusel) do %>
        <%= javascript_include_tag "carrusel", "data-turbolinks-track" => true %>
    <% end %>
    <% content_for(:extracss) do %>
        <%= stylesheet_link_tag    "carrusel", media: "all", "data-turbolinks-track" => true %>
    <% end %>
    <div id="foto-carrusel" class="embed-responsive embed-responsive-4by3">
      <img src="<%= @photos[0].best_photo %>" class="img-responsive img-thumbnail"/>
    </div>
    <div id="carrusel" class="frame">
        <div class="slidee">
          <% @photos.each do |p| %>
              <%-
                  next unless p.square_url.present?
                  img_square = p.square_url

                  img_normal = p.best_photo
                  next unless img_normal.present?
              -%>
              <img src="<%= img_square %>" data-large="<%= img_normal %>" data-description="<%= p.attribution %>" width="70" height="70"/>
          <% end %>
        </div>
    </div>
    <div class="scrollbar">
        <div class="handle"></div>
    </div>