<div class="embed-responsive embed-responsive-16by9" id="contenedor_mapa">
  <%= render partial: 'geodatos' %>
</div>


<div class="dropdown">
  <button class="btn btn-sm btn-secondary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Descarga de registros <i><%= icono_descarga %></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @datos[:geodatos][:cuales].include?('naturalista') %>
      <h6 class="dropdown-header"><%= imagotipo_naturalista_nombre %></h6>
      <%= link_to("#{icono_globo} KML".html_safe, @datos[:geodatos][:naturalista_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kml].present? %>
      <%= link_to("#{icono_globo} KMZ".html_safe, @datos[:geodatos][:naturalista_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kmz].present? %>
      <%= link_to("#{icono_globo} JSON".html_safe, @datos[:geodatos][:naturalista_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_json].present? %>
    <% end %>

    <% if @datos[:geodatos][:cuales].include?('snib') %>
      <li role="separator" class="divider"></li>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">SNIB</h6>
      <%= link_to("#{icono_globo} KML".html_safe, @datos[:geodatos][:snib_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kml].present? %>
      <%= link_to("#{icono_globo} KMZ".html_safe, @datos[:geodatos][:snib_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kmz].present? %>
      <%= link_to("#{icono_globo} JSON".html_safe, @datos[:geodatos][:snib_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_json].present? %>
      <%= link_to('Diccionario de datos', 'http://www.snib.mx/ejemplares/docs/CONABIO-SNIB-DiccionarioDatosEjemplaresGeoportal-201906.pdf', :target => :_blank, :class => 'dropdown-item') %>
    <% end %>
  </div>
</div>
