<% content_for(:extrajs) do %>
    <%= javascript_include_tag 'lib/d3.v3.min', 'data-turbolinks-track' => true %>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" data-turbolinks-track="true"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js" data-turbolinks-track="true"></script>
    <%= javascript_include_tag 'lib/Control.FullScreen', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'mapa/mapa', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'mapa/registros_snib', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:extracss) do %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true" />
    <%= stylesheet_link_tag 'lib/Control.FullScreen', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'mapa/registros_snib', 'data-turbolinks-track' => true %>
<% end %>

<%= javascript_include_tag 'especies/geodatos', 'data-turbolinks-track' => true %>

<div id="map"></div>

<script data-turbolinks-track="true">
	$('#map').css('height', $('#contenedor_mapa').height() - 30);
	$(document).ready(function() {
		$(window).resize(function () {
			$('#map').css('height', $('#contenedor_mapa').height() - 30);
			map.invalidateSize(true);
		});

		//TODO: Poner en el evento cuando se crea el mapa y acomodar este js
		$('#geodata_e_imagen_li > a, #map a.leaflet-control-fullscreen-button').click(function () {
			setTimeout(function(){
				$('#map').css('height', $('#contenedor_mapa').height() - 30);
				map.invalidateSize(true);
			},1000);
		});
	});
</script>