<% content_for(:extracss) do %>
    <%= stylesheet_link_tag    'carrusel', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for(:delayedjs) do %>
    <script>
      var NATURALISTA_URL = "<%= "#{CONFIG.naturalista_url}/taxa/#{@naturalista_id}.json" %>";
    </script>

    <%= javascript_include_tag 'carrusel', 'data-turbolinks-track' => true %>
<% end%>

<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' id="contenedor_fotos">
  <p class="text-center">
    <i class="spin6-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
  <h4 class="text-center">Cargando las fotos ... por favor, espera</h4>
  </p>
</div>

<% if @geo.present? %>
    <div class='col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2' id="contenedor_mapa">
      <div class="embed-responsive embed-responsive-4by3">
        <%= render partial: 'geodatos' %>
        <!--h6 class="text-right"><strong>NOTA: </strong> La distribución potencial sólo es de México</h6-->
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
      <%= link_to(("Mapa de distribución: <i alt = KMZ class = 'kmz-ev-icon' style = 'font-size: 2em;'></i>").html_safe, @geo[:geoserver_descarga_url], :target => :_blank, :class => 'btn btn-sm btn-link') if @geo[:geoserver_descarga_url].present? %>
      <%#= link_to(("Registros del SNIB: <i alt = 'Registros de museos, colectas y proyectos de CONABIO (SNIB)' class = 'kml-ev-icon' style = 'font-size: 2em;'></i>").html_safe, geo['snib_kml'], :target => :_blank, :class => 'btn btn-sm btn-link') if geo['snib_kml'] %>
      <%= link_to(("Observaciones de: <i class='naturalista-ev-icon'></i><i class='naturalista-2-ev-icon'></i><i class='naturalista-3-ev-icon'></i><i class='naturalista-4-ev-icon'></i>").html_safe, @geo[:naturalista_url_descarga], :target => :_blank, :class => 'btn btn-sm btn-link', :style => 'margin-top: .5em;') if @geo[:naturalista_url_descarga].present? %>
    </div>
<% end %>

<% if !(@photos.any? || @geo.present?) %>
    <p class="text-center">
    <h4 style="color: #800000;">Lo sentimos, pero no contamos con una imagen o geodato para:</h4>
    <h3><%= @titulo = tituloNombreCientifico(@especie, :title => true) %></h3>
    </p>
<% end %>