<% if @photos.any? %>
    <% col1 = (geo && geo.count > 0) ? 'col-xs-12 col-sm-10 col-md-5 col-lg-5 col-xs-offset-0 col-sm-offset-1 col-md-offset-0' : 'col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2' %>
    <div class="<%=col1%>" id="contenedor_fotos">

      <%= render :partial => 'fotos_carrusel', :locals => { :photos => @photos } %>
      <% if usuario_signed_in? %>
          <%= link_to('Edita las fotos', nil, :onClick => "$('#edit_photos_dialog').dialog('open');return false;", :class => 'readmore') %>
          <div id="edit_photos_dialog" class="dialog" style="display: none"></div>
      <% end %>

    </div>
<% end %>

<% if geo && geo.count > 0 %>
    <% col2 = @photos.any? ? 'col-xs-12 col-sm-10 col-md-7 col-lg-7 col-xs-offset-0 col-sm-offset-1 col-md-offset-0' : 'col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2' %>
    <div class="<%=col2%>" id="contenedor_mapa">
      <div class="embed-responsive embed-responsive-4by3">
        <div id="map"></div>
        <h6 class="text-right"><strong>NOTA: </strong> La distribución potencial sólo es de México</h6>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
      <%= link_to(("Mapa de distribución: <i alt = KMZ class = 'kmz-ev-icon' style = 'font-size: 2em;'></i>").html_safe, geo['geoserver_kmz'], :target => :_blank, :class => 'btn btn-sm btn-link') if geo['geoserver_kmz'] %>
      <%= link_to(("Registros del SNIB: <i alt = 'Registros de museos, colectas y proyectos de CONABIO (SNIB)' class = 'kml-ev-icon' style = 'font-size: 2em;'></i>").html_safe, geo['snib_kml'], :target => :_blank, :class => 'btn btn-sm btn-link') if geo['snib_kml'] %>
      <%= link_to(("Observaciones de: <i class='naturalista-ev-icon'></i><i class='naturalista-2-ev-icon'></i><i class='naturalista-3-ev-icon'></i><i class='naturalista-4-ev-icon'></i>").html_safe, geo['naturalista_kml'], :target => :_blank, :class => 'btn btn-sm btn-link', :style => 'margin-top: .5em;') if geo['naturalista_kml'] %>
    </div>

<% end %>

<% if !(@photos.any? || geo) %>
    <p class="text-center">
    <h4 style="color: #800000;">Lo sentimos, pero no contamos con una imagen o geodato para:</h4>
    <h3><%= @titulo = tituloNombreCientifico(@especie, :title => true) %></h3>
    </p>
<% end %>