<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'especies/mapa/mapa', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:extracss) do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <%= stylesheet_link_tag 'especies/mapa/mapa', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:delayedjs) do %>
  <%= javascript_include_tag 'especies/mapa/mapa_delayed', 'data-turbolinks-track' => true %>
<% end %>

<div id="contenedor_mapa" class="embed-responsive embed-responsive-23by9">
  <div id="map" class="w-100"></div>
</div>

<div class="dropdown">
  <button class="btn btn-link btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Descarga de datos <i><%= icono_descarga %></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @datos[:geodatos][:cuales].include?('naturalista') %>
      <h6 class="dropdown-header font-weight-bolder">Observaciones de <%= imagotipo_naturalista_nombre %></h6>
      <%= link_to(" KML #{icono_descarga}".html_safe, @datos[:geodatos][:naturalista_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kml].present? %>
      <%= link_to(" KMZ #{icono_descarga}".html_safe, @datos[:geodatos][:naturalista_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kmz].present? %>
      <%= link_to(" JSON #{icono_descarga}".html_safe, @datos[:geodatos][:naturalista_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_json].present? %>
    <% end %>

    <% if @datos[:geodatos][:cuales].include?('snib') %>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header font-weight-bolder">Ejemplares del SNIB</h6>
      <%= link_to(" KML #{icono_descarga}".html_safe, @datos[:geodatos][:snib_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kml].present? %>
      <%= link_to(" KMZ #{icono_descarga}".html_safe, @datos[:geodatos][:snib_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kmz].present? %>
      <%= link_to(" JSON #{icono_descarga}".html_safe, @datos[:geodatos][:snib_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_json].present? %>
      <%= link_to("Diccionario de datos <i class='fa fa-external-link-square'></i>".html_safe, CONFIG.geoportal_pdf, :target => :_blank, :class => 'dropdown-item') %>
    <% end %>

    <% if @datos[:geodatos][:cuales].include?('geoserver') %>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header font-weight-bolder">Mapas de distribución:</h6>

      <% @datos[:geodatos][:geoserver_urls].each do |geo| %>
        <p class="ml-3">
          <small class="font-weight-bold"><%= geo[:datos][:autor] %></small><br />
          <%= link_to("(KMZ #{geo[:datos][:anio]}) #{icono_descarga}".html_safe, geo[:geoserver_descarga_url], :target => :_blank, :class => 'dropdown-item', :style => 'width: auto!important;') %>
          <%= link_to("Ver en el geoportal <i class='fa fa-external-link-square'></i>".html_safe, geo[:geoportal_url], :target => :_blank, :class => 'dropdown-item', :style => 'width: auto!important;') %>
        </p>
        <div class="dropdown-divider"></div>
      <% end %>
    <% end %>
  </div>
</div>
