<div class="embed-responsive embed-responsive-16by9" id="contenedor_mapa">
  <% content_for(:extrajs) do %>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" data-turbolinks-track="reload"></script>
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js" data-turbolinks-track="reload"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>
    <%= javascript_include_tag 'especies/mapa/mapa', 'data-turbolinks-track' => true %>
  <% end %>

  <% content_for(:extracss) do %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
    <%= stylesheet_link_tag 'especies/mapa/mapa', 'data-turbolinks-track' => true %>
  <% end %>

  <% content_for(:delayedjs) do %>
    <%= javascript_include_tag 'especies/mapa/mapa_delayed', 'data-turbolinks-track' => true %>
    <script data-turbolinks-track="true">
        $('#map').css('height', $('#contenedor_mapa').height());
        $('#contenedor_mapa').removeClass(); //Esto es para quitar los embed responsive ¬¬
    </script>
  <% end %>

  <div id="map" class="w-100"></div>
</div>


<div class="dropdown">
  <button class="btn btn-link btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Descarga de registros <i><%= icono_descarga %></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% if @datos[:geodatos][:cuales].include?('naturalista') %>
      <h6 class="dropdown-header"><%= imagotipo_naturalista_nombre %></h6>
      <%= link_to("#{icono_globo} KML".html_safe, @datos[:geodatos][:naturalista_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kml].present? %>
      <%= link_to("#{icono_globo} KMZ".html_safe, @datos[:geodatos][:naturalista_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_kmz].present? %>
      <%= link_to("#{icono_globo} JSON".html_safe, @datos[:geodatos][:naturalista_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:naturalista_json].present? %>
    <% end %>

    <% if @datos[:geodatos][:cuales].include?('snib') %>
      <li role="separator" class="divider"></li>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">SNIB</h6>
      <%= link_to("#{icono_globo} KML".html_safe, @datos[:geodatos][:snib_kml], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kml].present? %>
      <%= link_to("#{icono_globo} KMZ".html_safe, @datos[:geodatos][:snib_kmz], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_kmz].present? %>
      <%= link_to("#{icono_globo} JSON".html_safe, @datos[:geodatos][:snib_json], :target => :_blank, :class => 'dropdown-item') if @datos[:geodatos][:snib_json].present? %>
      <%= link_to('Diccionario de datos', 'http://www.snib.mx/ejemplares/docs/CONABIO-SNIB-DiccionarioDatosEjemplaresGeoportal-201906.pdf', :target => :_blank, :class => 'dropdown-item') %>
    <% end %>

    <% if @datos[:geodatos][:cuales].include?('geoserver') %>
      <li role="separator" class="divider"></li>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Mapa de distribución</h6>

      <% @datos[:geodatos][:geoserver_descargas_url].each do |geo| %>
        <%= link_to("#{icono_globo} #{geo[:mapa]} (KMZ)".html_safe, "#{CONFIG.geoserver_descarga_url}&layers=#{geo[:layers]}&styles=#{geo[:styles]}&bbox=#{geo[:bbox]}", :target => :_blank, :class => 'dropdown-item') %>
      <% end %>
    <% end %>
  </div>
</div>
