<script data-turbolinks-track="true" type="text/javascript" charset="utf-8">
    <% ids = dameCaracteristicaDistribucionAmbienteJS(@especie) %>
    $(document).ready(function(){
        $('<%="#id"+ids.join(", #id")%>').removeClass('btn-img-panel').removeAttr('disabled');
    });
</script>

<% botones = ponCaracteristicaDistribucionAmbienteJS %>


<div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
  <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 text-center" id="NOM059">
    <h6><strong>Categoría nacional de riesgo</strong><br /><small><%=t(:nom)%></small></h6>
    <%= botones[:nom].join("\n").html_safe %>
  </div>
  <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 text-center" id="IUCN">
    <h6><strong>Categoría internacional de riesgo</strong><br /><small><%=t(:iucn)%></small></h6>
    <%= botones[:iucn].join("\n").html_safe %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" id="CITES">
    <h6><strong>Protegidas del comercio internacional</strong><br /><small><%=t(:cites)%></small></h6>
    <%= botones[:cites].join("\n").html_safe %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" id="Prioritaria">
    <h6><strong>Prioritarias para la conservación</strong><br /><small>SEMARNAT 2014</small></h6>
    <%= botones[:prioritaria].join("\n").html_safe %>
  </div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center" id="Ambiente">
    <h6><strong>Ambiente</strong></h6>
    <%= botones[:ambiente].join("\n").html_safe %>
  </div>
  <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center" id="TipoDistribucion">
    <h6><strong>Tipo de distribución: </strong></h6>
    <%= botones[:tipoDistribucion].join("\n").html_safe %>
  </div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-2 text-center" id="more-info">
  <div class="btn-group" role="group" aria-label="...">
	 <% if I18n.locale.to_s == 'es-cientifico' %>
	      <a href="#conabio_info" onclick="$('#conabio_info_li > a').trigger('click');" class="btn btn-link btn-xs">
	        <img alt="Ir a los catálogos de CONABIO" src="/assets/app/icoCatalogo.png">
	        <small>Catálogos CONABIO</small>
	      </a>
	      <a href="#arbol_taxonomico" onclick="$('#arbol_taxonomico_li > a').trigger('click');" class="btn btn-link btn-xs">
	        <small><%= t :arreglo_taxonomico %></small>
	        <img alt="Ir al arreglo taxonómico" src="/assets/app/icoClasificacion.png">
	      </a>
	      <% if @especie.species_or_lower? %>
	          <a href="#description" onclick="$('#description_li > a').trigger('click');" class="btn btn-link btn-xs">
	            <img alt="Ir a las fichas" src="/assets/app/icoFicha.png">
	            <small>Fichas</small>
	         </a>
	      <% end %>
	  <% else %>
	          <% if @especie.species_or_lower? %>
	          <a href="#description" onclick="$('#description_li > a').trigger('click');" class="btn btn-link btn-xs">
	            <img alt="Ir a las fichas" src="/assets/app/icoFicha.png">
	            <small>Fichas</small>
	         </a>
	      <% end %>
	          <a href="#arbol_taxonomico" onclick="$('#arbol_taxonomico_li > a').trigger('click');" class="btn btn-link btn-xs">
	            <img alt="Ir al arreglo taxonómico" src="/assets/app/icoClasificacion.png">
	            <small><%= t :arreglo_taxonomico %></small>
	          </a>
	          <a href="#conabio_info" onclick="$('#conabio_info_li > a').trigger('click');" class="btn btn-link btn-xs">
	            <img alt="Ir a los catálogos de CONABIO" src="/assets/app/icoCatalogo.png">
	            <small>Catálogos CONABIO</small>
	         </a>
	  <% end %>
  </div>
</div>