<%= form_tag aniade_taxones_listas_path, :method => :post do %>

    <p class="notice">
      <%= @coincidencias if @coincidencias.present? && @taxones.length > 0 %>
    </p>

    <div style="width: 100%; float:left;">
      <div class="titulo-busqueda">
        <%= @paginacion[:rango_resultados] if @paginacion.present? %>
      </div>
      <%= link_to :Ver_listas, '', :class => :link_azul, :id => :muestra_listas if @taxones.length > 0 %>
      <div id="widget_listas" style="display: none"></div>
    </div>

    <div style="width: 100%; float:left;">
        <%= checklist(@paginacion).html_safe  if @paginacion.present? %>
        <div class="digg_pagination">
            <%= paginacion(@paginacion).html_safe if @paginacion.present? %>
        </div>

      <% columnas=0 %>
      <% @taxones.each do |taxon| %>

          <div style="width: 50%; float:<%= columnas%2 == 0 ? 'left' : 'right' %>;">
            <input type="checkbox" name="especies[]" value="<%= taxon.id %>" class="especies" style="display: none">
            <%= "<span class=\"datos_busqueda-#{taxon.id}\">#{tituloNombreCientifico(taxon, :link => true)}</span>".html_safe %>
            <% if I18n.locale.to_s != 'es-cientifico' %>
                <%= image_tag(taxon.foto_principal, :alt => taxon.nombre_cientifico, :style => 'width:85px;height:85px;', :class => 'img-thumbnail') if taxon.foto_principal.present? && taxon.species_or_lower?(taxon.try(:nombre_categoria_taxonomica)) %>
            <% end %>
          </div>
          <% columnas+=1 %>
      <% end %>

      <% if @taxones.length >= 100 %>
          <div class="digg_pagination">
            <%= paginacion(@paginacion).html_safe if @paginacion.present? %>
          </div>
      <% end %>

      <p class="enlaces_acciones">
        <%= '<em>Tu búsqueda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
      </p>

      <div id="datos_principales"></div>
    </div>
<% end %>