<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script data-turbolinks-track="true" src="/assets/jquery.soulmate.js"></script>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    guardaFiltros = function (lectura)
    {
        jQuery.ajax({
            success: function(html){
                if (lectura)
                {
                    if (html != '')
                        $('#busquedas').empty().html(html);
                }
            },
            fail: function()
            {
                $('#notice').html('Hubo un error con los filtros, por favor intentalo de nuevo.');
            },
            type: 'POST',
            url: '/usuarios/filtros',
            cache: true,
            data: { lectura: lectura , html: $('#busquedas').html().replace(/\n/g, '') }
        });
        return false;
    }

    estructuraFiltro = function(numeroAtributos)
    {
        var bAtributo, cAtributo, vAtributo, hAtributo, imagenQuitar, anteriores;
        bAtributo="<div id='capa_"+numeroAtributos+"'><select class='busqueda_atributo' name='bAtributo_"+numeroAtributos+"' id='bAtributo_"+numeroAtributos+"'>";
        bAtributo+="<option value='nombre_cientifico'>nombre científico</option>";
        bAtributo+="<option value='nombre_comun'>nombre común</option>";
        bAtributo+="<option value='catalogos.descripcion'>característica del taxón</option>";
        bAtributo+="<option value='nombre_autoridad'>autoridad</option></select> ";

        cAtributo="<select class='busqueda_atributo' name='cAtributo_"+numeroAtributos+"' id='cAtributo_"+numeroAtributos+"'>";
        cAtributo+="<option value='1'>contiene</option>";
        cAtributo+="<option value='2'>empieza con</option>";
        cAtributo+="<option value='3'>igual a</option>";
        cAtributo+="<option value='4'>termina con</option></select> ";

        vAtributo="<input class='busqueda_atributo' name='vAtributo_"+numeroAtributos+"' id='vAtributo_"+numeroAtributos+"' size='30' maxlength='255' type='text' data-autocomplete='/especies/autocomplete_especie_nombre' autocomplete='off' />";
        hAtributo="<input class='busqueda_atributo' name='hAtributo_" + numeroAtributos + "' id='hAtributo_" + numeroAtributos + "' type='hidden' />";
        imagenQuitar="&nbsp;&nbsp;&nbsp;<a onClick='return quitaFiltros(this.id);' id='enlace_filtro_"+numeroAtributos+"' href=''><img src='/assets/app/24x24/delete.png' width='20px;'></a></div>";

        return bAtributo+cAtributo+vAtributo+hAtributo+imagenQuitar;
    }

    masFiltros = function()
    {
        var numeroAtributos = parseInt($("[id^='bAtributo_']:last").attr("id").split('_')[1]) + 1;
        $('#atributos_extra').append(estructuraFiltro(numeroAtributos));
        return false;
    }

    quitaFiltros = function(id)
    {
        $('#capa_'+id.substring(14)).html("");
        return false;
    }

    busqueda_avanzada = function(id)
    {
        $('#busqueda_basica').show();
        $('#busqueda_avanzada').hide();
        $('#busqueda_basica').removeAttr('style').css('display','none');
        $('#busqueda_avanzada').removeAttr('style').css('display','block');
        return false;
    }

    busqueda_basica = function(id)
    {
        $('#busqueda_avanzada').show();
        $('#busqueda_basica').hide();
        $('#busqueda_basica').removeAttr('style').css('display','block');
        $('#busqueda_avanzada').removeAttr('style').css('display','none');
        return false;
    }

    quitaAutocompletar = function()
    {
        $("[id^='vAtributo_']").each(function()
        {
            var id=$(this).attr('id').split('_')[1];
            if ($('#bAtributo_' + id).val() != 'nombre_cientifico' && $('#bAtributo_' + id).val() != 'nombre_comun')
                $(this).removeAttr('data-autocomplete').removeAttr('autocomplete').removeClass('ui-autocomplete-input');
        });
    }

    soulmate_asigna = function(event)
    {
        var campo = document.getElementById(event.target.id);

        if (event.data.num == '1' || event.data.num == '3')         //nombre comun
        {
            var types = ['com_orden', 'com_familia', 'com_especie'];
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '1' ? $('#id_basica_comun').attr('value', '') : $('#id_avanzada_comun').attr('value', '');

                var nombres = I18n.locale == 'es-cientifico' ? '<b>' + term + '</b><br>' + data.nombre_cientifico + ' <i>' + data.autoridad + '</i>' :
                        term + ' <i>(' + data.nombre_cientifico + ')</i>';
                return "<table><tr><td>" + data.foto + "</td><td>" + nombres + "</td></tr></table";
            }
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                $('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa
                event.data.num == '1' ? $('#id_basica_comun').attr('value', data.id) : $('#id_avanzada_comun').attr('value', data.id)
            }
        }
        if (event.data.num == '2' || event.data.num == '4')          //nombre cientifico
        {
            var types = ['cien_Reino', 'cien_phylum', 'cien_subphylum', 'cien_clase', 'cien_orden',
                'cien_familia', 'cien_subespecie', 'cien_especie', 'cien_genero'];
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '2' ? $('#id_basica_cientifico').attr('value', '') : $('#id_avanzada_cientifico').attr('value', '');

                if (I18n.locale == 'es-cientifico')
                    var nombres = '<b>' + term + '</b> <i>' + data.autoridad + '</i>';
                else
                    var nombres = data.nombre_comun.length == 0 ? '<i>' + term + '</i>' : data.nombre_comun + ' <i>(' + term + ')</i>';
                return "<table><tr><td>" + data.foto + "</td><td>" + nombres + "</td></tr></table";
            }
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                $('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa
                event.data.num == '2' ? $('#id_basica_cientifico').attr('value', data.id) : $('#id_avanzada_cientifico').attr('value', data.id)
            }
        }

        if ($._data(campo, "events") == undefined)
        {        //para que no se repita n-veces la busqueda
            $(campo).soulmate({
                url:            "http://<%= CONFIG.ip %>:<%= CONFIG.port %>/sm/search",
                types:          types,
                renderCallback: render,
                selectCallback: select,
                minQueryLength: 2,
                maxResults:     5,
                num: event.data.num
            });
        }
    }

    $(document).ready(function()
    {
        $(document).on('click', '.busquedas', function()
        {
            guardaFiltros(false);
        });

        $(document).on('change', "[id^='bAtributo_']", function()
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);

            var id=$(this).attr('id').split('_')[1];
            if ($(this).val() == 'nombre_cientifico')
            {
                $('#vAtributo_' + id).attr('data-autocomplete', '/especies/autocomplete_especie_nombre').attr('autocomplete', 'off').addClass('ui-autocomplete-input');
            } else if ($(this).val() == 'nombre_comun')
            {
                $('#vAtributo_' + id).attr('data-autocomplete', '/nombres_comunes/autocomplete_nombre_comun_comun').attr('autocomplete', 'off').addClass('ui-autocomplete-input');
            } else {
                $('#vAtributo_' + id).removeAttr('data-autocomplete').removeAttr('autocomplete').removeClass('ui-autocomplete-input');
            }
            $('#hAtributo_' + id).val('');
        });

        $(document).on('change', "[id^='cAtributo_']", function()
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);
        });

        $(document).on('change', "[id^='vAtributo_']", function()
        {
            $(this).attr('value',$(this).val());
            var id=$(this).attr('id').split('_')[1];
            $('#hAtributo_' + id).val('');
        });

        $(document).on('change', ".busqueda_atributo_checkbox, .busqueda_atributo_checkbox_estatus", function()
        {
            if ($(this).prop('checked'))
                $(this).attr('checked', true);
            else
                $(this).attr('checked', false);
        });

        $(document).on('change', "[id^='distribucion_nivel_']", function()
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);
            var nivel=parseInt($(this).attr('name').substring(19));

            if ($(this).val() != '')
            {
                jQuery.ajax({
                    success: function(html){
                        $('#distribucion_nivel_'+(nivel)).nextAll("[id^='distribucion_nivel_']").remove();
                        switch (nivel)
                        {
                            case 1:
                                $('#distribucion_nivel').empty().html(html);
                                break;
                            case 2:
                                $('#distribucion_nivel').append(html);
                                break;
                        }
                    },
                    fail: function(){
                        $('#notice').html('Hubo un error al cargar los filtros, por favor intentalo de nuevo.');
                    },
                    type:'POST',
                    url:'/regiones/regiones',
                    cache:true,
                    data: {region: $(this).val(), region_nivel: nivel}
                });
            }

            if ($(this).val() == '' && nivel == 1)  //quita las sub-regiones si eligio todas
                $('#distribucion_nivel_2, #distribucion_nivel_3').remove();

            if ($(this).val() == '' && nivel == 2)  //quita las sub-regiones si eligio todas
                $('#distribucion_nivel_3').remove();
        });

        $(document).on('change', "#categoria", function()
        {
            var valor=$(this).val();
            $('#categoria  option').removeAttr('selected');

            $.each(valor, function(index, categoria)
            {
                $("#categoria option[value='"+categoria+"']").attr('selected',true);
            });
        });

        $(document).on('change', "#nombre_comun, #nombre_cientifico, #nombre_comun_1, #nombre_cientifico_1", function()
        {
            var id=$(this).attr('id');
            $(this).attr('value',$(this).val());
        });

        $(document).on('click', '#limpiar', function()
        {
            jQuery.ajax({
                success: function(html){
                    if (html!='true')
                        $('#notice').html('Hubo un error al limpiar los filtros, por favor intentalo de nuevo.');
                },
                fail: function() {
                    $('#notice').html('Hubo un error al limpiar los filtros, por favor intentalo de nuevo.');
                },
                type:'POST',
                url:'/usuarios/limpiar',
                cache:true
            });
        });

        $(document).on('change', "#per_page", function(k)
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);

            $('#per_page_basica_comun, #per_page_basica_cientifico, #per_page_avanzada').val($(this).val());
            $('#per_page_basica_comun, #per_page_basica_cientifico, #per_page_avanzada').attr('value',$(this).val());
        });

        // autocomplete para la busqueda basica
        $(document).on('focus', '#nombre_comun', {num: "1"}, soulmate_asigna);
        $(document).on('focus', '#nombre_cientifico', {num: "2"}, soulmate_asigna);
        // autocomplete para la busqueda avanzada
        $(document).on('focus', '#nombre_comun_1', {num: "3"}, soulmate_asigna);
        $(document).on('focus', '#nombre_cientifico_1', {num: "4"}, soulmate_asigna);
        guardaFiltros(true);
    });
</script>

<div id="busquedas">
  <div id="busqueda_basica">
    <table class="tabla_formato" border="0">
      <tr>
        <td valign="top">
          <%= form_tag resultados_especies_path, :method => :get do %>
              <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
              <%= hidden_field_tag :busqueda, :nombre_comun %>
              <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_basica_comun %>
              <b><%= t :nombre_comun %></b><br>
              <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :size => 30, :placeholder => t(:nombre_comun).downcase, :autocomplete => :off %>
              <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas %>
              <br><br><%= link_to 'Búsqueda avanzada', '', :id => :busqueda_avanzada_link, :class => :link_azul, :onClick => 'return busqueda_avanzada();' %> &#8595;
          <% end %>
        </td>

        <td valign="top">
          <%= form_tag resultados_especies_path, :method => :get do %>
              <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
              <%= hidden_field_tag :busqueda, :nombre_cientifico %>
              <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_basica_cientifico %>
              <b>Nombre cient&iacute;fico</b><br>
              <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :size => 30, :placeholder => 'nombre cient&iacute;fico'.html_safe, :autocomplete => :off %>
              <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas  %>
              <br><br><b><%= t :solo_taxones %>:</b>
              <br><%= checkboxValidoSinonimo('basica_cientifico') %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div id="busqueda_avanzada" style="display: none">
    <%= form_tag resultados_especies_path, :method => :get do %>
        <table class="tabla_formato" border="0">
          <tr>
            <td valign="top">
              <%= hidden_field_tag :id_nom_cientifico, nil, :id => :id_avanzada_cientifico %>
              <%= hidden_field_tag :busqueda, :avanzada %>
              <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_avanzada %>

              <p><b>Nombre cient&iacute;fico: </b>
                <%= text_field_tag :nombre_cientifico, nil, :id => :nombre_cientifico_1, :maxlength => 255, :size => 30,
                                   :placeholder => 'nombre cient&iacute;fico'.html_safe, :autocomplete => :off %></p>
              <b><%= t :nombre_comun %>: </b>
              <%= text_field_tag :nombre_comun, nil, :id => :nombre_comun_1, :maxlength => 255, :size => 30,
                                 :placeholder => t(:nombre_comun).downcase, :autocomplete => :off %>

              <!--div id="atributos_extra">
                <%# select_tag :bAtributo_1, busquedas(Especie::BUSQUEDAS_ATRIBUTO).html_safe, :class => :busqueda_atributo %>
                <%# select_tag :cAtributo_1, busquedas(Especie::BUSQUEDAS_TEXTO).html_safe, :class => :busqueda_atributo %>
                <%# text_field_tag :vAtributo_1, nil, :maxlength => 255, :size => 30, :class => :busqueda_atributo,
                                   'data-autocomplete' => autocomplete_especie_nombre_especies_path, :autocomplete => :off %>
                <%# hidden_field_tag :hAtributo_1, nil, :class => :busqueda_atributo %>
              </div-->

              <%# link_to '[Añade más filtros]', '', :id => :enalce_mas_filtros, :class => :link_azul, :onClick => 'return masFiltros();' %>
              <br><br><b>con tipo de distribuci&oacute;n:</b> <i>(predeterminada; cualquiera)</i>
              <br><%= checkboxTipoDistribucion %>

              <br><br>
              <b>con distribuci&oacute;n en:</b>  <i>(predeterminada, a nivel nacional)</i>
              <br>
              <%= select_tag :distribucion_nivel_1, options_from_collection_for_select(TipoRegion.find(2, 4, 5, 6, 7, 8), :id, :descripcion), :prompt => :NACIONAL %>
              <div id="distribucion_nivel"></div>

              <br><%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas %>
              <%= submit_tag :Limpiar, :id => :limpiar, data: { disable_with: 'Limpiando...' } %>
              &nbsp;&nbsp;&nbsp;<%= link_to 'Búsqueda básica', '', :id => :busqueda_basica_link, :class => :link_azul, :onClick => 'return busqueda_basica();' %> &#8593;
            </td>
            <td valign="top">
              <b>con la categoria taxon&oacute;mica igual a: </b><br><i>Puedes seleccionar mas de una. (Tecla Ctrl)</i>
              <p>
                <%= select_tag :categoria, options_from_collection_for_select(CategoriaTaxonomica.select('nombre_categoria_taxonomica, nivel1').order('nivel1, nombre_categoria_taxonomica ASC').uniq, :nombre_categoria_taxonomica, :nombre_categoria_taxonomica),
                               :class => :busqueda_atributo, :multiple => true, :size => 9, :prompt => '---CUALQUIER CATEGORIA---'.html_safe %>
              </p>
              <p>
                <b><%= t :solo_taxones %>:</b>
                <br><%= checkboxValidoSinonimo('avanzada') %>
              </p>
            </td>
          </tr>
        </table>
    <% end %>
  </div>

  <table class="tabla_formato" border="0">
    <tr>
      <td>
        Muestra <%= select_tag :per_page, options_for_select(Especie::POR_PAGINA.map{|v| [v, v]}) %> resultados por p&aacute;gina
      </td>
    </tr>
  </table>
</div>
