<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title>Listado de verificación</title>

  <%= wicked_pdf_stylesheet_link_tag 'webservices' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-ui-1.10.4.custom.min.js' %>

  <script>
      $(document).ready(function() {
          I18n.defaultLocale = "<%= 'es-cientifico' %>";
          I18n.locale = "<%= 'es-cientifico' %>";
          I18n.fallbacks = true;
      });
  </script>

</head>

<body>

<p id="notice"><%= notice %></p>
<p>
<div id="dvLoading"><i></i></div>
</p>
<div style="width: 100%; float:left;">
  <div class="titulo-busqueda">

  </div>

  <div id="widget_listas" style="display: none"></div>
</div>

<div style="width: 100%; float:left;">
  <ul>
    <% @taxones.each do |taxon| %>
        <%= "<li style='margin-left: #{taxon.arbol.length*2}px;'><span id=\"datos_busqueda-#{taxon.id}\">#{tituloNombreCientifico(taxon, :link => true)}</span></li>".html_safe %>
    <% end %>
  </ul>
  <p class="enlaces_acciones">
    <%= '<em>Tu búsqueda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
  </p>
</div>

</body>
</html>