<% if @comentarios.any? %>
    <%- @comentarios.each do |comentario| comentario.completa_info((comentario.usuario_id if comentario.is_root?)) -%>
          <%= render 'comentarios/historial', c: comentario %>

          <% respuestas = comentario.descendant_ids.length
             if respuestas > 0
          %>
                <%= respuestas %> respuesta(s) <%= link_to('Ver más', nil, class: 'historial_ficha', comentario_id: comentario.id, especie_id: comentario.especie_id) %>
                <div id="historial_ficha_<%= comentario.id %>" style="display: none"></div>
          <%  else %>
              Aún no hay respuesta a este comentario
          <% end %>
    <% end %>

<% else %>
    Aun no hay comentarios acerca de <strong><%= @especie.nombre_cientifico %></strong>, contribuye con un <%= link_to("comentario, sugerencia o corrección <span class='glyphicon glyphicon-comment'></span>".html_safe, new_especie_comentario_path(@especie)) %>
<% end %>