<%# regNomBib=dameRegionesNombresBibliografia(@especie) %>

<table>
  <tr>
    <td width="40%" valign="top">
      <fieldset>
        <legend class="leyenda">Información del taxón</legend>

        <%= dameEstatus(@especie) %>
        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sinónimos', tab_catalogos: true}) %>
        <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Homónimos', tab_catalogos: true}) %>
        <%= dameCaracteristica(@especie) %>

        <% nombres_comunes = dameNomComunesBiblio(@especie) %>
        <% if nombres_comunes.any? %>
            <p>
              <strong>Nombres comunes:</strong>
            <ul>
              <% nombres_comunes.each do |id, datos| %>
                  <li>
                    <%= datos[:nombre] %> (<%= datos[:lengua] %>)

                    <% biblioCont = 1 %>
                    <% datos[:bibliografia].each do |b| %>
                        <%= link_to('Bibliografía', '', :id => "link_dialog_#{biblioCont}", :onClick => 'return muestraBibliografiaNombres(this.id);', :class => 'link_azul', :style => 'font-size:11px;') %>

                        <div id="biblio_<%= biblioCont %>" title="Bibliografía" class="biblio" style="display: none"><%= b %></div>
                        <% biblioCont+= 1 %>
                    <% end %>

                  </li>
              <% end %>
            </ul>
            </p>
        <% end %>

        <% tipo_distribucion = @especie.tipos_distribuciones.uniq %>
        <% if tipo_distribucion.any? %>
            <p>
              <strong>Tipo de distribución</strong>
            <ul>
              <% tipo_distribucion.each do |td| %>
                  <li>
                    <%= td.descripcion %>
                  </li>
              <% end %>
            </ul>
            </p>
        <% end %>

        <% if @especie.cita_nomenclatural.present? %>
            <p>
              <strong>Cita nomenclatural:</strong>
              <%= @especie.cita_nomenclatural %>
            </p>
        <% end %>

        <p>
          <strong>Fuente de la información:</strong>
          <%= @especie.sis_clas_cat_dicc %>
        </p>

        <% if @especie.anotacion.present? %>
            <p>
              <strong>Anotación:</strong>
              <%= @especie.anotacion %>
            </p>
        <% end %>

        <p>
          <%= dameEspecieBibliografia(@especie).html_safe %>
        </p>

        <p>
          <strong>Identificador único:</strong>
          <%= @especie.catalogo_id %>
        </p>

        <p>
          <strong>Fecha de modificación:</strong>
          <%= @especie.updated_at %>
        </p>
      </fieldset>
    </td>

    <td width="60%" valign="top">
      <%= dameTaxonesInferiores(@especie).html_safe %>

      <% distribucion = dameDistribucion(@especie) %>
      <% if distribucion.any? %>
          <fieldset>
            <legend class='leyenda'>Distribución reportada en literatura:</legend>

            <% distribucion.each do |tipo, regiones| %>
                <%= tipo %>
                <ul>
                  <% regiones.uniq.sort.each do |r| %>
                      <li>
                        <%= r %>
                      </li>
                  <% end %>
                </ul>
            <% end %>
          </fieldset>
      <% end %>

    </td>
  </tr>
</table>