<% content_for(:title) do %>
    <%= "Editando :#{tituloNombreCientifico(@especie, render: 'tittle')}".html_safe %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="titulo">
  <p><%= enlacesDeTaxonomia(@especie) %></p>
  <h1><%= "Editando :<br><br>#{tituloNombreCientifico(@especie, render: 'link')}".html_safe %></h1>
</div>

<%= render 'form' %>

<div class="enlaces_acciones">
  <%# accionesEnlaces(@especie, @accion).html_safe %><br>
  <%# link_to("Nuevo taxón descendiente de #{@especie.nombre_cientifico}".html_safe,
              new_especie_path(:parent_id => @especie)).html_safe %>
</div>