<div id="busqueda_basica">
  <%= form_tag resultados_especies_path, :method => :get do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_basica_comun %>
      <b><%= t :nombre_comun %></b><br>
      <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :size => 30, :placeholder => t(:nombre_comun).downcase, :autocomplete => :off %>
      <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas %>
  <% end %>
  <br>
  <%= form_tag resultados_especies_path, :method => :get do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
      <%= hidden_field_tag :busqueda, :nombre_cientifico %>
      <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_basica_cientifico %>
      <b>Nombre cient&iacute;fico</b><br>
      <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :size => 30, :placeholder => 'nombre cient&iacute;fico'.html_safe, :autocomplete => :off %>
      <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas  %>
      <br><br><b><%= t :solo_taxones %>:</b>
      <br><%= checkboxValidoSinonimo('basica_cientifico') %>
  <% end %>
  <br><br><%= link_to 'Búsqueda avanzada', '', :id => :busqueda_avanzada_link, :class => :link_azul, :onClick => 'return busqueda_avanzada();' %> &#8595;
</div>

<div id="busqueda_avanzada" style="display: none">
  <%= form_tag resultados_especies_path, :method => :get do %>
      <%= hidden_field_tag :id_nom_cientifico, nil, :id => :id_avanzada_cientifico %>
      <%= hidden_field_tag :id_nom_comun, nil, :id => :id_avanzada_comun %>
      <%= hidden_field_tag :busqueda, :avanzada %>
      <%= hidden_field_tag :per_page, Especie.per_page, :id => :per_page_avanzada %>

      <p><b>Nombre cient&iacute;fico: </b>
        <%= text_field_tag :nombre_cientifico, nil, :id => :nombre_cientifico_1, :maxlength => 255, :size => 30,
                           :placeholder => 'nombre cient&iacute;fico'.html_safe, :autocomplete => :off %></p>
      <b><%= t :nombre_comun %>: </b>
      <%= text_field_tag :nombre_comun, nil, :id => :nombre_comun_1, :maxlength => 255, :size => 30,
                         :placeholder => t(:nombre_comun).downcase, :autocomplete => :off %>

      <br><br><b>con tipo de distribuci&oacute;n:</b> <i>(predeterminada; cualquiera)</i>
      <br><%= checkboxTipoDistribucion %>

      <br><br>
      <b>con distribuci&oacute;n en:</b>  <i>(predeterminada, a nivel nacional)</i>
      <br>
      <%= select_tag :distribucion_nivel_1, options_from_collection_for_select(TipoRegion.find(2, 4, 5, 6, 7, 8), :id, :descripcion), :prompt => :NACIONAL %>
      <div id="distribucion_nivel"></div>
      <br>
      <b>con la categoria taxon&oacute;mica igual a: </b><br><i>Puedes seleccionar mas de una. (Tecla Ctrl)</i>
      <p>
        <%= select_tag :categoria, options_from_collection_for_select(CategoriaTaxonomica.select('nombre_categoria_taxonomica, nivel1').order('nivel1, nombre_categoria_taxonomica ASC').uniq, :nombre_categoria_taxonomica, :nombre_categoria_taxonomica),
                       :class => :busqueda_atributo, :multiple => true, :size => 9, :prompt => '---CUALQUIER CATEGORIA---'.html_safe %>
      </p>
      <p>
        <b>con estado de conservaci&oacute;n:</b>
        <%= checkboxEstadoConservacion %>
      </p>
      <p>
        <b><%= t :solo_taxones %>:</b>
        <br><%= checkboxValidoSinonimo('avanzada') %>
      </p>
      <br><%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => :busquedas %>
      &nbsp;&nbsp;&nbsp;<%= link_to 'Búsqueda básica', '', :id => :busqueda_basica_link, :class => :link_azul, :onClick => 'return busqueda_basica();' %> &#8593;
  <% end %>
</div>
<div>
  Muestra <%= select_tag :per_page, options_for_select(Especie::POR_PAGINA.map{|v| [v, v]}) %> resultados por p&aacute;gina
  <br><%= button_tag :Limpiar, :id => :limpiar, data: { disable_with: 'Limpiando...' } %>
</div>