<div id="busqueda_basica">
  <%= form_tag resultados_especies_path, :method => :get, :class => "form-inline", :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_comun, t(:nombre_comun), :class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :placeholder => t(:nombre_comun).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>
        <div class="col-sm-4">
          <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' },:class => "busquedas form-control btn btn-info btn-sm" %>
        </div>
      </div>

  <% end %>
  <br>
  <%= form_tag resultados_especies_path, :method => :get, :class => "form-inline", :role => 'form' do %>
    <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
    <%= hidden_field_tag :busqueda, :nombre_cientifico %>
    <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
    <div class="form-group form-group-sm">
      <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "col-sm-2 control-label " %>
      <div class="col-sm-6">
        <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :placeholder => t(:nombre_cientifico).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
      </div>
      <div class="col-sm-4">
        <%= submit_tag :Buscar, data: { disable_with: 'Procesando...' }, :class => "busquedas form-control btn btn-info btn-sm" %>
      </div>
    </div>
      <div class="">
        <%= link_to (content_tag(:span, '', :class => "caret")+" Búsqueda avanzada"), '', :id => :busqueda_avanzada_link, :class => "btn btn-sm btn-link btn-block", :onClick => 'return busqueda_avanzada();' %>
      </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title"><%= t(:solo_taxones).html_safe %></h4>
      </div>
      <div class="panel-body">
        <div class="checkbox">
          <%= checkboxValidoSinonimo %>
        </div>
      </div>
    </div>

  <% end %>
</div>

<div id="busqueda_avanzada" style="display: none" >
  <%= form_tag resultados_especies_path, :method => :get, :class => "form-horizontal"  do %>
      <%= hidden_field_tag :id_nom_cientifico, nil, :id => :id_avanzada_cientifico %>
      <%= hidden_field_tag :id_nom_comun, nil, :id => :id_avanzada_comun %>
      <%= hidden_field_tag :busqueda, :avanzada %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_comun, t(:nombre_comun), :class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= text_field_tag :nombre_comun, nil, :id => :nombre_comun_1, :maxlength => 255, :placeholder => t(:nombre_comun).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>
        <div class="col-sm-4">
          <%# button_tag :Buscar, :class => "btn btn-default btn-sm", :disabled => 'disabled'%>
        </div>
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "col-sm-2 control-label " %>
        <div class="col-sm-6">
          <%= text_field_tag :nombre_cientifico, nil, :id => :nombre_cientifico_1, :maxlength => 255, :placeholder => t(:nombre_cientifico).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>
        <div class="col-sm-4">
          <%# button_tag :Buscar, :class => "btn btn-default btn-sm", :disabled => 'disabled'%>
        </div>
      </div>
      <div class=" dropup">
        <%= link_to (content_tag(:span, '', :class => "caret")+" Búsqueda básica"), '', :id => :busqueda_basica_link, :class => "btn btn-sm btn-link btn-block", :onClick => 'return busqueda_basica();' %>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm">
            <h4 class="panel-title">Con tipo de distribución: <i><small>(Predeterminada: Cualquiera)</small></i>
            <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body">
            <div class="checkbox">
              <%= checkboxTipoDistribucion %>
            </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm">
            <h4 class="panel-title">Con distribución en: <i><small>(Predeterminado: Nivel nacional)</small></i>
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body">
          <div class="form-group form-group-sm">
            <%= select_tag :distribucion_nivel_1, options_from_collection_for_select(TipoRegion.iniciales, :id, :descripcion), :prompt => :NACIONAL, :class => "form-control"  %>
            <div id="distribucion_nivel"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm">
            <h4 class="panel-title">Con la categoria taxonómica igual a:
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <%= checkboxCategoriaTaxonomica %>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm">
            <h4  class="panel-title">Con estado de conservación:
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <%= checkboxEstadoConservacion %>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm">
            <h4 class="panel-title"><%= t(:solo_taxones).html_safe %>
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <%= checkboxValidoSinonimo %>
          </div>
        </div>
      </div>


      <%= submit_tag :Buscar, :class => 'btn btn-info', data: { disable_with: 'Procesando...' } %>
  <% end %>
</div>
<div>
  Muestra <%= select_tag :per_page, options_for_select(Especie::POR_PAGINA.map{|v| [v, v]}), :class => "form-control" %> resultados por p&aacute;gina
  <br><%= button_tag :Limpiar, :id => :limpiar, :class => "form-control btn btn-danger btn-sm", data: { disable_with: 'Limpiando...' } %>
</div>