<%= javascript_include_tag params[:controller] %>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    muestraArbol = function(id) {
        $.ajax({
            url: "/especies/muestraTaxonomia",
            data: {
                id: id.substring(6)
            }
        }).done(function(arbol) {
                    return $("#vista_arbol").html(arbol);
                });
        return false;
    };

    despliegaOcontrae = function(id) {
        var sufijo;
        sufijo = id.substring(5);
        if ($("#nodo_" + sufijo + " li").length > 0) {
            $("#nodo_" + sufijo + " li").remove();
        } else {
            $.ajax({
                url: "/especies/buscaDescendientes",
                data: {
                    id: sufijo
                }
            }).done(function(nodo) {
                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };
</script>

<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<br><br>
<table width="1000" id="tabla_form">
  <tr>
    <td width="60%" valign="top">
      <fieldset>
        <legend class="leyenda">&Aacute;rbol taxon&oacute;mico</legend>
        <div id="vista_arbol">
          <%= arbolTaxonomico.html_safe %>
        </div>
      </fieldset>
    </td>
    <td>

      <fieldset>
        <legend class="leyenda">Listas</legend>
        <div width="40%" id="listas" valign="top">
          <% if @listas.nil? %>
              Debes <%= link_to 'iniciar sesi&oacute;n'.html_safe, inicia_sesion_usuarios_path %> para poder ver tus listas.
          <% elsif @listas == 0 %>
              A&uacute;n no has creado ninguna lista. ¿Quieres <%= link_to 'crear una', new_lista_url %>?
          <% else %>
              Puedes a&ntilde;adir taxones a m&aacute;s de una lista. (tecla SHIFT)
              <%= select_tag :listas, opcionesListas(@listas).html_safe, :multiple => true, :size => 10 %>
          <% end %>
        </div>
      </fieldset>
    </td>
  </tr>
</table>
