<%= javascript_include_tag params[:controller] %>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    muestraArbol = function(id) {
        $.ajax({
            url: "/especies/muestraTaxonomia",
            data: {
                id: id.substring(6)
            }
        }).done(function(arbol) {
                    return $("#vista_arbol").html(arbol);
                });
        return false;
    };

    despliegaOcontrae = function(id) {
        var sufijo;
        sufijo = id.substring(5);
        if ($("#nodo_" + sufijo + " li").length > 0) {
            $("#nodo_" + sufijo + " li").remove();
        } else {
            $.ajax({
                url: "/especies/buscaDescendientes",
                data: {
                    id: sufijo
                }
            }).done(function(nodo) {
                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };
</script>

<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<br><br>
<table width="1000" id="tabla_form">
  <tr>
    <td width="60%" valign="top">
      <fieldset>
        <legend class="leyenda">&Aacute;rbol taxon&oacute;mico</legend>
        <div id="vista_arbol">
          <%= arbolTaxonomico.html_safe %>
        </div>
      </fieldset>
    </td>
    <td>
    </td>
  </tr>
</table>
