<%= javascript_include_tag params[:controller] %>

<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<br><br>
<table class="tabla_formato">
  <tr>
    <td valign="top">
      <fieldset>
        <legend class="leyenda">&Aacute;rbol taxon&oacute;mico</legend>
        <div id="vista_arbol">
          <%= arbolTaxonomico.html_safe %>
        </div>
      </fieldset>
    </td>
  </tr>
</table>


