<%= javascript_include_tag params[:controller] %>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    muestraArbol = function(id) {
        $.ajax({
            url: "/especies/muestraTaxonomia",
            data: {
                id: id.substring(6)
            }
        }).done(function(arbol) {
                    return $("#vista_arbol").html(arbol);
                });
        return false;
    };

    despliegaOcontrae = function(id) {
        var sufijo;
        sufijo = id.substring(5);
        if ($("#nodo_" + sufijo + " li").length > 0) {
            $("#nodo_" + sufijo + " li").remove();
        } else {
            $.ajax({
                url: "/especies/buscaDescendientes",
                data: {
                    id: sufijo
                }
            }).done(function(nodo) {
                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };
</script>

<% content_for(:title) do %>
    <%= @titulo='Administrador de especies' %>
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<table id="especies" class="display" data-source="/especies.json">

  <thead>
  <tr>
    <th><%= check_box_tag 'box_especie', 'todos' %></th>
    <th></th>
    <th></th>
    <th>ID</th>
    <th>Nombre científico</th>
    <th>Nombre autoridad</th>
    <th>Categoria taxonómica<%=raw "&nbsp;"*6 %></th>
    <th>Ascendente directo</th>
    <th>Ascendente obligatorio</th>
    <th>Estatus</th>
    <th>Situaciones de los nombres cientificos</th>
    <th>Caracacterística del taxón</th>
    <th>Nombres comunes, regiones, distribuciones y bibliografias</th>
    <th></th>
    <th></th>
    <th>Fuente</th>
    <th>Cita nomenclatural</th>
    <th>Sistema de clasificación, catálogo o diccionario</th>
    <th>Anotación</th>
    <th>Fecha de captura</th>
    <th>Fecha de modificación</th>
  </tr>
  </thead>

  <tbody>
  </tbody>

  <tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </tfoot>
</table>
<br>

<div class="pie">
  <%= button_tag 'Limpiar busqueda', :id => 'limpiar', :type => :button %>
  <%= submit_tag 'Añade los seleccionados a la lista' , data: { confirm: '¿Estás seguro de querer añadir los contactos seleccionados a la lista?' }  if !@listas.nil? && @listas != 0 %>
  <%= submit_tag 'Destruye los seleccionados' , data: { confirm: '¿Estás seguro de eliminar los selecoinados?' } %>
  <%= #link_to 'Nuevo taxón', new_especy_path
  %>
  <%= #NombreComun.search(:conditions => {:nom => "rufo"})
  %>
</div>

<br><br>
<table width="1000" id="tabla_form"><tr>
  <td width="60%" valign="top">
    <fieldset>
      <legend class="leyenda">Árbol taxonómico</legend>
      <div id="vista_arbol">
        <%= arbolTaxonomico.html_safe %>
      </div>
    </fieldset>
  </td>
  <td>

    <fieldset>
      <legend class="leyenda">Listas</legend>
      <div width="40%" id="listas" valign="top">
        <% if @listas.nil? %>
            Debes iniciar sesión para poder ver tus listas.
        <% elsif @listas == 0 %>
            Aún no has creado ninguna lista. ¿Quieres <%= link_to 'crear una', new_lista_url %>?
        <% else %>
            Puedes añadir taxones a más de una lista. (tecla SHIFT)
            <%= select_tag 'listas', opcionesListas(@listas).html_safe, :multiple => true, :size => 10 %>
        <% end %>
      </div>
    </fieldset>
  </td>
</tr></table>
