<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    muestraArbol = function(id) {
        $.ajax({
            url: "/especies/muestraTaxonomia",
            data: {
                id: id
            }
        }).done(function(arbol) {
                    return $("#vista_arbol").html(arbol);
                });
    };

    despliegaOcontrae = function(id) {
        var sufijo;
        sufijo = id.substring(5);
        if ($("#nodo_" + sufijo + " li").length > 0) {
            $("#nodo_" + sufijo + " li").remove();
        } else {
            $.ajax({
                url: "/especies/buscaDescendientes",
                data: {
                    id: sufijo
                }
            }).done(function(nodo) {
                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };
</script>

<% content_for(:title) do %>
    <% if @parent %>
        <%= @titulo="Nueva especie o grupo descendiente de :<br><br>#{@parent.categoria_taxonomica.nombre_categoria_taxonomica} ✓ #{@parent.nombre_cientifico} #{@parent.nombre_autoridad}".html_safe %>
    <% else %>
        <%= @titulo='Nuevo grupo raíz' %>
    <% end %>
<% end %>

<div class="titulo">
  <p><%= enlacesDeTaxonomia(@parent, true) if @parent %></p>
  <h1><%= @titulo %></h1>
</div>

<%= render 'form' %>

