<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    $(document).ready(function()
    {
        $.ajax({
            url: "/especies/dame_listas",
            type: 'GET'
        }).done(function(html) {
                    $('#widget_listas').html(html);
                }).fail(function(){
                    $('#widget_listas').html('<p>Hubo un error al cargar los datos.');
                });

        valorListas = function()
        {
            $('#listas').val($('#listas_hidden').val());
        };

        $("#box_especie").click(function ()
        {
            checaCaja = $(this).is(":checked") ? true : false
            if (checaCaja)
            {
                $(":input[id^='box_especie_']").prop("checked", true);
            } else {
                $(":input[id^='box_especie_']").prop("checked", false);
            }
        });
    });
</script>

<% content_for(:title) do %>
    <%= @titulo="Resultados (#{@taxones.count})" %>
<% end %>

<p id="notice"><%= notice %></p>

<br><div class="titulo-busqueda">
  <%= page_entries_info @taxones if @taxones.present? %>
</div>

<%= form_tag aniade_taxones_especies_path, :method => :put %>

<% if @taxones.length > 0 %>
    <div id="acciones">
      <%= hidden_field_tag :listas %>
      <%= label_tag :box_especie, 'Selecciona todos' %>
      <%= check_box_tag :box_especie, :todos %> |
      <%= submit_tag 'A&ntilde;ade los seleccionados a la lista'.html_safe , :onClick =>'return valorListas();',
                     data: { confirm: '¿Estás seguro de querer añadir los contactos seleccionados a la lista?' } if !@listas.nil? && @listas != 0 %>
    </div>
<% end %>

<p class="notice">
  <%= @coincidencias if @coincidencias.present? %>
</p>

<%= @resultado %><br>
<%= @resultado2 %><br>

<div class="digg_pagination">
  <%= will_paginate @taxones %>
</div>
<%= render @vista, :taxones => @taxones %>
<% if @taxones.length >= 100 %>
    <div class="digg_pagination">
      <%= will_paginate @taxones %>
    </div>
<% end %>

<p class="enlaces_acciones">
  <%= '<em>Tu b&uacute;squeda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
</p>