<style type="text/css" data-turbolinks-track="true">
    #datos_principales
    {
        display:none;
        position:absolute;
        border-style: solid;
        background-color: white;
        padding: 5px;
    }
</style>

<script type="text/javascript" data-turbolinks-track="true">
    var cX = 0; var cY = 0; var rX = 0; var rY = 0;
    function UpdateCursorPosition(e){ cX = e.pageX; cY = e.pageY;}
    function UpdateCursorPositionDocAll(e){ cX = event.clientX; cY = event.clientY;}
    if(document.all) { document.onmousemove = UpdateCursorPositionDocAll; }
    else { document.onmousemove = UpdateCursorPosition; }
    function AssignPosition(d) {
        if(self.pageYOffset) {
            rX = self.pageXOffset;
            rY = self.pageYOffset;
        }
        else if(document.documentElement && document.documentElement.scrollTop) {
            rX = document.documentElement.scrollLeft;
            rY = document.documentElement.scrollTop;
        }
        else if(document.body) {
            rX = document.body.scrollLeft;
            rY = document.body.scrollTop;
        }
        if(document.all) {
            cX += rX;
            cY += rY;
        }
        d.style.left = (cX+10) + "px";
        d.style.top = (cY+10) + "px";
    }
    function HideContent(d) {
        if(d.length < 1) { return; }
        document.getElementById(d).style.display = "none";
    }
    function ShowContent(d) {
        if(d.length < 1) { return; }
        var dd = document.getElementById(d);
        AssignPosition(dd);
        dd.style.display = "block";
    }
    function ReverseContentDisplay(d) {
        if(d.length < 1) { return; }
        var dd = document.getElementById(d);
        AssignPosition(dd);
        if(dd.style.display == "none") { dd.style.display = "block"; }
        else { dd.style.display = "none"; }
    }
</script>

<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
  // Hacemos un set de todas las posibles tabs que podria haber, para
  // que conserve el paginado con el scrolling
    offset = {
        clase:          2,
        cohorte:        2,
        division:       2,
        eplicalse:      2,
        especie:        2,
        estirpe:        2,
        familia:        2,
        forma:          2,
        genero:         2,
        grado:          2,
        grupo:          2,
        grupo_especies: 2,
        hiporden:       2,
        infraclase:     2,
        infraorden:     2,
        infraphylum:    2,
        orden:          2,
        parvorden:      2,
        phylum:         2,
        raza:           2,
        reino:          2,
        seccion:        2,
        serie:          2,
        subclase:       2,
        subdivision:    2,
        subespecie:     2,
        subfamilia:     2,
        subforma:       2,
        subgenero:      2,
        subgrupo:       2,
        suborden:       2,
        subphylum:      2,
        subreino:       2,
        subseccion:     2,
        subserie:       2,
        subtribu:       2,
        subvariedad:    2,
        superclase:     2,
        superfamilia:   2,
        superorden:     2,
        superphylum:    2,
        superseccion:   2,
        supertribu:     2,
        tribu:          2,
        variedad:       2,
        todos:          2
    };

    // El valor del offset, paginado, url inicial y la categoria en la que se encuentra
    settings.cat = 'todos';
    settings.offset = 2;
    settings.url = "<%= request.url %>";
    settings.nop = <%= params[:por_pagina].to_i || Especie::POR_PAGINA_PREDETERMINADO %>;

    $(document).ready(function()
    {
        $('#tabs').tab();

        scrolling_page("#resultados", <%= params[:por_pagina].to_i || Especie::POR_PAGINA_PREDETERMINADO %>, "<%= request.url %>");

        /**
         *  Carga los taxones de la categoria dada
         **/
        $("[id^='nivel_']").click(function ()
        {
            var nivel = $(this).attr('id').substring(6);
            var id_div = '#' + $(this).attr('id_div');
            var url = $(this).attr('url') + '&solo_categoria=' + nivel;

            // No se porque cuenta 13 elementos
            if ($(id_div).html().length <= 13)
                $(id_div).load(url);

            settings.offset = eval("offset."+$(this).attr('id_div'));
            settings.cat = $(this).attr('id_div');
        });

        $.ajax({
            url: "/listas/dame_listas",
            type: 'POST'
        }).done(function(html) {
                    $('#widget_listas').html(html);
                }).fail(function(){
                    $('#widget_listas').html('<p>Hubo un error al cargar los datos.');
                });

        $(document).on('click', "#box_especie", function()
        {
            checaCaja = $(this).is(":checked") ? true : false
            if (checaCaja)
            {
                $(":input[class='especies']").prop("checked", true);
            } else {
                $(":input[class='especies']").prop("checked", false);
            }
        });

        $("#muestra_listas").click(function ()
        {
            $('#widget_listas').slideToggle();
            return false;
        });

        /*$(document).on('mouseenter', "[class^='datos_busqueda-']", function()
        {
            var id = $(this).attr('class').substring(15);
            $.ajax({
                url: "/especies/datos_principales",
                type: 'GET',
                data: {id: id}
            }).done(function(html) {
                        $('#datos_principales').html(html);
                        ShowContent('datos_principales');
                    }).fail(function(){
                        $('#datos_principales').html('Hubo un error al cargar los datos.');
                    });
        });

        $(document).on('mouseleave', "[class^='datos_busqueda-']", function()
        {
            HideContent('datos_principales');
        });*/
    });
</script>

<% content_for(:title) do %>
    <%= @titulo='Resultados' %>
<% end %>

<p id="notice"><%= notice %></p>

<div id="content">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
      <a href="#todos" data-toggle="tab" id_div="todos">Todos (<%= @paginacion[:rango_resultados].split('de ').last if @paginacion.present? %>)</a>
    </li>

    <% if @por_categoria.present? && @por_categoria.length > 0 %>
        <% @por_categoria.each do |categoria| %>
            <li>
              <a href="#<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>"
                 data-toggle="tab" id="<%= "nivel_#{categoria.nivel}" %>" url="<%= request.url %>"
                 id_div="<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>">
                <%= "#{categoria.nombre_categoria_taxonomica} (#{categoria.cuantos})" %>
              </a>
            </li>
        <% end %>
    <% end %>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="todos">
      <%= render :partial => 'especies/resultados' %>
    </div>

    <% if @por_categoria.present? && @por_categoria.length > 0 %>
        <% @por_categoria.each do |categoria| %>
            <div class="tab-pane" id="<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>">
            </div>
        <% end %>
    <% end %>
  </div>
</div>