<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    $(document).ready(function()
    {
        $.ajax({
            url: "/especies/dame_listas",
            type: 'GET'
        }).done(function(html) {
                    $('#widget_listas').html(html);
                }).fail(function(){
                    $('#widget_listas').html('<p>Hubo un error al cargar los datos.');
                });

        valorListas = function()
        {
            $('#listas').val($('#listas_hidden').val());
        };

        $("#box_especie").click(function ()
        {
            checaCaja = $(this).is(":checked") ? true : false
            if (checaCaja)
            {
                $(":input[id^='box_especie_']").prop("checked", true);
            } else {
                $(":input[id^='box_especie_']").prop("checked", false);
            }
        });

        $("#muestra_listas").click(function ()
        {
            $('#widget_listas').slideToggle();
            return false;
        });
    });
</script>

<% content_for(:title) do %>
    <%= @titulo="Resultados (#{@taxones.count})" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= form_tag aniade_taxones_especies_path, :method => :put %>

<p class="notice">
  <%= @coincidencias if @coincidencias.present? && @taxones.length > 0 %>
</p>

<table class="tabla_formato" border="0">
  <tr>
    <td valign="top">
      <br>
      <div class="titulo-busqueda">
        <%= page_entries_info @taxones if @taxones.present? %>
      </div>
      <% if @taxones.length > 0 %>
          <%= hidden_field_tag :listas %>
          <%= label_tag :box_especie, 'Selecciona todos' %>
          <%= check_box_tag :box_especie, :todos %> |
          <%= submit_tag 'A&ntilde;ade los seleccionados a la lista'.html_safe , :onClick =>'return valorListas();',
                         data: { confirm: '¿Estás seguro de querer añadir los contactos seleccionados a la lista?' } if !@listas.nil? && @listas != 0 %>
          <%= ' |' if !@listas.nil? && @listas != 0 %>
          <%= link_to :Ver_listas, '', :class => :link_azul, :id => :muestra_listas %>
          <br><br>
      <% end %>
    </td>
    <td width="50%" valign="top">
      <div id="widget_listas" style="display: none"></div>
    </td>
  </tr>
</table>

<%= @resultado %>
<%= @resultado2 %>

<div class="digg_pagination">
  <%= will_paginate @taxones %>
</div>
<%= render 'resultados', :taxones => @taxones, :busqueda => @busqueda %>
<% if @taxones.length >= 100 %>
    <div class="digg_pagination">
      <%= will_paginate @taxones %>
    </div>
<% end %>

<p class="enlaces_acciones">
  <%= '<em>Tu b&uacute;squeda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
</p>