<%= javascript_include_tag params[:controller] %>
<% content_for(:title) do %>
    <%= @titulo="Resultados (#{@taxones.length})" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<div id="acciones">
  <%= label_tag 'box_especie', 'Selecciona todos' %>
  <%= check_box_tag 'box_especie', 'todos' %>
</div>

<%= @resultado %>
<%= @resultado2 %>
<%= render @vista, :taxones => @taxones
%>

<p class="enlaces_acciones">
  <%= 'Tu búsqueda no dio ningún resultado.' if @taxones.length == 0 %>
</p>