<% content_for(:extrajs) do %>
    <%= javascript_include_tag "show", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "geodatos/d3.v3.min", "data-turbolinks-track" => true %>
<% end %>

<script data-turbolinks-track="true" type="text/javascript" charset="utf-8">
    var TAXON = <%=raw @especie.to_json %>;
    var NOMBRE_COMUN_PRINCIPAL = "<%=raw @nombre_comun_principal.present? ? @nombre_comun_principal : '' %>";
    var SPECIES_OR_LOWER = <%=raw species_or_lower = @species_or_lower %>;
    var GEO = <%=raw @geo.present? ? @geo.to_json : {} %>;
</script>

<% if notice.present? %>
    <div class="row alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, :title => true) %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
    <h3>
      <%= tituloNombreCientifico(@especie, :show => true).gsub(' )',')').html_safe %>
      <%= link_to('Edita el nombre común principal', edita_nombre_comun_principal_path(@especie.id), :class => 'btn btn-xs btn-link') if usuario_signed_in? %>
      <span id="edita_nom_com_principal" class="dialog" style="display: none"></span>
    </h3>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= dameNomComunes(@especie).html_safe %>
    <%= dameStatus(@especie).html_safe %>
  </div>
</div>

<% if (@species_or_lower) %>
    <div class="row" style="padding: 5px 0 15px 0;">
      <%= render :partial => 'panelCaracteristicaDistribucionAmbiente' %>
    </div>
<% end %>

<div id="pestañas" class="panel row">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li id="geodata_e_imagen_li" class="active"><a href="#geodata_e_imagen" class="noLoad"><i class="glyphicon glyphicon-globe"></i>&middot;<i class="picture-ev-icon"></i><strong> Mapa e imágenes</strong></a></li>
    <li id="descripcion_catalogos_li"><a href="#descripcion_catalogos"><i class="archive-ev-icon"></i><strong> Información <%= t(:del_taxon) %></strong></a></li>
    <li id="arbol_li"><a href="#arbol"><i class="flow-cascade-ev-icon"></i><strong>  <%= t :arreglo_taxonomico %></strong></a></li>
    <li id="describe_li" <%= 'class = "hidden"'.html_safe unless @species_or_lower %>><a href="#describe"><i class="newspaper-ev-icon"></i><strong>  Fichas</strong></a></li>
    <li id="comentario_li"><a href="#comentario"><i class="glyphicon glyphicon-comment"></i><strong>  Comentarios</strong></a></li>

    <li class="pull-right">
      <%# Parche para mostrar el PDF de Dalbergia (comentado con sintaxis ERB para q no salga en el html) %>
      <% if Especie::DALBERGIAS.include?(@especie.nombre_cientifico.gsub(' ','_')) %>
          <%= button_tag("<i class ='file-pdf-ev-icon''></i>Descargar PDF".html_safe, :type => :button, :class => 'noLoad btn btn-sm btn-default', :onClick => "window.open('http://conabioweb.conabio.gob.mx/webservice/dalbergias/#{@especie.nombre_cientifico.gsub(' ','_')}.pdf', '_blank', 'status=no, menubar=no' )") %>
      <% else %>
          <%= button_tag("<i class ='file-pdf-ev-icon''></i>Descargar PDF".html_safe, type: :button, class: 'noLoad btn btn-sm btn-default', id: :boton_pdf, target: '_blank') %>
      <% end %>
    </li>

    <li class="pull-right">
      <%= button_tag('Consulta en BHL', type: :button, class: 'noLoad btn btn-sm btn-default btn-title',
                     onClick: "window.open('http://www.biodiversitylibrary.org/name/#{@especie.nombre_cientifico.limpiar}',
                     '_blank', 'status=no', 'menubar=no')", title: 'Biblioteca sobre el Patrimonio de la Biodiversidad (BHL)') %>
    </li>

    <% if @con_naturalista %>
        <li class="pull-right">
          <%= button_tag(' NaturaLista', type: :button, class: 'noLoad btn btn-sm btn-default btn-title naturalista-ev-icon',
                         onClick: "window.open('http://www.naturalista.mx/observations/new?taxon_id=#{@con_naturalista}',
                     '_blank', 'status=no', 'menubar=no')", title: 'Sube tus observaciones a NaturaLista') %>
        </li>
    <% end %>
  </ul>

  <% if I18n.locale.to_s != 'es-cientifico' %>
      <script type="application/javascript">
          $('#pestañas > ul')[0].insertBefore($('#pestañas > ul')[0].children[2],$('#pestañas > ul')[0].children[1]);
          $('#pestañas > ul')[0].insertBefore($('#pestañas > ul')[0].children[3],$('#pestañas > ul')[0].children[1]);
      </script>
  <% end %>

  <div id="geodata_e_imagen" class="tab-pane panel-body">
    <%= render :partial => 'geodata_e_imagen' %>
  </div>

  <div id="descripcion_catalogos" class="tab-pane panel-body">
    <p class="text-center">
      <i class="spin6-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
    <h4>Cargando... Por favor, espera</h4>
    </p>
  </div>

  <div id="describe" class="tab-pane panel-body">
    <p class="text-center">
      <i class="spin6-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
    <h4>Cargando... Por favor, espera</h4>
    </p>
  </div>

  <div id="arbol" class="tab-pane panel-body"></div>

  <div id="comentario" class="tab-pane panel-body"></div>
</div>
