<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= @titulo = tituloNombreCientifico(@especie, render: 'title') %></title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-ui-1.10.4.custom.min.js' %>
  
  <script>
      var TAXON = <%=raw @especie.to_json %>;
      $(document).ready(function() {
          I18n.defaultLocale = "<%= 'es-cientifico' %>";
          I18n.locale = "<%= 'es-cientifico' %>";
          I18n.fallbacks = true;
          // Para correr los nobres comunes del lado del cliente
          $('#nombres_comunes_todos').load("/especies/" + TAXON.id + "/nombres-comunes-todos");
      });
  </script>

</head>

<body style="background-color: #FFFFFF;">

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, render: 'title') %>
<% end %>

<div class="titulo">
  <h1>
    <%= "#{tituloNombreCientifico(@especie)}".html_safe %>
  </h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="nombres_comunes_todos"></div>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sinónimos'}).html_safe %>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Homónimos'}).html_safe %>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <p><span>¿Tienes alguna duda, sugerencia o corrección acerca de este taxón? <%= link_to('Envíanosla', new_especie_comentario_path(@especie.id) ) %> y con gusto la atenderemos.</span></p>
</div>

<div id="photoscol" class="column span-13">
  <div id="photos">
    <%-
        taxon ||= @especie
        photos ||= @fotos
    -%>
    <% unless photos.nil? %>
        <% if taxon.especie_o_inferior? %>
            <% Rails.logger.info "#{photos[0].class}-#{photos.to_json}" %>
            <% if [Photo, Photo.descendent_classes].flatten.include?(photos[0].class) %>
                <%= photos.first.id ? modal_image(photos.first, :size => :medium, :type => :pdf) : link_to(image_tag(photos.first.medium_url || photos.first.small_url), photos.first.native_page_url) %>
                <div class="clear description" style="clear: both">
                  Foto: <%= link_to photos[0].attribution, native_url_for_photo(photos[0]) %>
                </div>
            <% else %>
                <% photo_url = "http://flickr.com/photos/#{photos[0].photo_xml[:owner]}/#{photos[0].id}" %>
                <%= link_to image_tag(photos[0].source_url(:medium)), photo_url %>
                <div class="description">
                  Foto: <%= link_to t(:view_original_ccD_photo, :owner => "#{photos[0].photo_xml[:ownername]}"), photos[0].page_url %>
                </div>
            <% end %>
        <% else %>
            <div class="clear photos_wrapper">
              <% for photo in photos %>
                  <%- photo_pos_class = cycle('first', '', '', '', '', 'last') -%>
                  <% if [Photo, Photo.descendent_classes].flatten.include?(photo.class) %>
                      <%= photo.id ? modal_image(photo, :size => :square, :type => :pdf, :class => photo_pos_class) : link_to(image_tag(photo.square_url), photo.native_page_url, :class => photo_pos_class) %>
                  <% else %>
                      <% photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}" %>
                      <a href="<%= photo_url %>" class="<%= photo_pos_class %>">
                        <%= image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "#{t(:photo).titleize}: #{photo.photo_xml['ownername']}") %>
                      </a>
                  <% end %>
              <% end %>
            </div>
            <% unless photos.empty? %>
                <div>
                  <%# link_to t(:invite_photos_to_raquo_html, :site_name => SITE_NAME_SHORT), photo_inviter_path(:taxon_id => @especie, :q => @especie.nombre_cientifico), :class => "right" %>
                  <a href="http://bdi.conabio.gob.mx/fotoweb/Grid.fwx?columns=4&rows=8&search=<%= URI.escape(taxon.nombre_cientifico) %>" target="_blank">
                    <%= t(:view_all_photos_tagged_taxon_html, :taxon => h(taxon.nombre_cientifico) ) %>
                  </a>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <div class="description">
          <a href="http://bdi.conabio.gob.mx/fotoweb/Grid.fwx?columns=4&rows=8&search=<%= URI.escape(taxon.nombre_cientifico) %>" target="_blank">
            <%= t(:view_all_photos_tagged_taxon_html, :taxon => taxon.nombre_cientifico).html_safe %>
          </a><br/>
        </div>
    <% end %>

    <% if !photos.nil? && taxon.especie_o_inferior? %>
        <div style="margin-top: 10px">
          <% unless photos[1..-1].size == 0 %>
              <div class="clear photos_wrapper">
                <% for photo in photos[1..6] %>
                    <%- photo_pos_class = cycle('first', '', '', '', '', 'last') -%>
                    <% if [Photo, Photo.descendent_classes].flatten.include?(photo.class) %>
                        <%= photo.id ? modal_image(photo, :size => :square, :type => :pdf, :class => photo_pos_class) : link_to(image_tag(photo.square_url), photo.native_page_url, :class => photo_pos_class) %>
                    <% else %>
                        <% photo_url = "http://flickr.com/photos/#{photo.photo_xml[:owner]}/#{photo.id}" %>
                        <a href="<%= photo_url %>" class="<%= photo_pos_class %>">
                          <%= image_tag(photo.source_url(:square), :width => 75, :height => 75, :title => "#{t(:photo).titleize}: #{photo.photo_xml['ownername']}") %>
                        </a>
                    <% end %>
                <% end %>
              </div>
              <div class="description">
                <%# link_to t(:invite_photos_to_raquo_html, :site_name => SITE_NAME_SHORT), photo_inviter_path(:taxon_id => @especie, :q => @especie.nombre_cientifico), :class => "right" %>
                <a href="http://bdi.conabio.gob.mx/fotoweb/Grid.fwx?columns=4&rows=8&search=<%= URI.escape(taxon.nombre_cientifico) %>" target="_blank">
                  <%= t(:view_all_photos_tagged_taxon_html, :taxon => h(taxon.nombre_cientifico) ) %>
                </a>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<% if @especie.especie_o_inferior? %>
    <div style="width: 60%; float:right;">
      <div id="map"></div>
    </div>
<% end %>

<div id="description" class="last column span-20">
  <% css_class = "clear taxon_description" %>
  <% if @describer %>
      <% css_class += " #{@describer.name.split('::').last.underscore}_description" %>
      <% css_class += " wikipedia_description" if @describer.ancestors.include?(TaxonDescribers::Wikipedia) %>
  <% end %>
  <div class="<%= css_class %>" id="taxon_description">
    <h3>
      Descripción de <%= params[:from] %>
      <% if @describer %>
          <%# @describer.name.split('::').last.upcase %>
          <% if page_url = @describer.page_url(@especie) %>
              <%# link_to "Ver en #{@describer.describer_name} &rarr;".html_safe, page_url, :class => "externallink ui" %>
          <% end %>
      <% else %>
          <%#TODO revisar el describer y las fotos%>
      <% end %>
    </h3>
    <% if @description.blank? %>
        <p class="nocontent meta">
          <% if @describer == TaxonDescribers::Wikipedia || @describer.blank? %>
              <%= t :no_matching_article_from_x_to_y, :x => 'Wikipedia (EN)', :y => @especie.nombre_cientifico %>
          <% elsif @describer %>
              <%= t :no_matching_article_from_x_to_y, :x => @describer.describer_name, :y => @especie.nombre_cientifico %>
          <% end %>
        </p>
    <% else %>
        <%= raw @description %>
    <% end %>
  </div>
</div>
</body>
</html>
