<script data-turbolinks-track="true" src="/assets/photo_selectors.js" data-turbolinks-track="true"></script>
<script data-turbolinks-track="true" src="/assets/show.js" data-turbolinks-track="true"></script>

<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    var TAXON = <%=raw @especie.to_json %>;

    info = function()
    {
        $('#ficha-div').slideUp();
        $('#info-div').slideDown();
        return false;
    }

    ficha = function()
    {
        $('#info-div').slideUp();
        $('#ficha-div').slideDown();
        return false;
    }

    googleMaps = function(taxon)
    {
        var mapOptions = {
            //center: new google.maps.LatLng(38,-79.5),
            zoom:3,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
        var overlay = new google.maps.KmlLayer('http://www.conabio.gob.mx/informacion/gis/maps/api/kml?nc=' + taxon);

        overlay.setMap(map);
        google.maps.event.addListener(overlay,'status_changed',function(){
            document.getElementById('statusGoogleMap').innerHTML = overlay.getStatus();

            if (overlay.getStatus() != 'OK')
            {
                $('#googleMap').hide();
            } else {
                $('#sinGoogleMap').hide();
            }
            $('#statusGoogleMap').val(overlay.getStatus());
        });
    }

    muestraBibliografiaNombres = function(ident)
    {
        var id=ident.split('_')[2];
        $("#biblio_"+id).dialog();
        return false;
    }

    $(document).ready(function()
    {
        <% if !@especie.is_root? %>
        muestraArbol(TAXON.id);
        <% end %>
        <%# if (!@especie.species_or_lower? && @photos.size < 24) || @photos.blank? %>
        //$('#photos_loading_status').show()
        /*$('#photos').load('<%# taxon_photos_path(@especie) %>', function() {
     $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link')
     });*/
        <%# end %>
    });
</script>


<p id="notice"><%= notice %></p>

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, :title => true) %>
<% end %>

<div class="titulo">
  <h1>
    <%= "#{tituloNombreCientifico(@especie, :show => true)}".html_safe %>
    <%= link_to(:Editar, edit_especy_path, :class => :link_azul, :style => 'font-size:12px;').html_safe if usuario_signed_in? %>
  </h1>
  <% if @especie.estatus == 1 %>
      <%= dameStatus(@especie).html_safe %>
  <% elsif @especie.estatus == 2 && I18n.locale.to_s != 'es-cientifico' %>
      <% if  @especie.species_or_lower? %>
          <%= dameDistribucion(@especie) %> -
          <%= dameCaracteristica(@especie).html_safe %>
      <% end %>
      <%= dameNomComunes(@especie).html_safe %>
  <% end %>
</div>

<table class="tabla_formato">
  <tr>
    <td>
      <div id="photoscol" class="column span-13">
        <% if @especie.species_or_lower? && @photos.empty? %>
            <div class="notice">
              <%= t(:este_taxon_no_tiene).html_safe %>
              <%= link_to('A&ntilde;ade una'.html_safe, nil, :onClick => "$('#edit_photos_dialog').dialog('open');return false;", :class => 'readmore') %>
            </div>
        <% end %>
        <div id="photos">
          <%= render :partial => 'photos', :locals => { :photos => @photos } %>
          <div id="photos_loading_status" class="loading status" style="display:none">Cargando m&aacute;s fotos...</div>
        </div>

        <% if usuario_signed_in? %>
            <%= link_to('Edita las fotos', nil, :onClick => "$('#edit_photos_dialog').dialog('open');return false;", :class => 'readmore') %>
            <div id="edit_photos_dialog" class="dialog" style="display: none"></div>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div id="tabs">
        <% if I18n.locale.to_s == 'es-cientifico' %>
            <ul>
              <li><a href="#conabio_info"><span>Info</span></a></li>
              <li><a href="#arbol_taxonomico"><span>&Aacute;rbol taxon&oacute;mico</span></a></li>
              <%= "<li><a href=\"#description\"><span>Fichas</span></a></li>".html_safe if @especie.species_or_lower? %>
            </ul>

            <div id="conabio_info" class="last column span-20">
              <%= render :partial => 'info' %>
            </div>

            <div id="arbol_taxonomico" class="last column span-20">
              <%= render :partial => 'arbol' %>
            </div>

            <% if @especie.species_or_lower? %>
                <div id="description" class="last column span-20">
                  <%= render :partial => 'description' %>
                </div>
            <% end %>
        <% else %>
            <ul>
              <%= "<li><a href=\"#description\"><span>Fichas</span></a></li>".html_safe if @especie.species_or_lower? %>
              <li><a href="#arbol_taxonomico"><span>&Aacute;rbol taxon&oacute;mico</span></a></li>
            </ul>

            <% if @especie.species_or_lower? %>
                <div id="description" class="last column span-20">
                  <%= render :partial => 'description' %>
                </div>
            <% end %>

            <div id="arbol_taxonomico" class="last column span-20">
              <%= render :partial => 'arbol' %>
            </div>
        <% end %>
      </div>
    </td>
  </tr>
</table>
<!--div class="enlaces_acciones">
  <%# accionesEnlaces(@especie, @accion).html_safe %><br>
  <%# link_to("Nuevo tax&oacute;n descendiente de #{@especie.nombre_cientifico}".html_safe,
              new_especy_path(:parent_id => @especie)).html_safe %>
</div-->

<div id="mapas-div" style="display: none">
  <table class="tabla_formato">
    <tr>
      <td>
        <div id="sinGoogleMap" style="width:1000px;"><em>No existe un mapa de distribuci&oacute;n asociado a este tax&oacute;n</em></div>
        <div id="googleMap" style="height:500px;width:600px;"></div>
        <div id="statusGoogleMap" style="display: none"></div>
      </td>
    </tr>
  </table>
</div>