<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= @titulo = tituloNombreCientifico(@especie, render: 'title') %></title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= wicked_pdf_javascript_include_tag 'jquery-ui-1.10.4.custom.min.js' %>
  
  <script>
      var TAXON = <%=raw @especie.to_json %>;
      $(document).ready(function() {
          I18n.defaultLocale = "<%= 'es-cientifico' %>";
          I18n.locale = "<%= 'es-cientifico' %>";
          I18n.fallbacks = true;
          // Para correr los nobres comunes del lado del cliente
          $('#nombres_comunes_todos').load("/especies/" + TAXON.id + "/nombres-comunes-todos");
      });
  </script>

</head>

<body style="background-color: #FFFFFF;">

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, render: 'title') %>
<% end %>

<div class="titulo">
  <h1>
    <%= "#{tituloNombreCientifico(@especie)}".html_safe %>
  </h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="nombres_comunes_todos"></div>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sinónimos'}).html_safe %>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Homónimos'}).html_safe %>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <p><span>¿Tienes alguna duda, sugerencia o corrección acerca de este taxón? <%= link_to('Envíanosla', new_especie_comentario_path(@especie.id) ) %> y con gusto la atenderemos.</span></p>
</div>

<div id="description" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <% css_class = "clear taxon_description" %>
  <% if @describer %>
      <% css_class += " #{@describer.name.split('::').last.underscore}_description" %>
      <% css_class += " wikipedia_description" if @describer.ancestors.include?(TaxonDescribers::Wikipedia) %>
  <% end %>
  <div class="<%= css_class %>" id="taxon_description">
    <h3>
      Descripción de <%= params[:from] %>
      <% if @describer %>
          <%# @describer.name.split('::').last.upcase %>
          <% if page_url = @describer.page_url(@especie) %>
              <%# link_to "Ver en #{@describer.describer_name} &rarr;".html_safe, page_url, :class => "externallink ui" %>
          <% end %>
      <% else %>
          <%#TODO revisar el describer y las fotos%>
      <% end %>
    </h3>
    <% if @description.blank? %>
        <p class="nocontent meta">
          <% if @describer == TaxonDescribers::Wikipedia || @describer.blank? %>
              <%= t :no_matching_article_from_x_to_y, :x => 'Wikipedia (EN)', :y => @especie.nombre_cientifico %>
          <% elsif @describer %>
              <%= t :no_matching_article_from_x_to_y, :x => @describer.describer_name, :y => @especie.nombre_cientifico %>
          <% end %>
        </p>
    <% else %>
        <%= raw @description %>
    <% end %>
  </div>
</div>
</body>
</html>
