<p id="notice"><%= notice %></p>

<p><%= enlacesDeTaxonomia(@especie) %></p>
<% content_for(:title) do %>
    <%= @titulo="#{@especie.nombre} (#{CategoriaTaxonomica.cat_taxonom(@especie.categoria_taxonomica_id)})" %>
<% end %>

<h1><%= @titulo %></h1>

<p>
  <strong>Identificador único:</strong>
  <%= @especie.id %>
</p>

<p>
  <strong>Ascendente directo:</strong>
  <%= @especie.is_root? ? 'Es raíz' : Especie.find(@especie.id_nombre_ascendente).nombre %>
</p>

<p>
  <strong>Ascendente obligatorio:</strong>
  <%= @especie.is_root? ? 'Es raíz' : Especie.find(@especie.id_ascend_obligatorio).nombre %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= Especie::ESTATUSES.select{ |k, v| k === @especie.estatus }.first.last %>
</p>

<p>
  <strong>Estado de conservación:</strong>
  <%= Especie.dameEstadoDeConservacion(@especie).html_safe %>
</p>

<p>
  <strong>Nombres comunes, regiones, distribuciones y bibliografias:</strong>
  <%= Especie.dameRegionesNombresBibliografia(@especie,true).html_safe %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @especie.fuente %>
</p>

<p>
  <strong>Nombre autoridad:</strong>
  <%= @especie.nombre_autoridad %>
</p>

<p>
  <strong>Número filogenético:</strong>
  <%= @especie.numero_filogenetico %>
</p>

<p>
  <strong>Cita nomenclatural:</strong>
  <%= @especie.cita_nomenclatural %>
</p>

<p>
  <strong>Sistema de clasificación del catalogo:</strong>
  <%= @especie.sis_clas_cat_dicc %>
</p>

<p>
  <strong>Anotación:</strong>
  <%= @especie.anotacion %>
</p>

<p>
  <strong>Fecha de Captura:</strong>
  <%= @especie.created_at %>
</p>

<p>
  <strong>Fecha de modificación:</strong>
  <%= @especie.updated_at %>
</p>

<%= link_to 'Editar', edit_especy_path(@especie) %> |
<%= link_to 'Regresar al buscador', especies_path %>
<br>

<%= link_to("Nueva especie o grupo derivada de esta".html_safe,
            new_especy_path(:parent_id => @especie)).html_safe %> |
<%= link_to 'Nueva especie o grupo raíz', new_especy_path %>
