<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= @titulo = tituloNombreCientifico(@especie, render: 'title') %></title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag  'application' %>
  <%= wicked_pdf_javascript_include_tag  'especies' %>
  <%#= wicked_pdf_javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%#= wicked_pdf_javascript_include_tag 'jquery-ui-1.10.4.custom.min.js' %>

  <script>
      var TAXON = <%=raw @especie.to_json %>;
      $(document).ready(function() {
          I18n.defaultLocale = "<%= 'es-cientifico' %>";
          I18n.locale = "<%= 'es-cientifico' %>";
          I18n.fallbacks = true;
          // Para correr los nobres comunes del lado del cliente
          $('#nombres_comunes_todos').load("/especies/" + TAXON.id + "/nombres-comunes-todos");
      });
  </script>

</head>

<body style="background-color: #FFFFFF;">

<% content_for(:title) do %>
  <%= @titulo = tituloNombreCientifico(@especie, render: 'title') %>
<% end %>

<div class="titulo">
  <h1>
    <%= "#{tituloNombreCientifico(@especie)}".html_safe %>
  </h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="nombres_comunes_todos"></div>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Sinónimos'}).html_safe %>
  <%= dameSinonimosUhomonimos(@especie, {tipo_recurso: 'Homónimos'}).html_safe %>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <p><span>¿Tienes alguna duda, sugerencia o corrección acerca de este taxón? <%= link_to('Envíanosla', new_especie_comentario_path(@especie.id) ) %> y con gusto la atenderemos.</span></p>
</div>

<div id="description" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
  <%= render partial: 'especies/descripciones/descripcion' %>
</div>
<style>
  #ficha div{display: block!important;}
</style>
</body>

</html>
