<% content_for(:extrajs) do %>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' charset='utf-8' data-turbolinks-track='true'></script>
    <%= javascript_include_tag "show", "data-turbolinks-track" => true %>
<% end %>

<% taxon = @especie.to_json %>
<% species_or_lower = @especie.species_or_lower? %>
<% geodatos = @especie.proveedor.try(:geodatos) if species_or_lower %>
<% geo = JSON.parse(geodatos) if geodatos %>

<script data-turbolinks-track="true" type="text/javascript" charset="utf-8">
    var TAXON = <%=raw taxon %>;
    var SPECIES_OR_LOWER = <%=raw species_or_lower %>;

    if (SPECIES_OR_LOWER)
    {
        // Nos fijamos que si va a desplegar el mapa por lo menos tenga un kmz asociado
        var RUTAS_KMZ = eval(<%=raw geodatos %>);

        if (RUTAS_KMZ != undefined)
        {
            var CUANTOS_KMZ = Object.keys(RUTAS_KMZ).length;

            if (CUANTOS_KMZ > 0) {
                var MAPAS = new Array();

                if (RUTAS_KMZ.geoserver_kmz != undefined) {
                    MAPAS[0] = new Array();
                    MAPAS[0][0] = RUTAS_KMZ.geoserver_kmz
                    MAPAS[0][1] = " Mapa de distribución potencial (CONABIO)"
                }

                if (RUTAS_KMZ.snib_kmz != undefined) {
                    var CUANTOS = Object.keys(MAPAS).length;
                    MAPAS[CUANTOS] = new Array();
                    MAPAS[CUANTOS][0] = RUTAS_KMZ.snib_kmz
                    MAPAS[CUANTOS][1] = " <img src='/assets/app/placemarks/rojo.png'/> Registros de museos, colectas y proyectos de CONABIO (SNIB)"
                }

                if (RUTAS_KMZ.naturalista_kmz != undefined) {
                    var CUANTOS = Object.keys(MAPAS).length;
                    MAPAS[CUANTOS] = new Array();
                    MAPAS[CUANTOS][0] = RUTAS_KMZ.naturalista_kmz
                    MAPAS[CUANTOS][1] = " Observaciones de <img src='/assets/app/naturalista.png' width='70'/>" +
                    "<p><img src='/assets/app/placemarks/verde.png'/> Grado de investigación <br>" +
                    "<img src='/assets/app/placemarks/amarillo.png'/> Grado casual</p>"
                }
            }
        }
    }

    info = function()
    {
        $('#ficha-div').slideUp();
        $('#info-div').slideDown();
        return false;
    }

    ficha = function()
    {
        $('#info-div').slideUp();
        $('#ficha-div').slideDown();
        return false;
    }

    muestraBibliografiaNombres = function(ident)
    {
        var id=ident.split('_')[2];
        $("#biblio_"+id).dialog();
        return false;
    }

    getDescription = function(url)
    {
        $.ajax({
            url: url,
            method: 'get',
            beforeSend: function() {
                $('.taxon_description').loadingShades()
            },
            success: function(data, status) {
                $('.taxon_description').replaceWith(data);
                $('.taxon_description select').change(function() {
                    getDescription('/especies/'+TAXON.id+'/describe?from='+$(this).val())
                })
            },
            error: function(request, status, error) {
                $('.taxon_description').loadingShades('close')
            }
        })
    }

    $(document).ready(function()
    {
        $('#pestañas').tabs(); // Inicia los tabs
        $('#pestañas > .nav a').click(function(){
            $('#pestañas > .nav li').removeClass("active");
            $(this).parent().addClass("active");
        });
        //$('#pestañas > div').addClass("panel-body");

        // Inicia los proveedores de fotos
        $('#edit_photos_dialog').dialog({
            modal: true,
            title: 'Escoge las fotos para este grupo o especie',
            autoOpen: false,
            width: 700,
            open: function( event, ui ) {
                $('#edit_photos_dialog').loadingShades('Cargando...', {cssClass: 'smallloading'})
                $('#edit_photos_dialog').load('/especies/'+TAXON.id+'/edit_photos', function() {
                    var photoSelectorOptions = {
                        defaultQuery: TAXON.nombre_cientifico,
                        skipLocal: true,
                        baseURL: '/conabio/photo_fields',
                        taxon_id: TAXON.id,
                        urlParams: {
                            authenticity_token: $('meta[name=csrf-token]').attr('content'),
                            limit: 14
                        },
                        afterQueryPhotos: function(q, wrapper, options) {
                            $(wrapper).imagesLoaded(function() {
                                $('#edit_photos_dialog').centerDialog()
                            })
                        }
                    };

                    $('.tabs', this).tabs({
                        beforeActivate: function( event, ui ) {
                            if ($(ui.newPanel).attr('id') == 'flickr_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                //$('.taxon_photos', ui.newPanel).photoSelector(photoSelectorOptions)
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/flickr/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'inat_obs_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/taxa/'+TAXON.id+'/observation_photos'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'eol_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/eol/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'wikimedia_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/wikimedia_commons/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'conabio_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {taxon_id: TAXON.id, baseURL: '/conabio/photo_fields'})
                                )
                            }

                            $(ui.newPanel).addClass('loaded')
                            $('#edit_photos_dialog').centerDialog()
                        },
                        create: function( event, ui) {
                            $('.taxon_photos', ui.panel).photoSelector(photoSelectorOptions);
                            $(ui.panel).addClass('loaded')
                            $('#edit_photos_dialog').centerDialog()
                        }
                    })
                })
            }
        });

        // Edita el nombre comun principal
        $('#edita_nom_com_principal').dialog({
            modal: true,
            title: 'Cambia o pon un nuevo nombre común',
            autoOpen: false,
            width: 700,
            open: function( event, ui ) {
                $('#edita_nom_com_principal').loadingShades('Cargando...', {cssClass: 'smallloading'});
                $('#edita_nom_com_principal').load('/adicionales/'+TAXON.id+'/edita_nom_comun', function() {
                    $(ui.panel).addClass('loaded');
                    $('#edita_nom_com_principal').centerDialog();
                });
            }
        });

        // Envia un comentario como parte de la retroalimentacion
        $('#envia_comentario').dialog({
            modal: true,
            title: 'Envianos tus comentarios',
            autoOpen: false,
            width: 700,
            open: function( event, ui ) {
                $('#envia_comentario').loadingShades('Cargando...', {cssClass: 'smallloading'});
                $('#envia_comentario').load('/especies/'+TAXON.id+'/comentarios/new', function() {
                    $(ui.panel).addClass('loaded');
                    $('#envia_comentario').centerDialog();
                });
            }
        });

        if (SPECIES_OR_LOWER)
        {
            getDescription('/especies/'+TAXON.id+'/describe'); // Inicia las fihas

            if (CUANTOS_KMZ > 0)
            {
                dimensionesIniciales();
                // Inicia el mapa

                for (var i = 0; i < MAPAS.length; i++) {
                    infoWindow = new google.maps.InfoWindow({});
                    MAPAS[i][2] = function (direccion) {
                        return map.loadFromKML({
                            url: direccion,
                            preserveViewport: true,
                            suppressInfoWindows: true,
                            events: {
                                click: function (point) {
                                    anchoInfo = function () {
                                        return parseInt($("#map").width() / 5) * 4;
                                    };
                                    altoInfo = function () {
                                        return parseInt($("#map").height() / 10) * 9;
                                    };
                                    if (point.featureData.infoWindowHtml.indexOf('$[description]') > -1) {
                                        infoWindow.setContent("<div id='balloon'  style='overflow: auto; cursor: default; clear: both; position: relative; border: 1px solid rgb(204, 204, 204); border-radius: 10px; padding: 10px; max-width: " + anchoInfo() + "px; max-height: " + altoInfo() + "px; background-color: rgb(255, 255, 255);  border-radius: 2em;'>" + point.featureData.name + "</div>");
                                        infoWindow.maxWidth = 2;
                                    } else {
                                        infoWindow.setContent("<div id='balloon'  style='overflow: auto; cursor: default; clear: both; position: relative; border: 1px solid rgb(204, 204, 204); border-radius: 10px; padding: 10px; max-width: " + anchoInfo() + "px; max-height: " + altoInfo() + "px; background-color: rgb(255, 255, 255);  border-radius: 2em;'>" + point.featureData.infoWindowHtml + "</div>");
                                    }
                                    ;
                                    infoWindow.setPosition(point.latLng);
                                    infoWindow.open(map.map);
                                    $(function () {
                                       $("#balloon div").removeAttr("style");
                                    });
                                }
                            }
                        });
                    }
                }

                anadeControlFullScreen();
                anadeControlCapas();

                $(window).resize(function(){
                    redimensionaGmaps(function(){
                        google.maps.event.trigger(map.map, 'resize');
                    });
                });
            }
        }

        <%# if (!@especie.species_or_lower? && @photos.size < 24) || @photos.blank? %>
        //$('#photos_loading_status').show()
        /*$('#photos').load('<%# taxon_photos_path(@especie) %>', function() {
     $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link')
     });*/
        <%# end %>
    });
</script>


<p id="notice"><%= notice %></p>

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, :title => true) %>
<% end %>
<div class="row main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            <%= "#{tituloNombreCientifico(@especie, :show => true).gsub(' )',')')}".html_safe %>
            <%= link_to('Edita el nombre común principal', nil, :onClick => "$('#edita_nom_com_principal').dialog('open');return false;", :style => 'font-size:12px;') if usuario_signed_in? %>
            <span id="edita_nom_com_principal" class="dialog" style="display: none"></span>
            <span id="envia_comentario" class="dialog" style="display: none"></span>
        </h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= dameNomComunes(@especie).html_safe %>
            <%= dameStatus(@especie).html_safe %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><%= '<strong>Categorías de riesgo y comercio internacional: </strong><br>'.html_safe << dameCaracteristica(@especie).html_safe if dameCaracteristica(@especie).present? %></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><%= '<strong>Tipo de distribución: </strong><br>'.html_safe << dameDistribucion(@especie).html_safe if dameDistribucion(@especie).present? %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p><span>¿Tienes alguna duda, sugerencia o corrección acerca de este taxón? <%= link_to('Envíanosla', nil, :onClick => "$('#envia_comentario').dialog('open');return false;") %> y con gusto la atenderemos.</span></p>
    </div>

    <% if geo && geo.count > 0 %>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <% else %>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <% end %>

            <div id="photoscol">
                <div id="photos" >
                    <%= render :partial => 'fotos_carrusel', :locals => { :photos => @photos } %>
                </div>

                <% if usuario_signed_in? %>
                    <%= link_to('Edita las fotos', nil, :onClick => "$('#edit_photos_dialog').dialog('open');return false;", :class => 'readmore') %>
                    <div id="edit_photos_dialog" class="dialog" style="display: none"></div>
                <% end %>
            </div>
        </div>

    <% if geo && geo.count > 0 %>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="contenedor_mapa">
            <div class="img-thumbnail embed-responsive embed-responsive-4by3">
                <div id="map"></div>
                <strong>NOTA:</strong> La distribución potencial es sólo de México
            </div>
        </div>
    <% end %>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <% if geo && geo.count > 0 %>
      <div class="btn-group text-right" style="width: 100%; role="group" aria-label="...">
        <%= link_to(("Mapa de distribución: "+image_tag('app/kmz.png', :alt => :KMZ, :style => 'margin: 1px;')).html_safe, geo['geoserver_kmz'], :target => :_blank, :style => 'padding: 0px 12px;') if geo['geoserver_kmz'] %>
        <%= link_to(("Registros del SNIB: "+image_tag('app/kml.png', :alt => 'Registros de museos, colectas y proyectos de CONABIO (SNIB)', :style => 'margin: 1px;')).html_safe, geo['snib_kml'], :target => :_blank, :style => 'padding: 0px 12px;') if geo['snib_kml'] %>
        <%= link_to(("Observaciones de: "+image_tag('app/naturalista.png', :alt => :KML, :style => 'margin: 5px 0px;')).html_safe, geo['naturalista_kml'], :target => :_blank, :style => 'padding: 0px 12px;') if geo['naturalista_kml'] %>
      <% end %>
        <%= link_to(("Descargar versión: "+image_tag('app/pdf.png', :alt => :PDF, :style =>'margin: 1px;')).html_safe, "#{especie_path(@especie)}.pdf", :target => :_blank) %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pestañas" class="panel panel-success">
          <% if I18n.locale.to_s == 'es-cientifico' %>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#conabio_info"><span>Catálogos de CONABIO</span></a></li>
                <li><a href="#arbol_taxonomico"><span><%= t :arreglo_taxonomico %></span></a></li>
                <%= "<li><a href=\"#description\"><span>Fichas</span></a></li>".html_safe if @especie.species_or_lower? %>
              </ul>
              <div id="conabio_info" class="tab-pane active">
                <%= render :partial => 'info' %>
              </div>

              <div id="arbol_taxonomico" class="tab-pane">
                <%= render :partial => 'arbol' %>
              </div>

              <% if @especie.species_or_lower? %>
                  <div id="description" class="tab-pane">
                    <%= render :partial => 'description' %>
                  </div>
              <% end %>
          <% else %>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <% if @especie.species_or_lower? %>
                    <li class="active"><a href="#description"><span>Fichas</span></a></li>
                    <li><a href="#arbol_taxonomico"><span><%= t :arreglo_taxonomico %></span></a></li>
                <% else %>
                    <li class="active"><a href="#arbol_taxonomico"><span><%= t :arreglo_taxonomico %></span></a></li>
                <% end %>
                <li><a href="#conabio_info"><span>Catálogos de CONABIO</span></a></li>
              </ul>


                <% if @especie.species_or_lower? %>
                    <div id="description" class="tab-pane panel-body">
                    <%= render :partial => 'description' %>
                    </div>
                    <div id="arbol_taxonomico" class="tab-pane panel-body">
                      <%= render :partial => 'arbol' %>
                    </div>
                <% else %>
                    <div id="arbol_taxonomico" class="tab-pane panel-body">
                      <%= render :partial => 'arbol' %>
                    </div>
                <% end %>
                <div id="conabio_info" class="tab-pane panel-body">
                    <%= render :partial => 'info' %>
                </div>

          <% end %>
        </div>
    </div>
</div>