<% content_for(:extrajs) do %>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp' charset='utf-8' data-turbolinks-track='true'></script>
    <%= javascript_include_tag "show", "data-turbolinks-track" => true %>
    <script src="http://d3js.org/d3.v3.min.js" data-turbolinks-track='true'></script>
<% end %>

<script data-turbolinks-track="true" type="text/javascript" charset="utf-8">
    var TAXON = <%=raw @especie.to_json %>;
    var NOMBRE_COMUN_PRINCIPAL = "<%=raw @nombre_comun_principal.present? ? @nombre_comun_principal : '' %>";
    var SPECIES_OR_LOWER = <%=raw species_or_lower = @species_or_lower %>;
    var GEO = <%=raw @geo.present? ? @geo.to_json : {} %>;

    info = function(){
        $('#ficha-div').slideUp();
        $('#info-div').slideDown();
        return false;
    };

    ficha = function(){
        $('#info-div').slideUp();
        $('#ficha-div').slideDown();
        return false;
    };

    muestraBibliografiaNombres = function(ident){
        var id=ident.split('_')[2];
        $("#biblio_"+id).dialog();
        return false;
    };

    getDescription = function(url){
        $.ajax({
            url: url,
            method: 'get',
            success: function(data, status) {
                $('.taxon_description').replaceWith(data);
            },
            error: function(request, status, error) {
                $('.taxon_description').loadingShades('close');
            }
        })
    };

    despliegaOcontrae = function(id)
    {
        var sufijo = id.substring(5);

        if ($("#nodo_" + sufijo + " li").length > 0)
        {
            var minus = $('#span_' + sufijo).hasClass("glyphicon-minus");

            if (minus)
                $('#span_' + sufijo).removeClass("glyphicon-minus").addClass("glyphicon-plus");

            $("#nodo_" + sufijo + " li").remove();

        } else {
            var origin_id = window.location.pathname.split('/')[2];

            $.ajax(
                    {
                        url: "/especies/" + sufijo + "/hojas_arbol_identado?origin_id=" + origin_id
                    }).done(function(nodo)
                    {
                        var plus = $('#span_' + sufijo).hasClass("glyphicon-plus");

                        if (plus)
                            $('#span_' + sufijo).removeClass("glyphicon-plus").addClass("glyphicon-minus");

                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };

    $(document).ready(function()
    {
        $('#pestañas').tabs(); // Inicia los tabs

        $('#pestañas > .nav a').click(function(){
            $('#pestañas > .nav li').removeClass("active");
            $(this).parent().addClass("active");
        }).one('click',function(){
            if (!Boolean($(this).hasClass('noLoad'))){
                idPestaña = this.getAttribute('href');
                pestaña = '/especies/'+TAXON.id+'/'+idPestaña.replace('#','');
                $(idPestaña).load(pestaña);
            }
        });

        // Inicia los proveedores de fotos
        $('#edit_photos_dialog').dialog({
            modal: true,
            title: 'Escoge las fotos para este grupo o especie',
            autoOpen: false,
            width: 700,
            open: function( event, ui ) {
                $('#edit_photos_dialog').loadingShades('Cargando...', {cssClass: 'smallloading'});
                $('#edit_photos_dialog').load('/especies/'+TAXON.id+'/edit_photos', function(){
                    var photoSelectorOptions = {
                        defaultQuery: TAXON.nombre_cientifico,
                        skipLocal: true,
                        baseURL: '/conabio/photo_fields',
                        taxon_id: TAXON.id,
                        urlParams: {
                            authenticity_token: $('meta[name=csrf-token]').attr('content'),
                            limit: 14
                        },
                        afterQueryPhotos: function(q, wrapper, options) {
                            $(wrapper).imagesLoaded(function() {
                                $('#edit_photos_dialog').centerDialog()
                            })
                        }
                    };

                    $('.tabs', this).tabs({
                        beforeActivate: function( event, ui ) {
                            if ($(ui.newPanel).attr('id') == 'flickr_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                //$('.taxon_photos', ui.newPanel).photoSelector(photoSelectorOptions)
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/flickr/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'inat_obs_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/taxa/'+TAXON.id+'/observation_photos'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'eol_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/eol/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'wikimedia_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {baseURL: '/wikimedia_commons/photo_fields'})
                                )
                            } else if ($(ui.newPanel).attr('id') == 'conabio_taxon_photos' && !$(ui.newPanel).hasClass('loaded')) {
                                $('.taxon_photos', ui.newPanel).photoSelector(
                                        $.extend(true, {}, photoSelectorOptions, {taxon_id: TAXON.id, baseURL: '/conabio/photo_fields'})
                                )
                            }

                            $(ui.newPanel).addClass('loaded')
                            $('#edit_photos_dialog').centerDialog()
                        },
                        create: function( event, ui) {
                            $('.taxon_photos', ui.panel).photoSelector(photoSelectorOptions);
                            $(ui.panel).addClass('loaded')
                            $('#edit_photos_dialog').centerDialog()
                        }
                    })
                })
            }
        });

        if (SPECIES_OR_LOWER){
            /*if (CUANTOS_KMZ > 0){
                dimensionesIniciales();

                // Inicia el mapa
                for (var i = 0; i < MAPAS.length; i++) {
                    infoWindow = new google.maps.InfoWindow({});
                    MAPAS[i][2] = function (direccion) {
                        return map.loadFromKML({
                            url: direccion,
                            preserveViewport: true,
                            suppressInfoWindows: true,
                            events: {
                                click: function (point) {
                                    anchoInfo = function () {
                                        return parseInt($("#map").width() / 5) * 4;
                                    };
                                    altoInfo = function () {
                                        return parseInt($("#map").height() / 10) * 9;
                                    };
                                    if (point.featureData.infoWindowHtml.indexOf('$[description]') > -1) {
                                        infoWindow.setContent("<div id='balloon'  style='overflow: auto; cursor: default; clear: both; position: relative; border: 0px solid rgb(204, 204, 204); border-radius: 10px; padding: 10px; max-width: " + anchoInfo() + "px; max-height: " + altoInfo() + "px; background-color: rgb(255, 255, 255);  border-radius: 2em;'>" + point.featureData.name + "</div>");
                                        infoWindow.maxWidth = 2;
                                    } else {
                                        infoWindow.setContent("<div id='balloon'  style='overflow: auto; cursor: default; clear: both; position: relative; border: 0px solid rgb(204, 204, 204); border-radius: 10px; padding: 10px; max-width: " + anchoInfo() + "px; max-height: " + altoInfo() + "px; background-color: rgb(255, 255, 255);  border-radius: 2em;'>" + point.featureData.infoWindowHtml + "</div>");
                                    };
                                    infoWindow.setPosition(point.latLng);
                                    infoWindow.open(map.map);
                                    $(function (){
                                        $("#balloon div").removeAttr("style");
                                        $("dl").addClass('dl-horizontal');
                                    });
                                }
                            }
                        });
                    }
                }

                anadeControlFullScreen();
                anadeControlCapas();

                $(window).resize(function(){
                    redimensionaGmaps(function(){
                        google.maps.event.trigger(map.map, 'resize');
                    });
                });
            }
                $('#geodata_e_imagen_li > a').click(function(){
                    redimensionaGmaps(function(){
                        google.maps.event.trigger(map.map, 'resize');
                    });
                });*/
            }

        <%# if (!@especie.species_or_lower? && @photos.size < 24) || @photos.blank? %>
        //$('#photos_loading_status').show()
        /*$('#photos').load('<%# taxon_photos_path(@especie) %>', function() {
     $('#modal_image_box').jqmAddTrigger('#photos a.modal_image_link')
     });*/
        <%# end %>
    });
</script>


<% if notice.present? %>
    <div class="row alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie, :title => true) %>
<% end %>


<div class="row">
  <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
    <h3>
      <%= tituloNombreCientifico(@especie, :show => true).gsub(' )',')').html_safe %>
      <%= link_to('Edita el nombre común principal', edita_nombre_comun_principal_path(@especie.id), :class => 'btn btn-xs btn-link') if usuario_signed_in? %>
      <span id="edita_nom_com_principal" class="dialog" style="display: none"></span>
    </h3>
  </div>
  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
    <div class="leaf bg-success text-success" id="conSugerencia">
      <p>¿Algún <%= link_to('comentario <span class="glyphicon glyphicon-send" aria-hidden="true"></span>'.html_safe, new_especie_comentario_path(@especie.id)) %> acerca de este taxón? </p>
    </div>
    <% if @con_naturalista %>
        <div class="leaf bg-warning text-primary text-center" id="conNaturalista">
          <i class='naturalista-ev-icon'></i><i class='naturalista-2-ev-icon'></i>
          <p>¿Has visto esta especie? <br /> Sube tus observaciones y se un <br /> <%= link_to(("<i class='naturalista-ev-icon'></i><i class='naturalista-2-ev-icon'></i><i class='naturalista-3-ev-icon'></i><i class='naturalista-4-ev-icon'></i>").html_safe, "http://naturalista.conabio.gob.mx/observations/new?taxon_id=#{@con_naturalista}", :target => :_blank, :class => 'btn btn-link') %></p>
        </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= dameNomComunes(@especie).html_safe %>
    <%= dameStatus(@especie).html_safe %>
  </div>
</div>

<% if (@species_or_lower) %>
    <div class="row" style="padding: 5px 0 15px 0;">
      <%= render :partial => 'panelCaracteristicaDistribucionAmbiente' %>
    </div>
<% end %>

<div id="pestañas" class="panel row">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li id="geodata_e_imagen_li" class="active"><a href="#geodata_e_imagen" class="noLoad"><span class="glyphicon glyphicon-modal-window"></span><strong> Mapa e imágenes</strong></a></li>
    <li id="descripcion_catalogos_li"><a href="#descripcion_catalogos"><i class="archive-ev-icon"></i><strong> Información <%= t(:del_taxon) %></strong></a></li>
    <li id="arbol_li"><a href="#arbol"><i class="flow-cascade-ev-icon"></i><strong>  <%= t :arreglo_taxonomico %></strong></a></li>
    <li id="describe_li" <%= 'class = "hidden"'.html_safe unless @species_or_lower %>><a href="#describe"><i class="newspaper-ev-icon"></i><strong>  Fichas</strong></a></li>
    <li class="pull-right">
      <%# Parche para mostrar el PDF de Dalbergia (comentado con sintaxis ERB para q no salga en el html) %>
      <% if Especie::DALBERGIAS.include?(@especie.nombre_cientifico.gsub(' ','_')) %>
          <%= button_tag(("<i class ='file-pdf-ev-icon''></i>Descargar PDF").html_safe, :type => :button, :class => 'noLoad btn btn-sm btn-default', :onClick => "window.open('http://conabioweb.conabio.gob.mx/webservice/dalbergias/#{@especie.nombre_cientifico.gsub(' ','_')}.pdf', '_blank', 'status=no, menubar=no' )") %>
      <% else %>
          <%= button_tag(("<i class ='file-pdf-ev-icon''></i>Descargar PDF").html_safe, :type => :button, :class => 'noLoad btn btn-sm btn-default', :onClick => "window.open('#{especie_path(@especie)}.pdf', '_blank', 'status=no, menubar=no' )") %>
      <% end %>
    </li>

    <li class="pull-right">
      <%= button_tag(("Consulta en BHL").html_safe, :type => :button, :class => 'noLoad btn btn-sm btn-default btn-title', :onClick => "window.open('http://www.biodiversitylibrary.org/name/#{@especie.nombre_cientifico.limpiar}', '_blank', 'status=no, menubar=no' )", :title=>"Biblioteca sobre el Patrimonio de la Biodiversidad (BHL)") %>
    </li>


  </ul>
  <% if I18n.locale.to_s != 'es-cientifico' %>
      <script type="application/javascript">
        $('#pestañas > ul')[0].insertBefore($('#pestañas > ul')[0].children[2],$('#pestañas > ul')[0].children[1]);
        $('#pestañas > ul')[0].insertBefore($('#pestañas > ul')[0].children[3],$('#pestañas > ul')[0].children[1]);
      </script>
  <% end %>

  <div id="geodata_e_imagen" class="tab-pane panel-body">
    <%= render :partial => 'geodata_e_imagen' %>
  </div>

  <div id="descripcion_catalogos" class="tab-pane panel-body">
    <p class="text-center">
      <i class="spin6-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
    <h4>Cargando... Por favor, espera</h4>
    </p>
  </div>

  <div id="describe" class="tab-pane panel-body">
    <p class="text-center">
      <i class="spin6-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>
    <h4>Cargando... Por favor, espera</h4>
    </p>
  </div>

  <div id="arbol" class="tab-pane panel-body">
  </div>
</div>
