<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
    muestraArbol = function(id) {
        $.ajax({
            url: "/especies/muestraTaxonomia",
            data: {
                id: id
            }
        }).done(function(arbol) {
                    return $("#vista_arbol").html(arbol);
                });
    };

    despliegaOcontrae = function(id) {
        var sufijo;
        sufijo = id.substring(5);
        if ($("#nodo_" + sufijo + " li").length > 0) {
            $("#nodo_" + sufijo + " li").remove();
        } else {
            $.ajax({
                url: "/especies/buscaDescendientes",
                data: {
                    id: sufijo
                }
            }).done(function(nodo) {
                        return $("#nodo_" + sufijo).append(nodo);
                    });
        }
        return false;
    };

    info = function() {
        $('#ficha-div').slideUp();
        $('#fotos-div').slideUp();
        $('#mapas-div').slideUp();
        $('#info-div').slideDown();
        return false;
    };

    ficha = function() {
        $('#info-div').slideUp();
        $('#fotos-div').slideUp();
        $('#mapas-div').slideUp();
        $('#ficha-div').slideDown();
        return false;
    };

    fotos = function() {
        $('#info-div').slideUp();
        $('#ficha-div').slideUp();
        $('#mapas-div').slideUp();

        if ($('#fotos-td').is(':empty'))
        {
            $.ajax({
                type: 'GET',
                url: '/conabio/photo_fields',
                data: {
                    'q': $.parseHTML("<%= @especie.nombre_cientifico if @especie.nombre_cientifico.present? %>")[0].textContent
                },
                success: function(html){
                    $('#fotos-td').append(html);
                }
            });
        }
        $('#fotos-div').slideDown();
        return false;
    };

    googleMaps = function(taxon)
    {
        var mapOptions = {
            //center: new google.maps.LatLng(38,-79.5),
            zoom:3,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
        var overlay = new google.maps.KmlLayer('http://www.conabio.gob.mx/informacion/gis/maps/api/kml?nc=' + taxon);

        overlay.setMap(map);
        google.maps.event.addListener(overlay,'status_changed',function(){
            document.getElementById('statusGoogleMap').innerHTML = overlay.getStatus();

            if (overlay.getStatus() == 'OK')
            {
                $('#statusGoogleMap').val(overlay.getStatus());
            } else {
                $('#googleMap').slideUp();
                $('#statusGoogleMap').val(overlay.getStatus());
            }
        });
    }

    mapas = function()
    {
        if ($('#statusGoogleMap').val() != 'OK')
        {
            googleMaps('%22Panthera%20onca%22')
        }

        $('#info-div').slideUp();
        $('#ficha-div').slideUp();
        $('#fotos-div').slideUp();
        $('#mapas-div').slideDown();


        return false;
    }

    //$(document).ready(function(){
    //    google.maps.event.addDomListener(window, 'load', googleMaps());
    //});


    <% if !@especie.is_root? %>
    muestraArbol($.parseHTML("<%= "#{@especie.id}" %>")[0].textContent);
    <% end %>
</script>

<% regNomBib=dameRegionesNombresBibliografia(@especie) %>
<p id="notice"><%= notice %></p>

<p><%= enlacesDeTaxonomia(@especie) %></p>

<% content_for(:title) do %>
    <%= @titulo = tituloNombreCientifico(@especie) %>
<% end %>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>

<div class="menu">
  <ul id="menu">
    <li><%= link_to 'Cat&aacute;logo'.html_safe, '', :id => :infoTab, :onClick => 'return info();' %></li>
    <li><%= link_to :Ficha, '', :id => :fichaTab, :onClick => 'return ficha();' %></li>
    <li><%= link_to :Fotos, '', :id => :fotosTab, :onClick => 'return fotos();' %></li>
    <li><%= link_to 'Mapas de distribuci&oacute;n'.html_safe, '', :id => :mapasTab, :onClick => 'return mapas();' %></li>
  </ul>
</div>

<div class="enlaces_acciones">
  <%= accionesEnlaces(@especie, @accion).html_safe %><br>
  <%= link_to("Nuevo tax&oacute;n descendiente de #{@especie.nombre_cientifico}".html_safe,
              new_especy_path(:parent_id => @especie)).html_safe %>
</div>

<div id="info-div">
  <table width="1000" id="tabla_form">
    <tr>
      <td width="40%" valign="top">
        <fieldset>
          <legend class="leyenda"><%= 'Informaci&oacute;n del cat&aacute;logo'.html_safe %></legend>

          <p>
            <strong>Estatus:</strong>
            <%= Especie::ESTATUSES.select{ |k, v| k === @especie.estatus }.first.last %>
          </p>

          <%= dameEspecieEstatuses(@especie).html_safe %>

          <p>
            <strong>Caracter&iacute;stica del tax&oacute;n:</strong>
            <%= Especie.dameEstadoDeConservacion(@especie).html_safe %>
          </p>

          <%= "<p><strong>Nombres comunes:</strong><ul>#{regNomBib[:nombresComunes]}</ul></p>".html_safe if regNomBib[:nombresComunes].present? %>
          <%= "<p><strong>Distribuciones:</strong><ul>#{regNomBib[:distribuciones]}</ul></p>".html_safe if regNomBib[:distribuciones].present? %>

          <p>
            <strong>Ascendente directo:</strong>
            <%= @especie.is_root? ? 'Es raíz' : Especie.find(@especie.id_nombre_ascendente).nombre %>
          </p>

          <p>
            <strong>Ascendente obligatorio:</strong>
            <%= @especie.is_root? ? 'Es raíz' : Especie.find(@especie.id_ascend_obligatorio).nombre %>
          </p>

          <p>
            <strong>Cita nomenclatural:</strong>
            <%= @especie.cita_nomenclatural %>
          </p>

          <p>
            <strong>Sistema de clasificaci&oacute;n, catalogo o diccionario:</strong>
            <%= @especie.sis_clas_cat_dicc %>
          </p>

          <p>
            <strong>Anotaci&oacute;n:</strong>
            <%= @especie.anotacion %>
          </p>

          <p>
            <strong>Identificador &uacute;nico:</strong>
            <%= @especie.id %>
          </p>

          <p>
            <strong>Fecha de Captura:</strong>
            <%= @especie.created_at %>
          </p>

          <p>
            <strong>Fecha de modificaci&oacute;n:</strong>
            <%= @especie.updated_at %>
          </p>
        </fieldset>
      </td>


      <td width="60%" valign="top">
        <fieldset>
          <legend class="leyenda">Descendientes directos</legend>
          <div id='hijos'>
            <%= dameDescendientesDirectos(@especie).html_safe %>
          </div>
        </fieldset>

        <fieldset>
          <legend class="leyenda">&Aacute;rbol taxon&oacute;mico</legend>
          <div id='vista_arbol'>
            <% if @especie.is_root? %>
                <%= arbolTaxonomico.html_safe %>
            <% end %>
          </div>
        </fieldset>

        <%= "<fieldset><legend class='leyenda'>Regiones:</legend><ul>#{regNomBib[:regiones]}</ul></fieldset>".html_safe if regNomBib[:regiones].present? %>
      </td>
    </tr>
  </table>
</div>

<div id="ficha-div" style="display: none">
  <table id="ficha">
    <tr>
      <td>
        <%= @ficha.html_safe %>
      </td>
    </tr>
  </table>
</div>

<div id="fotos-div" style="display: none">
  <table id="fotos">
    <tr>
      <td>
        <div id="fotos-td"></div>
      </td>
    </tr>
  </table>
</div>

<div id="mapas-div" style="display: none">
  <table id="mapas">
    <tr>
      <td>
        <div id="sinGoogleMap" style="display: none">No existe un mapa de distribuci&oacute;n asociado a este tax&oacute;n</div>
        <div id="googleMap" style="height:500px;width:600px;"></div>
        <div id="statusGoogleMap"></div>
      </td>
    </tr>
  </table>
</div>