<% @array.each_with_index do |x, index|  %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <img class='img-responsive' src='<%= x['previewUrl']%>' />
    <%= button_tag("ver video", "data-toggle" => "modal", "data-target" => "#modal_reproduce", :class => "btn btn-info btn-title modal-buttons", :title => x['commonName'], "data-title"=> x['commonName'], "data-url" => x['mediaUrl'], :type => 'button') %>

  </div>

  <%= "<div class='clearfix visible-sm hidden-md hidden-lg'></div>".html_safe if((index+1) % 2) == 0 %>
  <%= "<div class='clearfix hidden-sm visible-md hidden-lg'></div>".html_safe if((index+1) % 3) == 0 %>
  <%= "<div class='clearfix hidden-sm hidden-md visible-lg'></div>".html_safe if((index+1) % 4) == 0 %>
<% end %>
