<div class='nested-fields'>

  HABITAD > ECORREGION
  <br>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una ecorregion'.html_safe, f, :ecorregion, partial: 'fichas/taxa/seccion_ambiente/form_ambiente_ecorregion', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente', 'data-association-insertion-node' => '#ambiente_ecorregion', 'data-association-insertion-method' => 'append', href: '#ambiente' %>
  <hr />
  <% # OCUPA: ecorregion de  * habitat %>
  <div id="ambiente_ecorregion">
    <%= f.simple_fields_for :ecorregion do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ambiente/form_ambiente_ecorregion', locals: { f: info }  %>
    <% end %>
  </div>

  <hr class="espacio_ficha">
  HABITAD > ECOSISTEMAS:
  <br>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar un ecosistema'.html_safe, f, :ecosistema, partial: 'fichas/taxa/seccion_ambiente/form_ambiente_ecosistema', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente', 'data-association-insertion-node' => '#ambiente_ecosistema', 'data-association-insertion-method' => 'append', href: '#ambiente' %>
  <hr />
  <div id="ambiente_ecosistema">
    <%= f.simple_fields_for :ecosistema do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ambiente/form_ambiente_ecosistema', locals: { f: info }  %>
    <% end %>
  </div>

  <%= f.input :tipoVegetacion %>
  <%= f.input :habitatAgropecuario %>
  <%= f.input :zonaUrbana %>
  <%= f.input :VegetacionSecundaria %>
  <%= f.input :tipoVegetacionSecundaria %>
  <%= f.input :intervaloaltitudinalinicial %>
  <%= f.input :infoAddintervaloaltitudinal %>
  <%= f.input :tipoClimaId %>
  <%= f.input :climaAdicional %>
  <%= f.input :temperaturainicial %>
  <%= f.input :infoaddtemperatura %>
  <%= f.input :precipitacioninicial %>
  <%= f.input :infoaddprecipitacion %>
  <%= f.input :humedadinicial %>
  <%= f.input :infoaddhumedad %>
  <%= f.input :descripcionSuelo %>

  <hr class="espacio_ficha">
  HABITAD > suelo:
  <br>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar un suelo'.html_safe, f, :suelo, partial: 'fichas/taxa/seccion_ambiente/form_ambiente_suelo', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente', 'data-association-insertion-node' => '#ambiente_suelo', 'data-association-insertion-method' => 'append', href: '#ambiente' %>
  <div id="ambiente_suelo">
    <%= f.simple_fields_for :suelo do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ambiente/form_ambiente_suelo', locals: { f: info }  %>
    <% end %>
  </div>

  <hr class="espacio_ficha">
  HABITAD > geoforma:
  <br>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una geoforma'.html_safe, f, :geoforma, partial: 'fichas/taxa/seccion_ambiente/form_ambiente_geoforma', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente', 'data-association-insertion-node' => '#ambiente_geoforma', 'data-association-insertion-method' => 'append', href: '#ambiente' %>
  <div id="ambiente_geoforma">
    <%= f.simple_fields_for :geoforma do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ambiente/form_ambiente_geoforma', locals: { f: info }  %>
    <% end %>
  </div>

  <hr class="espacio_ficha">
  <%= f.input :descripcionGeoforma %>
</div>
