<h1 class="text-center">¿Olvidaste tu contraseña?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group form-inline text-center">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    <%= f.submit 'Recuperar contraseña', class: 'btn btn-warning'%>
  </div>
<% end %>

<hr />
<%= render "metamares/metausuarios/shared/links" %>
