<p id="notice"><%= notice %></p>

<%= link_to 'Nueva propiedad', new_pmc_propiedad_path %>

<h1>Propiedades</h1>

<table class="table table-condensed table-striped table-hover table-responsive">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre propiedad</th>
    <th>Tipo propiedad</th>
    <th>Descripción</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @propiedades.each do |propiedad| %>
    <tr>
      <td><%= propiedad.id %></td>
      <td><%= link_to propiedad.nombre_propiedad, propiedad %></td>
      <td><%= propiedad.tipo_propiedad %></td>
      <td><%= propiedad.descripcion %></td>
      <td>
        <%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_pmc_propiedad_path(propiedad) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>