<div class='nested-fields'>
  <%= f.input :puntoEntrega %>
  <%= f.input :areaAdmin %>
  <%= f.input :codigoPostal %>
  <%= f.input :telefono %>
  <%= f.input :correoElectronico %>
  <%= f.input :paginaWeb %>
</div>