<div class='nested-fields'>
  <%= f.input :uriIcono %>
  <%= f.input :nombre %>
  <%= f.input :uri %>
  <%= f.input :titulo %>
  <%= f.input :fechaPublicacion, as: :date, html5: true, input_html: {class: 'form-control'} %>
</div>