<div class='nested-fields'>
  <%= f.input :uriIcono %>
  <%= f.input :nombre %>
  <%= f.input :uri %>
  <%= f.input :titulo %>
  <%= f.input :fechaPublicacion, input_html: {class: 'form-control'} %>
</div>