<div class='nested-fields'>
  <%= f.input :uriIcono %>
  <%= f.input :nombre %>
  <%= f.input :uri %>
  <%= f.input :titulo %>
  <%= f.input :fechaPublicacion, as: :date, html5: true, input_html: {class: 'form-control'} %>
</div>

uriIcono:  Uri Icono
nombre: Nombre metadato
uri: Uri
titulo: Título
fechaPublicacion: Fecha de publicación


responsable
nombre: Nombre del responsable
apellido: Apellido del responsable


nombrePuesto: Nombre del puesto

nombre: Nombre de la organización

asociado
rol: Capturista
tipoAsociacion: Tipo de asociación

nombrepais: Nombre del país
nombreCiudad: Nombre de la ciudad

relasociadocontacto
Punto de entrega
Area admin
Código Postal
Teléfono
Correo Electrónico
Página Web