<div class='nested-fields'>
  <% if @index > -1 %>
    <% nombre_cientifico = @admin_catalogos[0].especies_catalogo[@index].especie.nombre_cientifico %>
    <%= f.input :nombre_cientifico, input_html: { value: nombre_cientifico } %>
  <% else %>
    <%= f.input :nombre_cientifico %>
  <% end %>

  <%= f.input :especie_id, required: true %>
  <%= f.input :catalogo_id, required: true %>
  <%= link_to_remove_association 'Desvincula especie', f %>
</div>

