<div class="col-12">
  <h3>Lista de usos</h3>

  <div class="justify-content-end row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Acciones
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to('Nuevo uso', new_admin_catalogo_path, class: 'dropdown-item') %>
      </div>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>Nombre del uso</th>
      <th>Número de especies</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @admin_catalogos.each do |catalogo| %>
      <tr>
        <td><%= catalogo.descripcion %></td>
        <td><%= catalogo.totales %></td>
        <td>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Ver las especies', catalogo, class: 'dropdown-item' %>
              <%= link_to 'Editar', edit_admin_catalogo_path(catalogo), class: 'dropdown-item' %>
              <%= link_to 'Destruir', catalogo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
            </div>
          </div>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>