<h1>Catálogos</h1>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Número de especies</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @admin_catalogos.each do |catalogo| %>
    <tr>
      <td><%= catalogo.descripcion %></td>
      <td><%= catalogo.totales %></td>
      <td>
        <%= link_to 'Show', catalogo %>|
        <%= link_to 'Edit', edit_admin_catalogo_path(catalogo) %> |
        <%= link_to 'Destroy', catalogo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalogo', new_admin_catalogo_path %>
