<div class='nested-fields'>
  <h3 class="titulo_subseccion"><%= t('secciones.s_genetica.variabilidad_genetica') %></h3>
  <%= f.input :variabilidadGenetica %>
  <%= f.input :marcadorGenetico %>
  <h3 class="titulo_subseccion"><%= t('secciones.s_genetica.secuencias_para_especie') %></h3>
  <%= f.input :secuencias %>
  <%= f.input :mexbol %>
</div>