<h1 class="text-center font-weight-bolder"> Para crear tu cuenta, proporciona por favor los siguientes datos:</h1>
<div class="col-12 col-md-8 offset-0 offset-md-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if devise_error_messages!.present? %>
      <div class="alert alert-danger" role="alert">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="form-group row">
      <%= f.label :email, class: "col-sm-2 col-form-label" %>
      <div class="col-10">
        <%= f.email_field :email, autofocus: true, class: 'form-control', html: {"aria-describedby"=>"emailHelp"} %>
        <small id="emailHelp" class="form-text text-muted"><i>(con el, iniciaras sesión en la plataforma)</i></small>
      </div>
    </div>

    <h3>Datos personales</h3>
    <div class="form-group row">
      <%= f.label :nombre, class: "col-sm-2 col-form-label"  %>
      <div class="col-10">
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :apellido, class: "col-sm-2 col-form-label"  %>
      <div class="col-10">
        <%= f.text_field :apellido, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :institucion, class: "col-sm-2 col-form-label"  %>
      <div class="col-10">
        <%= f.text_field :institucion, class: 'form-control', html: {"aria-describedby"=>"institucionHelp"} %>
        <small id="institucionHelp"><i> (opcional)</i></small>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: "col-sm-2 col-form-label"  %>
      <div class="col-10">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-sm-2 col-form-label"  %>
      <div class="col-10">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <%= f.submit 'Crear cuenta', class: 'btn btn-success' %>

  <% end %>
</div>
<%= render "devise/shared/links" %>
<div class="col-12">
  <p class="font-weight-bolder"><%= link_to "Aviso de privacidad", "https://www.biodiversidad.gob.mx/conabio/aviso-de-privacidad" %></p>
</div>

