<h2>Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% Rails.logger.info "---#{resource_name}" %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :usuario %><br />
      <%= f.text_field :usuario, autocomplete: true %></div>

    <div><%= f.label :nombre %><br />
      <%= f.text_field :nombre, autocomplete: "off" %></div>

    <div><%= f.label :apellido %><br />
      <%= f.text_field :apellido, autocomplete: "off" %></div>

    <div><%= f.label :institucion %><br />
      <%= f.text_field :institucion, autocomplete: "off" %></div>

    <div><%= f.label :grado_academico %><br />
      <%= f.text_field :grado_academico, autocomplete: "off" %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.submit 'Crear cuenta' %></div>
<% end %>

<%= render "devise/shared/links" %>
