<div class='nested-fields'>
  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.reprod_animal') %></h3>
  <%= f.input :descripcion %>
  <%= f.input :dimorfismoSexual, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "dimorfismoSexualAnimal")'} %>
  <div id="dimorfismoSexualAnimal">
    <%= f.input :additionalInfoDimorfiasmo %>
  </div>
  <%= f.input :coloracion, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline'  %>
  <%= f.input :ornamentacion, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline'  %>

  < %= f.association :t_sistapareamiento,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:sistapareamiento]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>
  <%
    parametros = {:acceso => @taxon.infosistaparea, :modelo => f_taxon, :association => :infosistaparea, :titulo => "Información adicional", :el_div => "infosistaparea", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infosistaparea]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>


  <%= f.input :noEventos,
              collection: Fichas::Reproduccionanimal::EVENTOS_REPROD,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionNoEventos %>

  <h3 class="titulo_sub_subseccion"><%= t('secciones.s_biologia.tiempo_eventos_rep') %></h3>
  <%= f.input :tiempoentrecriasinicial %>
  <%= f.input :tiempoentrecriasfinal %>

  <%= f.input :tipoFecundacion,
              collection: Fichas::Reproduccionanimal::TIPO_FECUNDACION,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionTipoFec %>

  <%= f.input :edadPrimeraRepro %>
  <%= f.input :duracionVidaRepro %>
  <%= f.input :frecuenciaApareamineto %>

  < %= f.association :t_sitioanidacion,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:sitioanidacion]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>
  <%
    parametros = {:acceso => @taxon.infocrianza, :modelo => f_taxon, :association => :infocrianza, :titulo => "Información adicional", :el_div => "infocrianza", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infocrianza]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= f.input :noHuevosCrias %>

  <%= f.input :cuidadoParental, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "cuidadoParentalAnimal")'} %>
  <div id="cuidadoParentalAnimal">
    <%= f.input :cuidadoParentalPor,
                collection: Fichas::Reproduccionanimal::CUIDADO_PARENTAL,
                :as => :select,
                input_html: {
                    class: 'form-control selectpicker',
                    'data-live-search': 'true',
                    'title': t('general.seleccionar_opcion')
                }
    %>
    <%= f.input :desCuidadoParental %>
  </div>

  <%= f.input :tiempoCuidadoParental %>

</div>