<div class='nested-fields reproduccionAnimal_add'>
  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.reprod_animal') %></h3>
  <%= f.input :descripcion, input_html: { class: 'tiny_seccion_reprod_animal'} %>
  <%= f.input :dimorfismoSexual, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "dimorfismoSexualAnimal")'} %>
  <div id="dimorfismoSexualAnimal">
    <%= f.input :additionalInfoDimorfiasmo, input_html: { class: 'tiny_seccion_reprod_animal'} %>
  </div>
  <%= f.input :coloracion, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline'  %>
  <%= f.input :ornamentacion, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline'  %>

  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :sistapareamiento, t('opciones_multiples.t_sistapareamiento'), 'seccion_reprod_animal') %>
  <div id="destino_de_sistapareamiento"></div>
  <%
    parametros = {:acceso => @taxon.infosistaparea, :modelo => f_taxon, :association => :infosistaparea, :titulo => "Información adicional", :el_div => "infosistaparea", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infosistaparea]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= f.input :noEventos,
              collection: Fichas::Reproduccionanimal::EVENTOS_REPROD,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker seccion_reprod_animal',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionNoEventos, input_html: { class: 'tiny_seccion_reprod_animal'} %>

  <h3 class="titulo_sub_subseccion"><%= t('secciones.s_biologia.tiempo_eventos_rep') %></h3>
  <%= f.input :tiempoentrecriasinicial %>
  <%= f.input :tiempoentrecriasfinal, input_html: { onblur: "checkValues(this)" } %>

  <%= f.input :tipoFecundacion,
              collection: Fichas::Reproduccionanimal::TIPO_FECUNDACION,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker seccion_reprod_animal',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionTipoFec, input_html: { class: 'tiny_seccion_reprod_animal'} %>

  <%= f.input :edadPrimeraRepro %>
  <%= f.input :duracionVidaRepro %>
  <%= f.input :frecuenciaApareamineto, input_html: { class: 'tiny_seccion_reprod_animal'} %>

  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :sitioanidacion, t('opciones_multiples.t_sitioanidacion'), 'seccion_reprod_animal') %>
  <div id="destino_de_sitioanidacion"></div>
  <%
    parametros = {:acceso => @taxon.infocrianza, :modelo => f_taxon, :association => :infocrianza, :titulo => "Información adicional", :el_div => "infocrianza", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infocrianza]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= f.input :noHuevosCrias, input_html: { class: 'tiny_seccion_reprod_animal'} %>

  <%= f.input :cuidadoParental, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "cuidadoParentalAnimal")'} %>
  <div id="cuidadoParentalAnimal">
    <%= f.input :cuidadoParentalPor,
                collection: Fichas::Reproduccionanimal::CUIDADO_PARENTAL,
                :as => :select,
                input_html: {
                    class: 'form-control selectpicker seccion_reprod_animal',
                    'data-live-search': 'true',
                    'title': t('general.seleccionar_opcion')
                }
    %>
    <%= f.input :desCuidadoParental, input_html: { class: 'tiny_seccion_reprod_animal'} %>
  </div>

  <%= f.input :tiempoCuidadoParental, input_html: { class: 'tiny_seccion_reprod_animal'} %>

  <%= link_to_remove_association 'Borrar información', f, :class => 'btn btn-danger btn-sm' %><hr>
</div>