<div class='nested-fields'>
  <%= f.input :descripcion %>
  <%= f.input :arregloEspacial %>

  <%= f.input :descripcionArregloespacial %>
  <%= f.input :aislamientoOrganos %>
  <%= f.input :descAislaOrganos %>
  <%= f.input :sistReproAsexuales %>
  <%= f.input :DescsistReproAsexuales %>
  <%= f.input :fecuandacion %>
  <%= f.input :descFecundacion %>
  <%= f.input :agentesPolinizacion %>
  <%= f.input :descAgentesPol %>

  <%= f.input :aperturaFlor %>
  <%= f.input :descApertura %>
  <%= f.input :tiempoFloracion %>
  <%= f.input :addinfolongevidadflor %>
  <%= f.input :mesInicio %>
  <%= f.input :mesFinal %>
  <%= f.input :addinfotiempoflora %>
  <%= f.input :cantidadnectarinicial %>
  <%= f.input :addinfocantidadnectar %>
  <%= f.input :cantidadpolen %>

  <%= f.input :mesInicialFructi %>
  <%= f.input :mesFinalFructi %>
  <%= f.input :addinfotiempofructi %>
  <%= f.input :nofrutosinicial %>
  <%= f.input :caracFruto %>
  <%= f.input :descCaracFruto %>
  <%= f.input :noEventos %>
  <%= f.input :descNoEventos %>

  <%= f.input :nosemillasinicial %>
  <%= f.input :tamanioSemilla %>
  <%= f.input :caracToxica %>
  <%= f.input :germinacioninicial %>
  <%= f.input :infoaddgerminacion %>
  <%= f.input :plantulasinicial %>
  <%= f.input :infoaddplantulas %>

</div>