<div class='nested-fields'>

  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :habitoPlantas, t('opciones_multiples.t_habitoPlantas')) %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.alimentacion') %></h3>
  <%= select_multiple_nivel_3(f_taxon, :opciones_preguntas, :alimentacion, t('opciones_multiples.t_alimentacion')) %>
  <%
    parametros = {:acceso => @taxon.historiaNatural.infoalimenta, :modelo => f, :association => :infoalimenta, :titulo => "Información adicional", :el_div => "infoalimenta", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infoalimenta]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.estrategia_trofica') %></h3>
  <%= f.input :estrategiaTrofica,
              collection: Fichas::Cat_Estrategiatrofica.all.map { |r| [r.descripcion, r.IdEstrategia] },
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion'),
              }
  %>
  <%= f.input :descripcionEstrofica %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.forrajeo') %></h3>
  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :forrajeo, t('opciones_multiples.t_forrajeo')) %>
  <%
    parametros = {:acceso => @taxon.historiaNatural.infoaddforrajeo, :modelo => f, :association => :infoaddforrajeo, :titulo => "Información adicional", :el_div => "infoaddforrajeo", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infoaddforrajeo]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>


  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.conducta') %></h3>
  <%= f.input :conducta %>
  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :migracion, t('opciones_multiples.t_migracion')) %>
  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :tipo_migracion, t('opciones_multiples.t_tipo_migracion')) %>
  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :habito, t('opciones_multiples.t_habito')) %>
  <%
    parametros = {:acceso => @taxon.historiaNatural.infoaddhabito, :modelo => f, :association => :infoaddhabito, :titulo => "Información adicional", :el_div => "infoaddforrajeo", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infoaddhabito]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= f.input :tipopHabito, as: :radio_buttons, :collection => Fichas::Historianatural::PERIODO_ACTIVIDAD, item_wrapper_class: 'radio-inline' %>
  <%= f.input :infoaddperiodoactividad %>

  <%= f.input :hibernacion, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "hibernacionSI")'} %>
  <div id="hibernacionSI">
    <%= f.input :infoaddhibernacion %>
  </div>

  <%= f.input :territorialidad, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHide(this, "territorialidadSI")'} %>
  <div id="territorialidadSI">
    <%= f.input :infoaddterritorialidad %>
  </div>

  <%= f.input :ambitoHogareno %>
  <%= f.input :mecanismosDefensa,
              collection: Fichas::Historianatural::MECANISMO_DEFENSA,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :infoaddmecdefensa %>

  <hr class="espacio_ficha">
  <%= f.input :tipoReproduccion, as: :radio_buttons, :collection => Fichas::Historianatural::TIPO_REPRODUCCION, item_wrapper_class: 'radio-inline', input_html: { onclick: 'showOrHideSegunTipoReproduccion()'} %>
  <hr class="espacio_ficha">

  <div id="opcion-reprodAnimal" style="display: none">
    <%=
      link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar información sobre la especie animal'.html_safe, f, :reproduccionAnimal, partial: 'fichas/taxa/seccion_biologia/form_biologia_reproduccionAnimal', render_options: {locals: { f_taxon: f_taxon}}, :force_non_association_create => true, :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'opcion-reprodAnimal', 'data-association-insertion-node' => '#opcion-reprodAnimal', 'data-association-insertion-method' => 'append', href: '#opcion-reprodAnimal')
    %>
    <%= f.simple_fields_for :reproduccionAnimal do |info| %>
      <%= render partial: 'fichas/taxa/seccion_biologia/form_biologia_reproduccionAnimal', locals: {f: info, f_taxon: f_taxon}  %>
    <% end %>
  </div>

  <div id="opcion-reprodVegetal" style="display: none">
    <%=
      link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar información sobre la especie vegetal'.html_safe, f, :reproduccionVegetal, partial: 'fichas/taxa/seccion_biologia/form_biologia_reproduccionVegetal', render_options: {locals: { f_taxon: f_taxon}}, :force_non_association_create => true, :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'opcion-reprodVegetal', 'data-association-insertion-node' => '#opcion-reprodVegetal', 'data-association-insertion-method' => 'append', href: '#opcion-reprodVegetal' %>
    <%= f.simple_fields_for :reproduccionVegetal do |info| %>
      <%= render partial: 'fichas/taxa/seccion_biologia/form_biologia_reproduccionVegetal', locals: {f: info, f_taxon: f_taxon}  %>
    <% end %>
  </div>

  <hr class="espacio_ficha">

  <h3 class="titulo_subseccion"><%= t('secciones.s_biologia.dispersion') %></h3>
  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :tipodispersion, t('opciones_multiples.t_tipodispersion')) %>
  <%
    parametros = {:acceso => @taxon.historiaNatural.infodisp, :modelo => f, :association => :infodisp, :titulo => "Información adicional", :el_div => "infodisp", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infodisp]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= select_multiple_nivel_1(f_taxon, :opciones_preguntas, :structdisp, t('opciones_multiples.t_structdisp')) %>
  <%
    parametros = {:acceso => @taxon.historiaNatural.infostruct, :modelo => f, :association => :infostruct, :titulo => "Información adicional", :el_div => "infostruct", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infostruct]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <h4 class="titulo_sub_subseccion"><%= t('secciones.s_biologia.distancia_dispersion') %></h4>
  <%= f.input :distanciadispercioninicial %>
  <%= f.input :distanciadispercionfinal %>

</div>


