<div class='nested-fields'>
  <%= f.input :descripcion %>
  <%= f.input :dimorfismoSexual %>
  <%= f.input :additionalInfoDimorfiasmo %>
  <%= f.input :coloracion %>
  <%= f.input :ornamentacion %>
  <%= f.input :sistemaApareamiento %>
  <%= f.input :descripcionSistema %>
  <%= f.input :noEventos %>
  <%= f.input :descripcionNoEventos %>
  <%= f.input :tipoFecundacion %>
  <%= f.input :descripcionTipoFec %>
  <%= f.input :edadPrimeraRepro %>
  <%= f.input :duracionVidaRepro %>
  <%= f.input :frecuenciaApareamineto %>
  <%= f.input :sitioAnidacion %>
  <%= f.input :descripcionSitioAnidacion %>
  <%= f.input :noHuevosCrias %>
  <%= f.input :cuidadoParental %>
  <%= f.input :desCuidadoParental %>
  <%= f.input :tiempoCuidadoParental %>
</div>