<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>


  <div id='contenido_biologia'>
    <hr />
    <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.biologia')%></h3>
    <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> historiaNatural'.html_safe, f, :historiaNatural, partial: 'fichas/taxa/seccion_biologia/form_biologia_historiaNatural', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'biologia', 'data-association-insertion-node' => '#biologia', 'data-association-insertion-method' => 'append', href: '#biologia', style: 'display: none;') if @taxon.new_record? %>
    <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> demografiaAmenazas'.html_safe, f, :demografiaAmenazas, partial: 'fichas/taxa/seccion_biologia/form_biologia_demografia_amenazas', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'biologia', 'data-association-insertion-node' => '#biologia', 'data-association-insertion-method' => 'append', href: '#biologia', style: 'display: none;') if @taxon.new_record? %>

    <% # OCUPA: habitad, historianatural, demografiaamenazas, * * reproduccionanimal, * * reproduccionvegetal %>
    <%= f.simple_fields_for :habitats do |info| %>
      <%= render partial: 'fichas/taxa/seccion_biologia/form_biologia_habitad', locals: { f: info, f_taxon: f } %>
    <% end %>

    <%= f.simple_fields_for :historiaNatural do |info| %>
      <%= render partial: 'fichas/taxa/seccion_biologia/form_biologia_historiaNatural', locals: {f: info, f_taxon: f } %>
    <% end %>

    <%= f.simple_fields_for :demografiaAmenazas do |info| %>
      <%= render partial: 'fichas/taxa/seccion_biologia/form_biologia_demografia_amenazas', locals: { f: info, f_taxon: f } %>
    <% end %>
  </div>

<% end %>