<div class='nested-fields'>

  <%= f.input :estadoConser %>
  <%= f.input :manejoAprov %>
  <%= f.input :descManejoAprov %>

  <%= f.input :tipoAprovEsp %>

  <%= f.input :marcolegal %>
  <%= f.input :tipoVeda %>
</div>