<div class='nested-fields'>

  <%= # f.input :descripcion
  %>
  <%= # f.input :TipoEcorregion
  %>
  <%= # f.input :tipoecosistema
  %>



  <%= f.input :tipoVegetacion %>
  <%= f.input :habitatAgropecuario %>
  <%= f.input :zonaUrbana %>
  <%= f.input :VegetacionSecundaria %>
  <%= f.input :tipoVegetacionSecundaria %>
  <%= f.input :intervaloaltitudinalinicial %>
  <%= f.input :infoAddintervaloaltitudinal %>
  <%= f.input :tipoClimaId %>
  <%= f.input :climaAdicional %>
  <%= f.input :temperaturainicial %>
  <%= f.input :infoaddtemperatura %>
  <%= f.input :precipitacioninicial %>
  <%= f.input :infoaddprecipitacion %>
  <%= f.input :humedadinicial %>
  <%= f.input :infoaddhumedad %>
  <%= f.input :descripcionSuelo %>

  <%= # f.input :Descripcion
  %>
  <%= # f.input :descrpcion
  %>
  <%= # f.input :descripcionGeoforma
  %>
</div>
