<div class='nested-fields'>
  <%= f.input :informacion_objeto %>
  <%= f.input :informacion_posterior %>
  <%= f.input :informacion_adicional %>
  <%= f.input :colaboradores %>
  <%= f.input :instituciones_involucradas %>
  <%= f.input :equipo %>
  <%= f.input :comentarios %>
</div>
