<div class='nested-fields'>
  <%= f.input :descarga_datos %>
  <%= f.input :licencia_uso %>
  <%= f.input :descripcion_base %>
  <%= f.input :metadatos %>
  <%= f.input :publicaciones %>
  <%= f.input :publicacion_url %>
  <%= f.input :descarga_informe %>
  <%= f.input :forma_citar %>
  <%= f.input :notas_adicionales %>
  <%= f.input :restricciones %>
  <%= f.input :numero_ejemplares %>
  <%= f.input :tipo_unidad %>

  <%= link_to_remove_association "Quitar dato", f, :class => 'btn btn-danger btn-sm' %>
</div>
