<div class='nested-fields'>
  <%= f.input :titulo_conjunto_datos %>
  <%= f.input :titulo_compilacion %>
  <%= f.input :descarga_datos %>
  <%= f.input :licencia_uso %>
  <%= f.input :estatus_datos, collection: Metamares::Dato::ESTATUS_DATOS %>
  <%= f.input :descripcion_base %>
  <%= f.input :resolucion_temporal %>
  <%= f.input :resolucion_espacial %>
  <%#= f.input :metadatos %>
  <%= f.input :publicaciones %>
  <%= f.input :publicacion_url %>
  <%= f.input :publicacion_anio %>
  <%#= f.input :descarga_informe %>
  <%= f.input :forma_citar %>
  <%#= f.input :restricciones %>
  <%#= f.input :interaccion %>
  <%= f.input :numero_ejemplares %>
  <%= f.input :tipo_unidad %>
  <%= f.input :notas_adicionales %>

  <%#= link_to_remove_association "Quitar dato", f, :class => 'btn btn-danger btn-sm' %>
</div>
