<div class='nested-fields'>
  <%= f.input :calle_numero %>
  <%= f.input :colonia %>
  <%= f.input :municipio %>
  <%= f.input :ciudad %>
  <%= f.input :entidad_federativa %>
  <%= f.input :cp %>
  <%= f.input :pais %>

  <%# link_to_remove_association "Quitar institucion", f, :class => 'btn btn-danger btn-sm' %>
</div>