<div class='nested-fields'>
  <%= f.input :periodicidad %>
  <%= f.input :periodo_monitoreo_desde %>
  <%= f.input :periodo_monitoreo_hasta %>
  <%= f.input :periodo_sistematico_desde %>
  <%= f.input :periodo_sistematico_hasta %>
  <%= f.input :monitoreo_desde %>
  <%= f.input :monitoreo_hasta %>
  <%= f.input :comentarios, as: :text %>

  <%= link_to_remove_association "Quitar periodo", f, :class => 'btn btn-danger btn-sm' %>
</div>