<div class='nested-fields'>
  <%= f.input :nombre_region %>
  <%= f.input :latitud, as: :float %>
  <%= f.input :longitud, as: :float %>
  <%= f.input :zona %>
  <%= f.input :entidad %>
  <%= f.input :cuenca %>
  <%= f.input :anp %>
  <%= f.input :comentarios %>

  <%= link_to_remove_association "Quitar region", f, :class => 'btn btn-danger btn-sm' %>
</div>