<div class='nested-fields'>
  <%= f.input :periodicidad %>
  <%= f.input :periodo_monitoreo_desde, html5: true %>
  <%= f.input :periodo_monitoreo_hasta, html5: true %>
  <%= f.input :periodo_sistematico_desde, html5: true %>
  <%= f.input :periodo_sistematico_hasta, html5: true %>
  <%= f.input :monitoreo_desde, html5: true %>
  <%= f.input :monitoreo_hasta, html5: true %>
  <%= f.input :comentarios, as: :text %>
</div>