<%= render partial: 'busqueda_proyectos' %>
<hr >
<table class="table table-condensed table-striped table-hover table-responsive">
  <thead>
  <tr class="success">
    <th>ID</th>
    <th>Nombre del proyecto</th>
    <th>Autor</th>
    <th>Campo de investigación</th>
    <th>Nombre de la institución</th>
    <th>Descarga de datos</th>
  </tr>
  </thead>
  <tbody>
  <% @proyectos.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= link_to p.nombre_proyecto, metamares_proyecto_path(p) %></td>
      <td><%= p.autor %></td>
      <td><%= p.campo_investigacion %></td>
      <td><%= p.nombre_institucion %></td>
      <td><%= p.descarga_datos %></td>
    </tr>
  <% end %>
  </tbody>
</table>