<h3>Busqueda de colecciones de datos</h3>

<hr />
<%= render partial: 'busqueda_proyectos' %>
<hr />

<h5>Colecciones: <%= @totales %></h5>
<table class="table table-condensed table-striped table-hover table-responsive">
  <thead>
  <tr class="success">
    <th>ID</th>
    <th>Nombre de la colección</th>
    <th>Nombre de la institución</th>
    <th>Autor</th>
    <th>CAmpo de investigación</th>
    <th>Descarga de datos</th>
  </tr>
  </thead>
  <tbody>
  <% @proyectos.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= link_to p.nombre_proyecto, metamares_proyecto_path(p) %></td>
      <td><%= p.nombre_institucion %></td>
      <td><%= p.autor %></td>
      <td><%= p.campo_investigacion %></td>
      <td><small><%= p.descarga_datos %></small></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center paginado-metamares"></div>

<script data-turbolinks-track="true">
    paginadoMetamares(<%= @paginas %>, <%= @pagina %>);
</script>