<%
   totales = @totales
   resultados = @tabla_exoticas[:datos].count  # Los que trae por pagina

   por_pagina = @por_pagina
   comienzo = por_pagina*(@pagina-1) + 1
   final = comienzo + resultados -1
%>

<% @tabla_exoticas[:datos].each do |row| %>
  <tr>
    <% row.each_with_index do |col, index| %>
      <td>
        <% case index %>
        <% when 0  # Foto %>
          <%= image_tag(col, class: 'img-fluid rounded') if col.present? %>

        <% when 1  # Nombre científico %>
          <% if col.present? %>
            <% if col.is_a?(String) %>
              <%= col %>
            <% else %>
              <%= link_to col.nombre_cientifico, especie_path(col), target: :_blank %>
            <% end %>
          <% else %>
            <em>Nombre no disponible</em>
          <% end %>

        <% when 8  # PDF instrumentos legales %>
          <% if col.present? && col.is_a?(Enumerable) %>
            <% col.each do |instrumento| %>
              <p><%= link_to instrumento[:nombre], instrumento[:pdf] if instrumento[:pdf].present? %></p>
            <% end %>
          <% end %>

        <% when 9  # el PDF principal %>
          <%= link_to('Ficha'.html_safe, col, target: :_blank) if col.present? %>

        <% else %>
          <%= col %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>

<script>
    $(document).ready(function() {
        $('#num-res-exoticas').html("Mostrando del <%= comienzo %> al <%= final %> de <%= totales %> resultados");
    });
</script>
