<% content_for(:title) do %>
    <%= @titulo = 'Especies exóticas invasoras' %>
<% end %>

<% content_for(:extrajs) do %>
    <%= javascript_include_tag 'jquery.bootpag.min.js', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:delayedjs) do %>
    <script>
        $('#page-selection').bootpag({
            total: <%= @paginas %>,          // total pages
            page: 1,            // default page
            maxVisible: 5,     // visible pagination
            leaps: true,         // next/prev leaps through maxVisible
            firstLastUse: true,
            first: '←',
            last: '→'
        }).on("page", function(event, page){
            $.ajax(
                    {
                        url: "/exoticas-invasoras-paginado",
                        type: 'GET',
                        data: {
                            page: page
                        }
                    }).done(function(res)
                    {
                        $('#tbody').append(res);
                    });
        });
    </script>
<% end %>

<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
  <h3><%= @titulo %></h3>
</div>

<form method="get" action="/exoticas-invasoras.csv">
  <button type="submit" class="btn btn-sm btn-warning pull-right" data-toggle="modal" data-target="#myModal">
    Descarga la lista &nbsp;<span class="glyphicon glyphicon-save"></span>
  </button>
</form>

<table class="table table-striped">

  <thead>
  <tr>
    <% @tabla_exoticas[:cabeceras].each do |cabecera| %>
        <th><%= cabecera %></th>
    <% end %>
  </tr>
  </thead>

  <tbody id="tbody"><%= render 'exoticas_invasoras' %></tbody>

</table>

<div id="page-selection"></div>