<% content_for(:title) do %>
    <%= @titulo = 'Especies exóticas invasoras' %>
<% end %>

<% content_for(:extrajs) do %>
    <%= javascript_include_tag 'jquery.bootpag.min.js', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:delayedjs) do %>
    <script>
        $('#page-selection').bootpag({
            total: <%= @paginas %>,          // total pages
            page: 1,            // default page
            maxVisible: 5,     // visible pagination
            leaps: true,         // next/prev leaps through maxVisible
            firstLastUse: true,
            first: '←',
            last: '→'
        }).on("page", function(event, page){
            $.ajax(
                    {
                        url: "/exoticas-invasoras-paginado",
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            page: page
                        }
                    }).done(function(res)
                    {
                        console.log(res);
                    });
        });
    </script>
<% end %>

<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
  <h3><%= @titulo %></h3>
</div>

<form method="get" action="/exoticas-invasoras.csv">
  <button type="submit" class="btn btn-sm btn-warning pull-right" data-toggle="modal" data-target="#myModal">
    Descarga la lista &nbsp;<span class="glyphicon glyphicon-save"></span>
  </button>
</form>

<table class="table">

  <thead>
  <tr>
    <% @tabla_exoticas[:cabeceras].each do |cabecera| %>
        <th><%= cabecera %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>

  <% @tabla_exoticas[:datos].each do |row| %>
      <tr>
        <% row.each_with_index do |col, index| %>
            <td>

              <% case index %>
              <% when 0  # Foto %>
                  <%= image_tag(col) if col.present? %>
              <% when 1  # Nombre cientifico %>
                  <%= col.is_a?(String) ? col : link_to(col.nombre_cientifico,especie_path(col)) %>
              <% when 10  # el PDF %>
                  <%= link_to('<i class="newspaper-ev-icon"></i>'.html_safe, col) if col.present? %>
              <% else %>
                  <%= col %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>

<div id="page-selection"></div>