<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/scrolling', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'busquedas/avanzada/basica', 'data-turbolinks-track' => true %>

  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      offset = [2];

      settings.cat = 0;
      settings.offset = offset[0];
      settings.url = "<%= request.url %>";
      settings.url_original = "<%= request.url %>";
      settings.totales = <%= @totales %>;
      settings.nop = (settings.totales/10) + 1;

      POR_CATEGORIA = <%=raw @por_categoria.to_json %>;
      
      datos_descarga = {};
      datos_descarga.url = settings.url_original;
      datos_descarga.cuantos = settings.totales;
  </script>
<% end %>

<script>
  function buscarPolinizadores() {
    var tipo = $('#tipo_polinizador_select').val();
    var porPagina = $('#por_pagina_polinizadores').val();
    var clase = $('#clase_polinizador_select').val();

    if (!tipo) {
      alert('Selecciona un tipo');
      return;
    }

    $('#resultados-0').html(
      '<div class="text-center p-5">' +
      '<i class="fa fa-spinner fa-spin fa-2x"></i>' +
      '<p>Cargando...</p>' +
      '</div>'
    );

    var params = {
      tipo_polinizador: tipo,
      por_pagina: porPagina,
      pagina: 1
    };
    
    if (clase && clase !== '') {
      params.clase_polinizador = clase;
    }

    var nuevaUrl = '<%= polinizadores_path %>?' + $.param(params);

    $.ajax({
      url: nuevaUrl,
      type: 'GET',
      data: params,
      success: function(html, status, xhr) {
        $('#resultados-0').html(html);
        
        var totales = xhr.getResponseHeader('x-total-entries');
        
        if (totales && typeof settings !== 'undefined') {
          settings.totales = parseInt(totales);
          settings.nop = Math.ceil(settings.totales / (porPagina || 20));
          settings.offset = 2;
          settings.cargando = false;
          settings.no_mas_resultados = false;
          settings.url = nuevaUrl;
          settings.url_original = nuevaUrl;
        }
        
        window.scrollTo(0, 0);
      },
      error: function(xhr) {
        $('#resultados-0').html(
          '<div class="alert alert-danger">Error al cargar resultados</div>'
        );
      }
    });
  }
  
  function toggleClaseFilter() {
    var tipo = $('#tipo_polinizador_select').val();
    var claseContainer = $('#clase_container');
    
    if (tipo === 'visitantes_polinizadores' || tipo === 'todos_interaccion') {
      claseContainer.show();
    } else {
      claseContainer.hide();
    }
  }
  
  $(document).ready(function() {
    $(document).on('change', '#tipo_polinizador_select', toggleClaseFilter);
    toggleClaseFilter();
  });
</script>

<div class="row">
  <div class="col-4">
    <%= render 'paginas/formulario_polinizadores' %>
  </div>
  <div class="col-8">
    <div class="tab-pane panel-body panel-resultados active" id="resultados-0">
      <%= render 'paginas/resultados_polinizadores' %>
    </div>
  </div>
</div>