<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'busquedas/avanzada/basica', 'data-turbolinks-track' => true %>

  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      settings.cat = 0;
      settings.url = "<%= request.url %>";
      settings.url_original = "<%= request.url %>";
      settings.totales = <%= @totales %>;

      POR_CATEGORIA = <%=raw @por_categoria.to_json %>;
      
      datos_descarga = {};
      datos_descarga.url = settings.url_original;
      datos_descarga.cuantos = settings.totales;
  </script>
<% end %>

<script>
  // Función para actualizar el contador
  function actualizarContador(mostrados, totales) {
    var contadorHtml = '<div id="contador-resultados" class="col-12">' +
        '<div class="row mb-3">' +
        '<small class="text-muted">' +
        'Mostrando ' + mostrados + ' de ' + totales + ' resultados' +
        '</small>' +
        '</div>' +
        '</div>';
    
    if ($('#contador-resultados').length > 0) {
      $('#contador-resultados').replaceWith(contadorHtml);
    } else {
      $('#resultados-0').prepend(contadorHtml);
    }
  }
  
  function buscarPolinizadores() {
    var tipo = $('#tipo_polinizador_select').val();
    var porPagina = $('#por_pagina_polinizadores').val();
    var clase = $('#clase_polinizador_select').val();

    if (!tipo) {
      alert('Selecciona un tipo');
      return;
    }

    $('#resultados-0').html(
      '<div class="text-center p-5">' +
      '<i class="fa fa-spinner fa-spin fa-2x"></i>' +
      '<p>Cargando...</p>' +
      '</div>'
    );

    var params = {
      tipo_polinizador: tipo,
      por_pagina: porPagina,
      pagina: 1
    };
    
    if (clase && clase !== '') {
      params.clase_polinizador = clase;
    }

    var nuevaUrl = '<%= polinizadores_path %>?' + $.param(params);

    $.ajax({
      url: nuevaUrl,
      type: 'GET',
      data: params,
      success: function(html, status, xhr) {
        $('#resultados-0').html(html);
        
        var totales = xhr.getResponseHeader('x-total-entries');
        
        if (totales) {
          var porPaginaVal = parseInt($('#por_pagina_polinizadores').val()) || 20;
          var nuevosTotales = parseInt(totales);
          
          polinizadoresSettings.totales = nuevosTotales;
          polinizadoresSettings.totalPaginas = Math.ceil(nuevosTotales / porPaginaVal);
          polinizadoresSettings.paginaActual = 1;
          
          reiniciarScrollPolinizadores(nuevosTotales, porPaginaVal, nuevaUrl);
          $("#resultados-0").scrollPaginationPolinizadores();
          
          // Actualizar contador inicial después de la búsqueda
          setTimeout(function() {
            var resultadosMostrados = $('#resultados-0 .card').length;
            actualizarContador(resultadosMostrados, nuevosTotales);
          }, 100);
        }
        
        window.scrollTo(0, 0);
      },
      error: function(xhr) {
        $('#resultados-0').html(
          '<div class="alert alert-danger">Error al cargar resultados</div>'
        );
      }
    });
  }
  
  function toggleClaseFilter() {
    var tipo = $('#tipo_polinizador_select').val();
    var claseContainer = $('#clase_container');
    
    if (tipo === 'visitantes_polinizadores' || tipo === 'todos_interaccion') {
      claseContainer.show();
    } else {
      claseContainer.hide();
    }
  }
  
  // ==========================================
  // Configuración específica para polinizadores
  // ==========================================
  
  var polinizadoresSettings = {
    nop     : 100,
    offset  : 2,
    error   : '¡Has llegado al final de los resultados!',
    delay   : 500,
    scroll  : true,
    url     : '<%= polinizadores_path %>',
    busy    : false,
    cat     : 0,
    totalPaginas: <%= (@totales.to_f / (params[:por_pagina] || 20).to_i).ceil %>,
    paginaActual: 1,
    totales: <%= @totales %>
  };

  (function($) {

    $.fn.scrollPaginationPolinizadores = function(options) {

      if(options) {
        $.extend(polinizadoresSettings, options);
      }

      return this.each(function() {

        if(polinizadoresSettings.scroll == true) {
          var initmessage = 'Cargando... Por favor, espera <i class="spin3-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>';
        } else {
          var initmessage = 'Clic para cargar más';
        }

        function getData() {
          var nextPage = polinizadoresSettings.paginaActual + 1;
          
          // Verificar si ya no hay más páginas
          if (nextPage > polinizadoresSettings.totalPaginas) {
            $('#loading-bar-' + polinizadoresSettings.cat).remove();
            $('#resultados-' + polinizadoresSettings.cat).append(
              '<div class="col-12 text-center p-3">' +
              '<small class="text-muted">✨ No hay más resultados ✨</small>' +
              '</div>'
            );
            polinizadoresSettings.busy = false;
            return;
          }
          
          var $this = $("#resultados-" + polinizadoresSettings.cat);
          $('#loading-bar-' + polinizadoresSettings.cat).remove();
          $this.append("<div class='loading-bar col-xs-12 col-sm-12 col-md-12 col-lg-12' id='loading-bar-" + polinizadoresSettings.cat + "'>" + initmessage + '</div>');

          $.get(polinizadoresSettings.url, {
            pagina: nextPage,
            por_pagina: $('#por_pagina_polinizadores').val(),
            tipo_polinizador: $('#tipo_polinizador_select').val(),
            clase_polinizador: $('#clase_polinizador_select').val() || ''
          }, function(data) {
            $('#loading-bar-' + polinizadoresSettings.cat).html(initmessage);

            if(data == "" || !data) {
              $('#loading-bar-' + polinizadoresSettings.cat).html(polinizadoresSettings.error);
              polinizadoresSettings.busy = false;
            } else {
              polinizadoresSettings.paginaActual = nextPage;
              $this.append(data);
              $('#loading-bar-' + polinizadoresSettings.cat).remove();
              polinizadoresSettings.busy = false;
              
              // Actualizar el contador después de cargar más resultados
              var totalTarjetas = $this.find('.card').length;
              actualizarContador(totalTarjetas, polinizadoresSettings.totales);
            }
          }).fail(function() {
            $('#loading-bar-' + polinizadoresSettings.cat).html(polinizadoresSettings.error);
            polinizadoresSettings.busy = false;
          });
        }

        var $this = $("#resultados-" + polinizadoresSettings.cat);

        if(polinizadoresSettings.scroll == true) {
          $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() + 400 > $(document).height() && !polinizadoresSettings.busy) {
              polinizadoresSettings.busy = true;
              $('#loading-bar-' + polinizadoresSettings.cat).html('Cargando... Por favor, espera <i class="spin3-ev-icon animate-spin" style="font-size: 3em; color: rgba(128, 0, 0, 0.75);"></i>');
              setTimeout(function() {
                getData();
              }, polinizadoresSettings.delay);
            }
          });
        }

        $this.find("#resultados-" + polinizadoresSettings.cat + '.loading-bar').click(function() {
          if(polinizadoresSettings.busy == false) {
            polinizadoresSettings.busy = true;
            getData();
          }
        });
      });
    }

  })(jQuery);

  // Inicializar al cargar la página
  $(document).ready(function() {
    $(document).on('change', '#tipo_polinizador_select', toggleClaseFilter);
    toggleClaseFilter();
    
    var porPagina = parseInt($('#por_pagina_polinizadores').val()) || 20;
    polinizadoresSettings.totalPaginas = Math.ceil(<%= @totales %> / porPagina);
    polinizadoresSettings.paginaActual = 1;
    polinizadoresSettings.url = '<%= polinizadores_path %>';
    polinizadoresSettings.busy = false;
    polinizadoresSettings.totales = <%= @totales %>;
    
    $("#resultados-0").scrollPaginationPolinizadores();
    
    // Contador inicial
    setTimeout(function() {
      var resultadosIniciales = $('#resultados-0 .card').length;
      actualizarContador(resultadosIniciales, <%= @totales %>);
    }, 100);
  });

  // Función para reiniciar después de una nueva búsqueda
  function reiniciarScrollPolinizadores(totales, porPagina, nuevaUrl) {
    polinizadoresSettings.totalPaginas = Math.ceil(totales / porPagina);
    polinizadoresSettings.paginaActual = 1;
    polinizadoresSettings.url = nuevaUrl;
    polinizadoresSettings.busy = false;
    polinizadoresSettings.totales = totales;
    $('#loading-bar-0').remove();
  }
</script>

<div class="row">
  <div class="col-4">
    <%= render 'paginas/formulario_polinizadores' %>
  </div>
  <div class="col-8">
    <div class="tab-pane panel-body panel-resultados active" id="resultados-0">
      <%= render 'paginas/resultados_polinizadores' %>
    </div>
  </div>
</div>