<% @comentarios.each do |c| %>
    <tr id="renglon_<%= c.id %>">
      <td colspan="1">
        <%= select_tag 'comentario[estatus]', options_for_select(Comentario.options_for_select, c.estatus),
                       class: 'comentario_estatus form-control input-sm', comentario_id: c.id, especie_id: c.especie_id
        %>
        <div id="comentario_estatus_div_<%= c.id %>" style="display: none;"></div>

        <%= select_tag 'comentario[categoria_comentario_id]', grouped_options_for_select(@categoria_comentario, c.categoria_comentario_id),
                       class: 'comentario_categoria_comentario_id form-control input-sm', comentario_id: c.id, especie_id: c.especie_id %>
        <div id="comentario_categoria_comentario_id_div_<%= c.id %>" style="display: none;"></div>
      </td>
      <td>
        <% if c.categoria_comentario_id==29 %>
            <div class="panel panel-default comentarios-correos">
              <b>De: </b><i><%= c.nombre %> (<span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span>)</i><br />
              <b>Asunto: </b><i><%= Base64.decode64(c.comentario).force_encoding('UTF-8')%></i><br />

              <div class="correos hidden" id="<%= c.id %>" style="border-radius: 1.5em; margin: 15px;">
              </div>
              <button class="btn btn-xs btn-link btn-correo">Ver más...</button>
              <button class="btn btn-xs btn-link hidden btn-correo">Ver menos...</button>
            </div>
        <% else %>
            <%=  c.comentario %>
            <p>
              <%= c.nombre %> (<span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span>)
            </p>
        <% end %>
        <p>
          <% if c.cuantos > 0 %>
              <%= link_to(c.cuantos == 1 ? t('comentario.x_comentario.uno') : t('comentario.x_comentario.varios', cuantos: c.cuantos), '',
                          class: 'historial', comentario_id: c.id, especie_id: c.especie_id) %>

          <% else %>
              <%= link_to('Responder', '', class: 'historial', comentario_id: c.id, especie_id: c.especie_id) %>
          <% end %>

          <%= link_to 'Ocultar', '', id: "ocultar_#{c.id}", style: 'display: none;' %>
        </p>
        <div id="historial_<%= c.id %>"></div>
      </td>
      <td>
        <% if c.especie_id > 0 && c.nombre_cientifico.present? %>
            <% if c.nombre_comun_principal.present? %>
                <%= c.nombre_comun_principal %><br />
            <% end %>

            <%= link_to c.nombre_cientifico, "/especies/#{c.especie_id}", target: :_blank %>
        <% elsif c.categoria_comentario_id != 29 %>
            La especie o grupo ya no existen
        <% end %>
      </td>
      <td><span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span></td>
      <td>
        <% if c.usuario_id2.present? && c.u2_nombre.present? && c.fecha_estatus.present? %>
            <p><%= c.u2_nombre %></p>
            <span title="<%= c.fecha_estatus %>"><%= c.created_at.strftime('%d/%m/%y') %></span>
        <% end %>
      </td>
    </tr>
<% end %>