<div id="error_mensaje"></div>
<%= form_for(@comentario, url: "/especies/#{@comentario.especie_id}/comentarios", class: 'form-inline') do |f| %>

    <% if @comentario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comentario.errors.count, 'error') %> no permitió que el comentario fuese enviado:</h2>

          <ul>
            <% @comentario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label :comentario, 'Responder' %>
      <%= f.text_area :comentario, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit :Enviar, class: 'comentario_submit' %>
    </div>

    <%= recaptcha_tags(:hl => 'es-419') if @comentario.con_verificacion %>

    <%= f.hidden_field :con_verificacion, value: @comentario.con_verificacion ? '1' : '0' %>
    <%= f.hidden_field :estatus, value: @comentario.estatus %>
    <%= f.hidden_field :ancestry, value: @comentario.ancestry %>
    <%= f.hidden_field(:nombre, value: @comentario.nombre) if @comentario.nombre.present? %>
    <%= f.hidden_field(:correo, value: @comentario.correo) if @comentario.correo.present? %>
    <%= f.hidden_field(:usuario_id, value: @comentario.usuario_id) if @comentario.usuario_id.present? %>
<% end %>

<script>
    $(document).ready(function() {
        $('.comentario_submit').click(function () {
            if ($('#comentario_comentario').val() == '')
                errores.push("El comentario no puede ser vacío.");
            return false;
        });
    });
</script>

