<%= form_for(@comentario, url: "/especies/#{@comentario.especie_id}/comentarios", class: 'form-inline') do |f| %>

    <div class="comentario">
      <%= f.label :comentario, 'Responder' %>
      <%= f.text_area :comentario, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit :Enviar, class: 'comentario_submit' %>
    </div>

    <%= recaptcha_tags(:hl => 'es-419') if @comentario.con_verificacion %>

    <%= f.hidden_field :con_verificacion, value: @comentario.con_verificacion ? '1' : '0' %>
    <%= f.hidden_field :es_admin, value: @comentario.es_admin ? '1' : '0' %>

    <%= f.hidden_field :estatus, value: @comentario.estatus %>
    <%= f.hidden_field :ancestry, value: @comentario.ancestry %>

    <% if @comentario.usuario_id.present? %>
        <%= f.hidden_field(:usuario_id, value: @comentario.usuario_id) %>
    <% else %>
        <%= f.hidden_field(:nombre, value: @comentario.nombre) %>
        <%= f.hidden_field(:correo, value: @comentario.correo) %>
    <% end %>

<% end %>

<script>
    $(document).ready(function() {
        $('.comentario_submit').click(function () {

            // Busco el comentario de la forma que le corresponde
            var label = $(this).parent().prev().children().first();
            var comentario = $(this).parent().prev().children().last();
            var historial_comentarios = $(this).parent().parent().prev();

            if (comentario.val() == '')
                label.addClass('error_mensaje');
            else {

                var form = $(this).parent().parent();
                var ancestry = $(this).parent().nextAll().slice(3,4);
                label.removeClass('error_mensaje');

                $.ajax({
                    url: form.attr('action'),
                    method: 'POST',
                    dataType: "json",
                    data: form.serialize()

                }).done(function(resp) {

                    if (resp.estatus == 1)
                    {
                        historial_comentarios.append(comentario.val());
                        ancestry.val(resp.ancestry);
                        comentario.val('');
                    } else
                        console.log('Hubo un error al guardar la respuesta');

                }).fail(function() {
                    console.log('Hubo un error al guardar la respuesta');
                });
            }

            return false;
        });
    });
</script>

