<div id="error_mensaje"></div>
<%= form_for(@comentario, url: "/especies/#{@especie_id}/comentarios", class: 'form-inline') do |f| %>

    <% if @comentario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comentario.errors.count, 'error') %> no permitió que el comentario fuese enviado:</h2>

          <ul>
            <% @comentario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if !usuario_signed_in? %>
        <div>
          <%= f.label :correo %>
          <%= f.text_field :correo %>
        </div>

        <div>
          <%= f.label :nombre %>
          <%= f.text_field :nombre %>
        </div>
    <% else %>
        <%= f.hidden_field :usuario_id, value: current_usuario.id %>
    <% end %>

    <div>
      <%= f.label :categoria_comentario_id, '¿Qué clase de comentario tienes en mente?' %>
      <%= f.select :categoria_comentario_id, CategoriaComentario.grouped_options, include_blank: '---Elige una opción---',class: 'form-control' %>
    </div>

    <div>
      <%= f.label :comentario %>
      <%= f.text_area :comentario, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit :Enviar, id: 'comentario_submit' %>
    </div>

    <%= recaptcha_tags(:hl => 'es-419') %>
<% end %>
