<% ficha ||= @ficha %>

<% if c.cuantos.present? %>
    <% if c.cuantos > 0 %>
        <%= link_to("Ver más... <span>#{c.cuantos}</span>".html_safe, '', class: 'historial btn btn-link btn-xs', comentario_id: c.id, especie_id: c.especie_id, ficha: ficha ? '1' : '0') %>
    <% else %>
        <%= link_to("Responder <i class='glyphicon glyphicon-edit'></i>".html_safe, '', class: 'historial btn btn-link btn-xs', comentario_id: c.id, especie_id: c.especie_id) if !ficha %>
    <% end %>
    <%= link_to 'Ocultar', '', id: "ocultar_#{c.id}", class: 'historial btn btn-link btn-xs', style: 'display: none;' %>
<% end %>

<div class="comentario-burbuja <%= c.es_propietario ? 'op' : 'respuesta' %>">
  <%= c.comentario.gsub("\n","<br />").html_safe %> <br />

  <% if cp = c.comentario_proveedor %>
    <% if c.categoria_contenido_id == CategoriaContenido::REGISTROS_SNIB %>
      <p>Enlace al <%= link_to 'ejemplar', CONFIG.geoportal_informacion + cp.proveedor_id, target: :_blank %></p>
    <% elsif c.categoria_contenido_id == CategoriaContenido::REGISTROS_NATURALISTA %>
      <p>Enlace a la <%= link_to 'observación', "#{CONFIG.naturalista_url}/observations/#{cp.proveedor_id}", target: :_blank %></p>
    <% end %>
  <% end %>

  <small><%= c.nombre %> - <%= c.institucion + " - " if c.institucion.present? %><%= c.created_at.strftime('%d/%m/%y-%H:%M') %></small>
</div>