<%= javascript_include_tag 'scrolling_basico', 'data-turbolinks-track' => true %>

<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">

    $(document).ready(function() {

        $('#mas_comentarios').scrollPagination({
            per_page: <%= @por_pagina %>, // The number of posts per scroll to be loaded
            page    : <%= @pagina %>, // the actual page
            error   : 'No hay mas comentarios.', // When the user reaches the end this is the message that is
                                        // displayed. You can change this if you want.
            delay   : 500, // When you scroll down the posts will load after a delayed amount of time.
                           // This is mainly for usability concerns. You can alter this as you see fit
            scroll  : true // The main bit, if set to false posts will not load as the user scrolls.
                           // but will still load if the user clicks.
        });
        $('#mas_comentarios').on('click', '.comentarios-correos', function() {
            $(this).children('div.correos, button.btn-correo').toggleClass('hidden');
            id=$(this).children('div.correos')[0].getAttribute('id');
            if ($('#'+id).html().trim().length==0) {
                $('#' + id).load('/comentarios/correoId?id=' + id);
            }
        });
    });

</script>

<% if @totales.present? %>
    <h4>
      <span id="totales" class="badge"><%= @totales %></span> comentarios
    </h4>
<% end %>

<table class="table table-striped table-condensed table-bordered comentarios" id="escucha_envio">
  <%= form_tag admin_path, method: :get, id: 'filtro_form' do %>
      <thead>
      <tr>
        <th colspan="5">
          <table width="100%">
            <tr>
              <th width="10%" rowspan="2"><span class="text-success">Filtrar por: </span></th>
              <th width="40%">Estatus <i class="glyphicon glyphicon-question-sign text-warning" data-toggle="tooltip" data-placement="bottom" title="Público: muestra el comentario como una advertencia, en la ficha del taxón. <br /> Resuelto: se da por solucionado/finalizado el comentario del usuario." type="button"></i>
              </th>
              <th width="40%">Tipo de comentarios</th>
              <th width="10%">Limpiar filtros</th>
            </tr>
            <tr>
              <td><%= select_tag 'comentario[estatus]', options_for_select(Comentario.options_for_select), id: 'filtro_estatus', prompt: 'Estatus', class: 'form-control input-sm pull-left' %></td>
              <td><%= select_tag 'comentario[categoria_comentario_id]', grouped_options_for_select(@categoria_comentario), id: 'filtro_categoria_comentario_id', prompt: 'Tipo de comentario', class: 'form-control input-sm pull-right' %></td>
              <td><%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, admin_path, class: "btn btn-xs btn-info", "data-toggle" => "tooltip", "data-placement" => "bottom", title: 'Borra las opciones de los menus desplegables, regresando al ordenamiento por default'%></td>
            </tr>
          </table>
        </th>
      </tr>
      <th colspan="2"><strong style="font-size: larger;">Comentarios</strong></th>
        <th>
          <%= t :taxon %> <button type="button" class="btn btn-xs btn-default" href="<%= admin_path %>" id="filtro_nombre_cientifico" data-toggle="tooltip" data-placement="bottom" title="Ordena alfabéticamente por nombre de especie"><i class="glyphicon glyphicon-sort text-success"></i></button>
          <%= hidden_field_tag 'comentario[nombre_cientifico]' %>
        </th>
        <th>
          Fecha <button type="button" class="btn btn-xs btn-default" href="<%= admin_path %>" id="filtro_created_at" data-toggle="tooltip" data-placement="bottom" title="Ordena cronológicamente de acuerdo a como fueron realizados"><i class="glyphicon glyphicon-sort text-success"></i></button>
          <%= hidden_field_tag 'comentario[created_at]' %>
        </th>
        <th>Modificado
          <i class="glyphicon glyphicon-question-sign text-warning" data-toggle="tooltip" data-placement="bottom" title="El personal de CONABIO que realizó la ultima modificación en el estatus del comentario" type="button"></i>
        </th>
      </tr>
      </thead>
  <% end %>

  <tbody id="mas_comentarios">
  <%= render :partial => 'comentarios/admin' %>
  </tbody>
</table>
