<%= link_to 'Limpiar filtros', admin_path %>

<table class="table table-hover table-striped table-condensed table-bordered">
  <%= form_tag admin_path, method: :get, id: 'filtro_form' do %>
      <thead>
      <tr>
        <th>
          <%= select_tag 'comentario[estatus]', options_for_select(Comentario.options_for_select),
                         id: 'filtro_estatus', prompt: '- - - Estatus - - -' %>

          <a href="#" data-toggle="popover" data-content="Público: Muestra el comentario como una advertencia, en la ficha del taxón" onclick="return false;">
            <i class="glyphicon glyphicon-info-sign"></i>
          </a>
        </th>
        <th>
          <%= select_tag 'comentario[categoria_comentario_id]', grouped_options_for_select(CategoriaComentario.grouped_options),
                         id: 'filtro_categoria_comentario_id', prompt: '- - - Tipo de comentario - - -' %>
        </th>
        <th>Comentario</th>
        <th>
          <%= t :taxon %>
        </th>
        <th>
          Fecha <a href="<%= admin_path %>" id="filtro_created_at"><i class="glyphicon glyphicon-sort"></i></a>
          <%= hidden_field_tag 'comentario[created_at]' %>
        </th>
        <th>¿Quién y cuando?
          <a href="#" data-toggle="popover" data-content="El personal de CONABIO que realizó la ultima modificación en el estatus del comentario" onclick="return false;">
            <i class="glyphicon glyphicon-info-sign"></i>
          </a>
        </th>
      </tr>
      </thead>
  <% end %>

  <tbody style="font-size: .85em;">

  <% @comentarios.each do |c| %>
      <tr id="renglon_<%= c.id %>">
        <td class="text-center">
          <%= select_tag 'comentario[estatus]', options_for_select(Comentario.options_for_select, c.estatus),
                         class: 'comentario_estatus', comentario_id: c.id, especie_id: c.especie_id
          %>
          <div id="comentario_estatus_div_<%= c.id %>" style="display: none;"></div>
        </td>
        <td>
          <%= select_tag 'comentario[categoria_comentario_id]', grouped_options_for_select(CategoriaComentario.grouped_options, c.categoria_comentario_id),
                         class: 'comentario_categoria_comentario_id', comentario_id: c.id, especie_id: c.especie_id %>
          <div id="comentario_categoria_comentario_id_div_<%= c.id %>" style="display: none;"></div>
        </td>
        <td>
          <%= c.comentario %>
          <p>
            <%= c.nombre %> <%= link_to c.correo, "mailto:#{c.correo}" %> (<span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span>)
          </p>
          <p>
            <%= link_to(c.cuantos == 1 ? t('comentario.x_comentario.uno') : t('comentario.x_comentario.varios', cuantos: c.cuantos), '',
                        class: 'historial', comentario_id: c.id, especie_id: c.especie_id) if c.cuantos > 0 %>
            <%= link_to 'Ocultar', '', id: "ocultar_#{c.id}", style: 'display: none;' %>
          </p>
          <div id="historial_<%= c.id %>"></div>
        </td>
        <td><%= link_to c.nombre_cientifico, "/especies/#{c.especie_id}", target: :_blank %></td>
        <td><span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span></td>
        <td>
          <% if c.usuario_id2 %>
              <% u = Usuario.find(c.usuario_id2) %>
              <p>
                <%= "#{u.nombre} #{u.apellido}" %>
              </p>
              <span title="<%= c.fecha_estatus %>"><%= c.created_at.strftime('%d/%m/%y') %></span>
          <% end %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>
