<table class="table table-hover table-striped table-condensed table-bordered">
  <thead>
  <tr>
    <th>Estatus</th>
    <th>Comentario</th>
    <th><%= t :taxon %></th>
    <th>Nombre / correo / fecha</th>
    <th></th>
    <!--th>Eliminar</th-->
  </tr>
  </thead>

  <tbody style="font-size: .85em;">
  <%
     @comentarios.each do |c|
       if c.usuario_id.present?
         if u = c.usuario
           correo = u.email
           nombre = "#{u.nombre} #{u.apellido}"

         else
           correo = c.correo
           nombre = c.nombre
         end
       else
         correo = c.correo
         nombre = c.nombre
       end

       if t = c.especie
         taxon = t.nombre_cientifico
       else
         taxon = "Este #{t(:taxon)} no existe"
       end
  %>

      <tr>
        <td class="text-center">
          <span class="glyphicon glyphicon-<%= c.estatus == 1 ? 'ok' : 'alert' %>" title="<%= c.estatus == 1 ? 'Resuelto' : 'Pendiente' %>"
                style="color: <%= c.estatus == 1 ? '#889b45' : '#ea9028' %>;" id="span_estatus_<%= c.id %>">
          </span>
        </td>
        <td><%= c.comentario %>
          <p>
            <%= link_to(c.cuantos == 1 ? t('comentario.x_comentario.uno') : t('comentario.x_comentario.varios', cuantos: c.cuantos), '',
                        class: 'historial', comentario_id: c.id, especie_id: c.especie_id) if c.cuantos == 0 %>
          </p>
          <div id="historial_<%= c.id %>"></div>
        </td>
        <td><%= link_to taxon, "/especies/#{c.especie_id}", target: :_blank %></td>
        <td><%= nombre %><br /><%= link_to correo, "mailto:#{correo}" %><br /><span title="<%= c.created_at %>"><%= c.created_at.strftime('%d/%m/%y') %></span></td>
        <td><%= check_box_tag 'comentario[estatus]', c.estatus == 1 ? '1' : '0', c.estatus == 1 ? true : false, id: "estatus_#{c.id}", especie_id: c.especie_id %></td>
        <!--td><%#= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, "/especies/#{c.especie_id}/comentarios/#{c.id}", method: :delete,
                        onclick: "return confirm('¿Deseas eliminar este comentario? Este cambio es irreversible')" , class: "btn btn-sm btn-link eliminar_comentario" %></td-->
      </tr>
  <% end %>

  </tbody>
</table>
