<% respuesta_externa = params[:action]=='respuesta_externa' %>

<% if @comentarios.present? &&  @comentarios[:resp].present? %>
    <%# if @comentarios.present? && ((@comentarios[:cuantos] > 0) || (@comentarios[:cuantos] == 0 && @comentarios[:resp].present?)) %>
    <% if @comentario.especie.present? && respuesta_externa %>
        <p>
          A continuación se muestran los comentarios que has realizado para: <br />
          <strong><%= tituloNombreCientifico(@comentario.especie, :show => true).gsub(' )',')').html_safe %></strong>
        </p>
        <hr>
    <% end %>

    <div class="historial_comentarios" id="historial_comentarios_<%= params[:id] %>" <%= "style='margin: 0 15%;'".html_safe if respuesta_externa %> >
      <% @comentarios[:resp].each do |c| %>
          <%= render 'historial', c: c %>
      <% end %>
    </div>
<% end %>
<% if  respuesta_externa %>
    <div id="escucha_envio">
      <%= render 'form_respuesta' if !@ficha %>
    </div>
<% else%>
    <%= render 'form_respuesta' if !@ficha %>
<% end %>