<%= simple_form_for @pez, **form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <% if @pez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pez.errors.count, 'error') %> prohibieron que el pez se guardara:</h2>

      <ul>
        <% @pez.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @pez.new_record? %>
    <%= f.input :especie_id, label: 'Pez', required: true, hint: 'Escribe el ID de la especie de acuerdo a Enciclovida' %>
  <% else %>
    <h2><%= tituloNombreCientifico(@pez.especie, show: true) %></h2>
    <%= f.input :especie_id, as: :hidden, label: 'Pez', required: true, hint: 'Escribe el ID de la especie de acuerdo a Enciclovida' %>
  <% end %>

  <h3>Descripción de veda</h3>
  <%= f.input :veda_fechas, as: :text %>

  <h3>Criterios asociados</h3>
  <div id='peces_criterios'>
    <%= f.simple_fields_for :peces_criterios do |criterios| %>
      <%= render partial: 'edit_peces_criterios_fields', locals: { f: criterios } %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Añade criterio', f, :peces_criterios, partial: 'new_peces_criterios_fields' %>
    </div>
  </div>

  <h3>Propiedades</h3>
  <div id='peces_propiedades'>
    <%= f.simple_fields_for :peces_propiedades do |propiedades| %>
      <%= render partial: 'edit_peces_propiedades_fields', locals: { f: propiedades } %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Añade propiedad', f, :peces_propiedades, partial: 'new_peces_propiedades_fields' %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-lg btn-block btn-success' %>
  <%= link_to t('helpers.submit.peces.cancel'), @pez.new_record? ? pmc_pez_index_path : pmc_pez_path(@pez), { :class=>"btn btn-lg btn-block btn-default" } %>

<% end %>