<% @criterios["Características"].compact[0..1].each do |c|  %>
  <% next if  c[:nombre] == 'No aplica' %>
  <h5>
    <b><%= c[:tipo_propiedad] %></b>
    <i class='<%= c[:icono] %>'></i>
  </h5>
<% end %>
<% @criterios["Características"].compact[2..4].each do |c|  %>
  <% next if  c[:nombre] == 'Sin datos' %>
  <h5>
    <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
      <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"></span>
    <% end %>
    <b><%= c[:tipo_propiedad] %>: </b><em><%= c[:nombre] %></em>
  </h5>
<% end %>
<hr />
<h5><b>Estado de la población:</b></h5>
<%= dibujaZonasPez(@pez).html_safe %>
