<%= button_tag '<i class="fa fa-times-circle"></i>'.html_safe, type: 'button', class: 'btn btn-link btn-sm float-right', onclick: "$('[data-especie-id=#{@pez[:especie_id]}]').popover('hide');" %>
<h6 class="text-center"><strong>Recomendación</strong><%= muestraCertificacion.html_safe %></h6>
<table class="table table-striped table-responsive table-sm">
  <thead class="thead-dark text-center">
  <tr>
    <th>Pacífico</th>
    <th>Golfo de México</th>
  </tr>
  </thead>
  <tr class="bg-white">
    <td>
      <ul>
        <% @criterios["Estado poblacional en el Pacífico"].compact.each_with_index do  |c, i| %>
          <li><%= dibujaZonasPez(c, i).html_safe %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @criterios["Estado poblacional en el Golfo de México y caribe"].compact.each_with_index do  |c, i| %>
          <li><%= dibujaZonasPez(c, i+3).html_safe %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<% @criterios["Características"].compact[0..1].each do |c|  %>
  <% next if  c[:nombre] == 'No aplica' %>
  <% next if  c[:nombre] == 'Riesgo bajo (LR): Preocupación menor (lc)' %>
  <% next if  c[:nombre] == 'Datos insuficientes (DD)' %>
  <% next if  c[:nombre] == 'Riesgo bajo (LR): Casi amenazado (nt)' %>
  <p>
    <b><%= c[:tipo_propiedad] %>: </b>
    <i class='btn-title <%= c[:icono] %>' tooltip-title="<%= c[:nombre]%>"></i>
  </p>
<% end %>
<% @criterios["Características"].compact[2..4].each do |c|  %>
  <% next if  (c[:valor] < 5) && (c[:tipo_propiedad] != 'Veda') %>
  <% next if  c[:nombre] == 'Sin datos' %>
  <p>

    <b><%= c[:tipo_propiedad] %>: </b>

    <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
      <% warning = case c[:ancestry] when "321" then @pez[:veda_fechas] when "322" then 'Procura que el producto que consumas sea nacional' else '' end %>
      <em class="btn-title"><%= c[:nombre] %> &middot; <i class="fa fa-exclamation text-primary" aria-hidden="true" ></i></em>
      <strong class='popover-veda'><%= warning %></strong>
    <% else %>
      <em><%= c[:nombre] %></em>
    <% end %>
  </p>
<% end %>

<h5 class="float-left">
  <%= link_to '¿Comentarios? <i class="fa fa-comments" aria-hidden="true"></i>'.html_safe, new_especie_comentario_path(@pez, {categorias_contenido_id: 36}), class: 'btn btn-outline-info btn-sm', target: '_blank' %>
</h5>


<% if tiene_permiso?('AdminPeces') %>
  <h5 class="float-right">
    <b><small>Editar especie: </small></b><%= link_to '<i class="fa fa-cog" aria-hidden="true"></i>'.html_safe, pmc_pez_path(@pez), 'tooltip-title' => 'Ver y/o configurar especie marina', class: 'btn btn-smbtn-outline-secondary btn-title' %>
  </h5>
<% end %>
