<%= button_tag '<span class="glyphicon glyphicon-remove"></span>'.html_safe, type: 'button', class: 'btn btn-xs btn-link pull-right', onclick: "$('[data-especie-id=#{@pez[:especie_id]}]').popover('hide');" %>
<h4 class="text-center"><b>Recomendación</b></h4>
<table class="table table-responsive table-condensed table-bordered">
  <tbody>
  <tr>
    <td>
      <ul>
        <li class="text-center"><b><small>Pacífico</small></b></li>
        <% @criterios["Estado poblacional en el Pacífico"].compact.each_with_index do  |c, i| %>
          <li><%= dibujaZonasPez(c, i).html_safe %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <li class="text-center"><b><small>Golfo de México</small></b></li>
        <% @criterios["Estado poblacional en el Golfo de México y caribe"].compact.each_with_index do  |c, i| %>
          <li><%= dibujaZonasPez(c, i+3).html_safe %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  </tbody>
</table>

<% @criterios["Características"].compact[0..1].each do |c|  %>
  <% next if  c[:nombre] == 'No aplica' %>
  <% next if  c[:nombre] == 'Riesgo bajo (LR): Preocupación menor (lc)' %>
  <% next if  c[:nombre] == 'Datos insuficientes (DD)' %>
  <% next if  c[:nombre] == 'Riesgo bajo (LR): Casi amenazado (nt)' %>
  <p>
    <b><%= c[:tipo_propiedad] %>: </b>
    <i class='btn-title <%= c[:icono] %>' tooltip-title="<%= c[:nombre]%>"></i>
  </p>
<% end %>
<% @criterios["Características"].compact[2..4].each do |c|  %>
  <% next if  (c[:valor] < 5) && (c[:tipo_propiedad] != 'Veda') %>
  <% next if  c[:nombre] == 'Sin datos' %>
  <p>

    <b><%= c[:tipo_propiedad] %>: </b>

    <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
      <% warning = case c[:ancestry] when "321" then @pez[:veda_fechas] when "322" then 'Procura que el producto que consumas sea nacional' else '' end %>
      <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true" ></span>
      <em> <%= c[:nombre] %> &middot; <small><%= warning %></small></em>
    <% else %>
      <em> <%= c[:nombre] %></em>
    <% end %>
  </p>
<% end %>

<h4 class="pull-left">
  <%= link_to '<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Realizar comentario'.html_safe, new_especie_comentario_path(@pez, {categorias_contenido_id: 36}), class: 'btn btn-warning btn-sm' %>
</h4>


<% if tiene_permiso?('AdminPeces') %>
  <h4 class="pull-right">
    <b><small>Editar especie: </small></b><%= link_to '<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>'.html_safe, pmc_pez_path(@pez), 'tooltip-title' => 'Ver y/o configurar especie marina', class: 'btn btn-default btn-sm btn-title' %>
  </h4>
<% end %>
