<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "soulmate", "data-turbolinks-track" => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<%- end -%>

<% content_for(:extrajs) do %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<% end %>

<%= notice if notice.present? %>

<%= form_tag busqueda_pmc_pez_index_path, :method => :get, :class => 'form-row', :id => :b_peces  do %>
  <div id="busqueda_avanzada" class="col-12">
    <h5 class="text-primary">
      <strong>Filtros de búsqueda</strong>
      <br />
      <small class="text-secondary">Utiliza los siguientes filtros para clasificar las especies de acuerdo a sus características y tipo de consumo</small>
    </h5>

    <div class="porNombreGrupo row my-3">
      <div class="col-12 my-3">
        <h6><strong>Por especie</strong></h6>
        <%= hidden_field_tag :id, params.present? ? params[:id] : nil %>
        <%= text_field_tag :nombre, params.present? ? params[:nombre] : nil, :maxlength => 255, :placeholder => 'Escribe un nombre común o científico ...', :autocomplete => :off, :class => 'form-control input-lg' %>
      </div>
      <%= hidden_field_tag(:especie_id) %>
      <div class="col-12 my-3">
        <h6><strong>Por grupo</strong></h6>
        <%= select_tag(:grupos, options_for_select(@filtros[:grupos].map{|k| [k.nombre_propiedad, k.id]}, params.present? ? params[:grupos] : nil), :prompt => '- - Grupo - -', :class => 'form-control input-lg' ) %>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <%= button_tag "<i class='fa fa-search' aria-hidden='true'></i> Buscar".html_safe, data: {disable_with: 'Procesando...'}, :class => "botones-peces btn btn-success btn-block", :title => 'Buscar', :type => 'submit', :name => 'commit', :value => 'Buscar' %>
      </div>
      <div class="col">
        <%= button_tag "<i class='fa fa-trash-o' aria-hidden='true'></i> Borrar filtros".html_safe, :type => 'button', :class => "botones-peces btn btn-outline-secondary btn-block", :title => 'Limpiar', :onClick => 'limpiaBusqueda();' %>
      </div>
    </div>

    <div class="porSemaforo row my-5">
      <div class="col bloque">
        <h6 class="mt-n3 px-0 mb-n4 py-2 float-left bloque-color">
          <strong>Semáforo | </strong>
          <small><%= link_to "<b>Más info </b><i class='fa fa-question-circle'></i>".html_safe, pmc_pez_index_path, class: 'text-warning', 'data-turbolinks': false, target: :_blank %></small></h6>
        <h6 class="mt-4">
          <small>Resume categorías de riesgo, vedas, tipos de captura, huella ecológica y estado de la población</small>
        </h6>
        <p class="mb-n4 bloque-color float-left mx-1"><%= checkboxSemaforo %></p>
      </div>
    </div>

    <div class="porGrupo row my-5">
      <div class="col bloque">
        <h6 class="mt-n3 px-0 mb-n5 py-2 float-left bloque-color"><strong>Peces o mariscos</strong></h6>
        <p class="mt-4 mb-n4 bloque-color float-left mx-1"><%= checkboxGruposIconicos %></p>
      </div>
    </div>

    <div class="porSustentable row my-5">
      <div class="col bloque">
        <h6 class="mt-n3 px-0 mb-n5 py-2 float-left bloque-color"><strong>Pesquerías sustentables</strong></h6>
        <p class="mt-4 mb-n4 bloque-color float-left mx-1"><%= checkboxSustentable %></p>
      </div>
    </div>

    <div class="porZonas row my-5">
      <div class="col-12 bloque">
        <h6 class="checkbox mt-n3 px-0 mb-0 pt-2 pb-0 float-left bloque-color"><strong>Región</strong></h6>

        <%= render :partial => 'svg_zonas_marinas' %>
        <%= checkboxCriteriosPeces({:zonas => @filtros[:zonas]}) %>
      </div>
    </div>

    <div id="porCriterios" class="porCriterios checkbox row">
      <div class="col-12 bloque">
        <h6 class="mt-n3 px-2 mb-n5 py-2 float-left bloque-color"><strong>Filtros adicionales</strong></h6>

        <div class="col-12 my-3 mt-4">
          <h6><strong>Especies en riesgo</strong></h6>
          <%= checkboxEstadoConservacion.html_safe %>
        </div>

        <div class="col-12 my-3">
          <%= checkboxCriteriosPeces({:cnp => @filtros[:cnp]}, false, 'Estado de la población')%>
        </div>

        <div class="col-12 my-3">
          <%= checkboxCriteriosPeces({:tipo_vedas => @filtros[:tipo_vedas].map {|k| [k.nombre_propiedad, k.id]}}, false, 'Tipo de veda')%>
        </div>

        <div class="col-12 my-3">
          <%= checkboxCriteriosPeces({:tipo_capturas => @filtros[:tipo_capturas].map {|k| [k.nombre_propiedad, k.id]}}, false, 'Tipo de captura')%>
        </div>

        <div class="col-12 my-3">
          <%= checkboxCriteriosPeces({:procedencias => @filtros[:procedencias].map {|k| [k.nombre_propiedad, k.id]}}, false, 'Huella ecológica')%>
        </div>
      </div>
    </div>
  </div>
<% end -%>

