<div class="col-6 mb-8">
  <%= tituloNombreCientifico(@pez.especie, render: 'header').html_safe %>
</div>

<% if tiene_permiso?('AdminPeces') %>
  <div class="justify-content-end row col-4">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administración
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to("<i class='fa fa-pencil'></i> Editar".html_safe, edit_pmc_pez_path(@pez), class: 'dropdown-item') %>

        <%= link_to("<i class='fa fa-trash'></i> Eliminar".html_safe, pmc_pez_path(@pez), class: 'dropdown-item', method: :delete, data: { confirm: '¿Estas seguro?' }) %>
      </div>
    </div>
  </div>
<% end %>

<% if @pez.imagen =~ URI::regexp %>
  <div class="img_pez col-12 text-center mb-5">
    <%= image_tag(@pez.imagen, class: "img-responsive img-thumbnail img-rounded") %>
  </div>
<% end %>

<div class="container">
  <div class="row" id="panel-body">

    <div class="col-6 caracteristicas_pez">
      <h3 class="text-center mb-4">Criterios<br \>
        <small>(Los criterios se suman sin importar la zona)</small>
      </h3>

      <% @criterios["Características"].compact.each do |c|  %>
        <div class="w-100 mb-4">
          <b>
            <%= c[:tipo_propiedad] %>
            <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
              <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"></span>
            <% end %>
          </b><br />
          <i><%= c[:nombre] %></i> = <%= c[:valor] %>
        </div>
      <% end %>

      <div class="w-100 mt-3">
        <h4 class="text-center">
          <b>Suma de criterios: </b>
          <span class="badge"><%= @criterios["suma_caracteristicas"] %></span>
        </h4>

        <% if @pez.veda_fechas.present? %>
          <h3 class="text-center mt-4">Descripción de la veda </h3> <%= @pez.veda_fechas %>
        <% end %>
      </div>
    </div>

    <div class="col-6 edo_pob_pez">
      <h3 class="text-center">Estado de la población:<br \>
        <small>(Estado de la población por zona + Suma de criterios = Recomendación por zona)</small>
      </h3>

      <% @criterios["Estado poblacional en el Pacífico"].each do |c|  %>
        <div class="mb-4">
          <b><%= c[:tipo_propiedad] %></b>
          <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
            <span class="fa fa-exclamation text-primary" aria-hidden="true"></span>
          <% end %>

          <br />
          <i><%= c[:nombre] %></i>
          <br />


          <span><%= c[:valor] %></span>
          <b>+</b>
          <span><%= @criterios["suma_caracteristicas"] %></span>
          <b>=</b>
          <span class="btn-zona-<%= valorAColor c[:valor] + @criterios["suma_caracteristicas"] %>"><%= c[:valor] + @criterios["suma_caracteristicas"]%></span>

        </div>
      <% end %>

      <% @criterios["Estado poblacional en el Golfo de México y caribe"].each do |c|  %>
        <div class="mb-4">
          <b><%= c[:tipo_propiedad] %></b>
          <% if Pmc::Criterio::CON_ADVERTENCIA.include?(c[:nombre]) %>
            <span class="fa fa-exclamation text-primary" aria-hidden="true"></span>
          <% end %>

          <br />
          <i><%= c[:nombre] %></i>
          <br />

          <span><%= c[:valor] %></span>
          <b>+</b>
          <span><%= @criterios["suma_caracteristicas"] %></span>
          <b>=</b>
          <span class="btn-zona-<%= valorAColor c[:valor] + @criterios["suma_caracteristicas"] %>"><%= c[:valor] + @criterios["suma_caracteristicas"]%></span>

        </div>
      <% end %>
    </div>


    <div class="col">
      <hr />
      <h4 class="text-center">
        <span class="label btn-zona-v">Menor a 5 es recomendable</span> - <span class="label btn-zona-a">De 5 a 19 consume con cautela</span> - <span class="label btn-zona-r">Más de 20 evita</span>
      </h4>
    </div>

  </div>
</div>