<%= form_for(@lista) do |f| %>

    <table width="1000" id="tabla_form"><tr>
      <td width="40%" valign="top">
        <fieldset>
          <legend class="leyenda">Datos</legend>
          <div class="field">
            <%= f.label :nombre_lista, 'Nombre de la lista' %><br>
            <%= f.text_field :nombre_lista, :maxlength => 255, :size => 45, :placeholder => 'nombre de la lista' %>
          </div>

          <% if @lista.new_record? %>
              <div class="field">
                <%= checkboxColumnas %>
              </div>
          <% else %>
              <div class="field">
                <%= checkboxColumnas(@lista.columnas.split(',')).html_safe %>
              </div>
          <% end %>
        </fieldset>
      </td>

      <td width="60%" valign="top">
        <% if @lista.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@lista.errors.count, "error") %>, porfavor corrige los siguientes campos:</h2>

              <ul>
                <% @lista.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </td>
    </tr></table>

    <div class="pie">
      <div class="actions">
        <% if @lista.new_record? %>
            <%= f.submit('Crear lista', data: {:disable_with => 'Creando ...'}) %>
        <% else %>
            <%= f.submit('Guardar', data: {:disable_with => 'Guardando ...'}) %>
        <% end %>
      </div>
    </div>
<% end %>
