<p id="notice"><%= notice %></p>

<% content_for(:title) do %>
    <%= @titulo=@lista.nombre_lista %>
<% end %>

<div class="enlaces_acciones">
  <%= accionesEnlaces(@lista, @accion).html_safe %>
</div>

<table style="max-width:1000px;" id="tabla_form"><tr>
  <td valign="top">
    <fieldset>
      <legend class="leyenda"><%= link_to @titulo, lista_path(@lista) %></legend>
      <p>
        <strong>Información a exportar:</strong><br>
        <%= despliegaLista(@lista, limit: 100) %>
      </p>
      <p>
        <strong>Fecha de creación:</strong>
        <%= @lista.created_at %>
      </p>
      <p>
        <strong>Fecha de la última actualización:</strong>
        <%= @lista.updated_at %>
      </p>
    </fieldset>
  </td>
</tr></table>

<br>
