<div class='nested-fields'>
  <%= f.input :especie_id, as: :hidden, required: true %>
  <%= f.input :catalogo_id, as: :hidden, required: true %>
  <%= f.input :bibliografia_id, as: :hidden, required: true %>


    <%= f.input :biblio, as: :text, input_html: { class: 'biblio-autocomplete' } %>


  <%= link_to_remove_association 'Desvincula la bibliografía', f, { class: 'float-right' } %>

  <br />
</div>

