<%= form_for(@pez) do |f| %>
  <% if @pez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pez.errors.count, "error") %> prohibited this pez from being saved:</h2>

      <ul>
      <% @pez.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :especie_id %><br>
    <%= f.text_field :especie_id %>
  </div>
  <div class="field">
    <%= f.label :valor_total_promedio %><br>
    <%= f.text_field :valor_total_promedio %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :anio %><br>
    <%= f.text_field :anio %>
  </div>
  <div class="field">
    <%= f.label :nombre_propiedad %><br>
    <%= f.text_area :nombre_propiedad %>
  </div>
  <div class="field">
    <%= f.label :tipo_propiedad %><br>
    <%= f.text_area :tipo_propiedad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
