<%= form_for(@pez, url: '/peces', method: :post) do |f| %>
  <% if @pez.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pez.errors.count, "error") %> prohibited this pez from being saved:</h2>

      <ul>
      <% @pez.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :especie_id, 'Pez' %><br>
    <%= f.text_field :especie_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
