<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "soulmate", "data-turbolinks-track" => true %>
<%- end -%>
<%- content_for(:delayedjs) do -%>
  <script>
      $(document).ready(function(){
          soulmate_asigna();
      });
  </script>
<%- end -%>

<div id="busqueda_avanzada">

  <%= form_tag busqueda_pez_index_path, :method => :post, :class => '', :id => :b_peces  do %>
    <h4 class="text-success text-center">
      <strong>Peces y mariscos comerciales</strong>
    </h4>
    <%= button_tag "<span class='glyphicon glyphicon-repeat' aria-hidden='true'></span>".html_safe, :type => 'button', :class => "botones-peces btn btn-default pull-left", :title => 'Limpiar', :onClick => 'limpiaBusqueda();' %>
    <%= button_tag "<span class='glyphicon glyphicon-search' aria-hidden='true'></span>".html_safe, data: {disable_with: 'Procesando...'}, :class => "botones-peces btn btn-success pull-right", :title => 'Buscar', :type => 'submit', :name => 'commit', :value => 'Buscar' %>

    <div class="clearfix" style="padding-bottom: 10px;"></div>

    <div class="recomendada col-xs-12 <%= 'col-sm-12 col-md-6 col-lg-5' if(@peces.nil?) %>">
      <fieldset class="text-center">
        <h5 class="text-primary"><strong>Puedes seleccionar las recomendaciones del semáforo:</strong></h5>
        <div class="col-xs-12 form-peces">
          <%= checkboxRecomendacion %>
        </div>
      </fieldset>
      <fieldset class="text-center">
        
          <h5 class="text-primary"><strong>Escoger alguna especie por nombre:</strong></h5>
        
        <div class="ui-widget form-peces">
          <%= text_field_tag :nombre, nil, :maxlength => 255, :placeholder => 'Escribe un nombre común o científico ...', :autocomplete => :off, :class => 'form-control input-lg' %>
          <h6><i>Al escoger una especie en específico se bloquean los demás criterios</i></h6>
        </div>
        <%= hidden_field_tag(:especie_id) %>
      </fieldset>
      <fieldset class="text-center">
        
          <h5 class="text-primary"><strong>Ó escoger algún grupo:</strong></h5>
        
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-12 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:grupos, options_for_select(@filtros[:grupos].map{|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Grupo - -', :class => 'form-control input-lg' ) %>
        </div>
      </fieldset>
    </div>


    <div class="exacta col-xs-12 <%= 'col-sm-12 col-md-6 col-lg-5' if(@peces.nil?) %>"></div>

    <div class="zonificada col-xs-12 <%= 'col-sm-12 col-md-6 col-lg-7' if(@peces.nil?) %>">
      <fieldset class="text-center">
        
          <h5 class="text-primary"><strong>También puedes buscar por zonas marinas:</strong></h5>
        
        <div class="checkbox col-xs-10 col-xs-offset-1 <%= "col-lg-12 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= render :partial => 'peces/svg_zonas_marinas' %>
          <%= checkboxPeces({:zonas => @filtros[:zonas]})%>
        </div>
      </fieldset>
    </div>

    <div class="agrupada checkbox col-xs-12 <%= 'col-sm-6 col-md-12 col-lg-12' if(@peces.nil?) %>">
      <fieldset class="text-center">
        <h5 class="text-primary"><strong>Y si lo deseas, puedes añadir más criterios complementarios a tu búsqueda:</strong></h5>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <h5><strong>Estado de la población</strong></h5>
          <%= checkboxPeces({:cnp => @filtros[:cnp]})%>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <h5><strong>Pesquerías en vías de sustentabilidad</strong></h5>
          <%= select_tag(:pesquerias, grouped_options_for_select(@filtros[:pesquerias]), :prompt => '- - Selecciona una opción - -', class: 'form-control') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= checkboxEstadoConservacionPeces({:nom => @filtros[:nom].map{|k| [k.nombre_propiedad, k.id]}})%>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= checkboxEstadoConservacionPeces({:iucn => @filtros[:iucn].map{|k| [k.nombre_propiedad, k.id]}})%>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <h5><strong>Tipo de captura</strong></h5>
          <%= checkboxPeces({:tipo_capturas => @filtros[:tipo_capturas].map {|k| [k.nombre_propiedad, k.id]}})%>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <h5><strong>Tipo de veda</strong></h5>
          <%= checkboxPeces({:tipo_vedas => @filtros[:tipo_vedas].map {|k| [k.nombre_propiedad, k.id]}})%>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <h5><strong>Procedencia</strong></h5>
          <%= checkboxPeces({:procedencias => @filtros[:procedencias].map {|k| [k.nombre_propiedad, k.id]}})%>
        </div>

      </fieldset>
    </div>

  <% end -%>
</div>
