<%- content_for(:extracss) do -%>
  <%# stylesheet_link_tag "peces/peces", media: "all", "data-turbolinks-track" => true %>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <%# javascript_include_tag "peces/peces", "data-turbolinks-track" => true %>
  <script>
      //var ncientifico = <%# %>;
      //var ncomunes = <%# %>;
      //</script>
<%- end -%>

<%# render :file => 'busquedas/avanzada' %>


<%= form_tag busqueda_pez_index_url, :method => :post, :class => 'form-horizontal', :id => :b_peces  do %>



  <div class="form-group exacta">
    <h4>Búsqueda por nombres</h4>

    <!--label for="ncientifico" class="col-xs-12 col-sm-4 col-md-12 col-lg-2 control-label">Nombre científico</label-->
    <div class="ui-widget col-xs-12 col-sm-8 col-md-5 col-lg-5">
      <%= text_field_tag(:ncientifico, nil, placeholder: 'Nombre científico...', class: 'form-control input-lg' ) %>
      <%# select_tag(:ncientificoS, options_for_select(@filtros[:nombres].map{|k| [k.nombre_cientifico,k.especie_id]}), class: 'form-control input-lg') %>
    </div>

    <!--label for="ncomunes" class="col-xs-12 col-sm-4 col-md-12 col-lg-2 control-label">Nombre común</label-->
    <div class="ui-widget col-xs-12 col-sm-8 col-md-7 col-lg-7">
      <%= text_field_tag(:ncomunes, nil, placeholder: 'Nombre común...', class: 'form-control input-lg') %>
      <%# select_tag(:ncomun, options_for_select(@filtros[:nombres].map{|k| [k.nombres_comunes, k.especie_id]}), {class: 'form-control input-lg'}) %>
    </div>
    <%= hidden_field_tag(:especie_id) %>
  </div>

  <hr />

  <div class="form-group agrupada">
    <h4 class="text-center">Búsqueda por grupos y o zonas</h4>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <%= select_tag(:grupos, options_for_select(@filtros[:grupos].map{|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Grupo marino - -', :class => 'form-control input-lg' ) %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <%= select_tag(:zonas, options_for_select(@filtros[:zonas].map{|k| [k.nombre_propiedad, k.id]}), :prompt=> '- -Zona - -', class: 'form-control input-lg' ) %>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
      <%= button_tag "Limpiar", :type => 'button', :class => "btn btn-danger btn-sm btn-block btn-title", :title => 'Limpiar', :onClick => 'limpiaBusqueda();' %>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
      <%= submit_tag "Buscar", data: {disable_with: 'Procesando...'}, :class => "btn btn-success btn-lg btn-block btn-title", :title => 'Buscar' %>
    </div>
  </div>



<% end -%>
<% if @peces.present? %>
  <%= render :file => 'peces/index' %>
<% end %>