<%- content_for(:extracss) do -%>
<%- end -%>
<%- content_for(:extrajs) do -%>
  <script>
  </script>
<%- end -%>

<div id="busqueda_avanzada">

  <%= form_tag busqueda_pez_index_path, :method => :post, :class => '', :id => :b_peces  do %>

    <div class="recomendada  col-xs-12 <%# 'col-sm-6 col-md-6 col-lg-6' if(@peces.nil?) %>">
      <fieldset class="text-center">
        <legend><h5 class="text-primary"><strong>Recomendaciones del semáforo</strong></h5></legend>
        <div class="col-xs-12 form-peces">
          <%= checkboxRecomendacion %>
        </div>
      </fieldset>
      <hr/>
    </div>
    <div class="clearfix"></div>
    <div class="exacta col-xs-12 <%= 'col-sm-6 col-md-6 col-lg-4' if(@peces.nil?) %>">
      <fieldset class="text-center">
        <legend>
          <h5 class="text-primary"><strong>Selecciona especie por nombre:</strong></h5>
          <h6><i>Esta búsqueda bloquea las demás </i></h6>
        </legend>
        <div class="ui-widget form-peces">
          <%= text_field_tag(:ncomunes, nil, placeholder: 'Nombre común...', class: 'form-control input-lg') %>
        </div>

        <div class="ui-widget form-peces">
          <%= text_field_tag(:ncientifico, nil, placeholder: 'Nombre científico...', class: 'form-control input-lg' ) %>
        </div>

        <%= hidden_field_tag(:especie_id) %>
      </fieldset>
      <hr/>
    </div>

    <div class="agrupada col-xs-12 <%= 'col-sm-6 col-md-6 col-lg-8' if(@peces.nil?) %>">
      <fieldset class="text-center">
        <legend><h5 class="text-primary"><strong>Aplica y busca por criterios:</strong></h5></legend>

        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:grupos, options_for_select(@filtros[:grupos].map{|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Grupo marino - -', :class => 'form-control' ) %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:zonas, options_for_select(@filtros[:zonas]), :prompt => '- - Zona - -', class: 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:tipo_capturas, options_for_select(@filtros[:tipo_capturas].map {|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Tipo de captura - -', :class => 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:tipo_vedas, options_for_select(@filtros[:tipo_vedas].map {|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Tipo de veda - -', :class => 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:procedencias, options_for_select(@filtros[:procedencias].map {|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Procedencia - -', :class => 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:pesquerias, grouped_options_for_select(@filtros[:pesquerias]), :prompt => '- - Pesquerías - -', class: 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:nom, options_for_select(@filtros[:nom].map {|k| [k.nombre_propiedad, k.id]}), :prompt => '- - NOM-059 (2010) - -', :class => 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 <%= "col-lg-6 col-lg-offset-0" if(@peces.nil?) %> form-peces">
          <%= select_tag(:iucn, options_for_select(@filtros[:iucn].map {|k| [k.nombre_propiedad, k.id]}), :prompt => '- - Lista roja IUCN (2016-3) - -', class: 'form-control input') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 form-peces">
          <%= select_tag(:cnp, options_for_select(@filtros[:cnp]), :prompt => '- - Carta Nacional Pesquera 2012 - -', class: 'form-control input-sm') %>
        </div>
      </fieldset>
      <hr/>
    </div>



    <div class="col-xs-12 <%= 'col-sm-8 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-2 col-md-offset-8 col-lg-offset-8' if(@peces.nil?) %>">
      <%= button_tag "Buscar", data: {disable_with: 'Procesando...'}, :class => "btn btn-success btn-lg btn-block btn-title", :title => 'Buscar', :type => 'submit', :name => 'commit', :value => 'Buscar' %>
      <%= button_tag "Limpiar", :type => 'button', :class => "btn btn-default btn-lg btn-block btn-title", :title => 'Limpiar', :onClick => 'limpiaBusqueda();' %>
    </div>

  <% end -%>
</div>
