<% @peces.each do |pez| %>
  <div class="result-img-container">
    <%= button_tag image_tag(pez.imagen, class: "img-responsive"), type: 'button', class: 'btn-ficha', "data-especie-id" => pez.especie_id %>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn"><small>Zonas: </small></button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[0] %>">I</button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[1] %>">II</button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[2] %>">III</button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[3] %>">IV</button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[4] %>">V</button>
      <button type="button" class="btn btn-zona btn-zona-<%= pez.valor_zonas[5] %>">VI</button>
    </div>
    <div class="result-nombre-container">
      <div id="datos-<%= pez.especie_id %>" class="result-datos-container"></div>
      <%= tituloNombresPeces(pez, :link => true).html_safe %>
    </div>
  </div>
<% end %>