<div class="panel panel-success">

  <div class="panel-heading">
    <%= tituloNombresPeces(@pez, :link => true).html_safe %>
  </div>

  <div class="panel-body">
    <%= render :partial => 'peces/svg_zonas_marinas_show', locals: {color_zona: @pez.valor_zonas.split('')} %>

    <dl class="dl-horizontal">
      <% @criterios.each do |c|  %>
        <dt><% if Criterio::CON_ADVERTENCIA.include?(c.nombre_propiedad) %>
            <span class="glyphicon glyphicon-exclamation-sign text-danger" aria-hidden="true"></span>
            <% end %><%= c.tipo_propiedad %>:
        </dt>

        <dd>
          <small class="pull-left"><%= c.nombre_propiedad %></small><span class="label label-default pull-right"><%= c.valor%></span>
        </dd>
      <% end %>

    </dl>
    <p>-5..4 -> V</p>
    <p>5..19 -> A</p>
    <p>20..100 -> R</p>
  </div>
</div>