<%= form_for(@categoria_contenido_rol, :html => {:class => 'form-inline'}) do |f| %>
  <% if @categoria_contenido_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_contenido_rol.errors.count, "error") %> prohibited this categoria_contenido_rol from being saved:</h2>

      <ul>
      <% @categoria_contenido_rol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :categoria_contenido_id %>
    <%= f.select(:categoria_contenido_id, grouped_options_for_select(CategoriaContenido.grouped_options(false)), options ={:prompt => "Selecciona una categoria"}, {:class => 'form-control', :required => true }) %>
  </div>
  <div class="form-group">
    <%= f.label :rol_id %>
    <%= f.collection_select(:rol_id, Rol.all, :id, :nombre_rol, options ={:prompt => "Selecciona un rol"}, {:class => 'form-control', :required => true }) %>
  </div>

    <%= f.submit(:class => 'btn btn-success btn-sm') %>

<% end %>
