<h1>Listing categoria_contenidos_roles</h1>

<table>
  <thead>
    <tr>
      <th>Categoria contenido</th>
      <th>Rol</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_contenidos_roles.each do |categoria_contenido_rol| %>
      <tr>
        <td><%= categoria_contenido_rol.categoria_contenido_id %></td>
        <td><%= categoria_contenido_rol.rol_id %></td>
        <td><%= link_to 'Show', categoria_contenido_rol %></td>
        <td><%= link_to 'Edit', edit_categoria_contenido_rol_path(categoria_contenido_rol) %></td>
        <td><%= link_to 'Destroy', categoria_contenido_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria contenido rol', new_categoria_contenido_rol_path %>
