<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title>Guía de especies</title>

  <%= wicked_pdf_stylesheet_link_tag 'application_guias' %>
  <%= wicked_pdf_stylesheet_link_tag 'busquedas/region/especies.pdf' %>
</head>

<body>
    <div class="container contenido-principal">
        <% @resp[:taxones].each_with_index do |taxon, index| %>

            <% if (index+1)%2 != 0 %>
                <div class="row">
            <% end %>
    
            <div class="column">
                <div>
                    <br/>

                    <% if taxon[:especie].foto_principal.present? %>
                        <img src="<%= taxon[:especie].foto_principal %>" class="img-fluid">
                    <% else %>
                        <p class="text-center"><i class="ev1-ev-icon ev1-icon-size"></i></p>
                    <% end %>

                    <div class="my-5">
                        <% if taxon[:especie].nombre_comun_principal.present? %>
                            <p class="text-center mt-0 nombre-comun-guia"><%= taxon[:especie].nombre_comun_principal %></p>
                        <% else %>
                            <p class="text-center mt-0">&nbsp;</p>
                        <% end %>

                        <p class="text-center mb-0 nombre-cientifico-guia">
                            <a href="https://enciclovida.mx/especies/<%= taxon[:especie].id %>-<%= taxon[:especie].nombre_cientifico.estandariza %>">
                                <i><%= taxon[:especie].nombre_cientifico %></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <%#= especie_guia(taxon[:especie]).html_safe %>

            <% if (index+1)%2 == 0 %>
                </div>
            <% end %>

        <% end %>
    </div>
</body>
</html>