<div class='nested-fields'>
  <%= f.input :estadoConser %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_conservacion.manejo_aprov_acciones_conserv') %></h3>
  <%
    parametros = {:acceso => @taxon.infocons, :modelo => f_taxon, :association => :infocons, :titulo => "Información adicional", :el_div => "infocons", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infocons]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

  <%= f_taxon.association :t_esquemamanejo,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:esquemamanejo]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>

  <%= f_taxon.association :t_tipopesca,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:tipopesca]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_conservacion.marco_legal_nacional_e_internacional') %></h3>
  <%= f.input :marcolegal %>
  <%= f.input :tipoVeda, :as => :select, collection: Fichas::Conservacion::TIPO_VEDA, include_blank: true, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>

  <div style="display: none;">
    <%= f_taxon.association :t_regioncaptura,
                      label_method: :descn1,
                      value_method: :idopcion,
                      collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:regioncaptura]),
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      }
    %>
    <%= f.input :descManejoAprov %>
    <%= f.input :tipoAprovEsp, :as => :select, collection: Fichas::Conservacion::TIPO_APROVECHAMIENTO, include_blank: true, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opciones')} %>
  </div>

</div>