<div class='nested-fields'>

  <h3 class="titulo_subseccion"><%= t('secciones.s_conservacion.presiones') %></h3>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una amenaza directa'.html_safe, f, :amenazaDirecta, partial: 'fichas/taxa/seccion_conservacion/form_conservacion_amenaza_directa', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'conservacion', 'data-association-insertion-node' => '#conservacion_amenazaDirecta', 'data-association-insertion-method' => 'append', href: '#conservacion' %>
  <hr />
  <div id="conservacion_amenazaDirecta">
    <%= f.simple_fields_for :amenazaDirecta do |info| %>
      <%= render partial: 'fichas/taxa/seccion_conservacion/form_conservacion_amenaza_directa', locals: {f: info }  %>
    <% end %>
  </div>
  <%= f.input :descPresionesAmenazas %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_conservacion.tendencia_p') %></h3>
  <%= f.input :tendenciaPoblacional, :as => :select, collection: Fichas::Demografiaamenazas::TENDENCIA_POBLACIONAL, include_blank: true, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
  <%= f.input :descTendenciaPoblacional %>
</div>