<div class='nested-fields'>
  <%=  f.input :especieId, as: :hidden %>
  <%=  f.input :regLoc, :as => :text %>
  <%=  f.input :anioinicial %>
  <%= f.input :mesinicial,
              collection: Fichas::Cat_Mes.all.map { |r| [r.Mes, r.IdMes] },
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion'),
              }
  %>
  <%=  f.input :aniofinal %>
  <%= f.input :mesfinal,
              collection: Fichas::Cat_Mes.all.map { |r| [r.Mes, r.IdMes] },
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion'),
              }
  %>
  <%= link_to_remove_association 'Borrar distribución', f, :class => 'btn btn-danger btn-sm' %><hr>
</div>