<div class='nested-fields'>

  <fieldset class="apartados">
    <legend class="text-primary"> <%=t('secciones.s_distribucion.region')%> </legend>
    Distribución mundial:
  </fieldset>
  <hr>

  <%= f.input :historicaPotencial %>
  <hr class="espacio_ficha">
  <%= f.input :infoAdicionalMun %>
  <%= f.input :alcanceDistribucion, :as => :select, collection: Fichas::Distribucion::DISTRIBUCINES, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
  <%= f.input :infoAdicionalAlcance %>
</div>