<div class='nested-fields'>

  <fieldset class="apartados">
    <legend class="text-primary"> <%=t('secciones.s_distribucion.region')%> </legend>

    <%= f.association :pais,
                      label_method: :nombrepais,
                      value_method: :paisId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      } %>

    <%= f.association :estado,
                      label_method: :nombreEstado,
                      value_method: :estadoId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      } %>

    <%= f.association :municipio,
                      label_method: :nombreMunicipio,
                      value_method: :municipioId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      } %>

    <%= f.input :infoAdicionalMun %>
  </fieldset>
  <hr>

  <div class="apartadoFicha ficha-prioritaria ficha-PS ficha-invasora">
    <%= f.input :historicaPotencial %>
  </div>

  <div class="apartadoFicha ficha-cites">
    Distribución histórica: AGREGAR
  </div>

  <div class="apartadoFicha ficha-prioritaria ficha-PS ficha-cites">
    <%= f.input :alcanceDistribucion, :as => :select, collection: Fichas::Distribucion::DISTRIBUCINES, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
    <%= f.input :infoAdicionalAlcance %>
  </div>

  <div class="apartadoFicha ficha-invasora">
    <%= # f.input :distribucion -- OCULTA
    %>
    <%= #f.input :comoExoticaMex -- OCULTA
    %>
    20. Distribuci&oacute;n como especie ex&oacute;tica en el mundo:
    Información adicional: Distribuci&oacute;n reportada para la especie como ex&oacute;tica en el mundo
    <%= f.input :comoExoticaMundial %>
    21. Distribuci&oacute;n de la especie en su &aacute;rea de distribuci&oacute;n original:
    <%= f.input :distribucionOriginal %>
    <%= f.input :tipoDistribucion, :as => :select, collection: Fichas::Distribucion::TIPO_DISTRIBUCION, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
    <%= f.input :infoAdicionalTipo %>
  </div>
</div>