<div class='nested-fields'>

  <fieldset class="apartados">
    <legend class="text-primary"> <%=t('secciones.s_distribucion.region')%> </legend>

    <div class="apartadoFicha ficha-Invasora">
      <h3 class="titulo_sub_subseccion"><%= t('secciones.s_distribucion.distribucion_mexico') %></h3>
    </div>

    <div class="apartadoFicha ficha-Prioritaria ficha-CITES ficha-Silvestre">
      <%= f.association :pais,
                        label_method: ->(obj){
                          detalle = "#{obj.nombrepais} (#{obj.iso3})"
                          detalle
                        },
                        value_method: :paisId,
                        :as => :select,
                        input_html: {
                            class: 'form-control selectpicker',
                            multiple: true,
                            'data-live-search': 'true',
                            'title': t('general.seleccionar_opciones'),
                            'data-selected-text-format': 'count > 3'
                        } %>
    </div>

    <%= f.association :estado,
                      label_method: :nombreEstado,
                      value_method: :estadoId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      } %>
    <%= f.input :infoadicionalmexedo %>

    <%= f.association :municipio,
                      :as => :grouped_select,
                      collection: Fichas::Municipio_F.all.group_by(&:nombreEstado),
                      :group_method => :last,
                      group_label_method: :first,
                      label_method: :nombreMunicipio,
                      value_method: :municipioId,
                      input_html: {
                          class: 'form-control selectpicker',
                          :multiple => true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      } %>
    <%= f.input :infoAdicionalMun %>

  </fieldset>
  <hr>

  <div class="apartadoFicha ficha-Prioritaria ficha-Silvestre ficha-Invasora">
    <%= f.input :historicaPotencial %>
  </div>

  <div class="apartadoFicha ficha-CITES">
    <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar distribución '.html_safe, f, :distribucion_historica, partial: 'fichas/taxa/seccion_distribucion/form_distribucion_distribucionhistorica', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion-historica-CITES', 'data-association-insertion-node' => '#distribucion-historica-CITES', 'data-association-insertion-method' => 'append', href: '#distribucion-historica-CITES' %>
    <div id="distribucion-historica-CITES">
      <%= f.simple_fields_for :distribucion_historica do |info| %>
        <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_distribucionhistorica', locals: {f: info} %>
      <% end %>
    </div>
  </div>

  <div class="apartadoFicha ficha-Prioritaria ficha-Silvestre ficha-CITES">
    <%= f.input :alcanceDistribucion, :as => :select, collection: Fichas::Distribucion::DISTRIBUCINES, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
    <%= f.input :infoAdicionalAlcance %>
  </div>

  <div class="apartadoFicha ficha-Invasora">
    <%= f.association :pais_inv,
                      label_method: ->(obj){
                        detalle = "#{obj.nombrepais} (#{obj.iso3})"
                        detalle
                      },
                      value_method: :paisId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      }
    %>
    <%= f.input :comoExoticaMundial %>

    <%= f.association :pais_inv2,
                      label_method: ->(obj){
                        detalle = "#{obj.nombrepais} (#{obj.iso3})"
                        detalle
                      },
                      value_method: :paisId,
                      :as => :select,
                      input_html: {
                          class: 'form-control selectpicker',
                          multiple: true,
                          'data-live-search': 'true',
                          'title': t('general.seleccionar_opciones'),
                          'data-selected-text-format': 'count > 3'
                      }
    %>
    <%= f.input :distribucionOriginal %>
    <%= f.input :tipoDistribucion, :as => :select, collection: Fichas::Distribucion::TIPO_DISTRIBUCION, input_html: {class: 'form-control selectpicker', 'title': t('general.seleccionar_opcion')} %>
    <%= f.input :infoAdicionalTipo %>
  </div>
</div>