<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Distribucion'.html_safe, f, :distribuciones, partial: 'fichas/taxa/seccion_distribucion/form_distribucion_distribucion', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion', 'data-association-insertion-node' => '#distribucion', 'data-association-insertion-method' => 'append', href: '#distribucion_especie', style: 'display: none;') if @taxon.new_record? %>
  <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Distribucion'.html_safe, f, :habitats, partial: 'fichas/taxa/seccion_distribucion/form_distribucion_habitad', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion', 'data-association-insertion-node' => '#distribucion', 'data-association-insertion-method' => 'append', href: '#distribucion_habitat_especie', style: 'display: none;') if @taxon.new_record? %>
  <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Distribucion'.html_safe, f, :endemicas, partial: 'fichas/taxa/seccion_distribucion/form_distribucion_endemica', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion', 'data-association-insertion-node' => '#distribucion', 'data-association-insertion-method' => 'append', href: '#distribucion_endemicas_especie', style: 'display: none;') if @taxon.new_record? %>

  <div id='contenido_distribucion'>
    <hr />
    <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.distribucion')%></h3>
    <div id="distribucion_especie">
      <%= f.simple_fields_for :distribuciones do |info| %>
        <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_distribucion', locals: {f: info, f_taxon: f } %>
      <% end %>
    </div>
    <div id="distribucion_habitat_especie">
      <%= f.simple_fields_for :habitats  do |info| %>
        <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_habitad', locals: { f: info, f_taxon: f } %>
      <% end %>
    </div>
    <div id="distribucion_endemicas_especie">
      <%= f.simple_fields_for :endemicas do |info| %>
        <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_endemica', locals: { f: info, f_taxon: f } %>
      <% end %>
    </div>
  </div>

<% end %>