<div class='nested-fields'>
  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.tamanio_poblacional') %></h3>
  <%= f.input :tamanioPoblacional %>
  <%= f.input :abundancia %>
  <%= f.input :densidad %>
  <%= f.input :patronOcupacion,
              collection: Fichas::Demografiaamenazas::PATRON_OCUPACION,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionPatron %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.parametros_poblacionales') %></h3>
  <%= f.input :parametrosPoblacionales %>
  <h3 class="titulo_sub_subseccion"><%= t('secciones.s_ecologia.poblacion_minima') %></h3>
  <%= f.input :poblacionminviableinicial %>
  <%= f.input :poblacionminviablefinal %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.interacciones') %></h3>
  <%= f.association :t_interacciones,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:interacciones]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>
  <%
    parametros = {:acceso => @taxon.infointer, :modelo => f_taxon, :association => :infointer, :titulo => "Información adicional", :el_div => "infointer", :pregunta => Fichas::Observacionescarac::PREGUNTAS[:infointer]}
    agrega_info_adicional(parametros)
  %>
  <div id="dato_<%= parametros[:el_div] %>">
    <%= f_taxon.simple_fields_for parametros[:association] do |info| %>
      <%= render partial: 'fichas/taxa/caracteristicas_especie/observaciones_especie_x', locals: {f: info, titulo: parametros[:titulo], id_pregunta: parametros[:pregunta]} %>
    <% end %>
  </div>

</div>