<div class='nested-fields'>
  <%= f.input :tamanioPoblacional %>
  <%= f.input :abundancia %>
  <%= f.input :densidad %>
  <%= f.input :patronOcupacion %>
  <%= f.input :descripcionPatron %>

  <%= f.input :parametrosPoblacionales %>
  <%= f.input :poblacionminviableinicial %>

  <%= # f.input :interacciones
  %>
  <%= f.input :infoAdicionalInteraccion %>

  <hr class="espacio_ficha">
  demografiaAmenazas > interaccion:
  <br>
  <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una interaccion'.html_safe, f, :interaccion, partial: 'fichas/taxa/seccion_ecologia/form_ecologia_interaccion', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ecologia', 'data-association-insertion-node' => '#ecologia_interaccion', 'data-association-insertion-method' => 'append', href: '#ecologia' %>
  <hr />
  <div id="ecologia_interaccion">
    <%= f.simple_fields_for :interaccion do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ecologia/form_ecologia_interaccion', locals: {f: info }  %>
    <% end %>
  </div>

</div>