<div class='nested-fields'>
  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.tamanio_poblacional') %></h3>
  <%= f.input :tamanioPoblacional %>
  <%= f.input :abundancia %>
  <%= f.input :densidad %>
  <%= f.input :patronOcupacion,
              collection: Fichas::Demografiaamenazas::PATRON_OCUPACION,
              :as => :select,
              input_html: {
                  class: 'form-control selectpicker',
                  'data-live-search': 'true',
                  'title': t('general.seleccionar_opcion')
              }
  %>
  <%= f.input :descripcionPatron %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.parametros_poblacionales') %></h3>
  <%= f.input :parametrosPoblacionales %>
  <h3 class="titulo_sub_subseccion"><%= t('secciones.s_ecologia.poblacion_minima') %></h3>
  <%= f.input :poblacionminviableinicial %>
  <%= f.input :poblacionminviablefinal %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_ecologia.interacciones') %></h3>
  <%= f.association :t_interacciones,
                    label_method: :descn1,
                    value_method: :idopcion,
                    collection: Fichas::Cat_Preguntas.where(idpregunta: Fichas::Caracteristicasespecie::OPCIONES[:interacciones]),
                    :as => :select,
                    input_html: {
                        class: 'form-control selectpicker',
                        multiple: true,
                        'data-live-search': 'true',
                        'title': t('general.seleccionar_opciones'),
                        'data-selected-text-format': 'count > 3'
                    }
  %>
  <%= f.input :infoAdicionalInteraccion %>

</div>