<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <%= link_to_add_association('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> demografiaAmenazas'.html_safe, f, :demografiaAmenazas, partial: 'fichas/taxa/seccion_ecologia/form_ecologia_demografiaamenazas', :class => 'btn btn-info btn-sm', render_options: { locals: { f_taxon: f} }, role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ecologia', 'data-association-insertion-node' => '#ecologia', 'data-association-insertion-method' => 'append', href: '#ecologia', style: 'display: none;') if @taxon.new_record? || @taxon.demografiaAmenazas.blank? %>

  <div id='contenido_ecologia'>
    <hr />
    <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.ecologia')%></h3>
    <% # OCUPA: demografiaamenazas, * * interaccion  %>
    <%= f.simple_fields_for :demografiaAmenazas do |info| %>
      <%= render partial: 'fichas/taxa/seccion_ecologia/form_ecologia_demografiaamenazas', locals: {f: info, f_taxon: f } %>
    <% end %>
  </div>

<% end %>