<% if I18n.locale.to_s != 'es-cientifico' %>

  <% @taxones.each do |taxon| %>
    <% if taxon.foto_principal.present? %>
      <div class="result-img-container">
        <%= link_to image_tag(taxon.foto_principal), especie_path(taxon) %>
        <div class="result-nombre-container">
          <%= tituloNombreCientifico(taxon, :link => true).html_safe %>
        </div>
      </div>
    <% else %>
      <div class="result-img-container">
        <%= link_to "<i class='ev1-ev-icon'></i>".html_safe, especie_path(taxon) %>
        <div class="result-nombre-container">
          <%= tituloNombreCientifico(taxon, :link => true).html_safe %>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <% @taxones.each do |taxon| %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 resultados-cientificos">
      <span class='datos_busqueda-<%= taxon.id %>'>
        <div class="result-nombre-container">
          <%= tituloNombreCientifico(taxon, :link => true).html_safe %>
        </div>
      </span>
    </div>
  <% end %>
<% end %>
