<% if I18n.locale.to_s != 'es-cientifico' %>

  <% @taxones.each do |taxon| %>
    <% if taxon.foto_principal.present? %>
      <div class="col-3 my-3 px-1">
        <div class="row no-gutters">
          <div class="result-img-container col-12">
            <%= link_to image_tag(taxon.foto_principal, class: 'img-fluid'), especie_path(taxon), target: "_self" %>
          </div>
          <div class="result-nombre-container col-12 px-1">
            <%= tituloNombreCientifico(taxon, {render: 'link'}, {target: "_self"}).html_safe %>
          </div>
        </div>
      </div>

    <% else %>
      <div class="col-3 my-3 px-1">
        <div class="row justify-content-center no-gutters">
          <div class="result-img-container col-6">
            <%= link_to "<i class='ev1-ev-icon'></i>".html_safe, especie_path(taxon), target: "_self" %>
          </div>
          <div class="result-nombre-container col-12 px-1">
            <%= tituloNombreCientifico(taxon, {render: 'link'}, {target: "_self"}).html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <% @taxones.each do |taxon| %>
    <div class="col-12 ml-5">
      <span class='datos_busqueda-<%= taxon.id %>'>
        <div>
          <%= tituloNombreCientifico(taxon, render: 'link', target: "_self").html_safe %>
        </div>
      </span>
    </div>
  <% end %>
<% end %>
