<%# columnas=0 %>
<% @taxones.each do |taxon| %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <input type="checkbox" name="especies[]" value="<%= taxon.id %>" class="especies" style="display: none;">

      <% if I18n.locale.to_s != 'es-cientifico' %>
          <% if taxon.foto_principal.present? && taxon.species_or_lower?(taxon.try(:nombre_categoria_taxonomica)) %>
              <%= image_tag(taxon.foto_principal, :alt => taxon.nombre_cientifico, :style => '', :class => 'img-thumbnail pull-left') %>

              <%= tituloNombreCientifico(taxon, :link => true, :con_icono => false).html_safe %>

          <% else %>
              <i class="ev1-ev-icon"></i> <i class="ev2-ev-icon"></i>
              <%= "<span class='datos_busqueda-#{taxon.id}'>#{tituloNombreCientifico(taxon, :link => true, :font_size => 85)}</span>".html_safe %>
          <% end %>
      <% else %>
          <%= "<span class='datos_busqueda-#{taxon.id}'>#{tituloNombreCientifico(taxon, :link => true)}</span>".html_safe %>
      <% end %>
    </div>
    <%# columnas+=1 %>
<% end %>

