<% if I18n.locale.to_s != 'es-cientifico' %>
  <% @taxones.each do |taxon| %>
    <!--input type="checkbox" name="especies[]" value="<%# taxon.id %>" class="especies" style="display: none;"-->

    <% if taxon.foto_principal.present? %>
      <div class="result-img-container">
        <%= image_tag taxon.foto_principal %>
        <%= tituloNombreCientifico(taxon, :link => true).html_safe %>
      </div>
    <% else %>
      <div class="result-img-container">
        <i class="ev1-ev-icon"></i>
        <%= tituloNombreCientifico(taxon, :link => true).html_safe %>
      </div>
    <% end %>

  <% end %>
<% else %>
  <% @taxones.each do |taxon| %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <span class='datos_busqueda-<%= taxon.id %>'>
        <%= tituloNombreCientifico(taxon, :link => true) %>
      </span>
    </div>
  <% end %>
<% end %>
