<div id="busqueda_avanzada" class="row">
  <%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>
        <div class="panel panel-success <%= params[:action]=='resultados' ? '' : 'dropup' %>" id="panelFiltrosPt">
          <div class="panel-heading" onclick="$('#panelFiltros').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelFiltrosPt').toggleClass('dropup')});">
            <h5><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span><strong>  Búsqueda Avanzada</strong><span class="caret pull-right"></span></h5>
          </div>
          <div class="panel-body" id="panelFiltros" style="display: <%= params[:action]=='resultados' ? 'none' : 'block' %>;">
            <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
              <fieldset>
                <legend><h5 class="text-primary"><strong>Búsqueda por grupo icónico:</strong></h5></legend>
                <div class="radio">
                  <%= radioGruposIconicos.html_safe %>
                </div>
                <%# hidden_field_tag :id_nom_cientifico %>
                <%= hidden_field_tag :busqueda, :avanzada %>
                <%= hidden_field_tag :por_pagina, Busqueda::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>
              </fieldset>
              <div id="panelCategoriaTaxonomicaPt" style="display: none;">
                <fieldset>
                  <legend><h5 class="text-primary"><strong>Categoria taxonómica</strong></h5></legend>
                </fieldset>
                <div id="datos_cat"></div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <fieldset>
                <legend><h5 class="text-primary"><strong>Categorías de riesgo y comercio internacional</strong></h5></legend>
                <div class="checkbox">
                  <%= checkboxEstadoConservacion %>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
              <fieldset>
                <legend><h5 class="text-primary"><strong>Tipo de distribución</strong></h5></legend>
                <div class="checkbox">
                  <%= checkboxTipoDistribucion %>
                </div>
              </fieldset>
            </div>


            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
              <fieldset>
                <legend><h5 class="text-primary"><strong>Especies prioritarias para la conservación</strong></h5></legend>
                <div class="checkbox">
                  <%= checkboxPrioritaria.html_safe %>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-4 col-lg-3 col-xs-offset-0 col-sm-offset-2 col-md-offset-8 col-lg-offset-9">
              <%= submit_tag :Buscar, :class => 'btn btn-success form-control busquedas', data: { disable_with: 'Procesando...' } %>
              <button class="form-control btn btn-default"  data-disable-with="Limpiando..." id="limpiar" name="button" type="reset">Limpiar búsqueda</button>
            </div>

          </div>
        </div>
  <% end %>
</div>