<div id="busqueda_avanzada">
  <%= form_tag resultados_especie_index_path, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>

      <%= radioGruposIconicos.html_safe %>

      <%= hidden_field_tag :id_nom_cientifico %>
      <%= hidden_field_tag :busqueda, :avanzada %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>

      <div class="panel panel-success" id="panelCategoriaTaxonomicaPt" style="display: none;">
        <div class="panel-heading" onclick="$('#panelCategoriaTaxonomica').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelCategoriaTaxonomicaPt').toggleClass('dropup')});">
            <h5>Categoria taxonómica<span class="caret"></span></h5>
        </div>
        <div class="panel-body" id="panelCategoriaTaxonomica">
          <div id="datos_cat"></div>
        </div>
      </div>


      <div class="panel panel-success" id="panelEstadoConservacionPt">
        <div class="panel-heading" onclick="$('#panelEstadoConservacion').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelEstadoConservacionPt').toggleClass('dropup')});">
            <h5>Categorías de riesgo y comercio internacional<span class="caret"></span></h5>
        </div>
        <div class="panel-body" id="panelEstadoConservacion">
          <div class="checkbox" style="text-align: right">
            <%= checkboxEstadoConservacion %>
          </div>
        </div>
      </div>

      <div class="panel panel-success" id="panelTipoDistribucionEnPt">
        <div class="panel-heading" onclick="$('#panelTipoDistribucionEn').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelTipoDistribucionEnPt').toggleClass('dropup')});">
            <h5>Tipo de distribución<span class="caret"></span></h5>
            <i><small>(Predeterminada: Cualquiera)</small></i>
        </div>
        <div class="panel-body" id="panelTipoDistribucionEn">
          <div class="checkbox" style="text-align: right">
            <%= checkboxTipoDistribucion %>
          </div>
        </div>
      </div>

      <div class="panel panel-success" id="panelPrioritariaPt">
        <div class="panel-heading" onclick="$('#panelPrioritaria').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelPrioritariaPt').toggleClass('dropup')});">
          <h5>Especies prioritarias<span class="caret"></span></h5>
        </div>
            <div class="panel-body" id="panelPrioritaria">
                <div class="checkbox" style="text-align: right">
                    <%= checkboxPrioritaria.html_safe %>
                </div>
            </div>
      </div>
      <p>
        <%= submit_tag :Buscar, :class => 'btn btn-primary form-control busquedas', data: { disable_with: 'Procesando...' } %>
      </p>

  <% end %>
</div>