<div id="busqueda_avanzada" class="row">
  <%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-inline', :id => :b_avanzada  do %>

      <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-success dropup" id="panelFiltrosPt">
          <div class="panel-heading" onclick="$('#panelFiltros').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelFiltrosPt').toggleClass('dropup')});">
            <h4><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>  Búsqueda Avanzada<span class="caret"></span></h4>
          </div>
          <div class="panel-body" id="panelFiltros">
            <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
              <fieldset>
                <legend><h5><strong>Búsqueda por grupo icónico:</strong></h5></legend>
                <%= radioGruposIconicos.html_safe %>

                <%= hidden_field_tag :id_nom_cientifico %>
                <%= hidden_field_tag :busqueda, :avanzada %>
                <%= hidden_field_tag :por_pagina, Busqueda::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <fieldset>
                <legend><h5><strong>Categorías de riesgo y comercio internacional</strong></h5></legend>
                <div class="checkbox">
                  <%= checkboxEstadoConservacion %>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
              <fieldset>
                <legend><h5><strong>Tipo de distribución</strong></h5><h5><i><small>(Predeterminada: Cualquiera)</small></i></h5></legend>
                <div class="checkbox">
                  <%= checkboxTipoDistribucion %>
                </div>
              </fieldset>
            </div>


            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
              <fieldset>
                <legend><h5><strong>Especies prioritarias</strong></h5></legend>
                <div class="checkbox" style="text-align: right">
                  <%= checkboxPrioritaria.html_safe %>
                </div>
              </fieldset>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5" id="panelCategoriaTaxonomicaPt" style="display: none;">
              <fieldset>
                <legend><h5><strong>Categoria taxonómica</strong></h5></legend>
              </fieldset>
              <div id="datos_cat"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
              <%= submit_tag :Buscar, :class => 'btn btn-primary form-control busquedas', data: { disable_with: 'Procesando...' } %>
              <button class="form-control btn btn-default" disabled="disabled" data-disable-with="Limpiando..." id="limpiar" name="button" type="reset">Limpiar búsqueda</button>
            </div>

          </div>
        </div>
      </div>
  <% end %>
</div>