<div id="busqueda_avanzada" class="<%='row' if params[:action] != 'resultados' %>">
  <%= form_tag busquedas_resultados_url, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>
      <div class="panel panel-default <%= params[:action]=='resultados' ? '' : 'dropup' %>" id="panelFiltrosPt">
        <% if params[:action] != 'resultados' %>
          <div class="panel-heading" onclick="$('#panelFiltros').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelFiltrosPt').toggleClass('dropup')});">
            <h4 class="text-center">
              <strong>Búsqueda avanzada <span class="caret"></span></strong>
              <br />
              <small>Selecciona un ícono o una combinación de íconos y presiona buscar</small>
            </h4>
          </div>
        <% else %>
	      <!-- Aun decidiendo q poner aquí :P -->
        <% end %>

        <div class="panel-body text-center" id="panelFiltros">
          <% if I18n.locale.to_s == 'es-cientifico' %>
              <%= render :partial => 'busqueda_avanzada_vista_avanzada' %>
          <% else %>
              <%= render :partial => 'busqueda_avanzada_vista_basica' %>
          <% end %>
          <div class="col-xs-12 <%= 'col-sm-8 col-md-4 col-lg-3 col-xs-offset-0 col-sm-offset-2 col-md-offset-8 col-lg-offset-9' if(params[:action] !='resultados') %>">
            <%= submit_tag :Buscar, :class => 'btn btn-success form-control busquedas', data: { disable_with: 'Procesando...' } %>
            <button class="form-control btn btn-default"  data-disable-with="Limpiando..." id="limpiar" name="button" type="reset">Limpiar búsqueda</button>
          </div>
        </div>
      </div>
  <% end %>
</div>
