<script src="http://www.google.com/jsapi" type="text/javascript" data-turbolinks-track="true"></script>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">

    function firstToUpperCase( str ) {
        return str.substr(0, 1).toUpperCase() + str.substr(1);
    }

    soulmate_asigna = function(event)
    {
        var campo = document.getElementById(event.target.id);

        if (event.data.num == '1' || event.data.num == '3')         //nombre comun
        {
            var types = eval("<%=raw CategoriaTaxonomica.categorias_redis('com') %>");
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '1' ? $('#id_basica_comun').attr('value', '') : $('#id_avanzada_comun').attr('value', '');

                var nombres = I18n.locale == 'es-cientifico' ? '<b>' + term + '</b><br>' + data.nombre_cientifico + ' <i>' + data.autoridad + '</i>' :
                '<b>' + firstToUpperCase(term) + '</b> (' + data.nombre_cientifico + ')';

                return "<i title='"+data.nombre_icono+"' style='color:" + data.color + ";font-size:35px;' class='" + data.icono + "'></i>" + nombres;
            };
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                //$('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa

                if (event.data.num == '1')
                {
                    $('#id_basica_comun').attr('value', data.id);
                    $('#b_comun').submit();
                } else {
                    $('#id_avanzada_comun').attr('value', data.id);
                    cat_tax_asociadas(data.id);
                    // Quito el valor de la busqueda cientifica ya que tomo en cuenta el ultimo valor anotado
                    $('#id_avanzada_cientifico').attr('value', '');
                }
            }
        }
        if (event.data.num == '2' || event.data.num == '4')          //nombre cientifico
        {
            var types = eval("<%=raw CategoriaTaxonomica.categorias_redis('cien') %>");
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '2' ? $('#id_basica_cientifico').attr('value', '') : $('#id_avanzada_cientifico').attr('value', '');

                if (I18n.locale == 'es-cientifico')
                    var nombres = '<b>' + term + '</b> <i>' + data.autoridad + '</i>';
                else
                    var nombres = data.nombre_comun.length == 0 ? '<b>' + term + '</b>' : firstToUpperCase(data.nombre_comun) + ' (<b>' + term + '</b>)';
                return "<i title='"+data.nombre_icono+"' style='color:" + data.color + ";font-size:35px;' class='" + data.icono + "'></i>" + nombres;
                //return data.icono + nombres;
            };
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                //$('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa
                if (event.data.num == '2')
                {
                    $('#id_basica_cientifico').attr('value', data.id);
                    $('#b_cientifico').submit();
                } else {
                    $('#id_avanzada_cientifico').attr('value', data.id);
                    cat_tax_asociadas(data.id);
                    // Quito el valor de la busqueda cientifica ya que tomo en cuenta el ultimo valor anotado
                    $('#id_avanzada_comun').attr('value', '');
                }
            }
        }

        if ($._data(campo, "events") == undefined)
        {        //para que no se repita n-veces la busqueda
            $(campo).soulmate({
                url:            "http://<%= IP %>:<%= PORT %>sm/search",
                types:          types,
                renderCallback: render,
                selectCallback: select,
                minQueryLength: 2,
                maxResults:     15,
                num: event.data.num
            });
        }
    };
</script>

<%= form_tag busquedas_resultados_url, :method => :get, :id => :b_comun, :class => 'form-horizontal '+ ('hidden' if ((I18n.locale.to_s == 'es-cientifico' && params[:busqueda].blank?) || params[:busqueda] == 'nombre_cientifico')).to_s, :role => 'form' do %>
	<%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
	<%= hidden_field_tag :busqueda, :nombre_comun %>
	<%= hidden_field_tag :por_pagina, Busqueda::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
	<%= hidden_field_tag :valido_sinonimo_basico, 3 %>
	<div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaComun">
	</div>

	<ul class="nav nav-tabs" style="margin: 0 -9px;">
	  <li role="presentation" class="active">
		<a href="#" >
		  <span class="glyphicon glyphicon-user btn-title" aria-hidden="true"></span>
		  <%= t(:nombre_comun) %>
		</a></li>
	  <li role="presentation">
		<a href="javascript:$('#b_comun').toggleClass('hidden');$('#b_cientifico').toggleClass('hidden');">
		  <span class="glyphicon glyphicon-education btn-title" aria-hidden="true"></span>
		  <%= t(:nombre_cientifico)%>
		</a>
	  </li>
	</ul>

	<div class="form-group">
	  <div class="input-group">
		<%= text_field_tag :nombre_comun, nil, :maxlength => 255, :placeholder => t(:nombre_comun), :autocomplete => :off, :class => 'form-control', :value => params[:busqueda] == 'nombre_comun' ? params[:nombre_comun] : nil%>
		<div class="input-group-btn">
		  <%= button_tag "<span class='glyphicon glyphicon-search' aria-hidden='true'></span>".html_safe, data: { disable_with: 'Procesando...' },:class => "btn btn-success busquedas btn-title", :title=>'Buscar' %>
		  <%= link_to "<span class='glyphicon glyphicon-cog' aria-hidden='true'></span>".html_safe, avanzada_url, :class => "btn btn-warning btn-title", :title => 'Ir a la búsqueda avanzada' %>
		</div>
	  </div>
	</div>
<% end %>


<%= form_tag busquedas_resultados_url, :method => :get, :id => :b_cientifico, :class => 'form-horizontal '+ (((I18n.locale.to_s == 'es-cientifico' && params[:busqueda].blank?) || params[:busqueda] == 'nombre_cientifico') ? '' :'hidden') , :role => 'form' do %>
	<%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
	<%= hidden_field_tag :busqueda, :nombre_cientifico %>
	<%= hidden_field_tag :por_pagina, Busqueda::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
	<div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaCientifico">
	</div>

	<ul class="nav nav-tabs" style="margin: 0 -9px;">
	  <li role="presentation">
		<a href="javascript:$('#b_comun').toggleClass('hidden');$('#b_cientifico').toggleClass('hidden');">
		  <span class="glyphicon glyphicon-user btn-title" aria-hidden="true"></span>
		  <%= t(:nombre_comun) %>
		</a>
	  </li>
	  <li role="presentation" class="active">
		<a href="#">
		  <span class="glyphicon glyphicon-education btn-title" aria-hidden="true"></span>
		  <%= t(:nombre_cientifico)%>
		</a>
	  </li>
	</ul>

	<div class="form-group">
	  <div class="input-group">
		<%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :placeholder => t(:nombre_cientifico), :autocomplete => :off, :class => 'form-control', :value => params[:busqueda] == 'nombre_cientifico' ? params[:nombre_cientifico] : nil %>
		<div class="input-group-btn">
		  <%= button_tag "<span class='glyphicon glyphicon-search' aria-hidden='true'></span>".html_safe, data: { disable_with: 'Procesando...' },:class => "btn btn-success busquedas btn-title", :title=>'Buscar' %>
		  <%= link_to "<span class='glyphicon glyphicon-cog' aria-hidden='true'></span>".html_safe, avanzada_url, :class => "btn btn-warning btn-title", :title => 'Ir a la búsqueda avanzada' %>
		</div>
	  </div>
	</div>
<% end %>
