<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'busquedas', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'busquedas/avanzada/checklist', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:title) do %>
  <%= @titulo='Checklist' %>
<% end %>

<div id="dvLoading"><i></i></div>

<div class="col-12 d-flex justify-content-end">
  Descargar en <%= link_to('<i class="file-pdf-ev-icon"></i>'.html_safe, request.url.gsub('/resultados?','/resultados.pdf?'), target: :_blank, title: 'Lista/checklist') %>
</div>

<div class="col-12">
  <% @taxones.each do |taxon| %>
    <% next unless taxon.estatus == 2 %>
    <div class="checklist-nivel-<%= taxon.nivel1 %> %>">
      <%= "<span id=\"datos_busqueda-#{taxon.id}\">#{generaChecklist(taxon)}</span><br />".html_safe %>
    </div>
  <% end %>

  <%= bibliografiasChecklist %>
</div>