<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title>Listado/checklist</title>

  <%#= wicked_pdf_javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%#= wicked_pdf_javascript_include_tag 'jquery-ui-1.10.4.custom.min.js' %>

  <%#= wicked_pdf_stylesheet_link_tag 'boots4-upgrade/boots4/bootstrap.scss' %>
  <%= wicked_pdf_stylesheet_link_tag 'boots4-upgrade/bootstrap-variable-overrides.scss' %>
  <%= wicked_pdf_stylesheet_link_tag 'busquedas.scss' %>
  <%= wicked_pdf_stylesheet_link_tag 'busquedas/avanzada/checklist.css' %>
</head>

<body>

<div id="dvLoading"><i></i></div>
</p>

<div class="col-12">
  <% @taxones.each do |taxon| %>
    <% next unless taxon.estatus == 2 %>
    <div class="checklist-nivel-<%= taxon.nivel1 %> %>">
      <%= "<span id=\"datos_busqueda-#{taxon.id}\">#{generaChecklist(taxon)}</span><br />".html_safe %>
    </div>
  <% end %>

  <% @@bibliografias = [] %>
  <%= bibliografiasChecklist %>
</div>

</body>
</html>