<% content_for(:extracss) do %>
  <%= stylesheet_link_tag 'busquedas', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'busquedas/avanzada/checklist', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:title) do %>
  <%= @titulo='Checklist' %>
<% end %>

<p id="notice"><%= notice %></p>
<p>
<div id="dvLoading"><i></i></div>
</p>

<div style="width: 100%; float:left;">
  <div class="titulo-busqueda"></div>
  <div id="widget_listas" style="display: none"></div>
</div>

<!--p align="right">
  Descargar en <%#= link_to('<i class="file-pdf-ev-icon"></i>'.html_safe, request.url.gsub('/resultados?','/resultados.pdf?'), target: :_blank, title: 'Verificación de listado') %>
</p-->

<div>

  <% @taxones.each do |taxon| %>
    <% next unless taxon.estatus == 2 %>
    <div class="checklist-nivel-<%= taxon.nivel1 %> %>">
      <%= "<span id=\"datos_busqueda-#{taxon.id}\">#{generaChecklist(taxon)}</span><br />".html_safe %>
    </div>
  <% end %>

  <%= bibliografiasChecklist %>

  <p class="enlaces_acciones">
    <%= '<em>Tu búsqueda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
  </p>
</div>