<% content_for(:title) do %>
    <%= @titulo='Listado de verificación' %>
<% end %>

<p id="notice"><%= notice %></p>
<p>
<div id="dvLoading"><i></i></div>
</p>
<div style="width: 100%; float:left;">
  <div class="titulo-busqueda">

  </div>

  <div id="widget_listas" style="display: none"></div>
</div>

<p align="right">
  Descargar en <%= link_to('<i class="file-pdf-ev-icon"></i>'.html_safe, request.url.gsub('/resultados?','/resultados.pdf?'), target: :_blank, title: 'Verificación de listado') %>
</p>
<div style="width: 100%; float:left;">
  <ul>
    <% @taxones.each do |taxon| %>
        <%= "<li style='margin-left: #{taxon.arbol.length*2}px;'><span id=\"datos_busqueda-#{taxon.id}\">#{tituloNombreCientifico(taxon, link: true)}</span></li>".html_safe %>
    <% end %>
  </ul>
  <p class="enlaces_acciones">
    <%= '<em>Tu búsqueda no dio ningún resultado, verifica tus filtros.</em>'.html_safe if @taxones.length == 0 %>
  </p>
</div>