<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'lib/scrolling', 'data-turbolinks-track' => true %>

  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      // Hacemos un set para saber el por_apgina actual por categoria taxonomica
      offset = [2];

      // El valor del offset, paginado, url inicial y la categoria en la que se encuentra
      settings.cat = 0;
      settings.offset = offset[0];
      settings.url = "<%= request.url %>";
      settings.url_original = "<%= request.url %>";
      settings.totales = <%= @totales %>;
      settings.nop = (settings.totales/10) + 1;

      POR_CATEGORIA = <%=raw @por_categoria.to_json %>;
      //Variable globar para poder saber cuales datos descargar
      datos_descarga = {};
      datos_descarga.url = settings.url_original;
      datos_descarga.cuantos = settings.totales;
  </script>
<% end %>

<% content_for(:delayedjs) do %>
  <script type="text/javascript">
      $(document).ready(function(){
          asignaFiltros(<%=raw @setParams.to_json %>);

          <% if params[:id].present? && params[:nivel].present? &&params[:cat].present? %>
          cat_tax_asociadas('<%= params[:id] %>','<%= params[:nivel] %>','<%= params[:cat] %>');
          <% end %>
      });
  </script>
<% end %>

<% content_for(:title) do %>
  <%= @titulo='Resultados' %>
<% end %>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "busquedas", media: "all", "data-turbolinks-track" => true %>
<%- end -%>

<% if notice.present? %>
  <div class="alert alert-warning" role="alert"><%= notice %></div>
<% end %>

<% if @fuzzy_match.present? %>
  <div class="alert alert-success">
    <strong><%= @fuzzy_match %></strong>
  </div>
<% end %>

<div id="resultados-container" class="<%= 'state-one' if params[:busqueda]=='avanzada' %>">
  <div class="row">
    <% if params[:busqueda]=='avanzada' %>
      <button id="toggleFiltros" class="btn btn-sm btn-default pull-left" onclick="$('#resultados-container').toggleClass('state-one state-two');" type="button"><span class="glyphicon"></span></button>
    <% end %>

    <% if @totales > 0 %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i><%= icono_descarga %></i> Descargas <span class=""></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right" style="z-index: 1001;">
          <li><%= link_to("Lista de especies", nil, 'data-togle': 'modal', 'data-target': '#modal-descargas', 'onclick': "$('#modal-descargas').modal('toggle');return false;") %></li>

          <% if params[:id].present? %>
            <li><%= link_to("Checklist", nil, url: checklist({ request: request.original_url, totales: @totales }), 'data-togle': 'modal', 'data-target': '#modal-checklist', 'onclick': "$('#modal-checklist').modal('toggle');return false;") %></li>
          <% end %>
        </ul>

      </div>
    <% end %>

  </div>

  <hr />

  <%= render file: 'busquedas/avanzada' if params[:action]=='resultados' && params[:busqueda]=='avanzada' %>

  <div id="pestañas" class="panel">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#resultados-0" data-toggle="tab" class="tab_por_categoria" url="<%= request.url %>" categoria_taxonomica_id="0">Todos (<%= @totales if @totales.present? %>)</a>
      </li>

      <% @por_categoria.each do |cat| %>
        <li>
          <a href="#resultados-<%= cat[:categoria_taxonomica_id]%>" data-toggle="tab" class="tab_por_categoria" url="<%= cat[:url] %>" categoria_taxonomica_id="<%= cat[:categoria_taxonomica_id] %>">
            <%= "#{cat[:nombre_categoria_taxonomica]} (#{cat[:cuantos]})" %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="tab-pane panel-body panel-resultados" id="resultados-0">
      <%= render :partial => 'busquedas/resultados' %>
    </div>

    <% @por_categoria.each do |cat| %>
      <div class="tab-pane panel-body panel-resultados" id="resultados-<%= cat[:categoria_taxonomica_id] %>"></div>
    <% end %>
  </div>

</div>

<!-- Modal descargas -->
<div class="modal fade" id="modal-descargas" tabindex="-1" role="dialog" aria-labelledby="modal-descargas-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-descargas-label">Descarga resultados</h4>
      </div>
      <div class="modal-body">
        <p>
          Para resultados mayores a <strong>200</strong> es necesario proporcionar un correo electrónico, al cual
          se te enviará un archivo excel (.xlsx) con la busqueda correspondiente.
        <p><small>NOTA: Los resultados a descargar varian, de acuerdo a la pestaña que estés consultando, así como el tiempo de respuesta puede variar dependiendo del número de resultados</small></p>
        </p>
        <div class="form-group has-feedback">
          <%= label_tag 'correo', 'Correo electrónico ', class: 'control-label', id: 'label_correo', style: ('display:none;' if @totales <= 200) %>
          <%= text_field_tag 'correo', nil, class: 'form-control', placeholder: 'correo ...', style: ('display:none;' if @totales <= 200) %>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <span id="inputSuccess2Status" class="sr-only">(success)</span>
          <span id="estatus_descargar_taxa"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="boton_enviar_descarga" <%= 'disabled="disabled"' if @totales > 200 %>">Enviar</button>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'busquedas/form_descraga_checklist' %>


