<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
  // Hacemos un set de todas las posibles tabs que podria haber, para
  // que conserve el paginado con el scrolling
    offset = {
        clase:          2,
        cohorte:        2,
        division:       2,
        eplicalse:      2,
        especie:        2,
        estirpe:        2,
        familia:        2,
        forma:          2,
        genero:         2,
        grado:          2,
        grupo:          2,
        grupo_especies: 2,
        hiporden:       2,
        infraclase:     2,
        infraorden:     2,
        infraphylum:    2,
        orden:          2,
        parvorden:      2,
        phylum:         2,
        raza:           2,
        reino:          2,
        seccion:        2,
        serie:          2,
        subclase:       2,
        subdivision:    2,
        subespecie:     2,
        subfamilia:     2,
        subforma:       2,
        subgenero:      2,
        subgrupo:       2,
        suborden:       2,
        subphylum:      2,
        subreino:       2,
        subseccion:     2,
        subserie:       2,
        subtribu:       2,
        subvariedad:    2,
        superclase:     2,
        superfamilia:   2,
        superorden:     2,
        superphylum:    2,
        superseccion:   2,
        supertribu:     2,
        tribu:          2,
        variedad:       2,
        todos:          2
    };

    // El valor del offset, paginado, url inicial y la categoria en la que se encuentra
    settings.cat = 'todos';
    settings.offset = offset.todos;
    settings.url = "<%= request.url %>";
    settings.url_original = "<%= request.url %>";
    settings.nop = <%= params[:por_pagina].to_i || Busqueda::POR_PAGINA_PREDETERMINADO %>;
    settings.nivel = '';

    $(document).ready(function()
    {
        $('#tabs').tab();

        scrolling_page("#resultados", settings.nop, settings.url);

        /**
         *  Carga los taxones de la categoria dada
         **/
        $("[id^='nivel_']").click(function ()
        {
            var nivel = $(this).attr('id').substring(6);
            var id_div = '#' + $(this).attr('id_div');
            var url = $(this).attr('url') + '&solo_categoria=' + nivel;

            // Es cero ya que cuenta los espacios en el div ***
            // No mover la linea del div donde pone el tab shalalala
            if ($(id_div).html().length == 0)
                $(id_div).load(url);

            settings.offset = eval("offset."+$(this).attr('id_div'));
            settings.cat = $(this).attr('id_div');
            settings.nivel = nivel;

            if (settings.nivel == '')
                settings.url = settings.url_original;
            else
                settings.url = settings.url_original + "&solo_categoria=" + nivel;
        });

        $(document).on('click', "#box_especie", function()
        {
            checaCaja = $(this).is(":checked") ? true : false
            if (checaCaja)
            {
                $(":input[class='especies']").prop("checked", true);
            } else {
                $(":input[class='especies']").prop("checked", false);
            }
        });

        $("#muestra_listas").click(function ()
        {
            $('#widget_listas').slideToggle("fast", function(){
                if ($(this).html().length == 0)
                {
                    $.ajax({
                        url: "/listas/dame_listas",
                        type: 'POST'
                    }).done(function(html) {
                        $('#widget_listas').html(html);
                    }).fail(function(){
                        $('#widget_listas').html('<p>Hubo un error al cargar los datos.');
                    });
                }
            });
            return false;
        });
    });
</script>

<% content_for(:title) do %>
    <%= @titulo='Resultados' %>
<% end %>

<p id="notice"><%= notice %></p>
<p class="text-right">
    <%= checklist(@paginacion).html_safe  if @paginacion.present? && I18n.locale.to_s == 'es-cientifico' && params[:busqueda] == 'avanzada' && (params[:id_nom_cientifico].present? || params[:id_nom_comun].present?) %>
</p>
<div class="row main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
              <a href="#todos" data-toggle="tab" id="nivel_" id_div="todos">Todos (<%= @paginacion[:rango_resultados].split('de ').last if @paginacion.present? %>)</a>
            </li>

            <% if @por_categoria.present? && @por_categoria.length > 0 %>
                <% @por_categoria.each do |categoria| %>
                    <li>
                      <a href="#<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>"
                         data-toggle="tab" id="<%= "nivel_#{categoria.nivel}" %>" url="<%= request.url %>"
                         id_div="<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>">
                        <%= "#{categoria.nombre_categoria_taxonomica} (#{categoria.cuantos})" %>
                      </a>
                    </li>
                <% end %>
            <% end %>
          </ul>

          <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="todos">
              <%= render :partial => 'busquedas/resultados' %>
            </div>

            <% if @por_categoria.present? && @por_categoria.length > 0 %>
                <% @por_categoria.each do |categoria| %>
                    <div class="tab-pane" id="<%= I18n.transliterate(categoria.nombre_categoria_taxonomica).downcase.gsub(' ','_') %>"></div>
                <% end %>
            <% end %>
          </div>
        </div>
    </div>
</div>