<% content_for(:extrajs) do %>
  <%= javascript_include_tag 'lib/scrolling', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'busquedas/avanzada/basica', 'data-turbolinks-track' => true %>

  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      // Hacemos un set para saber el por_apgina actual por categoria taxonomica
      offset = [2];

      // El valor del offset, paginado, url inicial y la categoria en la que se encuentra
      settings.cat = 0;
      settings.offset = offset[0];
      settings.url = "<%= request.url %>";
      settings.url_original = "<%= request.url %>";
      settings.totales = <%= @totales %>;
      settings.nop = (settings.totales/10) + 1;

      POR_CATEGORIA = <%=raw @por_categoria.to_json %>;
      //Variable globar para poder saber cuales datos descargar
      datos_descarga = {};
      datos_descarga.url = settings.url_original;
      datos_descarga.cuantos = settings.totales;
  </script>
<% end %>

<% if params[:action]=='resultados' && params[:busqueda]=='avanzada' %>
  <% content_for(:delayedjs) do %>
    <script type="text/javascript">
        $(document).ready(function(){
            asignaFiltros(<%=raw @setParams.to_json %>);

            <% if params[:id].present? && params[:nivel].present? && params[:cat].present? %>
            cat_tax_asociadas('<%= params[:id] %>','<%= params[:nivel] %>','<%= params[:cat] %>');
            <% end %>
        });
    </script>
  <% end %>
<% end %>

<% content_for(:title) do %>
  <%= @titulo='Resultados' %>
<% end %>
<%- content_for(:extracss) do -%>
  <%= stylesheet_link_tag "boots4-upgrade/busquedas/avanzada/avanzada", media: "all", "data-turbolinks-track" => true %>
<%- end -%>

<% if notice.present? %>
  <div class="alert alert-warning col-12" role="alert"><%= notice %></div>
<% end %>

<div class="alert alert-success d-none col-12" role="alert" id="notice-avanzada"></div>

<% if @fuzzy_match.present? %>
  <div class="alert alert-success col-12">
    <strong><%= @fuzzy_match %></strong>
  </div>
<% end %>

<div id="resultados-container" class="col-12 <%= 'state-one' if params[:busqueda]=='avanzada' %>">
  <div class="row justify-content-end mb-3 mr-5">
    <%# if params[:busqueda]=='avanzada' %>
    <!--div class="col">
      <button id="toggleFiltros" class="btn btn-outline-secondary float-left" onclick="$('#resultados-container').toggleClass('state-one state-two');" type="button"><i class="fa"></i></button>
    </div-->
    <%# end %>

    <% if @totales > 0 %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Descargas
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to("Datos en excel", nil, 'data-togle': 'modal', 'data-target': '#modal-descarga-lista', 'onclick': "$('#modal-descarga-lista').modal('toggle');return false;", class: 'dropdown-item') %>
          <%= link_to("Lista/checklist", nil, url: checklist({ request: request.original_url, totales: @totales }), 'data-togle': 'modal', 'data-target': '#modal-descarga-checklist', 'onclick': "$('#modal-descarga-checklist').modal('toggle');return false;", class: 'dropdown-item', id: 'modal-menu-checklist') %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="row">
    <%= render file: 'busquedas/avanzada' if params[:action]=='resultados' && params[:busqueda]=='avanzada' %>

    <div id="pestañas" class="<%= 'col-md-9' if params[:action]=='resultados' && params[:busqueda]=='avanzada' %> col-xs-12 panel">
      <div class="row">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item active">
            <a href="#resultados-0" data-toggle="tab" class="nav-link tab_por_categoria" url="<%= request.url %>" categoria_taxonomica_id="0">Todos (<%= @totales if @totales.present? %>)</a>
          </li>

          <% @por_categoria.each do |cat| %>
            <% puts cat.inspect %>
            <li class="nav-item">
              <a href="#resultados-<%= cat[:categoria_taxonomica_id]%>" data-toggle="tab" class="nav-link tab_por_categoria" url="<%= cat[:url] %>" categoria_taxonomica_id="<%= cat[:categoria_taxonomica_id] %>">
                <% if params[:id].blank? %>
                  <%= cat[:nivel2] == 1 ? '<i class="animalia-ev-icon"></i>'.html_safe : '<i class="plantae-ev-icon"></i>'.html_safe %>
                <% end %>
                <%= "#{cat[:nombre_categoria_taxonomica]} (#{cat[:cuantos]})" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane panel-body panel-resultados row pt-3" id="resultados-0">
        <%= render :partial => 'busquedas/resultados' %>
      </div>

      <% @por_categoria.each do |cat| %>
        <div class="tab-pane panel-body panel-resultados row" id="resultados-<%= cat[:categoria_taxonomica_id] %>"></div>
      <% end %>
    </div>
  </div>

</div>

<%= render partial: 'busquedas/form_descarga_lista' if @totales > 0 %>
<%= render partial: 'busquedas/form_descarga_checklist' if @totales > 0 %>


