<!-- Opción 1 -- >
<script type="text/javascript" src="http://js.nicedit.com/nicEdit.js"></script> <script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
    //]]>
</script>
<style>
  textarea.form-control {
    min-height: 200px;
  }
</style>
<!-- -->

<!-- Opción 2 -- >
<script src="https://cloud.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "fullscreen"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
<!-- -->

<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <div id="pestañas" class="panel row">
    <ul class="nav nav-tabs links" role="tablist">
      <li role="presentation" class="active">
        <a href="#clasificacion-descripcion" class="btn btn-sm" aria-controls="clasificacion-descripcion" role="tab" data-toggle="tab">Clasificación y descripción</a>
      </li>
      <li role="presentation">
        <%= link_to 'Distribución', '#distribucion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :dato %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ambiente', '#ambiente', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :periodo %>
      </li>
      <li role="presentation" >
        <%= link_to 'Biología', '#biologia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :info_adicional %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ecología', '#ecologia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :region %>
      </li>
      <li role="presentation">
        <%= link_to 'Genética', '#genetica', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :institucion %>
      </li>
      <li role="presentation" >
        <%= link_to 'Importancia', '#importancia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'especiesEstudiadas' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Conservación', '#conservacion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :keywords %>
      </li>
      <li role="presentation" >
        <%= link_to 'Especies prioritarias', '#prioritaria-conservacion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :keywords %>
      </li>
      <li role="presentation" >
        <%= link_to 'Necesidades de información', '#necesidad-informacion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :keywords %>
      </li>
      <li role="presentation" >
        <%= link_to 'Metadatos', '#metadatos', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :keywords %>
      </li>
      <li role="presentation" >
        <%= link_to 'Referencias', '#referencias', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => :keywords %>
      </li>
      <li role="presentation" >

      </li>
    </ul>

    <div class="tab-content">

      <div id="clasificacion-descripcion" role="tabpanel" class="tab-pane fade in panel-body active">
        <hr />
        <%= render partial: 'form_clasificacion_y_descripcion', locals: { f: f } %>
      </div>

      <div id='distribucion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :distribuciones  do |info| %>
          <%= render partial: 'form_distribucion', locals: { f: info } %>
        <% end %>
      </div>

      <div id='ambiente' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :habitats do |info| %>
          <%= render partial: 'form_ambiente', locals: { f: info } %>
        <% end %>
      </div>

      <div id='biologia' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :historianatural do |info| %>
          <%= render partial: 'form_biologia', locals: { f: info } %>
        <% end %>
      </div>

      <div id='ecologia' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :demografiaAmenazas do |info| %>
          <%= render partial: 'form_ecologia', locals: { f: info } %>
        <% end %>
      </div>

      <div id='genetica' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :historiaNatural do |info| %>
          <%= render partial: 'form_genetica', locals: { f: info } %>
        <% end %>
      </div>

      <div id='importancia' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :historiaNatural do |info| %>
          <%= render partial: 'form_importancia', locals: { f: info } %>
        <% end %>
      </div>

      <div id='conservacion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= f.simple_fields_for :conservacion do |info| %>
          <%= render partial: 'form_conservacion', locals: { f: info } %>
        <% end %>
      </div>

      <div id='prioritaria-conservacion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= render partial: 'form_prioritaria_conservacion', locals: { f: f } %>
      </div>

      <div id='necesidad-informacion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <%= render partial: 'form_necesiades_informacion', locals: { f: f } %>
      </div>















      <div id='metadatos' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        Hola
      </div>

      <div id='referencias' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        Hola
      </div>

    </div>
  </div>
  <hr />
  <%= f.submit class: 'btn btn-lg btn-block btn-success' %>

<% end %>

<style>
  textarea.form-control {
    min-height: 200px;
  }
</style>