<% content_for :extracss do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<% end %>

<%= f.input :id, required: true, :as => :hidden, :disabled => true %>
<%= f.input :resumenEspecie %>
<%= f.input :descEspecie %>
<%= f.input :especiesSmilares %>
<%= f.input :origen %>
<%= f.input :descripcionOrigen %>

<hr class="espacio_ficha">

<h4><%= t('simple_form.labels.defaults.categoria_riesgo.NOM_059_SEMARNAT') %>:</h4>
<%
  # Recuperar las legislaciones
  legislaciones = f.object.legislaciones

  # Verificar que exista al menos una legislación
  if legislaciones.any?
    # Si existe algúna legislación, intentar extraer las 4 posibles:
    legislaciones.each do |legislacion| %><%
      if legislacion.nombreLegislacion == Fichas::Legislacion::TIPOS_LEGISLACIONES[0]
      %><%= f.input :estatus_change, collection: Fichas::Legislacion::ESTATUS_LEGAL_PROTECCION, input_html: {class: 'form-control', value: legislacion.estatusLegalProteccion }%><%
        puts legislacion.inspect, " - -  "
      end
    if legislacion.nombreLegislacion == Fichas::Legislacion::TIPOS_LEGISLACIONES[1]
        puts legislacion.inspect, " - -  "
      end
      if legislacion.nombreLegislacion == Fichas::Legislacion::TIPOS_LEGISLACIONES[2]
        puts legislacion.inspect, " - -  "
      end
      if legislacion.nombreLegislacion == Fichas::Legislacion::TIPOS_LEGISLACIONES[3]
        puts legislacion.inspect, " - -  "
      end
    end

  else
    # Si no existe ninguna legislación, crear la relación
    legislaciones = Fichas::Legislacion.new

  end

  #f.input :legislacion, input_html: { value: legislacion.infoAdicional }, autocomplete: :off
  # estatusLegalProteccion
%>

<%= f.input :_2001, input_html: { value: 1 } %>
<%= f.input :_2010, input_html: { value: 1 } %>
<%= f.input :informacion_adicional, :as => "text", input_html: { value: 1 } %>

<%= f.input :categoria_UICN, input_html: { value: 1 } %>
<%= f.input :informacion_adicional, :as => "text", input_html: { value: 1 } %>


<%= f.input :categoria_CITES, input_html: { value: 1 } %>
<%= f.input :informacion_adicional, :as => "text", input_html: { value: 1 } %>





<%= f.simple_fields_for legislaciones do |lg| %>

  <%= #lg.object.input :_2001, input_html: { value: lg.object.nombreLegislacion }
  %>
<% end %>


<hr class="espacio_ficha">

<h4><%= t('secciones_general.informacion_adicional') %></h4>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th></th>
    <th><%= t('simple_form.labels.defaults.hembras') %></th>
    <th><%= t('simple_form.labels.defaults.machos') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th><%= t('simple_form.labels.defaults.largo') %></th>
    <td><%= f.input :largoinicialhembras, label: false%> <%= f.input :largofinalhembras, label: false%></td>
    <td><%= f.input :largoinicialmachos, label: false%> <%= f.input :largofinalmachos, label: false%> </td>
  </tr>
  <tr>
    <th><%= t('simple_form.labels.defaults.longevidad') %></th>
    <td><%= f.input :edadinicialhembras, label: false%> <%= f.input :edadfinalhembras, label: false%></td>
    <td><%= f.input :edadinicialmachos, label: false%> <%= f.input :edadfinalmachos, label: false%> </td>
  </tr>
  <tr>
    <th><%= t('simple_form.labels.defaults.peso') %></th>
    <td><%= f.input :pesoinicialhembras, label: false%> <%= f.input :pesofinalhembras, label: false%></td>
    <td><%= f.input :pesoinicialmachos, label: false%> <%= f.input :pesofinalmachos, label: false%> </td>
  </tr>
  </tbody>
</table>


<style>
  .espacio_ficha {
    border: lightgrey;
    border-style: dashed;
    border-width: 2px;
  }
</style>
