<div class='nested-fields'>
  <%= f.input :tamanioPoblacional %>
  <%= f.input :uso %>
  <%= f.input :habitoPlantas %>
  <%= f.input :alimentacion %>
  <%= f.input :descripcionAlimentacion %>
  <%= f.input :estrategiaTrofica %>
  <%= f.input :descripcionEstrofica %>
  <%= f.input :forrajeo %>

  <%= f.input :conducta %>

  <%= f.input :migracion %>
  <%= f.input :tipoMigracion %>
  <%= f.input :Habito %>

  <%= f.input :tipopHabito %>

  <%= f.input :hibernacion %>
  <%= f.input :Infoaddhibernacion %>
  <%= f.input :territorialidad %>
  <%= f.input :Infoaddterritorialidad %>
  <%= f.input :ambitoHogareno %>
  <%= f.input :mecanismosDefensa %>
  <%= f.input :infoaddmecdefensa %>
  <%= f.input :organizacionSocial %>
  <%= f.input :infoaddorgsocial %>
  <%= f.input :tipoReproduccion %>
  <%= f.input :descripcion %>
  <%= f.input :dimorfismoSexual %>
  <%= f.input :additionalInfoDimorfiasmo %>
  <%= f.input :coloracion %>
  <%= f.input :ornamentacion %>
  <%= f.input :sistemaApareamiento %>
  <%= f.input :descripcionSistema %>
  <%= f.input :noEventos %>
  <%= f.input :descripcionNoEventos %>

  <%= f.input :tipoFecundacion %>
  <%= f.input :descripcionTipoFec %>
  <%= f.input :edadPrimeraRepro %>
  <%= f.input :duracionVidaRepro %>
  <%= f.input :frecuenciaApareamin %>
  <%= f.input :sitioAnidacion %>
  <%= f.input :descripcionSitioAni %>
  <%= f.input :noHuevosCrias %>
  <%= f.input :cuidadoParental %>
  <%= f.input :desCuidadoParental %>
  <%= f.input :tiempoCuidadoParental %>
  <%= f.input :descripcion %>
  <%= f.input :arregloEspacial %>

  <%= f.input :descripcionArregloespacial %>
  <%= f.input :aislamientoOrganos %>
  <%= f.input :descAislaOrganos %>
  <%= f.input :sistReproAsexuales %>
  <%= f.input :DescsistReproAsexuales %>
  <%= f.input :fecuandacion %>
  <%= f.input :descFecundacion %>
  <%= f.input :agentesPolinizacion %>
  <%= f.input :descAgentesPo %>

  <%= f.input :aperturaFlor %>
  <%= f.input :descApertura %>
  <%= f.input :tiempoFloracion %>
  <%= f.input :addinfolongevidadflor %>
  <%= f.input :mesInicio %>
  <%= f.input :mesFinal %>
  <%= f.input :addinfotiempoflora %>
  <%= f.input :cantidadnectarinicial %>
  <%= f.input :addinfocantidadnectar %>
  <%= f.input :cantidadpolen %>

  <%= f.input :mesInicialFructi %>
  <%= f.input :mesFinalFructi %>
  <%= f.input :addinfotiempofructi %>
  <%= f.input :nofrutosinicial %>
  <%= f.input :caracFruto %>
  <%= f.input :descCaracFruto %>
  <%= f.input :noEventos %>
  <%= f.input :descNoEventos %>

  <%= f.input :nosemillasinicial %>
  <%= f.input :tamanioSemilla %>
  <%= f.input :caracToxica %>
  <%= f.input :germinacioninicial %>
  <%= f.input :infoaddgerminacion %>
  <%= f.input :plantulasinicial %>
  <%= f.input :infoaddplantulas %>

  <%= f.input :tipoDispersion %>
  <%= f.input :descTipoDispersion %>
  <%= f.input :estructuraDispersora %>
  <%= f.input :descEstDispersora %>
  <%= f.input :distanciadispercioninicial %>
</div>