<h1>Listing usuarios_especie</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Especie</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios_especie.each do |usuario_especie| %>
      <tr>
        <td><%= usuario_especie.usuario_id %></td>
        <td><%= usuario_especie.especie_id %></td>
        <td><%= link_to 'Show', usuario_especie %></td>
        <td><%= link_to 'Edit', edit_usuario_especie_path(usuario_especie) %></td>
        <td><%= link_to 'Destroy', usuario_especie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario especie', new_usuario_especie_path %>
