<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
<%= @usuario_especie.nombre %> <%= @usuario_especie.apellido %>
</p>
<p>
  <strong>UsuarioID:</strong>
  [<%= @usuario_especie.usuario_id %>]
</p>
<p>
  <strong>Email:</strong>
  <%= @usuario_especie.email %>
</p>
<p>
  <strong>Institución:</strong>
  <%= @usuario_especie.institucion%>
</p>
<p>
  <strong>EspecieID:</strong>
  [<%= @usuario_especie.especie_id %>]
</p>
<p>
  <strong>Nombre científico:</strong>
  <%= @usuario_especie.nombre_cientifico%>
</p>

<p class="text-right">
  <%= link_to 'Editar', edit_usuario_especie_path(@usuario_especie) %> |
  <%= link_to 'Regresar', usuarios_especie_path %>
</p>