<div class="card mx-2">
	<img src="https://enciclovida.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text">
			<%= link_to "<i class='flow-cascade-ev-icon mr-3'></i>Búsqueda por clasificación".html_safe, explora_por_clasificacion_url, :class => "btn btn-outline-secondary", :title => 'Ir a la búsqueda por clasificación', data: { turbolinks: false }  %>
		</p>
	</div>
</div>

<div class="card mx-2">
	<img src="https://enciclovida.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text">
			<%= link_to "<i class='busqueda-region-ev-icon mr-3'></i>Búsqueda por región".html_safe, explora_por_region_url, :class => "btn btn-outline-secondary", :title => 'Ir a la búsqueda por región', data: { turbolinks: false }  %>
		</p>
	</div>
</div>

<div class="card mx-2">
	<img src="https://enciclovida.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text">
			<%= link_to "<i class='exotica-invasora-ev-icon mr-3'></i>Especies exóticas invasoras".html_safe, exoticas_invasoras_url, :class => "btn btn-outline-secondary", :title => 'Ir a la búsqueda de especies exóticas invasoras', data: { turbolinks: false }  %>
		</p>
	</div>
</div>

<div class="card mx-2">
	<img src="https://enciclovida.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<%= link_to "<i class='peces-mariscos-comerciales-ev-icon mr-3'></i>Consumo responsable de peces y mariscos".html_safe, peces_url, :class => "btn btn-outline-secondary", :title => 'Ir a la búsqueda de peces y mariscos comerciales', data: { turbolinks: false }  %>
		<p class="card-text">
		</p>
	</div>
</div>

<div class="card mx-2">
	<img src="https://enciclovida.mx/fotoweb/cache/5008/Animales/Vertebrados/Mam%C3%ADferos/MASM02969%20Panthera%20onca.t4c8aa720.m800.w.0ConabioCornerCopy.jpg.x31QC2Dfrb2P8ntcTLob59-nh59_F2MFANay8fFuBPpk.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text">
			<%= link_to "<i class='busqueda-avanzada-ev-icon mr-3'></i>Búsqueda avanzada".html_safe, avanzada_url, :class => "btn btn-outline-secondary", :title => 'Ir a la búsqueda avanzada', data: { turbolinks: false }  %>
		</p>
	</div>
</div>