<div class="d-flex justify-content-around my-3">
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/clasificacion_b.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='flow-cascade-ev-icon mr-3'></i>Búsqueda por clasificación".html_safe, explora_por_clasificacion_url, :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda por clasificación', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/region.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='busqueda-region-ev-icon mr-3'></i>Búsqueda por región".html_safe, explora_por_region_url, :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda por región', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/usos.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='busqueda-region-ev-icon mr-3'></i>Búsqueda por usos".html_safe, "/busquedas/resultados?utf8=%E2%9C%93&nombre=&busqueda=avanzada&id=&uso%5B%5D=11-4-0-0-0-0-0&uso%5B%5D=11-16-0-0-0-0-0&uso%5B%5D=11-5-0-0-0-0-0&uso%5B%5D=11-40-1-0-0-0-0&uso%5B%5D=11-40-2-0-0-0-0&uso%5B%5D=11-8-0-0-0-0-0&uso%5B%5D=11-9-0-0-0-0-0&uso%5B%5D=11-10-0-0-0-0-0&uso%5B%5D=11-11-0-0-0-0-0&uso%5B%5D=11-13-0-0-0-0-0&uso%5B%5D=11-15-0-0-0-0-0&uso%5B%5D=11-14-0-0-0-0-0&por_pagina=50&commit=", :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda por usos', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/enRiesgo.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='busqueda-region-ev-icon mr-3'></i>Especies en riesgo".html_safe, "/busquedas/resultados?utf8=%E2%9C%93&nombre=&busqueda=avanzada&id=&edo_cons%5B%5D=16&edo_cons%5B%5D=14&edo_cons%5B%5D=15&edo_cons%5B%5D=17&edo_cons%5B%5D=25&edo_cons%5B%5D=26&edo_cons%5B%5D=27&edo_cons%5B%5D=28&edo_cons%5B%5D=29&edo_cons%5B%5D=1102&edo_cons%5B%5D=1103&edo_cons%5B%5D=1104&edo_cons%5B%5D=22&edo_cons%5B%5D=23&edo_cons%5B%5D=24&por_pagina=50&commit=
", :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a las especies en riesgo', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	


</div>

<div class="d-flex justify-content-around my-3">
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/tipo_distribucion.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='busqueda-region-ev-icon mr-3'></i>Búsqueda por tipo de distribución".html_safe, "/busquedas/resultados?utf8=%E2%9C%93&nombre=&busqueda=avanzada&id=&dist%5B%5D=3&dist%5B%5D=7&dist%5B%5D=10&dist%5B%5D=6&por_pagina=50&commit=", :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda por tipo de distribución', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/exotica_b.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='exotica-invasora-ev-icon mr-3'></i>Especies exóticas invasoras".html_safe, exoticas_invasoras_url, :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda de especies exóticas invasoras', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/pecesComestibles_b.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<%= link_to "<i class='peces-mariscos-comerciales-ev-icon mr-3'></i>Consumo responsable de peces y mariscos".html_safe, peces_url, :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda de peces y mariscos comerciales', data: { turbolinks: false }  %>
			<p class="card bg-transparent-text">
			</p>
		</div>
	</div>
	
	<div class="card bg-transparent mx-2">
		<img src="/assets/portada/avanzada_b.jpg" class="card bg-transparent-img-top" alt="...">
		<div class="card-body p-0">
			<p class="card bg-transparent-text">
				<%= link_to "<i class='busqueda-avanzada-ev-icon mr-3'></i>Búsqueda avanzada".html_safe, avanzada_url, :class => "btn btn-light btn-lg btn-block rounded-0", :title => 'Ir a la búsqueda avanzada', data: { turbolinks: false }  %>
			</p>
		</div>
	</div>
	
</div>

