<div id="que-es" class="col-12 py-5 px-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="font-weight-bold text-white text-left mb-n4">¿Qué es?</h1>
        <%= render :partial => 'index_que_es' %>
      </div>
    </div>
  </div>
</div>
<div id="como-funciona" class="col-12 p-3 text-center">
  <%= render :partial => 'index_como_funciona' %>
</div>
<div id="herramientas-busqueda" class="col-12 p-3 text-center">
  <%= render :partial => 'index_herramientas_busqueda' %>
</div>
<div id="por-que-es-importante" class="col-12 p-3 text-center">
  <%= render :partial => 'index_por_que_es_importante' %>
</div>
<div id="especies-destacadas" class="col-12 p-0 text-center">
  <%#= render :partial => 'index_especies_destacadas' %>
</div>
<div class="col-12">
  <%= render :partial => 'index_intro_video' %>
</div>

