<% content_for(:title) do %>
    <%= @titulo=CONFIG.site_name %>
<% end %>
<% content_for(:extracss) do %>
    <%= stylesheet_link_tag    "inicio", media: "all", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<% end %>
<% content_for(:extrajs) do %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<% end %>

<%= form_tag '/especies/destruye_seleccionados' %>
<% if notice.present? %>
    <div class="alert alert-warning" role="alert"><%= notice %></div>
<% end %>

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-push-7 col-lg-push-7">
  <p class="text-center">
    <span style="font-size: 2.3em; font-weight: bolder; color: #691F14 !important;"><%= CONFIG.site_name %></span> integra información de <span style="font-size: 1.8em; font-weight: bolder; color: #503E01 ! important;">especies</span><br>que viven en <span style="font-size: 1.8em; font-weight: bolder; color: #724629 ! important;">México</span>.</p>
  <br><br>
  <p class="text-center">Comentarios y sugerencias generales a: <br />
    <a href="#" onclick="$(this).attr('href',co.join('').split('').reverse().join(''));" target="_blank">
      <span class="glyphicon glyphicon-envelope"></span>
      <span class="enciclovida_correo-ev-icon"></span>
    </a>
  </p>
  <div class="well text-center text-primary">Búsquedas geográficas en el Geoportal <strong>¡Próximamente!</strong></div>
  <p class="text-center"><img src="assets/portada/imgPortada.png" class="img-responsive" style="width: 100%; max-width: 680px;"></p>
</div>
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-md-pull-5 col-lg-pull-5">
  <img src="assets/portada/bosqueEncabezado.png" class="img-responsive" style="width: 100%;">
  <% if I18n.locale.to_s == 'es-cientifico' %>
      <legend>Arreglo taxonómico</legend>
  <% else %>
      <legend>Clasificación</legend>
  <% end %>
  <%= render 'especies/arbol' %>
</div>
