<%= form_tag explora_por_region_especies_path, :method => :get, :class => 'form-horizontal', :id => :busqueda_region do %>

  <div id="sidebar" class="sidebar collapsed">
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li><a href="#busqueda-region-tab" role="tab"><i class="glyphicon glyphicon-search"></i></a></li>
        <li><a href="#grupos-region-tab" role="tab"><i class="arachnida-ev-icon"></i></a></li>
        <li><a href="#distribucion-region-tab" role="tab" target="_blank"><i class="endemica-ev-icon"></i></a></li>
        <li><a href="#cat-riesgo-region-tab" role="tab"><i class="en-peligro-de-extincion-p-ev-icon"></i></a></li>
      </ul>

      <ul role="tablist">
        <li><a href="#settings" role="tab"><i class="glyphicon glyphicon-cog"></i></a></li>
      </ul>
    </div>

    <div class="sidebar-content">
      <div class="sidebar-pane" id="busqueda-region-tab">
        <h1 class="sidebar-header">
          Busqueda por especie o región
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>

        <h4>Busca por nombre científico o común</h4>
        <%= hidden_field_tag :especie_id, params.present? ? params[:especie_id] : nil %>
        <%= hidden_field_tag :tipo_region, params.present? ? params[:tipo_region] : nil %>
        <%= text_field_tag :nombre, params.present? ? params[:nombre] : nil, :maxlength => 255, :placeholder => 'Nombre común o científico ...', :autocomplete => :off, :class => 'form-control input-lg' %>

        <hr />
        <h4>Busca por estado, municipio o ANP</h4>
        <%= hidden_field_tag :region_id, params.present? ? params[:region_id] : nil %>
        <%= text_field_tag :region, params.present? ? params[:nombre] : nil, :maxlength => 255, :placeholder => 'Estado, municipio o ANP ...', :autocomplete => :off, :class => 'form-control input-lg' %>
      </div>

      <div class="sidebar-pane" id="grupos-region-tab">
        <h1 class="sidebar-header">Filtra por grupo<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <%= render partial: 'grupos' %>
      </div>

      <div class="sidebar-pane" id="distribucion-region-tab">
        <h1 class="sidebar-header">Filtra por tipo de distribución<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

        <div class="checkbox explora_por">
          <%= checkboxTipoDistribucion.gsub('btn-basica ', '').html_safe %>
        </div>
      </div>

      <div class="sidebar-pane" id="cat-riesgo-region-tab">
        <h1 class="sidebar-header">Filtra por categoria de riesgo<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

        <div class="checkbox explora_por">
          <%= checkboxEstadoConservacion(true).gsub('btn-basica ', '').html_safe %>
        </div>
      </div>
    </div>
  </div>

<% end %>