<%= form_tag explora_por_region_especies_path, :method => :get, :class => 'position-absolute my-2 w-50', :id => :busqueda_region do %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group">
        <%= text_field_tag :nombre_region, params.present? ? params[:nombre_region] : nil, :maxlength => 255, :placeholder => 'Estado, municipio o ANP ...', :autocomplete => :off, :class => 'form-control form-control-lg ml-3 py-2 border-right-0 border', title: "Estado, municipio o área protegida" %>
        <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border bg-light" type="button" id="boton-region-limpia">
            <i class="fa fa-close"></i>
          </button>
        </span> 
      </div>
      <%= hidden_field_tag :region_id, params.present? ? params[:region_id] : nil %>
      <%= hidden_field_tag :tipo_region, params.present? ? params[:tipo_region] : nil %>
      <%= hidden_field_tag :ejemplar_id, params.present? ? params[:ejemplar_id] : nil %>
    </div>

    <div class="form-group col-md-6">
      <div class="input-group">
        <%= text_field_tag :nombre_especie, params.present? ? params[:nombre_especie] : nil, :maxlength => 255, :placeholder => 'Especie o grupo ...', :autocomplete => :off, :class => 'form-control form-control-lg py-2 border-right-0 border', title: "Especie o grupo" %>  
        <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border bg-light mr-3" type="button" id="boton-especie-limpia">
            <i class="fa fa-close"></i>
          </button>
        </span> 
      </div> 
      <%= hidden_field_tag :especie_id, params.present? ? params[:especie_id] : nil %>
      <%= hidden_field_tag :especie_id_focus, params.present? ? params[:especie_id_focus] : nil %>
      <%= hidden_field_tag :catalogo_id, params.present? ? params[:catalogo_id] : nil %>
      <%= hidden_field_tag :pagina, params.present? && params[:pagina].present? ? params[:pagina] : 1 %>
      <%= hidden_field_tag :nivel, params.present? && params[:nivel].present? ? params[:nivel] : nil %>
      <%= hidden_field_tag :cat, params.present? && params[:cat].present? ? params[:cat] : nil %>
    </div>
  </div>

  <button id="grupos-pop" class="btn btn-light btn-title filtro-popover m-2 px-1 rounded-pill" type="button" data-toggle="popover" title="Filtrar por grupos taxonómicos"><i class="grupo-iconico-ev-icon h1"></i></button><br />
  <button id="filtros-pop" class="btn btn-light btn-lg btn-title filtro-popover rounded-pill m-2" type="button" data-toggle="popover" title="Filtros adicionales"><i class="fa fa-filter"></i></button><br />
  <button id="reload" class="btn btn-light btn-title btn-lg rounded-pill m-2" type="button" title="Limpiar filtros" onclick="window.location.href='/explora-por-region'"><i class="fa fa-refresh h2"></i></button>

  <div id="sidebar" class="d-none">
    <div id="grupos-tab">
      <%= radioGruposIconicos.html_safe %>
    </div>
    <div id="filtros-tab">
      <h4 class="mt-4">Categorías de riesgo y comercio internacional</h4>
      <%= checkboxEstadoConservacion.html_safe %>

      <h4 class="mt-4">Tipo de distribución</h4>
      <%= checkboxTipoDistribucion.html_safe %>

      <h4 class="mt-4">Usos</h4>
      <%= selectUsos.html_safe %>

      <h4 class="mt-4">Forma de crecimiento (plantas)</h4>
      <%= selectFormaCrecimiento.html_safe %>

      <h4 class="mt-4">Ambiente</h4>
      <%= selectAmbiente.html_safe %>
    </div>
  </div>

<% end %>

