<% if @resp[:estatus] && @resp[:totales] > 0 %>

  <% @resp[:taxones].each do |t| %>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail img-responsive">
        <img src="<%= t[:foto_principal] %>" alt="<%= t[:nombre_cientifico] %>" height="200px;">
        <div class="caption">
          <h4><strong><%= t[:nombre_comun] %></strong></h4>
          <h5><%= link_to t[:nombre_cientifico], "/especies/#{t[:especie_id]}", target: :_blank %></h5>
          <p><a href="#" class="btn btn-primary" role="button">Ver <%= t[:nregistros] %> registro(s)</a></p>
        </div>
      </div>
    </div>
  <% end %>

<% else %>
  <p><%= @resp[:msg] %></p>
<% end %>