<% if @resp[:estatus] %>
	
	<% if @resp[:totales].present? %>
		<% region_seleccionada = params[:nombre_region].present? %>
		<div class="row no-gutters">
			
			<div id="opciones_resultados" class="col-8 mt-2 px-2 py-2">
				<% if @resp[:totales].present? && @resp[:totales] > 0 && @resp[:totales] < 60000 %>
					<%= button_tag("<i class='fa fa-file-text-o mr-1'></i> Lista".html_safe, type: 'button', 'data-toggle': 'modal', 'data-target': '#modal-descarga-region', class: 'btn btn-info') %>
					<% if @valida_guia %>
						<%= button_tag("<i class='fa fa-file-picture-o mr-1'></i> Guía".html_safe, type: 'button', 'data-toggle': 'modal', 'data-target': '#modal-descarga-guia', class: 'btn btn-info') %>
					<% else %>
						<%= button_tag("<i class='fa fa-file-picture-o mr-1'></i> Guía".html_safe, type: 'button', class: 'btn btn-info btn-title disabled', title: "Hay que seleccionar una región (municipio o ANP) y un grupo taxonómico (clase, orden o familia)") %>
					<% end %>
				<% else %>
					<%= button_tag("<i class='fa fa-file-text-o mr-1'></i> Lista".html_safe, type: 'button', class: 'btn btn-info btn-title disabled', title: "Hay que seleccionar al menos un filtro") %>
					<%= button_tag("<i class='fa fa-file-picture-o mr-1'></i> Guía".html_safe, type: 'button', class: 'btn btn-info btn-title disabled', title: "Hay que seleccionar una región (municipio o ANP) y un grupo taxonómico (clase, orden o familia)") %>
				<% end %>
				<button id="tutorialGuias" type="button" class="btn btn-info" data-toggle="modal" data-target="#multiModal" title="Tutorial guías de especies" data-body="<%= insertaVideo("YClySqweW7U") %>" onclick="$('#multiModalBody').html($(this).data('body'), $('#multiModalLabel').html('Tutorial guías de especies') );" ><i class='fa fa-question'></i></button>
				
				<div class="btn-group">
					<button type="button" class="btn btn-info dropdown-toggle <%= "disabled btn-titlre" unless region_seleccionada %>" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-info"></i>
					</button>
					<div class="dropdown-menu">
						<%= ligas_mas_info(params[:nombre_region])[3,4].join.html_safe %>
					</div>
				</div>
				

				
				<div class="w-100" id="filtros-especies">
					<%= filtrosEspecies(params).html_safe %>
				</div>
			</div>
			
			<div class="col h4 mx-2 py-1 shadow text-center">
				<p class="m-0 p-2 text-info">
					<b><%= number_with_delimiter(@resp[:totales], delimiter: ',') %> especies</b><br>
					<small><b><%= number_with_delimiter(@resp[:num_ejemplares], delimiter: ',') %></b> registros <a id="snib" href="https://www.snib.mx/" target="_blank" class="font-weight-bolder" data-toggle="popover" title="Sistema Nacional de Información sobre Biodiversidad">SNIB</a></small>
				</p>
				<div id="verMasEspecies" class="text-center px-2 py-0">
					<%= @resp['carga-anteriores-especies'] ? button_tag('<i class="fa fa-chevron-left"></i>'.html_safe, class: 'btn btn-secondary btn-title rounded-circle', id: 'carga-anteriores-especies', title: 'Anterior', type: 'button', 'data-toggle'=> 'tooltip', 'data-trigger' => 'hover') : button_tag('<i class="fa fa-chevron-left"></i>'.html_safe, class: 'btn btn-secondary btn-title rounded-circle disabled', type: 'button') %>
					
					<%= @resp['carga-siguientes-especies'] ? button_tag('<i class="fa fa-chevron-right"></i>'.html_safe, class: 'btn btn-secondary btn-title rounded-circle', id: 'carga-siguientes-especies', title: 'Siguiente', type: 'button', 'data-toggle'=> 'tooltip', 'data-trigger' => 'hover') : button_tag('<i class="fa fa-chevron-right"></i>'.html_safe, class: 'btn btn-secondary btn-title rounded-circle disabled', type: 'button') %>
				</div>
			</div>
			
		</div>
	<% end %>
	
	
	
	
	
	<div id="contenedor_resultados" class="d-flex flex-column position-relative rounded my-2">
		<div class="row no-gutters">
			<% @resp[:taxones].each do |t| %>
				<% taxon = t[:especie] %>
				<div class="col-3 p-2 shadow-sm <%= 'bg-success' if params[:catalogo_id] == taxon.catalogo_id %>" id="especie-container-<%= taxon.catalogo_id %>">
					
					<button class="border-0 m-0 p-0 text-right boton-especie-registros" especie_id_focus="<%= taxon.id %>" catalogo_id="<%= taxon.catalogo_id %>" title="Mostrar registros" data-nombre-cientifico="<%= taxon.nombre_cientifico.sanitize.html_safe %>">
						<div class="result-img-container w-100 mt-0 mb-n4 text-break">
							<%= taxon.foto_principal.present? ? image_tag(taxon.foto_principal, class: 'img-fluid', alt: 'Imagen no encontrada') : "<i class='ev1-ev-icon'></i>".html_safe %>
						</div>
						<span class="badge badge-light position-relative"><%= number_with_delimiter(t[:nregistros], delimiter: ',') %></span>
					</button>
					<div class="result-nombre-container text-truncate w-100">
						<%= tituloNombreCientifico(taxon, {render: 'link'}, {target: "_blank"}).html_safe %>
					</div>
				
				
				</div>
			<% end %>
		</div>
	
	
	
	</div>
	
	
	
	
	<% if @resp[:totales].present? %>
		<%= render partial: 'shared/form_descarga', locals: { totales: number_with_delimiter(@resp[:totales], delimiter: ','), tipo_descarga: 'region' } %>
		<%= render partial: 'busquedas_regiones/guias/form_descarga', locals: { totales: number_with_delimiter(@resp[:totales], delimiter: ',') } %>
	<% end %>
	
	<script>
		var resp = <%= raw @resp.to_json %>; /*??*/
		
		$(document).ready(function() {
			/*TODO ESTO DEBE IR EN por_region_extra.js, ya q no depende de la respuesta ¬¬*/
			resizeD = $('#contenedor_resultados');
			posicionInicialResizeD = resizeD.offset().left;
			anchoResizeD = resizeD.width();
			
			
			actualizaPosicion = function() {
				posicionInicialResizeD = resizeD.offset().left;
				anchoResizeD = resizeD.width();
			};
			
			$(window).on('resize', function(){
				resizeD.removeAttr('style');
				//actualizaPosicion();
				//goState(resizeP);
				$("html,body").animate({ scrollTop: 100 }, 400);
			});
			
			tooltip("#contenedor_especies .btn-title");
		});
	</script>

<% else %>
	<p><%= @resp[:msg] %></p>
<% end %>
