<% if @resp[:estatus] %>

  <% if @resp[:totales].present? && params[:pagina].to_i == 1 %>
    <div class="col-12">
      <h3><strong><%= number_with_delimiter(@resp[:totales], delimiter: ',') %></strong> especies</h3>
      <div class="pull-right fa fa-arrow-right" id="carga-mas-especies"></div>
    </div>
  <% end %>

  <div class="row" id="contenedor_especies_itera">
    <% if I18n.locale.to_s != 'es-cientifico' %>
      <% @resp[:taxones].each do |t| %>
        <% taxon = t[:especie] %>

        <% if taxon.foto_principal.present? %>
          <div class="col-3 my-2 px-1">
            <div class="row no-gutters">
              <div class="result-img-container col-12">
                <%= image_tag(taxon.foto_principal, class: 'img-fluid') %>
                <button class="btn btn-primary boton-especie-registros" catalogo_id="<%= taxon.catalogo_id %>" especie_id="<%= taxon.id %>"><%= number_with_delimiter(t[:nregistros], delimiter: ',') %></button>
              </div>
              <div class="result-nombre-container col-12 px-1">
                <%= tituloNombreCientifico(taxon, {render: 'link'}, {target: "_self"}).html_safe %>
              </div>
            </div>
          </div>

        <% else %>
          <div class="col-3 my-3 px-1">
            <div class="row justify-content-center no-gutters">
              <div class="result-img-container col-6">
                <%= link_to "<i class='ev1-ev-icon'></i>".html_safe, especie_path(taxon), target: "_self" %>
              </div>
              <div class="result-nombre-container col-12 px-1">
                <%= tituloNombreCientifico(taxon, {render: 'link'}, {target: "_self"}).html_safe %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    <% else %>
      <% @resp[:taxones].each do |taxon| %>
        <div class="col-12 ml-5">
          <span class='datos_busqueda-<%= taxon.id %>'>
            <div>
              <%= tituloNombreCientifico(taxon, render: 'link', target: "_self").html_safe %>
            </div>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>

  <script>
      $(document).ready(function(){
          var resp = <%=raw @resp.to_json %>;
      });
  </script>

<% else %>
  <p><%= @resp[:msg] %></p>
<% end %>
