<div id="brandBar" class="row " style="<%= "background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(236, 236, 236, 0.8)), url('#{@bgImg}'); ".html_safe if params[:controller] != 'inicio' %> <%= 'padding: 26px 0 0 0;'  unless (params[:controller] == 'inicio' || @no_render_busqueda_basica.present?) %>">
  <%= render(:partial => 'shared/dropdown_menu') %>

  <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <%= link_to "<i class ='enciclo-ev-icon'></i><i class ='vida-ev-icon'></i>".html_safe, root_path, :class => '', data: { turbolinks: false }  %>
  </div>
  <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
    <%= link_to "<i class ='conabio_completo-ev-icon'></i>".html_safe, "http://www.biodiversidad.gob.mx/", :class => '', target: :_blank  %>
  </div>
  <div id="busqueda_basica" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
    <%= render(:template => 'busquedas/basica') unless @no_render_busqueda_basica.present? %>
  </div>

</div>
