<div id="brandBar" class="row" <%= "style='  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(236, 236, 236, 0.8)), url(\"/fondos/#{rand(1..16)}.jpg\");'".html_safe if params[:controller] != 'inicio' %>>

  <div class="btn-group text-right pull-right" role="group">
    <%= link_to "Más... #{current_usuario.nombre if usuario_signed_in?}  <span class='caret'></span>".html_safe, nil, :class => 'btn btn-sm  btn-default  dropdown-toggle', :role => 'button', 'data-toggle' =>'dropdown', 'aria-haspopup'=>'true', 'aria-expanded'=>'false' %>
    <ul class="dropdown-menu">
      <% if usuario_signed_in? %>
        <li><%= link_to 'Administracion de comentarios', admin_path %></li>
        <li><%= link_to 'Configuración de tu cuenta', edit_usuario_registration_path %></li>
        <li><%= link_to "Cerrar sesión", destroy_usuario_session_path, :method => :delete, data: {confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe} %></li>
      <% else %>
        <li><%= link_to('Iniciar sesión'.html_safe, new_usuario_session_path) if I18n.locale.to_s == 'es-cientifico' %></li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li><%= link_to "Vista #{I18n.locale.to_s == 'es-cientifico' ? 'general' : 'de especialistas'} <i class='vista-#{I18n.locale.to_s == 'es-cientifico' ? 'general' : 'especialista'}-ev-icon'></i>".html_safe, nil, :name => I18n.locale.to_s, :onClick => 'return cambia_locale(this.name);'%></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to 'Validación en línea', validaciones_path, :role => 'button' %></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to '¿Qué es?', inicio_acerca_path << '?tab=queEs' %></li>
      <li><%= link_to 'Dos vistas', inicio_acerca_path << '?tab=dosVistas' %></li>
      <li><%= link_to 'Usos', inicio_acerca_path << '?tab=usos' %></li>
      <li><%= link_to 'Advertencias', inicio_acerca_path << '?tab=advertencias' %></li>
    </ul>
  </div>

  <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-left">
      <%= link_to "<i class ='enciclo-ev-icon'></i><i class ='vida-ev-icon'></i>".html_safe, root_path, :class => ''  %>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0 text-right">
      <%= link_to "<i class ='conabio_blanco-ev-icon'></i>".html_safe, "http://www.biodiversidad.gob.mx/", :class => ''  %>
    </div>
    <div id="busqueda_basica" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
      <%= render(:template => 'busquedas/basica') unless @no_render_busqueda_basica.present? %>
    </div>

</div>
