<p>
  <%= @comentario.is_root? ? "Se te ha asignado el siguiente comentario:" : "Te han contestado el siguiente comentario:" %>
  <% con_taxon = @nombre_cientifico.present? %>
  <span style="font-size: 1.2em;">
  <% if con_taxon %>
      <% if @nombre_comun.present? %>
          <%= @nombre_comun %> (<strong><%= @nombre_cientifico %></strong>)
      <% else %>
          <strong><%= @nombre_cientifico %></strong>
      <% end %>
  <% end %>
  </span>
</p>

<blockquote style="font-style: italic;">
  <%= @comentario.comentario.html_safe %>
</blockquote>

<p>
  Para poder contestarlo, ingresa al <%= link_to 'panel de administracion de comentarios', CONFIG.site_url+admin_path %>.
</p>