<div id="selects_multiples">
  <div id="select_de_sistapareamiento"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :sistapareamiento, t('opciones_multiples.t_sistapareamiento'), 'seccion_reprod_animal') %> </div>
  <div id="select_de_sitioanidacion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :sitioanidacion, t('opciones_multiples.t_sitioanidacion'), 'seccion_reprod_animal') %> </div>
  <div id="select_de_arregloespacial"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :arregloespacial, t('opciones_multiples.t_arregloespacial'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_arregloespacialflores"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :arregloespacialflores, t('opciones_multiples.t_arregloespacialflores'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_arregloespacialindividuos"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :arregloespacialindividuos, t('opciones_multiples.t_arregloespacialindividuos'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_arregloespacialpoblaciones"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :arregloespacialpoblaciones, t('opciones_multiples.t_arregloespacialpoblaciones'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_vectorespolinizacion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :vectorespolinizacion, t('opciones_multiples.t_vectorespolinizacion'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_agentespolinizacion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :agentespolinizacion, t('opciones_multiples.t_agentespolinizacion'), 'seccion_reprod_vegetal') %> </div>
  <div id="select_de_interacciones"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :interacciones, t('opciones_multiples.t_interacciones')) %> </div>
  <div id="select_de_habitoPlantas"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :habitoPlantas, t('opciones_multiples.t_habitoPlantas')) %> </div>
  <div id="select_de_alimentacion"> <%= select_multiple_nivel_3(f, :opciones_preguntas, :alimentacion, t('opciones_multiples.t_alimentacion')) %> </div>
  <div id="select_de_forrajeo"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :forrajeo, t('opciones_multiples.t_forrajeo')) %> </div>
  <div id="select_de_migracion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :migracion, t('opciones_multiples.t_migracion')) %> </div>
  <div id="select_de_tipo_migracion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :tipo_migracion, t('opciones_multiples.t_tipo_migracion')) %> </div>
  <div id="select_de_habito"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :habito, t('opciones_multiples.t_habito')) %> </div>
  <div id="select_de_tipodispersion"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :tipodispersion, t('opciones_multiples.t_tipodispersion')) %> </div>
  <div id="select_de_structdisp"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :structdisp, t('opciones_multiples.t_structdisp')) %> </div>
  <div id="select_de_esquemamanejo"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :esquemamanejo, t('opciones_multiples.t_esquemamanejo')) %> </div>
  <div id="select_de_tipoaprovechamiento"> <%= select_multiple_nivel_3(f, :opciones_preguntas, :tipoaprovechamiento, t('opciones_multiples.t_tipoaprovechamiento')) %> </div>
  <div id="select_de_tipopesca"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :tipopesca, t('opciones_multiples.t_tipopesca')) %> </div>
  <div id="select_de_regioncaptura"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :regioncaptura, t('opciones_multiples.t_regioncaptura')) %> </div>
  <div id="select_de_artepesca"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :artepesca, t('opciones_multiples.t_artepesca')) %> </div>
  <div id="select_de_acuacultura"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :acuacultura, t('opciones_multiples.t_acuacultura')) %> </div>
  <div id="select_de_comnalsel"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :comnalsel, t('opciones_multiples.t_comnalsel')) %> </div>
  <div id="select_de_habitatAntropico"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :habitatAntropico, t('opciones_multiples.t_habitatAntropico')) %> </div>
  <div id="select_de_proposito_com"> <%= select_multiple_nivel_1_1(f, :opciones_preguntas, :proposito_com, t('opciones_multiples.t_proposito_com')) %> </div>
  <div id="select_de_vegetacionSecundaria"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :vegetacionSecundaria, t('opciones_multiples.t_tipoVegetacionSecundaria')) %> </div>
  <div id="select_de_comintersel"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :comintersel, t('opciones_multiples.t_comintersel')) %> </div>
  <div id="select_de_tipovegetmundial"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :tipovegetmundial, t('opciones_multiples.t_tipovegetmundial')) %> </div>
  <div id="select_de_proposito_com_int"> <%= select_multiple_nivel_1_1(f, :opciones_preguntas, :proposito_com_int, t('opciones_multiples.t_proposito_com_int')) %> </div>
  <div id="select_de_clima"> <%= select_multiple_nivel_2(f, :opciones_preguntas, :clima, t('opciones_multiples.t_climas')) %> </div>
  <div id="select_de_climaexo"> <%= select_multiple_nivel_2(f, :opciones_preguntas, :climaexo, t('opciones_multiples.t_climaexo')) %> </div>
  <div id="select_de_suelo"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :suelo, t('opciones_multiples.t_suelo')) %> </div>
  <div id="select_de_geoforma"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :geoforma, t('opciones_multiples.t_geoforma')) %> </div>
  <div id="select_de_ecorregionMarinaN1"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :ecorregionMarinaN1, t('opciones_multiples.t_ecorregionMarinaN1')) %> </div>
  <div id="select_de_zonaVida"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :zonaVida, t('opciones_multiples.t_zonaVida')) %> </div>
  <div id="select_de_naturalizacionsei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :naturalizacionsei, t('opciones_multiples.t_naturalizacionsei')) %> </div>
  <div id="select_de_mecanismos"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :mecanismos, t('opciones_multiples.t_mecanismos')) %> </div>
  <div id="select_de_efectoimpactosei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :efectoimpactosei, t('opciones_multiples.t_efectoimpactosei')) %> </div>
  <div id="select_de_intensidadimpactosei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :intensidadimpactosei, t('opciones_multiples.t_intensidadimpactosei')) %> </div>
  <div id="select_de_especiesasociadassei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :especiesasociadassei, t('opciones_multiples.t_especiesasociadassei')) %> </div>
  <div id="select_de_plasticidadsei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :plasticidadsei, t('opciones_multiples.t_plasticidadsei')) %> </div>
  <div id="select_de_platenciasei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :platenciasei, t('opciones_multiples.t_platenciasei')) %> </div>
  <div id="select_de_seguridadsei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :seguridadsei, t('opciones_multiples.t_seguridadsei')) %> </div>
  <div id="select_de_enfermedadessei"> <%= select_multiple_nivel_1(f, :opciones_preguntas, :enfermedadessei, t('opciones_multiples.t_enfermedadessei')) %> </div>
</div>