<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title>Listado/checklist</title>

  <%= wicked_pdf_javascript_include_tag 'application_b4' %>
  <%= wicked_pdf_stylesheet_link_tag 'boots4-upgrade/application_b4' %>

  <%= wicked_pdf_stylesheet_link_tag 'busquedas' %>
  <%= wicked_pdf_stylesheet_link_tag 'busquedas/avanzada/checklist' %>

  <style type="text/css">
    @font-face {
      font-family: 'enciclovida_font_icons';
      src: url(/assets/enciclovida_font_icons-e89e2bc450ac70280e4ed779adbfe05c96d0235af12d97c8a8725d2f1c450434.eot?65808669);
      src: url(/assets/enciclovida_font_icons-e89e2bc450ac70280e4ed779adbfe05c96d0235af12d97c8a8725d2f1c450434.eot?65808669#iefix) format("embedded-opentype"), url(/assets/enciclovida_font_icons-5315cac9f32b197d105b2dda8225abe35f894c9d159eb75da99133ce3a76bd4b.woff2?65808669) format("woff2"), url(/assets/enciclovida_font_icons-d7857852bb5ea64041136a772bff0b6cc84846219b22b803e7c86d3c051719b4.woff?65808669) format("woff"), url(/assets/enciclovida_font_icons-55e7a1138b21f1615ddfb830b74796897037fb748eb34ea2702fd108735687fc.ttf?65808669) format("truetype"), url(/assets/enciclovida_font_icons-5d64951a55f7dab88281f4d71f209db152c005d5f22bff1c6eaedae770928906.svg?65808669#enciclovida_font_icons) format("svg");
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body>
<% request_url = request.url %>
<%= render partial: 'busquedas/checklist/checklist_datos.html.erb', locals: { request_url: request_url.gsub('&checklist=1','').gsub('/resultados.pdf?','/resultados?') } %>
</body>

</html>