    <div class="p-2 m-2" id="bdi_p" role="tabpanel" aria-labelledby="bdi_p-tab" style="display: grid;"><%= cargandoEspera %></div>
    <!--div class="p-2 m-2" id="bdi_v" role="tabpanel" aria-labelledby="bdi_v-tab" style="display: grid;"><%#= cargandoEspera %></div-->
    <div class="p-2 m-2" id="mediaCornell_p" role="tabpanel" aria-labelledby="mediaCornell_p-tab" style="display: grid;"><%= cargandoEspera %></div>
    <div class="p-2 m-2" id="mediaCornell_v" role="tabpanel" aria-labelledby="mediaCornell_v-tab" style="display: grid;"><%= cargandoEspera %></div>
    <div class="p-2 m-2" id="mediaCornell_a" role="tabpanel" aria-labelledby="mediaCornell_a-tab" style="display: grid;"><%= cargandoEspera %></div>
    <div class="p-2 m-2" id="mediaTropicos" role="tabpanel" aria-labelledby="mediaTropicos-tab" style="display: grid;"><%= cargandoEspera %></div>

<%= javascript_include_tag 'especies/media/multimedia', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'especies/media/bdi', 'data-turbolinks-track' => true %>
