    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaBDI_p" role="tabpanel" aria-labelledby="mediaBDI_p-tab"><%= cargandoEspera %></div>
    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaBDI_v" role="tabpanel" aria-labelledby="mediaBDI_v-tab"><%= cargandoEspera %></div>
    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaCornell_p" role="tabpanel" aria-labelledby="mediaCornell_p-tab"><%= cargandoEspera %></div>
    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaCornell_v" role="tabpanel" aria-labelledby="mediaCornell_v-tab"><%= cargandoEspera %></div>
    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaCornell_a" role="tabpanel" aria-labelledby="mediaCornell_a-tab"><%= cargandoEspera %></div>
    <div class="p-3 mx-1 mb-4 shadow media-tabs" id="mediaTropicos" role="tabpanel" aria-labelledby="mediaTropicos-tab"><%= cargandoEspera %></div>

<%= javascript_include_tag 'especies/media/multimedia', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'especies/media/bdi', 'data-turbolinks-track' => true %>
