<div id="contenedor-titulo-busquedas" class="<%= icon_class %> row py-1 px-md-3">
  <div class="col-8">
    <h1 class="titulo-busquedas">
      <%= titulo.html_safe %>
      <i class="<%= icon_class %>-ev-icon"></i>
      <% if local_assigns[:subtitulo] %>
        <small id="contenedor-subtitulo-<%= icon_class %>"><%= subtitulo %></small>
      <% end %>
    </h1>
  </div>
  <div class="col-4">
    <div class="sharethis-inline-share-buttons"></div>
  </div>
</div>
