<div class="row">
  <div class="col-md-12 text-justify">
    <h4>Presiones o amenazas sobre la especie:</h4>
    <p><%=@amenazaDirecta.present? ? (@amenazaDirecta.presionesAmenazas) : (sin_info_msj)%></p>
    <h5>Información adicional</h5> <p><%= @demografiaAmenazas.descPresionesAmenazas.html_safe%></p>
    <br>
    <h4>Tendencia poblacional:</h4> <p><%= @demografiaAmenazas.tendenciaPoblacional.html_safe%></p>
    <h5>Información adicional</h5> <p><%= @demografiaAmenazas.descTendenciaPoblacional.html_safe%></p>
    <br>
    <h4>Estado de conservación</h4><p><%= @conservacion.estadoConser.html_safe%></p>
    <br>
    <h4>Manejo, aprovechamiento y acciones de conservación</h4><p><%= @conservacion.manejoAprov%></p>
    <ol>
      <li><strong>Acciones de manejo y conservación de la especie</strong><p><%= @conservacion.descManejoAprov%></p></li>
      <li><strong>Esquema de manejo en el cual la especie es aprovechada o gestionada</strong></li>
      <li><strong>Tipo de aprovechamiento de la especie</strong><p><%= @conservacion.tipoAprovEsp%></p></li>
    </ol>
    <br>
    <h4>Marco legal nacional e internacional</h4>
    <ol>
      <li><strong>Regulaciones aplicables a la especie</strong><p><%= @conservacion.marcolegal.html_safe%></p></li>
      <li><strong>Tipo de veda</strong><p><%= @conservacion.tipoVeda.html_safe%></p></li>
    </ol>
    <h5>Información adicional</h5>

  </div>
</div>
<hr>