<div class="row">
  <div class="col-md-12 text-justify">
    <h4>Importancia biológica</h4>
    <p><%= @historiaNatural.ImportanciaBiologica.html_safe%></p>
    <br>
    <h4>Función ecológica</h4>
    <p><%= @historiaNatural.funcionEcologica.html_safe%></p>
    <br>
    <h4>Importancia económica</h4>
    <p><%= @historiaNatural.importanciaEconomica.html_safe%></p>

    <h4>Comercio</h4>
    <ol>
      <li><strong>Comercio nacional </strong> <p><%= @historiaNatural.comercioNal%></p>
        <ul>
          <li><strong>Origen de los especímenes</strong><p><%= @historiaNatural.origenComNal%></p></li>
          <li><strong>Propósito del comercio</strong><p><%= @historiaNatural.propositoComNal%></p></li>
        </ul>
      </li>

      <li><strong>Comercio internacional </strong> <p><%= @historiaNatural.comInternacional%></p>
        <ul>
          <li><strong>Origen de los especímenes</strong><p><%= @historiaNatural.origenInternacional%></p></li>
          <li><strong>Propósito del comercio</strong><p><%= @historiaNatural.propositoInternacional%></p></li>
          <li><strong>País de importación</strong><p></p></li>
        </ul>
      </li>

      <li><strong>Afectaciones de la actividad comercial </strong><p></p>
        <ul>
          <li><strong>¿La especie se ve afectada por el comercio ilícito nacional?</strong><p><%= @historiaNatural.comercioIlicitoNal%></p></li>
          <li><strong>¿La especie se ve afectada por el comercio ilícito internacional?</strong><p><%= @historiaNatural.comercioIlicitoInter.html_safe%></p></li>
          <li><strong>Efectos reales o potenciales del comercio en el manejo y conservación de la especie</strong><p><%= @historiaNatural.descComIlicito.html_safe%></p></li>
        </ul>
      </li>

    </ol>
    <br>

    <h4>Importancia cultural y usos</h4>
    <p><%=@culturaUsos.present? ? (@culturaUsos.descripcion) : (sin_info_msj)%></p>
    <h5>Información adicional</h5>
    <p><%= @historiaNatural.importanciaEconomica.html_safe%></p>
  </div>
</div>
<hr>