<div class="row showInfo">
  <div class="col-md-12">
    <h4>Responsable</h4>
    <ul type="circle">
      <li><p><strong>Nombre:</strong> <%=@responsable.present? ? FichasController.convert_to_HTML(@responsable.nombre) : (sin_info_msj)%> <%=@responsable.present? ? FichasController.convert_to_HTML(@responsable.apellido) : (sin_info_msj)%></p></li>
      <li><p><strong>Puesto:</strong> <%=@puesto.present? ? FichasController.convert_to_HTML(@puesto.nombrePuesto) : (sin_info_msj)%> </p></li>
      <li><p><strong>Organización:</strong> <%=@organizacion.present? ? FichasController.convert_to_HTML(@organizacion.nombre) : (sin_info_msj)%></p></li>
    </ul>


    <br>Uri Icono: <%=@metadato.present? ? FichasController.convert_to_HTML(@metadato.uriIcono) : (sin_info_msj)%>
    <br>Nombre metadato <%=@metadato.present? ? FichasController.convert_to_HTML(@metadato.nombre) : (sin_info_msj)%>
    <br>Uri <%=@metadato.present? ? FichasController.convert_to_HTML(@metadato.uri) : (sin_info_msj)%>
    <br>Título <%=@metadato.present? ? FichasController.convert_to_HTML(@metadato.titulo) : (sin_info_msj)%>

    <br>Fecha de publicación <%=@metadato.present? ? FichasController.convert_to_HTML(@metadato.fechaPublicacion) : (sin_info_msj)%>

    <br>Capturista  <%=@asociado.present? ? FichasController.convert_to_HTML(@asociado.rol ) : (sin_info_msj)%>
    <br>Tipo de asociación  <%=@asociado.present? ? FichasController.convert_to_HTML(@asociado.tipoAsociacion) : (sin_info_msj)%>
    <br>Nombre del país <%=@pais.present? ? FichasController.convert_to_HTML(@pais.nombrepais) : (sin_info_msj)%>
    <br>Nombre de la ciudad <%=@ciudad.present? ? FichasController.convert_to_HTML(@ciudad.nombreCiudad) : (sin_info_msj)%>
    <br>Punto de entrega <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.puntoEntrega) : (sin_info_msj)%>
    <br>Area admin <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.areaAdmin) : (sin_info_msj)%>
    <br>Código Postal <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.codigoPostal) : (sin_info_msj)%>
    <br>Teléfono <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.telefono) : (sin_info_msj)%>
    <br>Correo Electrónico <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.correoElectronico) : (sin_info_msj)%>
    <br>Página Web <%=@contacto.present? ? FichasController.convert_to_HTML(@contacto.paginaWeb) : (sin_info_msj)%>

  </div>
</div>