<h3>Regiones</h3>
<small>Selecciona una región de la lista, en el mapa o buscala por medio de la lupa</small>

<hr />

estatal<%= check_box_tag 'estatal', '0' %>
municipal<%= check_box_tag 'municipal', '0' %>
ANP<%= check_box_tag 'anp', '0' %>

<hr />

<%= select_tag 'estado', options_for_select(@estados), prompt: '- - - Escoge un estado - - -' %>
<%= select_tag 'municipio', nil, prompt: '- - - - - -', disabled: true %>
<%= select_tag 'anp', nil, prompt: '- - - - - -', disabled: true %>

<ul class="nav nav-tabs" id="lista_tipos_regiones">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="estado">
      Estados
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="municipio">
      Municipios
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="anp">
      Áreas Naturales Protegidas
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" tipo_region="ecorregion">
      Ecoregiones
    </a>
  </li>
</ul>