<% content_for(:delayedjs) do %>
    <script>
        map = null;
        especies = null;
        especies_con_filtro = null;
        taxon = {};
        layer_obj = {};
        grupo_id_seleccionado = null;
        region_id_se = null;
        tipo_region_se = null;
        pagina_especies = 1;

        // Es el id del estado, para posteriormente hallar su correspondencia al ID del API
        CORRESP = eval(<%=raw Estado::CORRESPONDENCIA.to_json %>);
        geoportal_url = "<%= CONFIG.geoportal_url %>";
        legend_control = null;
        markersLayer = L.markerClusterGroup({chunkedLoading: true, spiderfyDistanceMultiplier: 2, spiderLegPolylineOptions: { weight: 1.5, color: 'white', opacity: 0.5 }, which_layer: 'geoportal'});
        cargaMapa('map');
        cargaDivisionEstatal();
    </script>

    <%= javascript_include_tag 'geodatos/ubicaciones/por_region_delayed', 'data-turbolinks-track' => true %>
<% end %>

<div id="contenedor_mapa" class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
  <h4 class="text-left text-success" id="contenedor-nombre-region">Selecciona una región (doble clic)</h4>
  <div id="map"></div>
</div>
<div id="regiones" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'tipos_regiones' %>
</div>
<div id="grupos" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'grupos' %>
</div>
<div id="busqueda_avanzada" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'filtros_busqueda_avanzada' %>
</div>
<div id="especies" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= render partial: 'especies' %>
</div>
