<% content_for(:extrajs) do %>

    <%= javascript_include_tag 'geodatos/d3.v3.min', 'data-turbolinks-track' => true %>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>
    <%= javascript_include_tag 'geodatos/Control.FullScreen.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'geodatos/ubicaciones/topojson', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'geodatos/ubicaciones/registros_snib', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'geodatos/ubicaciones/por_region', 'data-turbolinks-track' => true %>

<% end %>

<% content_for(:extracss) do %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
    <%= stylesheet_link_tag 'geodatos/Control.FullScreen.css', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "geodatos/ubicaciones/por_region", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "busquedas", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for(:delayedjs) do %>
    <script>
        map = null;
        especies = null;
        especies_con_filtro = null;
        taxon = {};
        layer_obj = {};
        grupo_id_seleccionado = null;
        region_id_se = null;
        tipo_region_se = null;
        pagina_especies = 1;

        // Es el id del estado, para posteriormente hallar su correspondencia al ID del API
        CORRESP = eval(<%=raw Estado::CORRESPONDENCIA.to_json %>);
        cargaMapa('map');
        markersLayer = L.markerClusterGroup({chunkedLoading: true, spiderfyDistanceMultiplier: 2, which_layer: 'geoportal'});
        cargaDivisionEstatal();
    </script>

    <%= javascript_include_tag 'geodatos/ubicaciones/por_region_delayed', 'data-turbolinks-track' => true %>
<% end %>

<div id="contenedor_mapa" class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
  <h4 class="text-left text-success" id="contenedor-nombre-region">Selecciona una región (doble clic)</h4>
  <div id="map"></div>
</div>
<div id="regiones" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'tipos_regiones' %>
</div>
<div id="grupos" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'grupos' %>
</div>
<div id="busqueda_avanzada" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
  <%= render partial: 'filtros_busqueda_avanzada' %>
</div>
<div id="especies" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= render partial: 'especies' %>
</div>
