<% content_for(:delayedjs) do %>
    <script>
        map = null;
        legend_control = null;
        especies = null;
        especies_con_filtro = null;

        opciones = {};
        opciones.datos = [];
        opciones.tipo_region_seleccionado = null;
        opciones.estado_seleccionado = null;
        opciones.municipio_seleccionado = null;
        opciones.grupo_seleccionado = null;
        opciones.reino_seleccionado = null;
        opciones.taxon_seleccionado = {};
        opciones.pagina_especies = 1;
        opciones.correspondencia = eval(<%=raw BusquedaRegion::CORRESPONDENCIA.to_json %>);
        opciones.snib_url = "<%= CONFIG.ssig_api %>/snib/getSpecies";

        markersLayer = L.markerClusterGroup({chunkedLoading: true, spiderfyDistanceMultiplier: 2, spiderLegPolylineOptions: { weight: 1.5, color: 'white', opacity: 0.5 }, which_layer: 'geoportal'});
        cargaMapa('map');
        cargaDivisionEstatal();
    </script>

    <%= javascript_include_tag 'busquedas/region/por_region_delayed', 'data-turbolinks-track' => true %>
<% end %>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
  <h5 class="text-left text-success" id="contenedor-nombre-region">Selecciona una región (doble clic)</h5>
  <div id="regiones" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 1 -->
    <%= render partial: 'tipos_regiones' %>
  </div>
  <div id="grupos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 2 -->
    <%= render partial: 'grupos' %>
  </div>
  <div id="especies" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 3 -->
    <%= render partial: 'especies' %>
  </div>
</div>

<div id="contenedor_mapa" class="col-xs-12 col-sm-12 col-md-6 col-lg-7"><!-- 4 -->
  <div id="busqueda_avanzada" class="col-md-12">
    <%= render partial: 'filtros_busqueda_avanzada_bis' %>
  </div>
  <div id="map"></div>
</div>




