<% content_for(:delayedjs) do %>
    <script data-turbolinks-track="true">
        especies = null;
        especies_con_filtro = null;

        opciones = {};
        opciones.datos = [];
        opciones.tipo_region_seleccionado = null;
        opciones.estado_seleccionado = null;
        opciones.municipio_seleccionado = null;
        opciones.grupo_seleccionado = null;
        opciones.reino_seleccionado = null;
        opciones.pagina_especies = 1;
        opciones.correspondencia = eval(<%=raw BusquedaRegion::CORRESPONDENCIA.to_json %>);
        opciones.snib_url = "<%= CONFIG.ssig_api %>/snib/getSpecies";

        cargaMapa('map');
        cargaDivisionEstatal();
    </script>

    <%= javascript_include_tag 'busquedas/region/por_region_extra', 'data-turbolinks-track' => true %>
<% end %>
<h2 class="text-success text-center titulo-busquedas">
  <i class="globe-ev-icon"></i>
  Búsqueda por región<br /><small id="contenedor-nombre-region">Selecciona una región (doble clic)</small>
</h2>
<hr />
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
  <div id="regiones" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 1 -->
    <%= render partial: 'tipos_regiones' %>
  </div>
  <div id="grupos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 2 -->
    <%= render partial: 'grupos' %>
  </div>
  <div id="especies" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!-- 3 -->
    <%= render partial: 'especies' %>
  </div>
</div>

<div id="contenedor_mapa" class="col-xs-12 col-sm-12 col-md-6 col-lg-7"><!-- 4 -->
  <div id="busqueda_avanzada" class="col-md-12">
    <%= render partial: 'filtros_busqueda_avanzada_bis' %>
  </div>

  <div id="map"></div>
</div>




