<% content_for(:extrajs) do %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/0.5.9/chroma.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <%= javascript_include_tag 'geodatos/d3.v3.min', 'data-turbolinks-track' => true %>
    <script src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js' data-turbolinks-track='true'></script>
    <%= javascript_include_tag 'geodatos/Control.FullScreen.js', 'data-turbolinks-track' => true %>

    <script data-turbolinks-track="true">
        function addTopoData(topoData){
            topoLayer.addData(topoData);
            topoLayer.addTo(map);
            topoLayer.eachLayer(handleLayer);
        }

        function handleLayer(layer){
            var randomValue = Math.random(),
                    fillColor = colorScale(randomValue).hex();

            layer.setStyle({
                fillColor : fillColor,
                fillOpacity: 1,
                color:'#555',
                weight:1,
                opacity:.5
            });
            layer.on({
                mouseover : enterLayer,
                mouseout: leaveLayer
            });
        }
        function enterLayer(){
            var countryName = this.feature.properties.name;
            $countryName.text(countryName).show();

            this.bringToFront();
            this.setStyle({
                weight:2,
                opacity: 1
            });
        }
        function leaveLayer(){
            $countryName.hide();
            this.bringToBack();
            this.setStyle({
                weight:1,
                opacity:.5
            });
        }

        // Copyright (c) 2013 Ryan Clark
        // https://gist.github.com/rclark/5779673
        L.TopoJSON = L.GeoJSON.extend({
            addData: function(jsonData) {
                if (jsonData.type === "Topology") {
                    for (key in jsonData.objects) {
                        geojson = topojson.feature(jsonData, jsonData.objects[key]);
                        L.GeoJSON.prototype.addData.call(this, geojson);
                    }
                }
                else {
                    L.GeoJSON.prototype.addData.call(this, jsonData);
                }
            }
        });

        var cargaMapa = function (id)
        {
            var place = [23.79162789, -102.04376221];
            var tile_url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';

            map = L.map(id, {
                zoomControl: false
            });

            var zoom = L.control.zoom({
                zoomInTitle: 'Acercarse',
                zoomOutTitle: 'Alejarse'
            });

            // https://github.com/brunob/leaflet.fullscreen
            var fullscreen = L.control.fullscreen({
                position: 'topleft',
                title: 'Pantalla completa',
                titleCancel: 'Salir de pantalla completa'
            });

            map.addControl(zoom);
            map.addControl(fullscreen);

            var layer = L.tileLayer(tile_url, {
                attribution: 'OSM',
                noWrap: true
            });

            map.addLayer(layer);
            map.setView(place, 5);  // Default place and zoom

            // variables de topjson
            topoLayer = new L.TopoJSON();
            $countryName = $('.country-name');
            colorScale = chroma
                    .scale(['#D5E3FF', '#003171'])
                    .domain([0,1]);
        };

        var cargaRegion = function(tipo_region, region_id, pagina)
        {
            $.ajax({
                url: '/regiones_mapas/dame-region',
                data: {id: region_id, tipo_region: tipo_region, pagina: pagina}

            }).done(function(resp) {
                if (pagina != undefined)
                    $('.contenedor_regiones').append(resp);
                else
                    $('.contenedor_regiones').empty().append(resp);
            }).fail(function() {
                $('.contenedor_regiones').empty().html('Lo sentimos esa búsqueda no dio ningún resultado');
            });
        }
    </script>

<% end %>

<% content_for(:delayedjs) do %>
    <script>
        // variables del mapa y topojson
        map = null;
        topoLayer = null;
        $countryName = null;
        colorScale = null;

        // variables del scrolling de las regiones
        pagina = 1;
        tipo_region = 'estado';

        cargaMapa('map');
        cargaRegion();

        $.getJSON('https://gist.githubusercontent.com/moklick/c1cc83e18a6fafd9af81/raw/990220dca05c16bb80041f4306cfb3179aa8d88b/countries.topo.json').done(addTopoData);

        $('#lista_tipos_regiones li a').on('click', function(){
            tipo_region = $(this).attr('tipo_region');
            cargaRegion(tipo_region);
            pagina = 1;
        });

        $('.contenedor_regiones ul li a').on('click', function(){
            console.log('dio clic a region');
            return false;
        });

        $('.contenedor_regiones').on('scroll', function(){
            if ($(this).height() + $(this).scrollTop() >= $(this)[0].scrollHeight)
            {
                pagina++;
                console.log(pagina + '-' + tipo_region);

                cargaRegion(tipo_region , null, pagina);
            }
        });
    </script>
<% end %>

<% content_for(:extracss) do %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />
    <%= stylesheet_link_tag 'geodatos/MarkerCluster.Default', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'geodatos/Control.FullScreen.css', 'data-turbolinks-track' => true %>
    <style>
        #map {
            height: 800px;
            width: 100%;
        }
        .contenedor_regiones {
            height: 600px;
            overflow: scroll;
        }
    </style>
<% end %>

<div id="regiones" class="col-md-4">
  <%= render partial: 'regiones' %>
</div>

<div id="contenedor_mapa" class="col-md-8">
  <div id="map"></div>
</div>

<div id="especies" class="col-md-4">
  <%= render partial: 'especies' %>
</div>