<% content_for(:extrajs) do %>
    <%= javascript_include_tag 'geodatos/d3.v3.min', 'data-turbolinks-track' => true %>
    <script src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js' data-turbolinks-track='true'></script>
    <%= javascript_include_tag 'geodatos/Control.FullScreen.js', 'data-turbolinks-track' => true %>

    <script data-turbolinks-track="true">
        var loadMap = function (id)
        {
            var place = [23.79162789, -102.04376221];
            var tile_url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';

            var map = L.map(id, {
                zoomControl: false
            });

            var zoom = L.control.zoom({
                zoomInTitle: 'Acercarse',
                zoomOutTitle: 'Alejarse'
            });

            // https://github.com/brunob/leaflet.fullscreen
            var fullscreen = L.control.fullscreen({
                position: 'topleft',
                title: 'Pantalla completa',
                titleCancel: 'Salir de pantalla completa'
            });

            map.addControl(zoom);
            map.addControl(fullscreen);

            var layer = L.tileLayer(tile_url, {
                attribution: 'OSM',
                noWrap: true
            });

            map.addLayer(layer);
            map.setView(place, 5);  // Default place and zoom
        };
    </script>

<% end %>

<% content_for(:delayedjs) do %>
    <script>
        loadMap('map');
    </script>
<% end %>

<% content_for(:extracss) do %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css" />
    <%= stylesheet_link_tag 'geodatos/MarkerCluster.Default', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'geodatos/Control.FullScreen.css', 'data-turbolinks-track' => true %>
    <style>
        #map {
            height: 500px;
            width: 80%;
        }
    </style>
<% end %>


<div id="contenedor_mapa" class="col-md-8">
  <div id="map" width="300px;"></div>
</div>

<div id="regiones" class="col-md-4">
  <%= render partial: 'regiones' %>
</div>

<div id="especies" class="col-md-4">
  <%= render partial: 'especies' %>
</div>

<script>
    //loadMap('map');
</script>