<h2>Inicia sesión</h2>
<p id="notice"><%= notice ||= flash[:notice] ||= flash[:alert] %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :login %><br />
      <%= f.text_field :login, autocoplete: true, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit :Entrar %></div>
<% end %>

<%= render "devise/shared/links" %>
