<div class='nested-fields'>
  <%= f.input :ImportanciaBiologica, :label => t('simple_form.labels.importancia.importancia_biologica') %>
  <%= f.input :funcionEcologica, :label => t('simple_form.labels.importancia.funcion_ecologica')  %>
  <%= f.input :importanciaEconomica, :label => t('simple_form.labels.importancia.importancia_economica')  %>
  <%= f.input :comercioNal, :label => t('simple_form.labels.importancia.comercio_nacional')  %>
  <%= f.input :origenComNal %>
  <%= f.input :propositoComNal, :label => t('simple_form.labels.importancia.proposito_del_comercio')  %>
  <%= f.input :comInternacional, :label => t('simple_form.labels.importancia.comercio_internacional')  %>
  <%= f.input :origenInternacional %>
  <%= f.input :propositoInternacional, :label => t('simple_form.labels.importancia.proposito_del_comercio')  %>
  <%= f.input :comercioIlicitoNal %>
  <%= f.input :comercioIlicitoInter  %>
  <%= f.input :descComIlicito %>
  <% # f.input :descripcion
  %>
  <%= f.input :descUsos%>
</div>