<% sin_info_msj = "Sin información disponible" %>

<div id='ficha'>
  <div>
    <!-- Encabezado en el que se muestra el nombre de la especie -->
    <%= render('fichas/secciones_info_especie/titulo', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid">
    <div class="row xSection active">
      <div class="col-md-12" id="clasiDescEsp">
        <h4 class="text-left text-primary">Clasificación y descripción</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/clasificacion_y_descripcion_de_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="distribucionEspecie">
        <h4 class="text-left text-primary">Distribución</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/distribucione_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="ambienteDeEspecie">
        <h4 class="text-left text-primary">Tipo de ambiente en donde se desarrolla</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/ambiente_de_desarrollo_de_especie', sin_info_msj: sin_info_msj) %>
  </div>
  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="biologiaEspecie">
        <h4 class="text-left text-primary">Biología</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/biologia_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="ecologiaDemografiaEspecie">
        <h4 class="text-left text-primary">Ecología y demografía</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/ecologia_y_demografia_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="geneticaEspecie">
        <h4 class="text-left text-primary">Genética</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/genetica_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="importanciaEspecie">
        <h4 class="text-left text-primary">Importancia</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/importancia_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">

    <div class="row xSection">
      <div class="col-md-12" id="estadoConservacionEspecie">
        <h4 class="text-left text-primary">Estado de conservación</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/estado_de_conservacion_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">

    <div class="row xSection">
      <div class="col-md-12" id="especiesPrioritariasConservacion">
        <h4 class="text-left text-primary">Especies prioritarias para la conservación</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/especies_prioritarias_para_conservacion', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="necesidadesDeInformacion">
        <h4 class="text-left text-primary">Necesidades de información</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/necesidades_de_informacion', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="metadatos">
        <h4 class="text-left text-primary">Metadatos</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/metadatos', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid">
    <div class="row xSection">
      <div class="col-md-12" id="referencias">
        <h4 class="text-left text-primary">Referencias</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/referencias', sin_info_msj: sin_info_msj) %>
  </div>

  <!-- Agregar el botón de subir -->
  <%= render('fichas/secciones_info_especie/boton_subir') %>

</div>


<script>

    // Ocultar y mostrar una sección
    var section = document.getElementsByClassName("xSection");
    var i;


    for (i = 0; i < section.length; i++) {
        section[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var showInfo = this.nextElementSibling;
            if (showInfo.style.maxHeight){
                showInfo.style.maxHeight = null;
            } else {
                showInfo.style.maxHeight = showInfo.scrollHeight + "px";
            }
        });
    }
    var clasifDescEsp = document.getElementById('clasiDescEspInterno')
    clasifDescEsp.style.maxHeight = clasifDescEsp.scrollHeight + "px";

    // Controlar el encabezado, para mostrar nombre de la especie y la sección en la que se encuentra
    var stickyOffset = $('.headCard').offset().top;
    var headerMeasure = 120; // Pixeles extra para que el encabezado cambie el título al pasar cerca de el

    $(window).scroll(function(){
        var sticky = $('.headCard'),
            scroll = $(window).scrollTop();

        if (scroll >= stickyOffset) {
            sticky.addClass('headCardFixed');
            $(".hTituloEsp").css("font-size", "35px");
            $(".hSection").show();
            $(".hSinonimoEsp").hide();
        }
        else {
            sticky.removeClass('headCardFixed');
            $(".hSinonimoEsp").show();
            $(".hSection").hide();
        }
    });


    // Para mostrar en el encabezado la sección que el usuario está viendo
    // Funciona
    $(window).on("scroll", function(){

        if ($(this).scrollTop() >= $("#clasiDescEsp").offset().top - headerMeasure){
            $(".hSection").text("Clasificación y descripción");
        }
        if ($(this).scrollTop() >= $("#distribucionEspecie").offset().top - headerMeasure){
            $(".hSection").text("Distribución");
        }
        if ($(this).scrollTop() >= $("#ambienteDeEspecie").offset().top - headerMeasure){
            $(".hSection").text("Tipo de ambiente en donde se desarrolla");
        }
        if ($(this).scrollTop() >= $("#biologiaEspecie").offset().top - headerMeasure){
            $(".hSection").text("Biología");
        }
        if ($(this).scrollTop() >= $("#ecologiaDemografiaEspecie").offset().top - headerMeasure){
            $(".hSection").text("Ecología y demografía");
        }
        if ($(this).scrollTop() >= $("#geneticaEspecie").offset().top - headerMeasure){
            $(".hSection").text("Genética");
        }
        if ($(this).scrollTop() >= $("#importanciaEspecie").offset().top - headerMeasure){
            $(".hSection").text("Importancia de la especie");
        }
        if ($(this).scrollTop() >= $("#estadoConservacionEspecie").offset().top - headerMeasure){
            $(".hSection").text("Estado de conservación");
        }
        if ($(this).scrollTop() >= $("#especiesPrioritariasConservacion").offset().top - headerMeasure){
            $(".hSection").text("Especies prioritarias para la conservación");
        }
        if ($(this).scrollTop() >= $("#necesidadesDeInformacion").offset().top - headerMeasure){
            $(".hSection").text("Necesidades de información");
        }
        if ($(this).scrollTop() >= $("#metadatos").offset().top - headerMeasure){
            $(".hSection").text("Metadatos");
        }
        if ($(this).scrollTop() >= $("#referencias").offset().top - headerMeasure){
            $(".hSection").text("Referencias");
        }
    });

    $('.btn-ficha').on('click', function(e){
        e.preventDefault();
        //console.log(this.getAttribute('href'));
        location.hash = this.getAttribute('href');
        var y = $(window).scrollTop();  //your current y position on the page
        $(window).scrollTop(y-180);
    });

</script>