<% sin_info_msj = "Sin información disponible" %>

<div id='ficha'>
  <div>
    <!-- Encabezado en el que se muestran los accesos a las secciones informativas -->
    <%= render('fichas/secciones_info_especie/titulo', sin_info_msj: sin_info_msj) %>
  </div>

  <div class="container-fluid" id="clasiDescEsp">
    <div class="row xSection">
      <div class="col-md-12">
        <h4 class="text-left text-primary">Clasificación y descripción</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/clasificacion_y_descripcion_de_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid" id="distribucionEspecie">
    <div class="row xSection">
      <div class="col-md-12">
        <h4 class="text-left text-primary">Distribución</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/distribucione_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid" id="ambienteDeEspecie">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Ambiente</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/ambiente_de_desarrollo_de_especie', sin_info_msj: sin_info_msj) %>
  </div>
  
  <div class="container-fluid" id="biologiaEspecie">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Biología</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/biologia_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>
  

  <div class="container-fluid" id="ecologiaDemografiaEspecie">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Ecología</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/ecologia_y_demografia_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="geneticaEspecie">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Genética</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/genetica_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="importanciaEspecie">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Importancia</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/importancia_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="estadoConservacionEspecie">

    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Conservación</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/estado_de_conservacion_de_la_especie', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="especiesPrioritariasConservacion">

    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Especies prioritarias para la conservación</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/especies_prioritarias_para_conservacion', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="necesidadesDeInformacion">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Necesidades de información</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/necesidades_de_informacion', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="metadatos">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Metadatos</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/metadatos', sin_info_msj: sin_info_msj) %>
  </div>

  
  <div class="container-fluid" id="referencias">
    <div class="row xSection">
      <div class="col-md-12" >
        <h4 class="text-left text-primary">Referencias</h4>
      </div>
    </div>
    <%= render('fichas/secciones_info_especie/referencias', sin_info_msj: sin_info_msj) %>
  </div>

  <!-- Agregar el botón de subir -->
  <%= render('fichas/secciones_info_especie/boton_subir') %>

</div>


<script>

    // Animación:
    // Retardo para mostrar contenido de las secciones
    var timer = 300;
    // Retardo de scroll
    var scrollTimer = 600;

    // Inicialmente, todas las secciones deben de estar cerradas
    $('.showInfo').hide(timer);

    // Funcionalidad en los botónes del header
    $('.btn-ficha').on('click', function(e){
        // - - - - - Scroll cuando se da clic para acceder a una sección:
        // Alto del encabezado
        var altoHeader = $("#inicio").height() + 30;
        // Id de sección:
        var idSection = this.getAttribute('id').substr(4);
        // Acceso a la ubicación de dicha sección según id:
        var ubicacion = $('#' + idSection).offset().top;
        // Scroll hacia dicha sección:
        $('html, body').animate({
            scrollTop: ubicacion - altoHeader
        }, scrollTimer);

        //console.log("header: " + altoHeader)
        showSection(idSection);
    });

    $('.xSection').on('click', function(e){
        // Obtener el atributo id del padre para saber qué sección se debe abrir
        var idSection = $(this).parent().attr("id");
        showSection(idSection);
    });

    function showSection(idSection) {

        // Cerrar secciones
        $('.showInfo').hide(timer);

        var title = $( "#" + idSection).children()[0];
        var content = $( "#" + idSection).children()[1];

        if($(title).hasClass('active')) {
            $(title).removeClass('active');
            $(content).hide(timer);
        } else {
            $(title).addClass('active');
            $(content).show(timer);
        }
    }


    /*/ Controlar el encabezado, para mostrar nombre de la especie y la sección en la que se encuentra
    var stickyOffset = $('.headCard').offset().top;
    var headerMeasure = 120; // Pixeles extra para que el encabezado cambie el título al pasar cerca de el

    $(window).scroll(function(){
        var sticky = $('.headCard'),
            scroll = $(window).scrollTop();

        if (scroll >= stickyOffset) {
            sticky.addClass('headCardFixed');
            $(".hTituloEsp").css("font-size", "35px");
            $(".hSection").show();
        }
        else {
            sticky.removeClass('headCardFixed');
            $(".hSection").hide();
        }
    });
    */


</script>