<p id="notice"><%= notice %></p>

<h1>Propiedades</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedades.each do |propiedad| %>
      <tr>
        <td><%= link_to 'Show', propiedad %></td>
        <td><%= link_to 'Edit', edit_propiedad_path(propiedad) %></td>
        <td><%= link_to 'Destroy', propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propiedad', new_propiedad_path %>
