<div class="row showInfo">

  <div class="col-md-12">
    <br>
    <div class="row text-center" >
      <div class="col-md-4 ficaBordeSeparador"><h6>Ambiente:</h6><p><%=@ecorregion.present? ? convierte_a_HTML(@ecorregion.descripcion) : (@sin_info_msj) %> </p></div>
      <div class="col-md-4 ficaBordeSeparador"><h6>Ecorregion:</h6><p><%=@cat_eacorregionwwf.present? ? convierte_a_HTML(@cat_eacorregionwwf.TipoEcorregion) : (@sin_info_msj) %></p></div>
      <div class="col-md-4"><h6>Ecosistema:</h6><p><%=@ecosistema.present? ? convierte_a_HTML(@ecosistema.tipoecosistema) : (@sin_info_msj) %></p></div>
    </div>
    <br>

    <div class="row text-justify" >
      <div class="col-md-8">

        <h6>Tipos de vegetación</h6>
        <ul>
          <li>
            <strong>Vegetación  en la que se desarrolla la especie: </strong>
            <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.tipoVegetacion) : (@sin_info_msj) %> </p>
          </li>
          <li>
            <strong>Hábitats antrópicos: </strong>
            <p class="text-justify"><%=@habitatAntropico.present? ? convierte_a_HTML(@habitatAntropico.descripcion) : (@sin_info_msj) %> </p>

            <ol>
              <li>
                <%=@habitat.habitatAgropecuario == 'no' ? ("No se encuentra en hábitat agropecuario") : ("Si se encuentra en hábitat agropecuario")%>
              </li>
              <li>
                <%=@habitat.zonaUrbana == 'no' ? ("No se encuentra en zonas urbanas") : ("Si se encuentra en zonas urbanas")%>
              </li>
              <li>
                <%=@habitat.VegetacionSecundaria == 'no' ? ("No se encuentra en vegetación secundaria") : ("Si se encuentra en vegetación secundaria")%>
              </li>
            </ol>
          </li>
          <li>
            <strong>Tipo de vegetación secundaria</strong>
            <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.tipoVegetacionSecundaria) : (@sin_info_msj) %> </p>
          </li>
          <li>
            <strong>Mencionar las especies asociadas</strong>
            <br>
          </li>
        </ul>
        <br>

        <h6>Tipo de suelo en el que se desarrolla la especie</h6>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.descripcionSuelo) : (@sin_info_msj) %> </p>


        <br>

        <h6>Información adicional</h6>
        <p class="text-justify"><%=@suelo.present? ? convierte_a_HTML(@suelo.descripcion) : (@sin_info_msj) %> </p>
        <br>

      </div>

      <div class="col-md-4 p-3 shadow-lg bg-white">
        <h6 class="text-center text-info">Más información</h6>

        <h6>Clima</h6>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.tipoClimaId) : (@sin_info_msj) %> </p>
        <h5>Información adicional</h5>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.climaAdicional) : (@sin_info_msj) %> </p>
        <br>

        <h6>Temperatura</h6>
        <p class="text-justify"><%=@habitat.temperaturainicial%>  - <%=@habitat.temperaturafinal%> </p>
        <h5>Información adicional</h5>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.infoaddtemperatura) : (@sin_info_msj) %> </p>
        <br>

        <h6>Precipitación</h6>
        <p class="text-justify"><%=@habitat.precipitacioninicial%>  - <%=@habitat.precipitacionfinal%></p>
        <h5>Información adicional</h5>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.infoaddprecipitacion) : (@sin_info_msj) %> </p>
        <br>

        <h6>Rango de humedad relativa</h6>
        <p class="text-justify"><%=@habitat.humedadinicial%> - <%=@habitat.humedadfinal%></p>
        <h5>Información adicional</h5>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.infoaddhumedad) : (@sin_info_msj) %> </p>
        <br>

        <h6>Geoforma</h6>
        <p class="text-justify"><%=@geoforma.present? ? convierte_a_HTML(@geoforma.descrpcion) : (@sin_info_msj) %> </p>
        <h5>Información adicional</h5>
        <p class="text-justify"><%=@habitat.present? ? convierte_a_HTML(@habitat.descripcionGeoforma) : (@sin_info_msj) %> </p>

      </div>
    </div>
  </div>
</div>