<div class="row showInfo">
  <div class="col-md-12" id="biologiaEspecie">

    <% if @historiaNatural.tipoReproduccion == 'animal' %>
      <%= render partial: 'biologia_de_la_especie_animal' %>
    <% elsif @historiaNatural.tipoReproduccion == 'veget'  %>
      <%= render partial: 'biologia_de_la_especie_vegetal' %>
    <%end%>

  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <h4 class="text-center"><strong>Más información</strong> </h4>
      <br>
    </div>
    <div class="col-md-8">
      <br>

      <h4>Uso del hábitat </h4>
      <p>  <%=convierte_a_HTML(@habitat.uso)%></p>
      <br>

      <h4>Hábito en caso de plantas</h4>
      <p> <%=convierte_a_HTML(@historiaNatural.habitoPlantas)%></p>
      <br>

      <h4>Alimentación</h4> <p>  <%=convierte_a_HTML(@historiaNatural.alimentacion)%></p>
      <h5>Información adicional</h5> <p>  <%=convierte_a_HTML(@historiaNatural.descripcionAlimentacion)%></p>
      <br>

      <h4>Estrategia trófica</h4> <p>  <%=convierte_a_HTML(@historiaNatural.estrategiaTrofica)%></p>
      <h5>Información adicional</h5> <p>  <%=convierte_a_HTML(@historiaNatural.descripcionEstrofica)%></p>
      <br>

      <h4>Técnica de forrajeo</h4> <p>  <%=convierte_a_HTML(@historiaNatural.forrajeo)%></p>
      <h5>Información adicional</h5> <p> </p>
      <br>

      <h4>Dispersión</h4>
      <ul type="none">
        <li>
          <h5>Tipo de dispersión</h5><p> <%=convierte_a_HTML(@historiaNatural.tipoDispersion)%></p>
          <strong>Información adicional: <p> <%=convierte_a_HTML(@historiaNatural.descTipoDispersion)%></p></strong>
        </li>
        <li>
          <h5>Estructura o individuo dispersado</h5><p> <%=convierte_a_HTML(@historiaNatural.estructuraDispersora)%></p>
          <strong>Información adicional: <p> <%=convierte_a_HTML(@historiaNatural.descEstDispersora)%></p></strong>
        </li>
        <li>
          <h5>Distancia de dispersión</h5><p><%= convierte_a_HTML(@historiaNatural.distanciadispercioninicial) + " - " + convierte_a_HTML(@historiaNatural.distanciadispercionfinal) %></p>
        </li>
      </ul>
    </div>

    <div class="col-md-4 fichaSeccionApartadosT1">

      <h4 class="text-center">Conducta</h4> <p>  <%=convierte_a_HTML(@historiaNatural.conducta)%></p>
      <ol type="A">
        <li><strong>Características conductuales</strong> <p class="text-justify"></p></li>

        <li><strong>Estatus migratorio</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.migracion)%></p>
          <h5>Tipo de migración que realiza la especie</h5> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.tipoMigracion)%></p></li>

        <li><strong>Hábito</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.habito)%></p>
          <h5>Información adicional</h5> <p class="text-justify"> </p></li>

        <li><strong>Periodo de actividad</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.tipopHabito)%></p>
          <h5>Información adicional</h5> <p class="text-justify"></p></li>

        <li><strong>Hibernación</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.hibernacion)%></p>
          <h5>Información adicional</h5> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.infoaddhibernacion)%></p></li>

        <li><strong>Territorialidad</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.territorialidad)%></p>
          <h5>Información adicional</h5> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.infoaddterritorialidad)%></p></li>

        <li><strong>Ámbito hogareño (animales)</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.ambitoHogareno)%></p></li>

        <li><strong>Mecanismos de defensa</strong> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.mecanismosDefensa)%></p>
          <h5>Información adicional</h5> <p class="text-justify">  <%=convierte_a_HTML(@historiaNatural.infoaddmecdefensa)%></p></li>

        <li><strong>Organización social</strong> <p class="text-justify">  <%=convierte_a_HTML(@demografiaAmenazas.organizacionSocial)%></p>
          <h5>Información adicional</h5> <p class="text-justify">  <%=convierte_a_HTML(@demografiaAmenazas.infoaddorgsocial)%></p></li>
      </ol>
    </div>
  </div>
</div>