<div class="row showInfo">
  <div class="col-md-8" style="padding: 0px 30px 30px 15px;">

    <% if @taxon.resumenEspecie.present? %>
      <h4>Resumen de la especie</h4> <p class="text-justify"><%= @taxon.resumenEspecie.a_HTML %></p>
      <br><br>
    <% end %>

    <% if @taxon.descEspecie.present? %>
      <h4>Descripción de la especie</h4> <p class="text-justify"><%= @taxon.descEspecie.a_HTML %></p>
      <br><br>
    <% end %>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Machos</th>
        <th>Hembras</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Longevidad (<%= @taxon.tiempoedadhembra.present? ? @taxon.tiempoedadhembra.a_HTML : 'años' %>)</th>
        <td>de <%= @taxon.edadinicialmachos %> a <%= @taxon.edadfinalmachos %></td>
        <td>de <%= @taxon.edadinicialhembras %> a <%= @taxon.edadfinalhembras %></td>
      </tr>
      <tr>
        <th>Largo (centímetros)</th>
        <td>de <%= @taxon.largoinicialmachos %> a <%= @taxon.largofinalmachos %></td>
        <td>de <%= @taxon.largoinicialhembras %> a <%= @taxon.largofinalhembras %></td>
      </tr>
      <tr>
        <th>Peso (gramos)</th>
        <td>de <%= @taxon.pesoinicialmachos %> a <%= @taxon.pesofinalmachos %></td>
        <td>de <%= @taxon.pesoinicialhembras %> a <%= @taxon.pesofinalhembras %></td>
      </tr>
      </tbody>
    </table>

    <br>
    <h4>Categoría de riesgo según la NOM-059-SEMARNAT</h4>
    <p class="text-justify"><%= @legislacion.infoAdicional %></p>
    <p class="text-justify"><%= @legislacion.estatusLegalProteccion %></p>

  </div>

  <div class="col-md-4 fichaSeccionApartadosT2">
    <h4 class="text-center text-primary">Taxonomía</h4>
    <p><strong>Reino: </strong><%=" " + convierte_a_HTML(@taxon.reino)%></p>
    <p><strong>Phylum: </strong><%=" " + convierte_a_HTML(@taxon.divisionphylum)%></p>
    <p><strong>Clase: </strong><%=" " + convierte_a_HTML(@taxon.clase)%></p>
    <p><strong>Orden: </strong><%=" " + convierte_a_HTML(@taxon.orden)%></p>
    <p><strong>Familia: </strong><%=" " + convierte_a_HTML(@taxon.familia)%></p>
    <br>
    <h4 class="text-center text-primary">Nombre científico</h4>
    <p><strong>Año: </strong> <%= convierte_a_HTML(@taxon.anio)%></p>
    <p><strong>Autor: </strong> <%= convierte_a_HTML(@taxon.autor)%></p>
    <br>
    <h4 class="text-center text-primary">Información adicional</h4>
    <p class="text-justify"><strong>Especies similares:</strong> <%=convierte_a_HTML(@taxon.especiesSmilares)%></p>
  </div>
</div>