<div class="row showInfo">
  <div class="col-md-8" style="padding: 0px 30px 30px 15px;">

    <% if @ficha[:taxon].resumenEspecie.present? %>
      <h4>Resumen de la especie</h4> <p class="text-justify"><%= @ficha[:taxon].resumenEspecie.a_HTML %></p>
      <br />
    <% end %>

    <% if @taxon.descEspecie.present? %>
      <h4>Descripción de la especie</h4> <p class="text-justify"><%= @ficha[:taxon].descEspecie.a_HTML %></p>
      <br />
    <% end %>

    <% if @ficha[:taxon].especiesSmilares.present? %>
      <h4>Especies similares</h4>
      <p class="text-justify"><%= @ficha[:taxon].especiesSmilares.a_HTML %></p>
      <br />
    <% end %>

    <% if @ficha[:edad_peso_largo][:estatus] %>
      <h4>Información adicional</h4>
      <table class="table table-striped table-bordered">

        <thead>
        <tr>
          <th></th>
          <th>Machos</th>
          <th>Hembras</th>
        </tr>
        </thead>

        <tbody>

        <% if @ficha[:edad_peso_largo][:edad] %>
          <tr>
            <th>Longevidad (<%= @ficha[:taxon].tiempoedadhembra.present? ? @ficha[:taxon].tiempoedadhembra.a_HTML : 'años' %>)</th>
            <td><%= @ficha[:taxon].edadinicialmachos %> a <%= @ficha[:taxon].edadfinalmachos %></td>
            <td><%= @ficha[:taxon].edadinicialhembras %> a <%= @ficha[:taxon].edadfinalhembras %></td>
          </tr>
        <% end %>

        <% if @ficha[:edad_peso_largo][:peso] %>
          <tr>
            <th>Peso (gramos)</th>
            <td><%= @taxon.pesoinicialmachos %> a <%= @taxon.pesofinalmachos %></td>
            <td><%= @taxon.pesoinicialhembras %> a <%= @taxon.pesofinalhembras %></td>
          </tr>
        <% end %>

        <% if @ficha[:edad_peso_largo][:largo] %>
          <tr>
            <th>Largo (centímetros)</th>
            <td><%= @taxon.largoinicialmachos %> a <%= @taxon.largofinalmachos %></td>
            <td><%= @taxon.largoinicialhembras %> a <%= @taxon.largofinalhembras %></td>
          </tr>
        <% end %>

        </tbody>

      </table>
    <% end %>

  </div>

  <div class="col-md-4 fichaSeccionApartadosT2">
    <h4 class="text-center text-primary">Taxonomía</h4>
    <p><strong>reino: </strong><%= @ficha[:especie].x_reino %></p>
    <p><strong><%= @ficha[:especie].x_reino == 'Animalia' ? 'phylum' : 'división' %>: </strong><%= @ficha[:especie].x_division %></p>
    <p><strong>clase: </strong><%= @ficha[:especie].x_clase %></p>
    <p><strong>orden: </strong><%= @ficha[:especie].x_orden %></p>
    <p><strong>familia: </strong><%= @ficha[:especie].x_familia %></p>
    <p><strong>género: </strong><%= @ficha[:especie].x_genero %></p>
    <p><strong>especie: </strong><%= @ficha[:especie].x_especie %></p>
    <br>
    <h4 class="text-center text-primary">Nombre científico</h4>
    <p><i><%= @ficha[:especie].nombre_cientifico %></i> <%= @ficha[:especie].nombre_autoridad %></p>
    <br>

    <%= dameCategoriasDeRiesgo %>

  </div>
</div>