<div class="row showInfo">
  <div class="col-md-12">
    <h4>Región </h4>
    <p class="text-justify"><%=convierte_a_HTML(@distribucion.infoAdicionalMun)%></p>

    <h4>Estado del hábitat con respecto al desarrollo natural del taxón</h4>
    <p class="text-justify"><%=convierte_a_HTML(@habitat.estadoHabitat)%></p>
    <br>

    <div class="row">
      <div class="col-md-6 ficaBordeSeparador">
        <h4>Distribución:</h4>
        <ul>
          <li>
            <h4>Histórica o potencial</h4>
            <p class="text-justify"><%=convierte_a_HTML(@distribucion.historicaPotencial)%></p>
          </li>
          <li>
            <h4>Amplia o restringida</h4>
            <p class="text-justify"><%=convierte_a_HTML(@distribucion.alcanceDistribucion)%></p>
          </li>
          <li>
            <h4>Información adicional</h4>
            <p class="text-justify"><%=convierte_a_HTML(@distribucion.infoAdicionalAlcance)%></p>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h4>Endemismo</h4>
        <ul>
          <li>
            <%
            if @endemica.endemicaMexico == 'si'
            %>
              <p class="text-justify"> <strong>Con </strong> endemismo en México</p>
            <%
            else
            %>
              <p class="text-justify"> <strong>Sin </strong> endemismo en México</p>
            <%end%>
          </li>
          <li>
            <p class="text-justify"> <strong>Endémica a: </strong> <%=convierte_a_HTML(@endemica.endemicaA)%></p>
          </li>
          <li>
            <p class="text-justify"> <strong>Información adicional </strong> <%=convierte_a_HTML(@endemica.infoAdicionalEndemica)%></p>
          </li>
        </ul>
      </div>

    </div>
    <br>

  </div>

</div>