<div id='ficha'>
  <div>
    <!-- Encabezado en el que se muestran los accesos a las secciones informativas -->
    <%#= render partial: 'titulo' %>
  </div>

  <div id="clasiDescEsp">
    <div class="xSection row active">
      <div class="col-md-12">
        <h5 class="text-primary">Clasificación y descripción</h5>
      </div>
    </div>
    <%= render partial: 'clasificacion_y_descripcion_de_especie' %>
  </div>

  <% if @distribucion.tiene_datos? || @endemica.tiene_datos? || @habitat.tiene_datos_dist? %>
    <div id="distribucionEspecie">
      <div class="xSection row">
        <div class="col-md-12">
          <h5 class="text-primary">Distribución</h5>
        </div>
      </div>
      <%= render partial: 'distribucione_de_la_especie' %>
    </div>
  <% end %>

  <div class="" id="ambienteDeEspecie">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Ambiente</h5>
      </div>
    </div>
    <%= render partial: 'ambiente_de_desarrollo_de_especie' %>
  </div>

  <div class="" id="biologiaEspecie">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Biología</h5>
      </div>
    </div>
    <%= render partial: 'biologia_de_la_especie' %>
  </div>

  <div class="" id="ecologiaDemografiaEspecie">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Ecología</h5>
      </div>
    </div>
    <%= render partial: 'ecologia_y_demografia_especie' %>
  </div>

  <div class="" id="geneticaEspecie">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Genética</h5>
      </div>
    </div>
    <%= render partial: 'genetica_de_la_especie' %>
  </div>

  <div class="" id="importanciaEspecie">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Importancia</h5>
      </div>
    </div>
    <%= render partial: 'importancia_de_la_especie' %>
  </div>

  <div class="" id="estadoConservacionEspecie">

    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Conservación</h5>
      </div>
    </div>
    <%= render partial: 'estado_de_conservacion_de_la_especie' %>
  </div>

  <div class="" id="especiesPrioritariasConservacion">

    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Especies prioritarias para la conservación</h5>
      </div>
    </div>
    <%= render partial: 'especies_prioritarias_para_conservacion' %>
  </div>

  <div class="" id="necesidadesDeInformacion">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Necesidades de información</h5>
      </div>
    </div>
    <%= render partial: 'necesidades_de_informacion' %>
  </div>

  <div class="" id="metadatos">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Metadatos</h5>
      </div>
    </div>
    <%= render partial: 'metadatos' %>
  </div>

  <div class="" id="referencias">
    <div class="xSection row">
      <div class="col-md-12" >
        <h5 class="text-primary">Referencias</h5>
      </div>
    </div>
    <%= render partial: 'referencias' %>
  </div>

  <!-- Agregar el botón de subir -->
  <%#= render partial: 'boton_subir' %>

</div>

<script>
    // Animación:
    // Retardo para mostrar contenido de las secciones
    var timer = 300;
    // Retardo de scroll
    var scrollTimer = 600;

    // Inicialmente, todas las secciones deben de estar cerradas
    $('.showInfo:not(:first)').hide(timer);

    // Funcionalidad en los botónes del header
    $('.btn-ficha').on('click', function(e){
        // - - - - - Scroll cuando se da clic para acceder a una sección:
        // Alto del encabezado
        var altoHeader = $("#inicio").height() + 30;
        // Id de sección:
        var idSection = this.getAttribute('id').substr(4);
        // Acceso a la ubicación de dicha sección según id:
        var ubicacion = $('#' + idSection).offset().top;
        // Scroll hacia dicha sección:
        $('html, body').animate({
            scrollTop: ubicacion - altoHeader
        }, scrollTimer);

        //console.log("header:" + altoHeader)
        showSection(idSection);
    });

    $('.xSection').on('click', function(e){
        // Obtener el atributo id del padre para saber qué sección se debe abrir
        var idSection = $(this).parent().attr("id");
        showSection(idSection);
    });

    function showSection(idSection) {

        // Cerrar secciones
        $('.showInfo').hide(timer);

        var title = $("#" + idSection).children()[0];
        var content = $("#" + idSection).children()[1];

        if($(title).hasClass('active')) {
            $(title).removeClass('active');
            $(content).hide(timer);
        } else {
            $(title).addClass('active');
            $(content).show(timer);
        }
    }
</script>