<%# -*- encoding: UTF-8 -*- %>
<h1>Roles</h1>

<table class="table table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>Nombre Rol</th>
      <th></th>      
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |rol| %>
      <tr>
        <td>[<%= rol.id %>] - <%= rol.nombre_rol %></td>
        <td><%= link_to 'Ver', rol %> | <%= link_to 'Editar', edit_rol_path(rol) %> | <%= link_to 'Eliminar', rol, method: :delete, data: { confirm: '¿Estás seguro? (es un cambio irreversible)' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="text-right">
  <%= link_to "<b class='glyphicon glyphicon-plus'></b> Crear Nuevo Rol".html_safe, new_rol_path, class: 'btn btn-info btn-sm' %>
</p>