<div class='nested-fields'>
  <%= f.input :ImportanciaBiologica %>
  <%= f.input :funcionEcologica %>
  <%= f.input :importanciaEconomica %>
  <%= f.input :comercioNal %>
  <%= f.input :origenComNal %>
  <%= f.input :propositoComNal%>
  <%= f.input :comInternacional %>
  <%= f.input :origenInternacional %>
  <%= f.input :propositoInternacional %>
  <%= f.input :comercioIlicitoNal %>
  <%= f.input :comercioIlicitoInter  %>
  <%= f.input :descComIlicito %>
  <% # f.input :descripcion
  %>
  <%= f.input :descUsos%>
</div>