<div class='nested-fields'>
  <%= f.input :nacionalinternacional, input_html: {value: tipo_producto} %>
  <%= f.input :tipoproducto %>
  <%= f.input :unidadcomerciada %>
  <%= f.input :cantidadcomerciada %>
  <%= link_to_remove_association 'Borrar producto', f, :class => 'btn btn-danger btn-sm' %><hr>
</div>