<div class='nested-fields'>
  <%= f.input :ImportanciaBiologica %>
  <%= f.input :funcionEcologica,  :as => :select, :collection => Fichas::Historianatural::FUNCIONES_ECOLOGICAS, prompt: :seleccionar,  input_html: {class: 'form-control tipo-legislacion'} %>
  <%= f.input :importanciaEconomica %>
  <%= f.input :comercioNal %>
  <%= f.input :origenComNal %>
  <%= f.input :propositoComNal%>
  <%= f.input :comInternacional %>
  <%= f.input :origenInternacional %>
  <%= f.input :propositoInternacional %>
  <%= f.input :comercioIlicitoNal %>
  <%= f.input :comercioIlicitoInter  %>
  <%= f.input :descComIlicito %>
  <% # f.input :descripcion
  %>
  <%= f.input :descUsos%>
</div>