<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <div class="row">
    <div class="col-sm-6"><h3> <%= t('general.informacion_de_ficha') %> </h3></div>
    <div class="col-sm-6"><br><%= f.input :tipoficha, as: :radio_buttons, :collection => Fichas::Taxon::TIPOS_FICHA, item_wrapper_class: 'radio-inline', input_html: {onclick: 'showOrHideInfoFicha()' } %></div>
  </div>

  <div id="pestañas" class="panel row">
    <ul class="nav nav-tabs links" role="tablist">
      <li role="presentation" class="active">
        <%= link_to 'Clasificación y descripción', '#clasificacion-descripcion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'clasificacion-descripcion' %>
      </li>
      <li role="presentation">
        <%= link_to 'Distribución', '#distribucion', :class => 'btn btn-sm', :id =>'boton-distribucion', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ambiente', '#ambiente', :class => 'btn btn-sm', :id =>'boton-ambiente', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Biología', '#biologia', :class => 'btn btn-sm', :id =>'boton-biologia', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'biologia' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ecología', '#ecologia', :class => 'btn btn-sm', :id =>'boton-ecologia', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ecologia' %>
      </li>
      <li role="presentation">
        <%= link_to 'Genética', '#genetica', :class => 'btn btn-sm', :id =>'boton-genetica', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'genetica' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Importancia', '#importancia', :class => 'btn btn-sm', :id =>'boton-importancia', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'importancia' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Conservación', '#conservacion', :class => 'btn btn-sm', :id =>'boton-conservacion', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'conservacion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Especies prioritarias', '#prioritaria-conservacion', :id => 'pestania-IX', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'especie_prioritaria' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Necesidades de información', '#necesidad-informacion', :id =>'boton-necesidad', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'necesidad_informacion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Metadatos', '#metadatos', :class => 'btn btn-sm', :id =>'boton-metadatos', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'metadatos' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Referencias', '#referencias', :class => 'btn btn-sm', :id =>'boton-referencias', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'referencias' %>
      </li>
    </ul>

    <div class="tab-content">
      <div id="clasificacion-descripcion" role="tabpanel" class="tab-pane fade in panel-body active">
        <hr />
        <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.clasificacion_y_descripcion')%></h3>
        <% # OCUPA: taxon, legislacion  %>
        <%= render partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_taxon', locals: {f: f } %>
        <hr class="espacio_ficha">
        <hr />
        <h3 class="titulo_subseccion"><%=t('secciones.s_clasificacion.legislaciones')%></h3>
        <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una legislacion'.html_safe, f, :legislaciones, partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_legislacion', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'clasificacion-descripcion', 'data-association-insertion-node' => '#clasificacion-descripcion', 'data-association-insertion-method' => 'append', href: '#clasificacion-descripcion', 'onclick' => 'reload("seccion_clasificacion")' %>
        <%= f.simple_fields_for :legislaciones do |info| %>
          <%= render partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_legislacion', locals: {f: info} %>
        <% end %>
      </div>

      <div id='distribucion' role="tabpanel" class="tab-pane fade panel-body"></div>

      <div id='ambiente' role="tabpanel" class="tab-pane fade panel-body"></div>


    </div>
  </div>
  <hr />
  <%= f.submit class: 'btn btn-lg btn-block btn-success' %>

  <% unless @taxon.new_record? %>
    <%= link_to t('helpers.submit.proy_b.cancel'), fichas_front_path(@taxon.IdCAT), { :class=>"btn btn-lg btn-block btn-default" } %>
  <% end %>

<% end %>