<%= simple_form_for @taxon, **@form_params, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    #time:          :custom_multi_select,
    select:        :horizontal_collection
    #date:          :horizontal_multi_select,
    #datetime:      :horizontal_multi_select,
    #select:        :floating_labels_select
} do |f| %>

  <div class="row">
    <div class="col-sm-6"><h3> <%= t('general.informacion_de_ficha') %> </h3></div>
    <div class="col-sm-6"><br><%= f.input :tipoficha, as: :radio_buttons, :collection => Fichas::Taxon::TIPOS_FICHA, item_wrapper_class: 'radio-inline', input_html: {name: 'selectorDeFicha', onclick: 'showOrHideInfoFicha()' } %></div>
  </div>

  <div id="pestañas" class="panel row">
    <ul class="nav nav-tabs links" role="tablist">
      <li role="presentation" class="active">
        <%= link_to 'Clasificación y descripción', '#clasificacion-descripcion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'clasificacion-descripcion' %>
      </li>
      <li role="presentation">
        <%= link_to 'Distribución', '#distribucion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'distribucion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ambiente', '#ambiente', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ambiente' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Biología', '#biologia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'biologia' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Ecología', '#ecologia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'ecologia' %>
      </li>
      <li role="presentation">
        <%= link_to 'Genética', '#genetica', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'genetica' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Importancia', '#importancia', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'importancia' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Conservación', '#conservacion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'conservacion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Especies prioritarias', '#prioritaria-conservacion', :id => 'pestania-IX', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'especie_prioritaria' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Necesidades de información', '#necesidad-informacion', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'necesidad_informacion' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Metadatos', '#metadatos', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'metadatos' %>
      </li>
      <li role="presentation" >
        <%= link_to 'Referencias', '#referencias', :class => 'btn btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'referencias' %>
      </li>
    </ul>

    <div class="tab-content">
      <div id="clasificacion-descripcion" role="tabpanel" class="tab-pane fade in panel-body active">
        <hr />
        <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.clasificacion_y_descripcion')%></h3>
        <% # OCUPA: taxon, legislacion  %>
        <%= render partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_taxon', locals: {f: f } %>
        <hr class="espacio_ficha">
        <hr />
        <h3 class="titulo_subseccion"><%=t('secciones.s_clasificacion.legislaciones')%></h3>
        <%= link_to_add_association '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asociar una legislacion'.html_safe, f, :legislaciones, partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_legislacion', :class => 'btn btn-info btn-sm', role: 'tab', "data-toggle" => 'tab', "aria-controls" => 'clasificacion-descripcion', 'data-association-insertion-node' => '#clasificacion-descripcion', 'data-association-insertion-method' => 'append', href: '#clasificacion-descripcion' %>
        <%= f.simple_fields_for :legislaciones do |info| %>
          <%= render partial: 'fichas/taxa/seccion_clasificacion/form_clasificacion_y_descripcion_legislacion', locals: {f: info} %>
        <% end %>
      </div>

      <div id='distribucion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.distribucion')%></h3>

        <% # OCUPA: habitat, distribucion, endemica  %>
        <%= f.simple_fields_for :distribuciones do |info| %>
          <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_distribucion', locals: {f: info, f_taxon: f } %>
        <% end %>
        <%= f.simple_fields_for :habitats  do |info| %>
          <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_habitad', locals: { f: info, f_taxon: f } %>
        <% end %>
        <%= f.simple_fields_for :endemicas do |info| %>
          <%= render partial: 'fichas/taxa/seccion_distribucion/form_distribucion_endemica', locals: { f: info, f_taxon: f } %>
        <% end %>
      </div>

      <div id='ambiente' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.ambiente')%></h3>
        <% # OCUPA: habitat  * * ecorregion, ecosistema, suelo, geoforma %>
        <%= f.simple_fields_for :habitats do |info| %>
          <%= render partial: 'fichas/taxa/seccion_ambiente/form_ambiente_habitat', locals: { f: info, f_taxon: f } %>
        <% end %>
      </div>

      <div id='prioritaria-conservacion' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <div class="apartadoFicha ficha-Prioritaria ficha-CITES ficha-Silvestre">
          <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.prioritarias_conservacion')%></h3>
          <% # OCUPA:  taxon %>
          <%= render partial: 'fichas/taxa/seccion_prioritaria/form_prioritaria_conservacion_taxon', locals: {f: f } %>
        </div>
        <div class="apartadoFicha ficha-Invasora">
          <hr />
          <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.especies_invasoras')%></h3>
          <%= f.simple_fields_for :invasividad do |info| %>
            <%= render partial: 'fichas/taxa/seccion_invasoras/form_invasoras_invasividad', locals: {f: info, f_taxon: f } %>
          <% end %>
        </div>
      </div>

      <div id='importancia' role="tabpanel" class="tab-pane fade panel-body">
        <hr />
        <h3 class="text-center titulo-seccion text-primary"><%=t('general.titulos_secciones.importancia')%></h3>
        <% # OCUPA: historianatural %>
        <%= f.simple_fields_for :historiaNatural do |info| %>
          <%= render partial: 'fichas/taxa/seccion_importancia/form_importancia_historiaNatural', locals: {f: info, f_taxon: f } %>
        <% end %>
      </div>


    </div>
  </div>
  <hr />
  <%= f.submit class: 'btn btn-lg btn-block btn-success' %>

  <% unless @taxon.new_record? %>
    <%= link_to t('helpers.submit.proy_b.cancel'), fichas_front_path(@taxon.IdCAT), { :class=>"btn btn-lg btn-block btn-default" } %>
  <% end %>

<% end %>