<div id="busqueda_avanzada">
  <%= form_tag resultados_especie_index_path, :method => :get, :class => 'form-horizontal', :id => :b_avanzada  do %>

      <%= hidden_field_tag :id_nom_cientifico, nil, :id => :id_avanzada_cientifico %>
      <%= hidden_field_tag :id_nom_comun, nil, :id => :id_avanzada_comun %>


      <%= hidden_field_tag :busqueda, :avanzada %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>

      <div class="form-group form-group-sm">
        <%= label_tag :nombre_comun, t(:nombre_comun), :class => "control-label" %>
        <%= text_field_tag :nombre_comun, nil, :id => :nombre_comun_1, :maxlength => 255, :placeholder => t(:nombre_comun), :autocomplete => :off, :class => 'form-control input-sm' %>
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "control-label " %>
        <%= text_field_tag :nombre_cientifico, nil, :id => :nombre_cientifico_1, :maxlength => 255, :placeholder => t(:nombre_cientifico), :autocomplete => :off, :class => 'form-control input-sm' %>
      </div>

      <div class="panel panel-success" id="panelCategoriaTaxonomicaPt" style="display: none;">
        <div class="panel-heading" onclick="$('#panelCategoriaTaxonomica').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelCategoriaTaxonomicaPt').toggleClass('dropup')});">
            <h5>Categoria taxonómica<span class="caret"></span></h5>
        </div>
        <div class="panel-body" id="panelCategoriaTaxonomica">
          <div id="datos_cat">
          </div>
        </div>
      </div>

      <div class="panel panel-success" id="panelEstadoConservacionPt">
        <div class="panel-heading" onclick="$('#panelEstadoConservacion').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelEstadoConservacionPt').toggleClass('dropup')});">
            <h5>Categorías de riesgo y comercio internacional<span class="caret"></span></h5>
        </div>
        <div class="panel-body" id="panelEstadoConservacion" style="display: none">
          <div class="checkbox">
            <%= checkboxEstadoConservacion %>
          </div>
        </div>
      </div>

      <div class="panel panel-success" id="panelTipoDistribucionEnPt">
        <div class="panel-heading" onclick="$('#panelTipoDistribucionEn').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelTipoDistribucionEnPt').toggleClass('dropup')});">
            <h5>Tipo de distribución<span class="caret"></span></h5>
            <i><small>(Predeterminada: Cualquiera)</small></i>
        </div>
        <div class="panel-body" id="panelTipoDistribucionEn" style="display: none">
          <div class="checkbox">
            <%= checkboxTipoDistribucion %>
          </div>
        </div>
      </div>
      <div class="panel panel-success dropup" id="panelValidoSinonimoAvanzadaPt">
        <div class="panel-heading" onclick="$('#panelValidoSinonimoAvanzada').toggle({effect:'blind' ,easing: 'easeOutBounce', duration: 800, complete: $('#panelValidoSinonimoAvanzadaPt').toggleClass('dropup')});">
            <h5>Estatus taxonómico<span class="caret"></span></h5>
        </div>
        <div class="panel-body" id="panelValidoSinonimoAvanzada">
          <%= checkboxValidoSinonimo %>
        </div>
      </div>

      <%= submit_tag :Buscar, :class => 'btn btn-primary form-control busquedas', data: { disable_with: 'Procesando...' } %>

  <% end %>
</div>

<div>
  <%= label_tag :per_page, "Mostrar", :class => "control-label" %>
  <%= select_tag :per_page, options_for_select(Especie::POR_PAGINA.map{|v| [v, v]}), :class => "busquedas form-control" %>
  <%= label_tag :limpiar, "Resultados por página", :class => "control-label"  %>
  <%= button_tag 'Limpiar búsqueda', :id => :limpiar, :class => "form-control btn btn-default btn-sm", data: { disable_with: 'Limpiando...' } %>
</div>