<div id="busqueda_basica">
  <%= form_tag resultados_especies_path, :method => :get, :id => :b_comun, :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
      <%= hidden_field_tag :valido_sinonimo_basico, 3 %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaComun">
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_comun, t(:nombre_comun), :class => "control-label" %>

        <div class="input-group">
          <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :placeholder => t(:nombre_comun).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
          <span class="input-group-btn">
                <%= button_tag :Buscar.to_s, data: { disable_with: 'Procesando...' },:class => "btn btn-info btn-sm busquedas" %>
                          </span>
        </div>

      </div>
  <% end %>

  <%= form_tag resultados_especies_path, :method => :get, :id => :b_cientifico, :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
      <%= hidden_field_tag :busqueda, :nombre_cientifico %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaCientifico">
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "control-label " %>

        <div class="input-group" style="margin-bottom: 15px;">
          <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :placeholder => t(:nombre_cientifico).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm'%>
          <span class="input-group-btn">
        <%= button_tag :Buscar.to_s, data: { disable_with: 'Procesando...' }, :class => "btn btn-info btn-sm busquedas" %>
                  </span>
        </div>
      </div>
  <% end %>

  <div class="">
    <%= link_to (content_tag(:span, '', :class => "caret")+" Búsqueda avanzada"), '', :id => :busqueda_avanzada_link, :class => "btn btn-sm btn-link btn-block", :onClick => 'return busqueda_avanzada();' %>
  </div>
</div>