<div id="busqueda_basica" class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
  <%= form_tag resultados_especie_index_path, :method => :get, :id => :b_comun, :class => 'form-inline', :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
      <%= hidden_field_tag :valido_sinonimo_basico, 3 %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaComun">
      </div>
      <div class="form-group form-group-sm">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-sm"><%= t(:nombre_comun) %></button>
                <button class="btn btn-default btn-sm"><%= t(:nombre_cientifico) %></button>
            </span>
            <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :placeholder => t(:nombre_comun), :autocomplete => :off, :class => 'form-control input-sm' %>
            <span class="input-group-btn">
                <%= button_tag "<span class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></span>".html_safe, data: { disable_with: 'Procesando...' },:class => "btn btn-info btn-sm busquedas" %>
            </span>
        </div>
      </div>
      <!--<div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1 input-group">
      <input type="text" class="form-control" placeholder="Nombre común" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
      </div>-->
  <% end %>

  <%= form_tag resultados_especie_index_path, :method => :get, :id => :b_cientifico, :class => 'form-inline', :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
      <%= hidden_field_tag :busqueda, :nombre_cientifico %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaCientifico">
      </div>
      <div class="form-group form-group-sm">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm"><%= t(:nombre_comun) %></button>
                <button class="btn btn-primary btn-sm"><%= t(:nombre_cientifico) %></button>
            </span>
            <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :placeholder => t(:nombre_cientifico), :autocomplete => :off, :class => 'form-control input-sm'%>
            <span class="input-group-btn">
                <%= button_tag "<span class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></span>".html_safe, data: { disable_with: 'Procesando...' }, :class => "btn btn-info btn-sm busquedas" %>
            </span>
        </div>
      </div>

  <% end %>

</div>