<script src="http://www.google.com/jsapi" type="text/javascript" data-turbolinks-track="true"></script>

<!--link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /-->
<script data-turbolinks-track="true" src="/assets/jquery.soulmate.js" data-turbolinks-track="true"></script>
<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">

    soulmate_asigna = function(event)
    {
        var campo = document.getElementById(event.target.id);

        if (event.data.num == '1' || event.data.num == '3')         //nombre comun
        {
            var types = eval("<%=raw CategoriaTaxonomica.categorias_redis('com') %>");
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '1' ? $('#id_basica_comun').attr('value', '') : $('#id_avanzada_comun').attr('value', '');

                var nombres = I18n.locale == 'es-cientifico' ? '<b>' + term + '</b><br>' + data.nombre_cientifico + ' <i>' + data.autoridad + '</i>' :
                '<b>' + term + '</b> (' + data.nombre_cientifico + ')';

                return "<i title='"+data.nombre_icono+"' style='color:" + data.color + ";font-size:35px;' class='" + data.icono + "'></i>" + nombres;
            };
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                $('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa

                if (event.data.num == '1')
                {
                    $('#id_basica_comun').attr('value', data.id);
                    guardaFiltros(false);
                    $('#b_comun').submit();
                } else {
                    $('#id_avanzada_comun').attr('value', data.id);
                    cat_tax_asociadas(data.id);
                    // Quito el valor de la busqueda cientifica ya que tomo en cuenta el ultimo valor anotado
                    $('#id_avanzada_cientifico').attr('value', '');
                }
            }
        }
        if (event.data.num == '2' || event.data.num == '4')          //nombre cientifico
        {
            var types = eval("<%=raw CategoriaTaxonomica.categorias_redis('cien') %>");
            var render = function(term, data, type, index, id, foto)
            {
                event.data.num == '2' ? $('#id_basica_cientifico').attr('value', '') : $('#id_avanzada_cientifico').attr('value', '');

                if (I18n.locale == 'es-cientifico')
                    var nombres = '<b>' + term + '</b> <i>' + data.autoridad + '</i>';
                else
                    var nombres = data.nombre_comun.length == 0 ? '<b>' + term + '</b>' : data.nombre_comun + ' (<b>' + term + '</b>)';
                return "<i title='"+data.nombre_icono+"' style='color:" + data.color + ";font-size:35px;' class='" + data.icono + "'></i>" + nombres;
                //return data.icono + nombres;
            };
            var select = function(term, data, type)
            {
                $('#'+event.target.id).val(term);
                $('#'+event.target.id).attr('value', term);
                $('ul#soulmate_' + event.data.num).hide();    //esconde el autocomplete
                //pone el ID para mandar a la busqueda directa
                if (event.data.num == '2')
                {
                    $('#id_basica_cientifico').attr('value', data.id);
                    guardaFiltros(false);
                    $('#b_cientifico').submit();
                } else {
                    $('#id_avanzada_cientifico').attr('value', data.id);
                    cat_tax_asociadas(data.id);
                    // Quito el valor de la busqueda cientifica ya que tomo en cuenta el ultimo valor anotado
                    $('#id_avanzada_comun').attr('value', '');
                }
            }
        }

        if ($._data(campo, "events") == undefined)
        {        //para que no se repita n-veces la busqueda
            $(campo).soulmate({
                url:            "http://<%= IP %>:<%= PORT %>/sm/search",
                types:          types,
                renderCallback: render,
                selectCallback: select,
                minQueryLength: 2,
                maxResults:     15,
                num: event.data.num
            });
        }
    };

    $(document).ready(function()
    {

        $(document).on('click', ".busqueda_atributo_radio", function()
        {
            var id = $(this).attr('id_icono');

            // Quito las opciones seleccionadas para que despues no haya problema
            $(".busqueda_atributo_radio").each(function(index) {
                var id_radio = $(this).attr('id_icono');
                if (id != id_radio)
                {
                    $('#id_nom_cientifico_' + id_radio).attr('checked', false);
                    $(this).removeClass("busqueda_atributo_radio_seleccionado");
                }
            });

            $('#id_nom_cientifico_' + id).prop('checked', true);
            $('#id_nom_cientifico').attr('value',id);

            $(this).toggleClass("busqueda_atributo_radio_seleccionado");
            cat_tax_asociadas(id);
        });

        $(document).on('click', ".busqueda_atributo_imagen", function(){
            if ($('#' + $(this).attr('name')).prop('checked'))
            {
                $('#' + $(this).attr('name')).prop('checked',false);
                $('#' + $(this).attr('name')).attr('checked', false);//Esto es para que genere el HTML y sea guardado en la bd !>.>
            } else {
                /* Se ponen los dos tipos de id ya que en este punto no se a cual de los dos tipos de select NO fue el que entre
                 * Se puede mejorar la funcion añadiendo una clase fantasma tanto a la imágenes como a los input
                 * pero dicho cambio no se realizara a las 22:00 en viernes
                 * se redujo las ejecuciones dummie en 20% aprox
                 * */
                $('#' + $(this).attr('name')).prop('checked', true);
                $('#' + $(this).attr('name')).attr('checked', true);//IDEM
            }
            $(this).toggleClass("busqueda_atributo_imagen_seleccionado");
        });

        $(document).on('change', "#nivel, #cat", function()
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');  //remueve si habia algun seleccionado
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);
        });

//        $(document).on('change', "[id^='distribucion_nivel_']", function()
//        {
//            var valor=$(this).val();
//            $('#'+$(this).attr('id') + ' option').removeAttr('selected');  //remueve si habia algun seleccionado
//            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);
//            var nivel=parseInt($(this).attr('name').substring(19));
//
//            if ($(this).val() != '')
//            {
//                jQuery.ajax({
//                    success: function(html){
//                        $('#distribucion_nivel_'+(nivel)).nextAll("[id^='distribucion_nivel_']").remove();
//                        switch (nivel)
//                        {
//                            case 1:
//                                $('#distribucion_nivel').empty().html(html);       //pare el inicial
//                                break;
//                            case 2:
//                                $('#distribucion_nivel').append(html);
//                                break;
//                        }
//                    },
//                    fail: function(){
//                        $('#notice').html('Hubo un error al cargar los filtros, por favor intentalo de nuevo.');
//                    },
//                    type:'POST',
//                    url:'/regiones/regiones',
//                    cache:true,
//                    data: {region: $(this).val(), region_nivel: nivel}
//                });
//            }
//
//            if ($(this).val() == '' && nivel == 1)  //quita las sub-regiones si eligio todas
//                $('#distribucion_nivel').empty();
//
//            if ($(this).val() == '' && nivel == 2)  //quita las sub-regiones si eligio todas
//                $('#distribucion_nivel_3').remove();
//        });

        $(document).on('change', "#nombre_comun, #nombre_cientifico, #nombre_comun_1, #nombre_cientifico_1", function()
        {
            var id=$(this).attr('id');
            $(this).attr('value',$(this).val());

            // La funcionalidad de las categorias taxonomicas solo la tiene el nombre cientifico de la vista avanzada
            if ($(this).attr('id') == 'nombre_cientifico_1')
                $('#panelCategoriaTaxonomicaPt').hide();
        });

        $(document).on('click', '#limpiar', function()
        {
            jQuery.ajax({
                success: function(html)
                {
                    if (html!='true')
                    {
                        $('#notice').html('Hubo un error al limpiar los filtros, por favor intentalo de nuevo.');
                        return false
                    }
                    window.location.replace(window.location.origin);
                },
                fail: function() {
                    $('#notice').html('Hubo un error al limpiar los filtros, por favor intentalo de nuevo.');
                },
                type:'POST',
                url:'/usuarios/limpia_filtro',
                cache:true
            });
        });

        $(document).on('change', "#per_page", function(k)
        {
            var valor=$(this).val();
            $('#'+$(this).attr('id') + ' option').removeAttr('selected');
            $('#'+$(this).attr('id') + " option[value='"+valor+"']").attr('selected',true);

            $('#per_page_basica_comun, #per_page_basica_cientifico, #per_page_avanzada').val($(this).val());
            $('#per_page_basica_comun, #per_page_basica_cientifico, #per_page_avanzada').attr('value',$(this).val());
        });

        // autocomplete para la busqueda basica
        $(document).on('focus', '#nombre_comun', {num: "1"}, soulmate_asigna);
        $(document).on('focus', '#nombre_cientifico', {num: "2"}, soulmate_asigna);
        // autocomplete para la busqueda avanzada
        $(document).on('focus', '#nombre_comun_1', {num: "3"}, soulmate_asigna);
        $(document).on('focus', '#nombre_cientifico_1', {num: "4"}, soulmate_asigna);
    });
</script>

<div id="busqueda_basica" class="col-xs-12 col-sm-10 col-md-5 col-lg-4 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
  <%= form_tag resultados_especie_index_path, :method => :get, :id => :b_comun, :class => 'form-horizontal '+ ('hidden' if I18n.locale.to_s == 'es-cientifico').to_s, :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
      <%= hidden_field_tag :valido_sinonimo_basico, 3 %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaComun">
      </div>
      <div class="form-group form-group-sm">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-sm active glyphicon glyphicon-user" aria-hidden="true"><%# t(:nombre_comun) %></span>
                <span class="btn btn-default btn-sm glyphicon glyphicon-education" aria-hidden="true" onclick="$('#b_comun').toggleClass('hidden');$('#b_cientifico').toggleClass('hidden');"><%# t(:nombre_cientifico) %></span>
            </span>
            <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :placeholder => t(:nombre_comun), :autocomplete => :off, :class => 'form-control input-sm' %>
            <span class="input-group-btn">
                <%= button_tag "".html_safe, data: { disable_with: 'Procesando...' },:class => "glyphicon glyphicon-search btn btn-info btn-sm busquedas" %>
                <%= link_to '', avanzada_url, :class =>"btn btn-default btn-sm glyphicon glyphicon-cog", "aria-hidden" =>"true" %>
            </span>
        </div>
      </div>
  <% end %>

  <%= form_tag resultados_especie_index_path, :method => :get, :id => :b_cientifico, :class => 'form-horizontal '+ (I18n.locale.to_s == 'es-cientifico'? '' :'hidden') , :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
      <%= hidden_field_tag :busqueda, :nombre_cientifico %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaCientifico">
      </div>
      <div class="form-group form-group-sm">
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-sm glyphicon glyphicon-user" aria-hidden="true" onclick="$('#b_comun').toggleClass('hidden');$('#b_cientifico').toggleClass('hidden');"><%# t(:nombre_comun) %></span>
                <span class="btn btn-default btn-sm active glyphicon glyphicon-education" aria-hidden="true" ><%# t(:nombre_cientifico) %></span>
            </span>
            <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :placeholder => t(:nombre_cientifico), :autocomplete => :off, :class => 'form-control input-sm'%>
            <span class="input-group-btn">
                <%= button_tag "".html_safe, data: { disable_with: 'Procesando...' },:class => "glyphicon glyphicon-search btn btn-info btn-sm busquedas" %>
                <%= link_to '', avanzada_url, :class =>"btn btn-default btn-sm glyphicon glyphicon-cog", "aria-hidden" =>"true" %>
            </span>
        </div>
      </div>

  <% end %>

</div>