<div id="busqueda_basica">
  <%= form_tag resultados_especies_path, :method => :get, :id => :b_comun, :role => 'form' do %>
      <%= hidden_field_tag :id, nil, :id => :id_basica_comun %>
      <%= hidden_field_tag :busqueda, :nombre_comun %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_comun %>
      <%= hidden_field_tag :valido_sinonimo_basico, 3 %>
      <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaComun">
      </div>
      <div class="form-group form-group-sm">
        <%= label_tag :nombre_comun, t(:nombre_comun), :class => "control-label" %>

        <div class="input-group">
          <%= text_field_tag :nombre_comun, nil, :maxlength => 255, :size => 60, :placeholder => t(:nombre_comun).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>

      </div>
  <% end %>

  <%= form_tag resultados_especies_path, :method => :get, :id => :b_cientifico, :role => 'form' do %>
    <%= hidden_field_tag :id, nil, :id => :id_basica_cientifico %>
    <%= hidden_field_tag :busqueda, :nombre_cientifico %>
    <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_basica_cientifico %>
    <div class="hidden checkBoxesOcultos" id="checkBoxValidoSinonimoBasicaCientifico">
    </div>
    <div class="form-group form-group-sm">
      <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "control-label " %>

      <div class="input-group" style="margin-bottom: 15px;">
        <%= text_field_tag :nombre_cientifico, nil, :maxlength => 255, :size => 60, :placeholder => t(:nombre_cientifico).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm'%>
      </div>
    </div>
  <% end %>

  <div class="">
    <%= link_to (content_tag(:span, '', :class => "caret")+" Búsqueda avanzada"), '', :id => :busqueda_avanzada_link, :class => "btn btn-sm btn-link btn-block", :onClick => 'return busqueda_avanzada();' %>
  </div>

  <% if I18n.locale.to_s == 'es-cientifico' %>
  <div class="panel panel-info dropup" id="panelValidoSinonimoBasicaPt">
    <div class="panel-heading">
      <button type="button" class="btn btn-link btn-xs" onclick="$('#panelValidoSinonimoBasica').toggle({effect:'blind' ,easing: 'easeOutBounce', duration: 800, complete: $('#panelValidoSinonimoBasicaPt').toggleClass('dropup')});">
        <h3 class="panel-title">Estatus taxonómico
          <span class="caret"></span>
        </h3>
      </button>
    </div>
    <div class="panel-body" id="panelValidoSinonimoBasica">
      <%= checkboxValidoSinonimo ("BBShow") %>
    </div>
  </div>
  <% end %>

</div>

<div id="busqueda_avanzada" style="display: none" >
  <%= form_tag resultados_especies_path, :method => :get, :id => :b_avanzada  do %>

      <% if I18n.locale.to_s == 'es-cientifico' %>
          <%= hidden_field_tag :id_nom_cientifico, nil, :id => :id_avanzada_cientifico %>
          <%= hidden_field_tag :id_nom_comun, nil, :id => :id_avanzada_comun %>
      <% else %>
          <%= radioGruposIconicos.html_safe %>
      <% end %>

      <%= hidden_field_tag :busqueda, :avanzada %>
      <%= hidden_field_tag :por_pagina, Especie::POR_PAGINA_PREDETERMINADO, :id => :per_page_avanzada %>

      <% if I18n.locale.to_s == 'es-cientifico' %>
        <div class="form-group form-group-sm">
            <%= label_tag :nombre_comun, t(:nombre_comun), :class => "control-label" %>
            <%= text_field_tag :nombre_comun, nil, :id => :nombre_comun_1, :maxlength => 255, :placeholder => t(:nombre_comun).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>
        <div class="form-group form-group-sm">
            <%= label_tag :nombre_cientifico, t(:nombre_cientifico), :class => "control-label " %>
            <%= text_field_tag :nombre_cientifico, nil, :id => :nombre_cientifico_1, :maxlength => 255, :placeholder => t(:nombre_cientifico).split.map(&:capitalize).join(' ').html_safe, :autocomplete => :off, :class => 'form-control input-sm' %>
        </div>
      <% end %>

      <div class=" dropup">
        <%= link_to (content_tag(:span, '', :class => "caret")+" Búsqueda básica"), '', :id => :busqueda_basica_link, :class => "btn btn-sm btn-link btn-block", :onClick => 'return busqueda_basica();' %>
      </div>

      <div class="panel panel-info" id="panelCategoriaTaxonomicaPt" style="display: none;">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm" onclick="$('#panelCategoriaTaxonomica').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelCategoriaTaxonomicaPt').toggleClass('dropup')});">
            <h4 class="panel-title">Categoria taxonómica
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body" id="panelCategoriaTaxonomica">
          <div id="datos_cat">
          </div>
        </div>
      </div>

      <div class="panel panel-info" id="panelEstadoConservacionPt">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm" onclick="$('#panelEstadoConservacion').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelEstadoConservacionPt').toggleClass('dropup')});">
            <h4  class="panel-title">Categorías de riesgo
              <span class="caret"></span>
            </h4>
          </button>
        </div>
        <div class="panel-body" id="panelEstadoConservacion" style="display: none">
          <div class="checkbox">
            <%= checkboxEstadoConservacion %>
          </div>
        </div>
      </div>

      <div class="panel panel-info" id="panelTipoDistribucionEnPt">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-sm" onclick="$('#panelTipoDistribucionEn').slideToggle({duration: 500, easing: 'easeOutBounce', done: $('#panelTipoDistribucionEnPt').toggleClass('dropup')});">
            <h4 class="panel-title">Tipo de distribución
            <span class="caret"></span>
            </h4>

          <i><small>(Predeterminada: Cualquiera)</small></i>
          </button>
        </div>
        <div class="panel-body" id="panelTipoDistribucionEn" style="display: none">
            <div class="checkbox">
              <%= checkboxTipoDistribucion %>
            </div>
        </div>
      </div>
      <% if I18n.locale.to_s == 'es-cientifico' %>
      <div class="panel panel-info dropup" id="panelValidoSinonimoAvanzadaPt">
        <div class="panel-heading">
          <button type="button" class="btn btn-link btn-xs" onclick="$('#panelValidoSinonimoAvanzada').toggle({effect:'blind' ,easing: 'easeOutBounce', duration: 800, complete: $('#panelValidoSinonimoAvanzadaPt').toggleClass('dropup')});">
            <h3 class="panel-title">Estatus taxonómico
              <span class="caret"></span>
            </h3>
          </button>
        </div>
        <div class="panel-body" id="panelValidoSinonimoAvanzada">
          <%= checkboxValidoSinonimo %>
        </div>
      </div>
      <% end %>

      <%= submit_tag :Buscar, :class => 'btn btn-primary form-control busquedas', data: { disable_with: 'Procesando...' } %>

  <% end %>
</div>

<div>
  <%= label_tag :per_page, "Mostrar", :class => "control-label" %>
  <%= select_tag :per_page, options_for_select(Especie::POR_PAGINA.map{|v| [v, v]}), :class => "busquedas form-control" %>
  <%= label_tag :limpiar, "Resultados por página", :class => "control-label"  %>
  <%= button_tag 'Limpiar búsqueda', :id => :limpiar, :class => "form-control btn btn-default btn-sm", data: { disable_with: 'Limpiando...' } %>
</div>