<h1>Usuarios <%= 'de ' + params['action'].upcase if  params['action']== 'conabio' %> registrados en Enciclovida</h1>

<table class="table table-condensed table-hover table-responsive">
  <thead>
    <tr>
      <th>ID Usuario</th>
      <th>Datos Usuario</th>
      <th>Niveles de accesso</th>
      <th></th>
    </tr>
  </thead>

  <% last_column = '<tr>'%>
  <% current_user = Usuario.new %>

  <tbody>
  <% @usuarios.each do |usuario| %>

      <% if usuario.id == current_user.id %>
          <%= "<br />".html_safe+usuario.nombre_rol if current_user.nombre_rol != usuario.nombre_rol && usuario.nombre_rol.present? %>
          <%= "<br />".html_safe+usuario.nombre_cc if current_user.nombre_cc != usuario.nombre_cc && usuario.nombre_cc.present? %>
          <%= "<br />".html_safe+usuario.nombre_cientifico if current_user.nombre_cientifico != usuario.nombre_cientifico && usuario.nombre_cientifico.present? %>
          <%= "<small>".html_safe+usuario.id_especie.to_s+"</small>".html_safe if current_user.id_especie != usuario.id_especie && usuario.id_especie.present? %>
      <% else %>
          <%= last_column.html_safe %>
          <td><%= usuario.id %></td>
          <td><%= usuario.nombre %> <%= usuario.apellido %> <br /><small><%= usuario.email %></small> <br /><small><%= usuario.institucion %></small></td>
          <td><%= usuario.nombre_rol if usuario.nombre_rol.present? %>
            <%= "<br />".html_safe+usuario.nombre_cc if usuario.nombre_cc.present? %>
            <%= "<br />".html_safe+usuario.nombre_cientifico if usuario.nombre_cientifico.present? %>
            <%= "<small>".html_safe+usuario.id_especie.to_s+"</small>".html_safe if usuario.id_especie.present? %>
            <%# ligas = "<small> #{link_to 'Ver', usuario}  | #{link_to 'Editar', edit_usuario_path(usuario)} | #{link_to 'Eliminar', usuario, method: :delete, data: { confirm: '¿Estas seguro? es irreversible' } }</small>"%>
            <% last_column = "</td><td>#{}</td></tr>".html_safe %>
      <% end %>
      <% current_user = usuario %>
  <% end %>
  <%= last_column.html_safe %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir un nuevo usuario', new_usuario_path %>
