<% content_for(:title) do %>
    <%= @titulo='Inicia sesión' %>
<% end %>
<p id="notice"><%= notice %></p>

<div class="titulo">
  <h1><%= @titulo %></h1>
</div>
<%= form_tag(:action => 'intento_sesion') do %>
    <table width="1000" id="tabla_form"><tr>
      <td valign="top">
        <p>usuario/correo</br> <%= text_field_tag :login %></p>
        <p>Contrase&ntilde;a</br> <%= password_field_tag :contrasenia %></p>
        <%= submit_tag 'Entrar' %>
        <br>
        <p>¿A&uacute;n no tienes cuenta? <%= link_to 'Crea una', new_usuario_url, :class => 'link_azul' %></p>
      </td>
    </tr></table>
<% end %>
