<p id="notice"><%= notice %></p>

<% content_for(:title) do %>
    <%= @titulo=gradoYnombre(@usuario) %>
<% end %>

<table id="tabla_form"><tr>
  <td valign="top">
    <fieldset>
      <legend class="leyenda"><%= @titulo %></legend>
      <p>
        <strong>Usuario:</strong>
        <%= @usuario.nombre %>
      </p>
      <p>
        <strong>Correo:</strong>
        <%= @usuario.email %>
      </p>
      <p>
        <strong>Institución:</strong>
        <%= @usuario.institucion %>
      </p>
      <p>
        <strong>Nivel de permisos:</strong>
        <%= @usuario.nombre_rol %>
      </p>
      <p>
        <strong>Taxonomía específica:</strong>
        <%= @usuario.nombre_cientifico %> | <%= @usuario.id_especie %>
      </p>
      <p>
        <strong>Fecha de creación:</strong>
        <%= @usuario.created_at %>
      </p>
      <p>
        <strong>Fecha de la última actualización:</strong>
        <%= @usuario.updated_at %>
      </p>
    </fieldset>
  </td>
</tr></table>

<p class="text-right">
  <%= link_to 'Editar', edit_usuario_path(@usuario) %> |
  <%= link_to 'Regresar', usuarios_path %>
</p>