<% content_for :extracss do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<% end %>

<div class='nested-fields'>
  <%= f.input :id, required: true, :as => :hidden, :disabled => true %>
  <%= f.input :resumenEspecie %>
  <%= f.input :descEspecie %>
  <%= f.input :especiesSmilares %>
  <%= f.input :origen, :as => :select, :collection => Fichas::Taxon::ORIGEN_MEXICO, prompt: :seleccionar,  input_html: {class: 'form-control'} %>
  <%= f.input :descripcionOrigen %>

  <!-- Tabla con información de medidas de la especie -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.hembra') %></th>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.macho') %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.largototal') %></th>
          <td>de: <%= f.input_field :largoinicialhembras %> a: <%= f.input_field :largofinalhembras %></td>
          <td>de: <%= f.input_field :largoinicialmachos %> a: <%= f.input_field :largofinalmachos %> </td>
        </tr>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.longevidadhtotal') %></th>
          <td>de: <%= f.input_field :edadinicialhembras %> a: <%= f.input_field :edadfinalhembras %><%= f.input_field :tiempoedadhembra, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %></td>
          <td>de: <%= f.input_field :edadinicialmachos %> a: <%= f.input_field :edadfinalmachos %><%= f.input_field :tiempoedadmacho, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %></td>
        </tr>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.pesototal') %></th>
          <td>de: <%= f.input_field :pesoinicialhembras %> a: <%= f.input_field :pesofinalhembras %></td>
          <td>de: <%= f.input_field :pesoinicialmachos %> a: <%= f.input_field :pesofinalmachos %> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

