<% content_for :extracss do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<% end %>

<div class='nested-fields'>
  <%= f.input :id, required: true, :as => :hidden, :disabled => true %>
  <h3 class="titulo_subseccion"><%= t('secciones.s_clasificacion.resumen') %></h3>
  <%= f.input :resumenEspecie %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_clasificacion.descr_especie') %></h3>
  <%= f.input :descEspecie %>
  <fieldset class="apartados">
    <legend> <%= t('simple_form.labels.fichas_taxon.tabla_descripcion.macho') %> </legend>
    <h5><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.largototal') %></h5>
    De: <%= f.input_field :largoinicialmachos, html: { class: "form-control"}  %> a: <%= f.input_field :largofinalmachos %> <br>
    <h5><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.longevidadhtotal') %></h5>
    De: <%= f.input_field :edadinicialmachos %> a: <%= f.input_field :edadfinalmachos %> <%= f.input_field :tiempoedadmacho, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %> <br>
    <h5><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.pesototal') %></h5>
    De: <%= f.input_field :pesoinicialmachos %> a: <%= f.input_field :pesofinalmachos %>
  </fieldset>

  <fieldset class="apartados">
    <legend> <%= t('simple_form.labels.fichas_taxon.tabla_descripcion.hembra') %> </legend>

    <div class="form-group row integer optional fichas_taxon_largoinicialhembras">
      <label class="col-sm-3 col-form-label integer optional" for="fichas_taxon_largoinicialhembras">Largoinicialhembras</label>
      <div class="col-sm-9">
        <input class="form-control numeric integer optional" placeholder="Largo inicial" type="number" step="1" name="fichas_taxon[largoinicialhembras]" id="fichas_taxon_largoinicialhembras">
        <input class="form-control numeric integer optional" placeholder="Largo inicial" type="number" step="1" name="fichas_taxon[largoinicialhembras]" id="fichas_taxon_largoinicialhembras">
      </div>
    </div>

    <style>
      .simple_form input-inline {
        float: left;
        width: 100px;
        text-align: right;
        margin: 2px 10px;
      }

      .simple_form div.input-inline {
        margin-bottom: 10px;
      }
    </style>
    <%= f.input :largoinicialhembras, label: false, item_wrapper_class: 'input-inline' %><%= f.input :largoinicialhembras, label: false, item_wrapper_class: 'input-inline'  %>
    <%= f.input :largofinalhembras %>
    <%= f.input :edadinicialhembras %>
    <%= f.input :edadfinalhembras %>
    <%= f.input :tiempoedadhembra, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %>
    <%= f.input :pesoinicialhembras %>
    <%= f.input :pesofinalhembras %>
  </fieldset>

  <!-- Tabla con información de medidas de la especie -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th></th>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.hembra') %></th>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.macho') %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.largototal') %></th>
          <td>de: <%= f.input_field :largoinicialhembras %> a: <%= f.input_field :largofinalhembras %></td>
          <td>de: <%= f.input_field :largoinicialmachos %> a: <%= f.input_field :largofinalmachos %> </td>
        </tr>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.longevidadhtotal') %></th>
          <td>de: <%= f.input_field :edadinicialhembras %> a: <%= f.input_field :edadfinalhembras %><%= f.input_field :tiempoedadhembra, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %></td>
          <td>de: <%= f.input_field :edadinicialmachos %> a: <%= f.input_field :edadfinalmachos %><%= f.input_field :tiempoedadmacho, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, prompt: :seleccionar,  input_html: {class: 'form-control'} %></td>
        </tr>
        <tr>
          <th><%= t('simple_form.labels.fichas_taxon.tabla_descripcion.pesototal') %></th>
          <td>de: <%= f.input_field :pesoinicialhembras %> a: <%= f.input_field :pesofinalhembras %></td>
          <td>de: <%= f.input_field :pesoinicialmachos %> a: <%= f.input_field :pesofinalmachos %> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= f.input :especiesSmilares %>
  <%= f.input :origen, :as => :select, :collection => Fichas::Taxon::ORIGEN_MEXICO, prompt: :seleccionar,  input_html: {class: 'form-control selectpicker'} %>
  <%= f.input :descripcionOrigen %>
</div>

