<div class='nested-fields nueva_legislacion'>
  <%=  f.input :legislacionId, as: :hidden %>
  <%=  f.input :especieId, as: :hidden %>
  <%= f.input :nombreLegislacion,  :as => :select, :collection => Fichas::Legislacion::TIPOS_LEGISLACIONES, input_html: {class: 'form-control tipo-legislacion selectpicker seccion_clasificacion', 'onchange': 'cambiaLegislaciones(this);', 'title': t('general.seleccionar_opcion')} %>
  <%= f.input :estatusLegalProteccion, :as => :grouped_select,
          collection: [
              ["SEMARNAT", Fichas::Legislacion::L_SEMARNAT.map { |x| x.to_s }],
              ["CITES", Fichas::Legislacion::L_CITES.map { |x| x.to_s }],
              ["UICN", Fichas::Legislacion::L_UICN.map { |x| x.to_s }],
          ],
          :group_method => :last,
          input_html: {
              class: 'form-control selectpicker seccion_clasificacion',
              'data-live-search': 'true',
              'title': t('general.seleccionar_opcion'),
          }
  %>

  <%=  f.input :infoAdicional, input_html: { class: 'tiny_seccion_clasificacion'} %>
  <%= link_to_remove_association 'Borrar legislación', f, :class => 'btn btn-danger btn-sm' %><hr>
</div>
