<div class='nested-fields'>
  <%= f.input :nombreLegislacion,  :as => :select, :collection => Fichas::Legislacion::TIPOS_LEGISLACIONES, prompt: :seleccionar,  input_html: {class: 'form-control'} %>
  <%= f.input :estatusLegalProteccion, :as => :select, collection: Fichas::Legislacion::L_SEMARNAT, prompt: :seleccionar,  input_html: {class: 'form-control select-legi select-legi-semarnat'} %>
  <%= f.input :estatusLegalProteccion, :as => :select, collection: Fichas::Legislacion::L_CITES, prompt: :seleccionar,  input_html: {class: 'form-control select-legi select-legi-cites'} %>
  <%= f.input :estatusLegalProteccion, :as => :select, collection: Fichas::Legislacion::L_UICN, prompt: :seleccionar,  input_html: {class: 'form-control select-legi select-legi-uicn'} %>
  <%=  f.input :infoAdicional %>
  <%= link_to_remove_association 'Borrar legislación', f, :class => 'btn btn-danger btn-sm' %><hr>
</div>


<%=
  #f.input :nombreLegislacion,
  #        :as => :grouped_select,
  #        include_blank: false,
  #        collection: [
  #            ["Transportation", ["bus", "taxi", "train" ]],
  #            ["Transportation", ["bici", "burro"]],
  #            ["Transportation", ["a pata" ]],
  #            ["Eat/Drink", ["meal", "tea/cafe"]]],
  #        :group_method => :last

%>

<%
=begin
f.input :nombreLegislacion,
              :as => :grouped_select,
              include_blank: false,
              collection: [
                  ["Transportation", ["bus", "taxi", "train" ]],
                  ["Eat/Drink", ["meal", "tea/cafe"]]],
              :group_method => :last


=end
%>