<% css_class = "clear taxon_description" %>
<% wikipedia = %w(wikipedia_es wikipedia_en).include?(@api) %>
<% css_class += " wikipedia_description" if wikipedia %>

<div class="<%= css_class %>" id="taxon_description">
  <div class="row">
    <div class="col-xs-2">
      <h4>Descripción de:</h4>
    </div>
    <div class="col-xs-3">
      <% if @descripcion.present? %>
        <%= select_tag :from, options_for_select(Api::Descripcion.opciones_select, :selected => @api, :class => "form-control"), prompt: '- - Selecciona - -' %>
      <% else %>
        <%= select_tag :from, options_for_select(Api::Descripcion.opciones_select, :class => "form-control"), prompt: '- - Selecciona - -' %>
      <% end %>
    </div>
  </div>

  <% if @descripcion.blank? %>
    <p class="nocontent meta">
      <% if params[:from].present? %>
        <%= t :sin_descripcion_en_x_para_y, x: eval("Api::#{@api.camelize}").new.nombre, y: @especie.nombre_cientifico %>
      <% else %>
        <%= t :sin_descripcion_para_y, y: @especie.nombre_cientifico %>
      <% end %>
    </p>
  <% else %>
    <% if wikipedia %>
      <div id="section_SpokenWikipedia" class="infobox sisterproject plainlinks bg-warning"><strong>NOTA:</strong> La clasificación taxonómica de Wikpedia puede diferir de la que se considera en CONABIO</div>
    <% end %>

    <%= raw @descripcion %>
  <% end %>
</div>