<% css_class = "clear taxon_description" %>
<% wikipedia = %w(wikipedia_es wikipedia_en).include?(@api) %>
<% css_class += " wikipedia_description" if wikipedia %>

<div class="<%= css_class %> w-100" id="taxon_description">
  <% if params["sin_fuente"].blank? || params["sin_fuente"] == "0" %>
    <div class="form-group row">
      <label for="from" class="col-12 col-md-3 col-form-label col-form-label-lg">Fuente:</label>
      <div class="col-12 col-md-9">
        <% if @descripcion.present? %>
          <%= select_tag :from, options_for_select(Api::Descripcion.opciones_select, :selected => @api), prompt: '- - Selecciona - -', :class => "form-control" %>
        <% else %>
          <%= select_tag :from, options_for_select(Api::Descripcion.opciones_select), prompt: '- - Selecciona - -', :class => "form-control" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @api == 'conabio_inat' %>
    <%= link_to "Ver más en EncicloVida", request.original_url.split("/")[0..-2].join("/") + "-" + @especie.nombre_cientifico.limpiar.estandariza, target: :_blank %>
  <% end %>

  <% if @descripcion.blank? %>
    <p class="nocontent meta">
      <% if params[:from].present? %>
        <% api = eval("Api::#{params[:from].camelize}").new.nombre %>
        <%= t :sin_descripcion_en_x_para_y, x: api, y: @especie.nombre_cientifico %>
      <% else %>
        <%= t :sin_descripcion_para_y, y: @especie.nombre_cientifico %>
      <% end %>
    </p>
  <% else %>
    <% if wikipedia %>
      <div id="section_SpokenWikipedia" class="infobox sisterproject plainlinks bg-warning"><strong>NOTA:</strong> La clasificación taxonómica de Wikpedia puede diferir de la que se considera en CONABIO</div>
    <% end %>

    <%= raw @descripcion %>
    <% if @api == 'conabio' %>
      <%= render file: "especies/descripciones/descripcion_catalogos" %>
    <% end %>
  <% end %>
</div>