<div class="row m-4">

  <div class="col-12 d-flex flex-wrap justify-content-around my-4">
    <h4 class="mt-4 w-100 text-center font-weight-bolder">La siguiente información proviene del catálogo de autoridades taxonómicas de CONABIO:</h4>
    <p class="mb-4 text-center font-weight-bold">Identificador único: <span class="badge badge-secondary"><%= @especie.scat.catalogo_id %></span> (IdCAT)</p>

    <div class="card my-2">
      <div class="card-body">
        <dl class="row">
        <% generaDescripcionTecnica(@especie).each do |d| %>
            <dt class="col-4 font-weight-bolder h5 text-right"><%= d[:nombre_catalogo] %></dt>
            <dd class="col-8 text-left">
              <% d[:descripciones].each do |l| %>
                &middot;&nbsp;<%= l.html_safe %>
              <% end %>
            </dd>


          <% if d[:observaciones].present? %>
              <dt class="col-4 h5 text-right">Observaciones:</dt>
              <dd class="col-8 text-left"><%= d[:observaciones].capitalize %></dd>
          <% end %>

        <% end %>
        </dl>
      </div>
    </div>
  </div>


  <div class="col-12 my-4">
    <%= dameDistribucionLiteratura(@especie) %>
  </div>

</div>
