<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for @plantid_planta do |f| %>
        <%= f.input :especie_id,as: :hidden, input_html: {id: 'especie_id'}%>
        <br />
        <%= f.input :nombre_cientifico, input_html: {id: 'nombre_cientifico'} %>
        <br />
        <%= f.input :nombre_comun, input_html: {id: 'nombre_comun'},required: true,  error: 'La especie requiere de un nombre para ser registrada' %>
        <br />
        <%= f.input :nombres_comunes, input_html: {id: 'nombres_comunes'} %>
        <br />
        <h3> Imagenes </h3>
        <div class="row">
          <div class="col">
            <div id="imagenes">
              <%= f.simple_fields_for :imagen do |img|  %>
                <%= render 'imagen_fields', f: img %>
              <% end %>
              <div class='links'>
                <%= link_to_add_association 'Añadir imagen', f, :imagen, partial: 'imagen_fields' %>
              </div>
            </div>
          </div>
        </div>
        <h3> Bibliografia </h3>
        <div class="row">
          <div class="col">
            <div id="bibliografias">
              <%= f.simple_fields_for :bibliografia do |biblio|  %>
                <%= render 'bibliografia_fields', f: biblio %>
              <% end %>
              <div class='links'>
                <%= link_to_add_association 'Añadir bibliografia', f, :bibliografia, partial: 'bibliografia_fields' %>
              </div>
            </div>
          </div>
        </div>


        <%= f.submit %>


      <% end %>
    </div>
  </div>
  <%= content_for :delayedjs do %>
    <script type="text/javascript">
        soulmateAsigna('plantid','nombre_cientifico');
    </script>
  <% end %>
</div>