<div class="container">
<p id="notice"><%= notice %></p>
    <h1>Listado de Plantas</h1>
    <%= link_to 'Nueva Planta', new_plantid_pi_planta_path %>
    <div class="row">
      <div class="col">
        <strong>Imagen</strong>
      </div>
      <div class="col">
        <strong>Nombre Científico</strong>
      </div>
      <div class="col">
        <strong>Nombre Común</strong>
      </div>
      <div class="col">
        <strong>Nombres Comunes</strong>
      </div>
      <div class="col">
        <strong>Links</strong>
      </div>
    </div>
    <% @plantid_pi_plantas.each do |planta| %>
        <div class="row">
          <div class="col">
            <% unless planta.piimagen.first.nil? %> 
              <%= image_tag planta.piimagen.first.imagen_url, class: 'img-fluid' %>
            <% end %>
          </div>
          <div class="col">
            
            <p><%= planta.nombre_cientifico %></p>
          </div>
          <div class="col">
            
            <p><%= planta.nombre_comun %></p>
          </div>
          <div class="col">
            
            <p><%= planta.nombres_comunes %></p>
          </div>
          <div class="col">
            <p class="mb-0"><%= link_to 'Ver', planta %></p>
            <p class="mb-0"><%= link_to 'Editar', edit_plantid_pi_planta_path(planta) %></p>
            <p class="mb-0"><%= link_to 'Destruir', planta, method: :delete, data: { confirm: 'Estas seguro?' } %></p>
          </div>
        </div>
    <% end %>
</div>