<p id="notice"><%= notice %></p>

<h1>Listing Plantas</h1>

<br>

<%= link_to 'New Plantas', new_plantid_planta_path %>
<table>
  <thead>
    <tr>
      <th>Id_Especie</th>
      <th>Nombre Cientifico</th>
      <th>Nombre Comun</th>
      <th>Nombres Comunes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantid_plantas.each do |planta| %>
      <tr>
        <td><%= planta.especie_id %></td>
        <td><%= planta.nombre_cientifico %></td>
        <td><%= planta.nombre_comun %></td>
        <td><%= planta.nombres_comunes %></td>
        <td><%= link_to 'Show', planta %></td>
        <td><%= link_to 'Edit', edit_plantid_planta_path(planta) %></td>
        <td><%= link_to 'Destroy', planta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>