<p id="notice"><%= notice %></p>

<h2>Planta</h2>
<p>
  <strong>Id especie:</strong>
  <%= @plantid_planta.especie_id %>
</p>

<p>
  <strong>Nombre Comun:</strong>
  <%= @plantid_planta.nombre_comun %>
</p>

<p>
  <strong>Nombre Cientifico:</strong>
  <%= @plantid_planta.nombre_cientifico %>
</p>

<p>
  <strong>Nombres Comunes:</strong>
  <%= @plantid_planta.nombres_comunes %>
</p>
 
<h2>Bibliografias</h2>
<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantid_planta.bibliografias.each do |bibliografia| %>
      <tr>
        <td><%= bibliografia.commenter %></td>
        <td><%= bibliografia.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= puts @plantid_planta.bibliografias %>

<%= link_to 'Edit', edit_plantid_planta_path(@plantid_planta) %> |
<%= link_to 'Back', plantid_plantas_path %>
