<div class="container">
<p id="notice"><%= notice %></p>
<h2>Planta</h2>
<div class="row">
  <div class="col">
      <strong>Nombre Comun</strong>
      <p><%= @plantid_planta.nombre_comun %></p>
  </div>
  <div class="col">
      <strong>Nombre Cientifico</strong>
      <p><%= @plantid_planta.nombre_cientifico %></p>
  </div>
  <div class="col">
      <strong>Nombres Comunes</strong>
      <p><%= @plantid_planta.nombres_comunes %></p>
  </div>
</div>
<div class="row">
  <div class="col-2">
      <h2>Imagenes</h2>
      <% @plantid_planta.imagen.each do |img| %>
          <%= image_tag img.imagen.url, class: 'img-fluid' %>
      <% end %>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
  <h2>Bibliografias</h2>
    <% @plantid_planta.bibliografia.each do |biblio| %>
      <p><%= biblio.nombre_biblio %><p>
    <% end %>
  </div>
</div>
  <%= puts @plantid_planta.bibliografia %>
  <%= link_to 'Editar', edit_plantid_planta_path(@plantid_planta) %> |
  <%= link_to 'Regresar', plantid_plantas_path %>
</div>