<p id="notice"><%= notice %></p>

<h2>Planta</h2>
<p>
  <strong>Id especie:</strong>
  <%= @plantid_planta.especie_id %>
</p>

<p>
  <strong>Nombre Comun:</strong>
  <%= @plantid_planta.nombre_comun %>
</p>

<p>
  <strong>Nombre Cientifico:</strong>
  <%= @plantid_planta.nombre_cientifico %>
</p>

<p>
  <strong>Nombres Comunes:</strong>
  <%= @plantid_planta.nombres_comunes %>
</p>

<h2>Imagenes</h2>
<table>
  <thead>
    <tr>
      <th>Nombre de origen</th>
      <th>Tipo</th>
      <th>Ruta realtiva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantid_planta.imagen.each do |img| %>
      <tr>
        <td><%= img.nombre_orig %></td>
        <td><%= img.tipo %></td>
        <td><%= img.ruta_relativa %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= puts @plantid_planta.imagen %>
 
<h2>Bibliografias</h2>
<table>
  <thead>
    <tr>
      <th>Nombre de bibliografia</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantid_planta.bibliografia.each do |biblio| %>
      <tr>
        <td><%= biblio.nombre_biblio %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= puts @plantid_planta.bibliografia %>

<%= link_to 'Editar', edit_plantid_planta_path(@plantid_planta) %> |
<%= link_to 'Regresar', plantid_plantas_path %>
