<div id="resultados-container" class="col-xs-12 state-one">

  <div class="row">
    <button id="toggleFiltros" class="btn btn-sm btn-default pull-left" onclick="$('#resultados-container').toggleClass('state-one state-two');" type="button">
      <span class="glyphicon"></span>
    </button>
  </div>

  <hr/>

  <%= render :file => 'estadisticas/filtros' %>

  <% if params[:action]=='show' && params[:busqueda]=='avanzada' && params[:controller]=='estadisticas' %>

    <script type="text/javascript">
        $(document).ready(function(){

            var SET_PARAMS = <%=raw @setParams.to_json %>;

            // Escogio de grupo iconico
            if (SET_PARAMS.id != undefined && SET_PARAMS.nombre == undefined)
            {
                $('#id_gi_' + SET_PARAMS.id).prop('checked', true);
                $('#id').val(SET_PARAMS.id);

            } else if (SET_PARAMS.nombre != undefined) {
                por_nombre();
                $('#nombre').val(SET_PARAMS.nombre);
            }

            if (SET_PARAMS.por_pagina != undefined)
                $('#por_pagina').val(SET_PARAMS.por_pagina);
            if (SET_PARAMS.dist != undefined)
            {
                SET_PARAMS.dist.forEach(function(valor){
                    $('#dist_' + valor).prop('checked', true);
                });
            }
            if (SET_PARAMS.edo_cons != undefined)
            {
                SET_PARAMS.edo_cons.forEach(function(valor){
                    $('#edo_cons_' + valor).prop('checked', true);
                });
            }
            if (SET_PARAMS.prior != undefined)
            {
                SET_PARAMS.prior.forEach(function(valor){
                    $('#prior_' + valor).prop('checked', true);
                });
            }
            if (SET_PARAMS.estatus != undefined)
            {
                SET_PARAMS.estatus.forEach(function(valor){
                    $('#estatus_' + valor).prop('checked', true);
                });
            }
            if (SET_PARAMS.showEstadisticas != undefined)
            {
                SET_PARAMS.showEstadisticas.forEach(function(valor){
                    $("#showEstadisticas option[value='" + valor + "']").prop('selected', true);
                });
            }
            if (SET_PARAMS.tipoResultado != undefined)
                $('#rb_' + SET_PARAMS.tipoResultado).prop('checked', true);

            <% if params[:id].present? && params[:nivel].present? &&params[:cat].present? %>
            cat_tax_asociadas('<%= params[:id] %>','<%= params[:nivel] %>','<%= params[:cat] %>');
            <% end %>
        });
    </script>
  <% end %>

  <div id="pestañas" class="panel">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#resultados-g" data-toggle="tab" class="tab_grafica">Gráfica</a>
      </li>
    </ul>

    <div class="tab-pane panel-body panel-resultados" id="resultados-g">
      <%= render :partial => 'estadisticas/resultados' %>
    </div>
  </div>

</div>


