<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">



<div class="col-xs-12 <%= 'col-sm-7 col-md-5 col-lg-4' if(params[:action] != 'resultados') %>">
  <fieldset>
    <legend>
      <h5 class="btn btn-link" id="por_nombre_fuente"><i class="glyphicon glyphicon-chevron-left"></i><strong>Ir a búsqueda por nombre </strong></h5>
      <h5 class="btn btn-link" id="por_gi_fuente" style="display: none;"><strong>Ir a búsqueda por grupo icónico </strong><i class="glyphicon glyphicon-chevron-right"></i></h5>
    </legend>
    <div class="form-group radio" id="por_gi">
      <%= radioGruposIconicos.html_safe %>
    </div>

    <div class="form-group" id="por_nombre" style="display: none;">
      <%= text_field_tag :nombre, nil, :maxlength => 255, :placeholder => 'Escribe un nombre común o científico ...', :autocomplete => :off, :class => 'form-control', :value => params[:busqueda] == 'avanzada' ? params[:nombre_comun] : nil %>
    </div>
    <%= hidden_field_tag :busqueda, :avanzada %>
    <%= hidden_field_tag :id, nil %>
  </fieldset>

  <div id="panelCategoriaTaxonomicaPt" style="display: none;">
    <fieldset>
      <legend><h5 class="text-primary"><strong>Categoria taxonómica</strong></h5></legend>
    </fieldset>
    <div id="datos_cat"></div>
  </div>

  <div class="form-group">
    <fieldset>
      <legend><h5 class="text-primary"><strong>Resultados por página:</strong></h5></legend>
      <%= select_tag :por_pagina, options_for_select(Busqueda::POR_PAGINA.map{|v| [v, v]}), :class => 'busquedas form-control' %>
    </fieldset>
  </div>
</div>

<div class="col-xs-12 <%= 'col-sm-5 col-md-4 col-lg-5' if(params[:action] !='resultados') %>">
  <fieldset>
    <legend><h5 class="text-primary"><strong>Categorías de riesgo y comercio internacional</strong></h5></legend>
    <div class="checkbox">
      <%= checkboxEstadoConservacion.html_safe %>
    </div>
  </fieldset>
</div>


<h3>
  <%=
    # @estadisticas.inspect
  %>
</h3>

<div id="grafica_estadisticas" style="background-color: white"></div>

<button class="randomize">Buscar</button>



<style>
  svg {
    width: 100%;
    height: 100%;
  }

  #grafica_estadisticas{
    height: 1000px;
  }

  path.slice{
    stroke-width:2px;
  }

  polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
  }
</style>


<script>
/* - - - - - - - - - Mover a assets: - - - - - - - - - */

var svg = d3.select("#grafica_estadisticas").append("svg").append("g")

svg.append("g").attr("class", "slices");
svg.append("g").attr("class", "labels");
svg.append("g").attr("class", "lines");

var width = 1360,
    height = 850,
    radius = Math.min(width, height) / 2;

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) {
        return d.value;
    });

var arc = d3.svg.arc()
    .outerRadius(radius * 0.8)
    .innerRadius(radius * 0.4);

var outerArc = d3.svg.arc()
    .innerRadius(radius * 0.9)
    .outerRadius(radius * 0.9);

svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var key = function(d){ return d.data.label; };

var estds = [
    "audios_maccaulay",
    "videos_maccaulay",
    "fotos_maccaulay",
    "fotos_tropicos"
]

var colors = [
    "#98abc5",
    "#d0743c",
    "#ff8c00",
    "#9a89a6",
    "#8a89a6",
    "#8a89a6",
    "#6a89a6",
    "#5a89a6",
    "#4a89a6",
    "#3a89a6",
    "#2a89a6",
    "#1a89a6",
    "#0a8bc0",
    "#8a89a6",
    "#8a79a6",
    "#8a49a6",
    "#8a89a6",
    "#7b6888",
    "#6b486b",
    "#a05d56"
]

var color = d3.scale.ordinal().domain(estds).range(colors);

function randomData (){
    var labels = color.domain();
    return labels.map(function(label){
        console.log("mostrar el valor: " + label);
        return { label: label, value: Math.random() }
    });
}

change(randomData());

function change(data) {
    /* ------- PIE SLICES -------*/
    var slice = svg.select(".slices").selectAll("path.slice").data(pie(data), key);

    slice.enter()
        .insert("path")
        .style("fill", function(d) { return color(d.data.label); })
        .attr("class", "slice");

    slice
        .transition().duration(1000)
        .attrTween("d", function(d) {
            this._current = this._current || d;
            var interpolate = d3.interpolate(this._current, d);
            this._current = interpolate(0);
            return function(t) {
                return arc(interpolate(t));
            };
        })

    slice.exit().remove();

    /* ------- TEXT LABELS -------*/
    var text = svg.select(".labels").selectAll("text")
        .data(pie(data), key);

    text.enter()
        .append("text")
        .attr("dy", ".35em")
        .text(function(d) {
            return d.data.label;
        });

    function midAngle(d){
        return d.startAngle + (d.endAngle - d.startAngle)/2;
    }

    text.transition().duration(1000)
        .attrTween("transform", function(d) {
            this._current = this._current || d;
            var interpolate = d3.interpolate(this._current, d);
            this._current = interpolate(0);
            return function(t) {
                var d2 = interpolate(t);
                var pos = outerArc.centroid(d2);
                pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
                return "translate("+ pos +")";
            };
        })
        .styleTween("text-anchor", function(d){
            this._current = this._current || d;
            var interpolate = d3.interpolate(this._current, d);
            this._current = interpolate(0);
            return function(t) {
                var d2 = interpolate(t);
                return midAngle(d2) < Math.PI ? "start":"end";
            };
        });

    text.exit()
        .remove();

    /* ------- SLICE TO TEXT POLYLINES -------*/
    var polyline = svg.select(".lines").selectAll("polyline")
        .data(pie(data), key);

    polyline.enter()
        .append("polyline");

    polyline.transition().duration(1000)
        .attrTween("points", function(d){
            this._current = this._current || d;
            var interpolate = d3.interpolate(this._current, d);
            this._current = interpolate(0);
            return function(t) {
                var d2 = interpolate(t);
                var pos = outerArc.centroid(d2);
                pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
                return [arc.centroid(d2), outerArc.centroid(d2), pos];
            };
        });

    polyline.exit()
        .remove();
};
</script>



<script>
  // LLAMARA A AJAX
  d3.select(".randomize").on("click", function(){
      change(randomData());
      jQuery.ajax({
          success: function(html){
              obj = html

              // Arreglo que almacenarà el nombre de la estadistica y el valor:
              var respuestaEstadisticas = [];



              var values = [];
              var i = 0;
              for (var clave in obj){
                  // Controlando que json realmente tenga esa propiedad
                  if (obj.hasOwnProperty(clave)) {
                      /// / Mostrando en pantalla la clave junto a su valor
                      estds[i] = clave;
                      i++ ;
                      console.log("La clave es " + clave + " y el valor es " + obj[clave]);
                  }
              }

              color = d3.scale.ordinal().domain(estds).range(colors)

              console.log(obj["visitas"])
          },
          fail: function(){
              console.log("No funcionò")
          },
          method: 'get',
          url: '/filtros_estadisticas'
      });
  });
</script>


account-account,22781 \n\
account-end,3311 \n\
account-home,906 \n\
account-other,1156 \n\
account-product,5969 \n\
account-search,692 \n\
end,7059 \n\
home-account,396 \n\
home-end,316 \n\
home-home,226 \n\
home-other,87 \n\
home-product,613 \n\
home-search,245 \n\
other-account,446 \n\
other-end,229 \n\
other-home,91 \n\
other-other,804 \n\
other-product,776 \n\
other-search,48 \n\
product-account,3892 \n\
product-end,3250 \n\
product-home,531 \n\
product-other,252 \n\
product-product,4876 \n\
product-search,476 \n\
search-account,521 \n\
search-end,39 \n\
search-home,7 \n\
search-other,8 \n\
search-product,536 \n\
search-search,219 \n\
end,14262 \n\
home-account-account,434 \n\
home-account-end,83 \n\
home-account-home,71 \n\
home-account-other,39 \n\
home-account-product,159 \n\