<% content_for(:extracss) do %>
<%= stylesheet_link_tag 'busquedas/clasificacion/por_clasificacion', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:extrajs) do %>
<%= javascript_include_tag 'busquedas/clasificacion/por_clasificacion_extra', 'data-turbolinks-track' => true %>
<% end %>

<% content_for(:delayedjs) do %>
<script data-turbolinks-track="true">
    // Asigna el soulmate a la caja nombre
    $(document).ready(function() {
        soulmateAsigna('busquedas/explora-por-clasificacion', 'clasificacion-nombre');
    });
</script>
<% end %>

<% content_for(:title) do %>
<%= @titulo='Explora por clasificación' %>
<% end %>

<div id="dvLoading"><i></i></div>

<div class="input-group">
    <div class="w-50 text-center mb-3 mx-auto">
        <h4>Busca por nombre común o científico</h4>
        <%= text_field_tag :nombre, nil, :maxlength => 100, :placeholder => 'ej: Ajolote', :autocomplete => :off, :class => 'form-control', id: 'clasificacion-nombre', :value => params[:q].present? ? params[:q] : '' %>
    </div>
</div>

<div class="col-12 d-flex justify-content-end">
    <% if @taxones.present? && @taxones.length > 0 %>
    <div class="col-12" id="clas-contenido">
        <%= dameArbolInicial %>
    </div>
    <% end %>
</div>