<div class='nested-fields'>
  <%= f.input :tamanioPoblacional %>
  <%= f.input :abundancia %>
  <%= f.input :densidad %>
  <%= f.input :patronOcupacion %>
  <%= f.input :descripcionPatron %>

  <%= f.input :parametrosPoblacionales %>
  <%= f.input :poblacionminviableinicial %>

  <%= # f.input :interacciones
  %>
  <%= f.input :infoAdicionalInteraccion %>
</div>