<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">

<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <meta name="keywords" content="<%= yield :meta_keywords %>">
  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>
   
  <script type="text/javascript" data-turbolinks-track="true">
      TYPES = eval("<%=raw I18n.transliterate(CategoriaTaxonomica.categorias_redis(I18n.locale.to_s)).gsub(' ','_') %>");
      SITE_URL = "<%= CONFIG.site_url %>";
  </script>

  <%= javascript_include_tag 'application_b3', 'data-turbolinks-track' => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f97bf94d924480012e1d081&product=sop' async='async' data-turbolinks-track="true"></script>

  <%= stylesheet_link_tag 'boots3-downgrade/application_b3', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<%= insertaGoogleAnalytics if Rails.env.production? %>
<body>

<%= yield :ribbon %>

<header class="container-fluid">
  <%= render :partial => 'shared/brandBar' %>
</header>

<header class="container-fluid">
  <%= yield :extra_title_header %>
</header>

<section id="content" class="container-fluid">
  <div class="row main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= yield %>
    </div>
  </div>
</section>

<footer class="social">
  <%= render :partial => 'shared/footer_social' %>
</footer>

<footer class="legal">
  <%= render :partial => 'shared/footer_legal' %>
</footer>

<%= yield :extrajs_carrusel %>

<%= yield :delayedjs %>
</body>

</html>