<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= CONFIG.site_name_short %> &middot; <%= yield :title %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>"
      I18n.locale = "<%= I18n.locale %>"
      I18n.fallbacks = true
  </script>

  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true" />

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Inicio (#{CONFIG.site_name_short})", especies_url, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div id="cse-search-form" class="form-control navbar-form navbar-right" style="width: 20%; padding-top:.45%; ">Cargando...</div>
      <ul class="nav navbar-nav navbar-right">
        <% if usuario_signed_in? %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%= link_to :Listas, listas_url %></li>
                <li><%= link_to 'Busca por lote', busca_por_lote_especies_url %></li>
            <% end %>
            <li>
              <%= link_to 'Configuración de tu cuenta', edit_usuario_registration_path %>
            </li>
            <li>
              <%= link_to "Cerrar sesión (#{current_usuario.usuario})".html_safe, destroy_usuario_session_path,
                          :method => :delete, data: { confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe } %>
            </li>
        <% else %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%= link_to 'Inicia sesión'.html_safe, new_usuario_session_path %></li>
            <% end %>
        <% end %>
        <% if I18n.locale.to_s == 'es-cientifico' %>
            <li><%= link_to '[Ir a la vista básica]', nil, :name => :es, :onClick => 'return cambia_locale(this.name);' %></li>
        <% else %>
            <li><%= link_to '[Ir a la vista avanzada]', nil, :name => 'es-cientifico', :onClick => 'return cambia_locale(this.name);' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">

    <% if params[:checklist].blank? %>
        <div class="col-sm-4 col-md-3 sidebar">
          <%= render :template => 'especies/busqueda' %>
        </div>
    <% end %>

    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
      <div class="table-responsive">
        <%= yield %>
      </div>
    </div>

  </div>
</div>

<%= bitacora.html_safe if bitacora.present? %>

</body>
</html>
