<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= CONFIG.site_name_short %> &middot; <%= yield :title %></title>
  <%= favicon_link_tag 'app/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true" />

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>
<div id="img-fondo">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', especie_index_path, class: "navbar-brand", style: "background-image: url('/assets/app/logoBiosMC.png'); width: 100px; background-size: cover; background-position: bottom left; background-repeat: no-repeat;" %>
      <%# link_to '', especie_index_path, class: "navbar-brand", style: "background-image: url('/assets/app/logoBios_2.png'); width: 265px; background-size: cover; background-position-x: 55%; background-position-y: 45%; background-repeat: no-repeat;" %>
      <% # link_to (image_tag '/assets/app/logoBiosF.jpg', :alt => "Bios", :style => 'margin: -15px;'), especie_index_path, class: "navbar-brand"%>
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="font-weight: bold;  background: linear-gradient(to right, #ede6df,#ede6df,#ede6df,#ede6df,#ede6df,#ede6df,#FFFFFF,transparent); border-radius: .8em; width: 70%; float: right;">
      <ul class="nav navbar-nav" style="font-weight: bold; font-size: .75em">
        <% if usuario_signed_in? %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%# link_to "Listas de #{t(:taxon_plural)}", listas_path %></li>
                <li><%# link_to "Validación de #{t(:taxon_plural)}", validaciones_taxon_path %></li>
            <% end %>
            <li>
              <%= link_to 'Configuración de tu cuenta', edit_usuario_registration_path %>
            </li>
            <li>
              <%= link_to "Cerrar sesión (#{current_usuario.usuario})".html_safe, destroy_usuario_session_path,
                          :method => :delete, data: { confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe } %>
            </li>
        <% else %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%= link_to 'Inicia sesión'.html_safe, new_usuario_session_path %></li>
            <% end %>
        <% end %>
        <% if I18n.locale.to_s == 'es-cientifico' %>
            <li><%= link_to '[Ir a la vista general]', nil, :name => :es, :onClick => 'return cambia_locale(this.name);' %></li>
        <% else %>
            <li><%= link_to '[Ir a la vista de especialistas]', nil, :name => 'es-cientifico', :onClick => 'return cambia_locale(this.name);' %></li>
        <% end %>
        <li><%= link_to 'Acerca de', inicio_acerca_path %></li>
      </ul>
    </div>
  </div>
</nav>

<% if params[:checklist].blank? %>
        <div class="sidebar sidebar_lupa col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" id="filtros">
            <span class="glyphicon glyphicon-search" aria-hidden="true" onclick="cambiaSidebar();"></span>
          <div class="row hidden"><%= render :template => 'especies/busqueda' %></div>
        </div>
<% end %>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div class="row main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= yield %>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
      <div class="row footer">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
          <p style="color: #800000;">
            <img src="/assets/app/conabioR.png" style="float:left; margin-right: 10px; width: 100px; padding-top: 10px;" onclick=cambiafondo();>
            <br />
            <strong><small>
              Comisión Nacional para el Conocimiento y Uso de la Biodiversidad <br />
              Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, <br />
              Delegación Tlalpan, 14010, México, D.F. <br /><br />
            </small></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= bitacora.html_safe if bitacora.present? %>
<%= yield :extrajs_carrusel %>
</div>
</body>
</html>
