<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= CONFIG.site_name %> &middot; <%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" charset="utf-8" data-turbolinks-track="true"></script>
  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>

<body>
<div class="menu">
  <ul id="menu">
    <li><%= link_to "Inicio (#{CONFIG.site_name_short})", especies_url %></li>
    <li><%= link_to 'Listas', listas_url %></li>
    <%- if session[:usuario].present?  %>
        <li>
          <%= link_to 'Propiedades de tu cuenta', "/usuarios/#{session[:usuario]}" %>
        </li>
        <li>
          <%= link_to "Cerrar sesi&oacute;n (#{Usuario.find(session[:usuario]).usuario})".html_safe, cierra_sesion_usuarios_url,
                      :method => :put, data: { confirm: '¿Est&aacute;s seguro que deseas cerra la sesi&oacute;n?'.html_safe } %>
        </li>
    <%- else %>
        <li><%= link_to 'Inicia sesi&oacute;n'.html_safe, inicia_sesion_usuarios_url %></li>
    <%- end %>
  </ul>
</div>

<%= render :template => 'especies/busqueda' %>

<%= yield %>

<% if session[:usuario].present? %>
    <br><br>
    <table width="1000" class="tabla_formato"><tr>
      <td>
        <fieldset>
          <legend class="leyenda">Bit&aacute;cora</legend>
          <%= bitacora.html_safe %>
        </fieldset>
      </td>
    </tr></table>
<% end %>

</body>
</html>
