<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <title><%= CONFIG.site_name_short %> &middot; <%= yield :title %></title>
  <%= favicon_link_tag 'app/favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true"/>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>
<div id="img-fondo">
</div>
<div id="brandBar" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-11 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <%= link_to image_tag('/assets/app/logoBios_3.png', :alt => 'Brand', :class => 'img-responsive'), especie_index_path %>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <%= link_to image_tag('/assets/app/biomex.png', :alt => 'Brand', :class => 'img-responsive'), 'http://www.biodiversidad.gob.mx', :target => :_blank %>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <%= link_to image_tag('/assets/app/logoConabio.png', :alt => 'Brand', :class => 'img-responsive'), 'http://www.conabio.gob.mx', :target => :_blank %>
      </div>
    </div>
    <div>
      <%= render :template => 'busquedas/basica' %>
    </div>
  </div>

  <div class="row">
    <ul class="nav nav-pills navbar-right">
      <% if I18n.locale.to_s == 'es-cientifico' %>
          <li><%= link_to '[Ir a la vista general]', nil, :name => :es, :onClick => 'return cambia_locale(this.name);' %></li>
      <% else %>
          <li><%= link_to '[Ir a la vista de especialistas]', nil, :name => 'es-cientifico', :onClick => 'return cambia_locale(this.name);' %></li>
      <% end %>
      <li><%= link_to 'Acerca de', inicio_acerca_path %></li>
      <% if usuario_signed_in? %>
          <% if I18n.locale.to_s == 'es-cientifico' %>
              <li><%# link_to "Listas de #{t(:taxon_plural)}", listas_path %></li>
              <li><%= link_to "Validación de #{t(:taxon_plural)}", validaciones_taxon_path %></li>
          <% end %>
          <li>
            <%= link_to 'Configuración de tu cuenta', edit_usuario_registration_path %>
          </li>
          <li>
            <%= link_to "Cerrar sesión (#{current_usuario.usuario})".html_safe, destroy_usuario_session_path, :method => :delete, data: {confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe} %>
          </li>
      <% else %>
          <% if I18n.locale.to_s == 'es-cientifico' %>
              <li><%= link_to 'Inicia sesión'.html_safe, new_usuario_session_path %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div class="row main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="footer">
        <div>
          <p class="text-center">
            Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, Delegación Tlalpan, 14010, México,
            D.F. | Tel. 5004-5000
          </p>

          <p class="text-center"><a href="mailto:bios@conabio.gob.mx">Comentarios y sugerencias generales
            <span class="glyphicon glyphicon-envelope"></span></a> | Plano de ubicación CONABIO con
            <a href="http://www.biodiversidad.gob.mx/menusup/mapa_conabio.php" target=_blank>Google maps</a> y
            <a href="http://www.biodiversidad.gob.mx/menusup/mapa_conabio.pdf" target="_blank">PDF </a>
            | <%= link_to 'Créditos', inicio_creditos_path, :target => '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= bitacora.html_safe if bitacora.present? %>
<%= yield :extrajs_carrusel %>
</body>
</html>