<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
  <title><%= CONFIG.site_name_short %> &middot; <%= yield :title %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true" />
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" charset="utf-8" data-turbolinks-track="true"></script>
  <script data-turbolinks-track="true" src="/assets/gmaps.js"></script>
  <script data-turbolinks-track="true" src="/assets/mapas_dinamicos.js"></script>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '', especie_index_path, class: "navbar-brand", style: "background-image: url('/assets/app/logoBios.png'); width: 107px; background-size: cover; background-position: bottom left; background-repeat: no-repeat;" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="font-weight: bold; background-color: #ede6df; border-radius: 2em; width: 85%;float: right;">
      <ul class="nav navbar-nav" style="font-weight: bold; font-size: .75em">
        <% if usuario_signed_in? %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%= link_to :Listas, listas_path %></li>
                <li><%= link_to 'Busca por lote', busca_por_lote_especie_index_path %></li>
            <% end %>
            <li>
              <%= link_to 'Configuración de tu cuenta', edit_usuario_registration_path %>
            </li>
            <li>
              <%= link_to "Cerrar sesión (#{current_usuario.usuario})".html_safe, destroy_usuario_session_path,
                          :method => :delete, data: { confirm: '¿Estás seguro que deseas cerrar la sesión?'.html_safe } %>
            </li>
        <% else %>
            <% if I18n.locale.to_s == 'es-cientifico' %>
                <li><%= link_to 'Inicia sesión'.html_safe, new_usuario_session_path %></li>
            <% end %>
        <% end %>
        <% if I18n.locale.to_s == 'es-cientifico' %>
            <li><%= link_to '[Ir a la vista general]', nil, :name => :es, :onClick => 'return cambia_locale(this.name);' %></li>
        <% else %>
            <li><%= link_to '[Ir a la vista de especialistas]', nil, :name => 'es-cientifico', :onClick => 'return cambia_locale(this.name);' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid" style="">
  <div class="row">
    <% if params[:checklist].blank? %>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 sidebar hidden" id="filtros"><button type="button" class="btn btn-sm btn-info" onclick="$('.sidebar').toggleClass('hidden');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button><%= render :template => 'especies/busqueda' %></div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 sidebar sidebar_lupa" id="lupa"><button type="button" class="btn btn-sm btn-info" onclick="$('.sidebar').toggleClass('hidden');"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
    <% end %>

    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 main">
      <div class="table-responsive">
        <% if params[:action]=='index' && params[:controller]=='especies'%>
            <%= yield %>
        <% else %>
            <div class="panel panel-success">
              <div class="panel-body">
                <%= yield %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= bitacora.html_safe if bitacora.present? %>
<div class="center-block" style="padding-left: 35%;">
    <p  style="color: #F7F7F7;">
        <img src="/assets/app/conabioW.png" style="width: 65px; float:left; margin-right: 10px;">
        <strong><small>
            Comisión Nacional para el Conocimiento y Uso de la Biodiversidad <br />
            Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, <br />
            Delegación Tlalpan, 14010, México, D.F.
        </small></strong>
    </p>
</div>
</body>
</html>
