<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <title><%= CONFIG.site_name_short %> &middot; <%= yield :title %></title>
  <%= favicon_link_tag 'app/favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" data-turbolinks-track="true"/>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>

<div id="img-fondo"></div>

<%= yield :ribbon %>

<header>
  <%= render :partial => 'shared/brandBar' %>
</header>

<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
        <div class="row main">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="social">
  <%= render :partial => 'shared/footer_social' %>
</footer>

<footer class="legal">
<%= render :partial => 'shared/footer_legal' %>
</footer>

<%= bitacora.html_safe if bitacora.present? %>
<%= yield :extrajs_carrusel %>
<% if Rails.env == 'production'  %>
    <script src="http://bdi.conabio.gob.mx/fotoweb/googleAnalytics.js"></script>
<% end %>
</body>
</html>
