<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="Búsqueda por región, búsqueda por ubicación, búsqueda por zona, búsqueda por lugar, búsueda por especies, búsqueda por estados, búsqueda por municipios, búsqueda por ANP, registros geográficos">
  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
  <!--link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" /-->
  <%= stylesheet_link_tag 'busquedas/region/por_region', 'data-turbolinks-track' => true %>
  <!--link rel="stylesheet" href="https://manubb.github.io/Leaflet.PixiOverlay/css/leaflet.css" />
  <link rel="stylesheet" href="https://manubb.github.io/Leaflet.PixiOverlay/css/carte.css" /-->

  <script type="text/javascript" data-turbolinks-track="true">
      TYPES = ["especie", "genero", "familia", "orden", "clase", "division", "phylum", "reino"];
      SITE_URL = "<%= CONFIG.site_url %>";
  </script>

  <!--script src="https://d3js.org/d3.v6.min.js"></script-->
  <!--script src="https://unpkg.com/topojson@3" data-turbolinks-track="true"></script-->

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <!--script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script-->

  <!--script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js" data-turbolinks-track="true"></script>
  <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js" data-turbolinks-track="true"></script-->


  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-pixi-overlay@1.8.1/L.PixiOverlay.min.js"></script-->
  <!--script src="https://manubb.github.io/Leaflet.PixiOverlay/js/tools.min.js"></script-->

  <script src="https://manubb.github.io/Leaflet.PixiOverlay/js/example.min.js"></script>
  <script src="https://manubb.github.io/Leaflet.PixiOverlay/js/tools.min.js"></script>
  <script src="https://manubb.github.io/Leaflet.PixiOverlay/js/MarkerContainer.js"></script>
  <script src="https://manubb.github.io/Leaflet.PixiOverlay/js/bezier-easing.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'busquedas/region/por_region', 'data-turbolinks-track' => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>

<%= yield :ribbon %>

<header class="container-fluid">
  <%= render :partial => 'shared_b4/brandBar' %>
  <%= render :partial => 'shared_b4/tituloBuscador', locals: {icon_class: 'busqueda-region', titulo: "Búsqueda por región"} %>
</header>

<section id="content" class="container-fluid px-0">
  <div class="row no-gutters">
    <%= yield %>
  </div>
</section>

<footer class="container-fluid">
  <%= render :partial => 'shared_b4/footer_social' %>
  <%= render :partial => 'shared_b4/footer_legal' %>
</footer>

<%= yield :delayedjs %>
</body>
</html>
