<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="<%= yield :meta_keywords %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render partial: 'shared_b4/social_media_metas'  %>
  <meta name="description" content="<%= t(:short_description) %>">
  <meta name="author" content="CONABIO">

  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <script type="text/javascript" data-turbolinks-track="true">
      TYPES = eval("<%=raw I18n.transliterate(CategoriaTaxonomica.categorias_redis(I18n.locale.to_s)).gsub(' ','_') %>");
      SITE_URL = "<%= CONFIG.site_url %>";
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f97bf94d924480012e1d081&product=sop' async='async' data-turbolinks-track="true"></script>

  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<%= insertaGoogleAnalytics if Rails.env.production? %>
<body>
<%#= render :partial => 'shared_b4/ribbon', locals: {mensaje: "En mantenimiento<br> Algunas funciones no  están disponibles " } %>

<header class="container-fluid">
  <%= render :partial => 'shared_b4/brandBar' %>
  <%= yield :extra_title_header %>
</header>

<section id="content" class="container-fluid">
  <div class="row main bg-light">
    <%= yield %>
    <div class="col">
      <p class="font-weight-bolder h4 py-2 text-info text-right">Compartir:</p>
    </div>
    <div class="col-6 col-md-4 col-lg-3 py-1">
      <div class="sharethis-inline-share-buttons"></div>
    </div>
  </div>
</section>

<footer class="container-fluid">
  <%= render :partial => 'shared_b4/footer_social' %>
  <%= render :partial => 'shared_b4/footer_legal' %>
</footer>

<%= yield :extrajs_carrusel %>

<%= yield :delayedjs %>
</body>
</html>