<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="<%= t(:keywords) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= t(:short_description) %>">
  <meta name="author" content="CONABIO">

  <title><%= CONFIG.site_name_short %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "boots4-upgrade/inicio", media: "all", "data-turbolinks-track" => true %>
  <%= yield :extracss %>

  <script type="text/javascript" data-turbolinks-track="true">
      TYPES = eval("<%=raw CategoriaTaxonomica.categorias_redis %>");
      IP = "<%= IP %>";
      PORT = "<%= PORT %>";
  </script>
  <%= javascript_include_tag "application_b4", "data-turbolinks-track" => true %>
  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>
  <%= yield :extrajs %>
</head>

<body class="index">

<header class="container-fluid" style="background-image:url('/assets/portada/img_portada_video.png');">
  <%= render :partial => 'inicio/layout/brandBar' %>
</header>

<section id="content" class="container-fluid">
  <div class="row main no-gutters">
    <%= yield %>
  </div>
</section>

<footer class="container-fluid">
  <%= render :partial => 'shared_b4/footer_social' %>
  <%= render :partial => 'shared_b4/footer_legal' %>
</footer>
<%= yield :delayedjs %>
</body>
</html>
