<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="Busqueda por peces, marinos, comerciales, crustaceos, tiburones, pulpos, almejas">
  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <script type="text/javascript" data-turbolinks-track="true">
      IP = "<%= IP %>";
      PORT = "<%= PORT %>";
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'peces/peces', 'data-turbolinks-track' => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <%= stylesheet_link_tag 'peces/peces', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>

<header class="container-fluid">
  <%= render :partial => 'peces/brandBar' %>
</header>

<header class="container-fluid">
  <%= render :partial => 'shared/tituloBuscador', locals: {icon_class: 'peces-mariscos-comerciales', titulo: 'Peces y mariscos comerciales'} %>
</header>

<section id="content" class="container-fluid">
  <div class="row main">
    <%= yield %>
  </div>
</section>

<footer class="social">
  <%= render :partial => 'shared/footer_social' %>
</footer>

<footer class="legal">
  <%= render :partial => 'shared/footer_legal' %>
</footer>

<% if Rails.env.production? %>
  <script src="http://bdi.conabio.gob.mx/fotoweb/googleAnalytics.js"></script>
<% end %>

<%= yield :delayedjs %>

</body>
</html>