<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-MX" lang="es-MX">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="Busqueda por peces, marinos, comerciales, crustaceos, tiburones, pulpos, almejas">
  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <%= javascript_include_tag 'application_b4', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'peces/peces', 'data-turbolinks-track' => true %>


  <script type="text/javascript" data-turbolinks-track="true">
      IP = "<%= IP %>";
      PORT = "<%= PORT %>";
  </script>


  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <%= stylesheet_link_tag 'peces/peces', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>

<%= yield :ribbon %>

<header class="container-fluid">
  <%= render :partial => 'pmc/peces/brandBar' %>
  <%= render :partial => 'shared_b4/tituloBuscador', locals: {icon_class: 'peces-mariscos-comerciales', titulo: "Semáforo de consumo responsable"} %>
 </header>

<section id="content" class="container-fluid">
  <div class="row main">
    <%= yield %>
  </div>
</section>

<footer class="container-fluid">
  <%= render :partial => 'shared_b4/footer_social' %>
  <%= render :partial => 'shared_b4/footer_legal' %>
</footer>

<% if Rails.env.production? %>
  <script src="http://bdi.conabio.gob.mx/fotoweb/googleAnalytics.js"></script>
<% end %>

<%= yield :delayedjs %>

</body>
</html>
