<%= form_for(@rol_categorias_contenido) do |f| %>
  <% if @rol_categorias_contenido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rol_categorias_contenido.errors.count, "error") %> prohibited this rol_categorias_contenido from being saved:</h2>

      <ul>
      <% @rol_categorias_contenido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categoria_contenido_id %><br>
    <%= f.number_field :categoria_contenido_id %>
  </div>
  <div class="field">
    <%= f.label :rol_id %><br>
    <%= f.number_field :rol_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
