<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria contenido:</strong>
  <%= @rol_categorias_contenido.categoria_contenido_id %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @rol_categorias_contenido.rol_id %>
</p>

<%= link_to 'Edit', edit_rol_categorias_contenido_path(@rol_categorias_contenido) %> |
<%= link_to 'Back', roles_categorias_contenido_path %>
